Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix functional_linear
  paconvert/api_matcher.py
Due: copyright_checker

Add embedding (#94)
  paconvert/api_mapping.json
  tests/test_nn_Embedding.py
  tests/test_nn_functional_embedding.py
Due: copyright_checker, check-json

add_nn_NLLLoss (#107)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_NLLLoss.py
Due: copyright_checker, check-json

add torch.nn.functional.kldivloss (#110)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_kl_div.py
Due: copyright_checker, check-json

remove process_reduce_and_size_average to utils
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/utils.py
Due: copyright_checker

add nn.Upsample,CUDAExtension,CppExtension,SequentialSampler,is_sparse
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_Tensor_is_sparse.py
  tests/test_nn_Upsample.py
  tests/test_utils_cpp_extension_CUDAExtension.py
  tests/test_utils_cpp_extension_CppExtension.py
  tests/test_utils_data_SequentialSampler.py
Due: copyright_checker, check-json

Add test case 6-20 (#113)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/utils.py
  tests/test_Tensor_add.py
  tests/test_nn_Bilinear.py
  tests/test_nn_Conv1d.py
  tests/test_nn_Conv3d.py
  tests/test_nn_ConvTranspose1d.py
  tests/test_nn_ConvTranspose2d.py
  tests/test_nn_ConvTranspose3d.py
  tests/test_nn_GELU.py
  tests/test_nn_Linear.py
  tests/test_nn_functional_adaptive_avg_pool1d.py
  tests/test_nn_functional_adaptive_avg_pool2d.py
  tests/test_nn_functional_adaptive_avg_pool3d.py
  tests/test_nn_functional_affine_grid.py
  tests/test_nn_functional_gelu.py
  tests/test_nn_functional_grid_sample.py
  tests/test_nn_functional_margin_ranking_loss.py
  tests/test_nn_functional_pixel_shuffle.py
  tests/test_nn_functional_pixel_unshuffle.py
  tests/test_nn_functional_upsample.py
Due: copyright_checker, check-json

unify LossMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_L1Loss.py
Due: copyright_checker, check-json

fix mseloss
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Add api test case (#104)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_div.py
  tests/test_fft_fftfreq.py
  tests/test_fft_hfft.py
  tests/test_fft_ihfft.py
  tests/test_fft_rfftfreq.py
  tests/test_meshgrid.py
  tests/test_nn_CrossEntropyLoss.py
  tests/test_nn_LayerNorm.py
  tests/test_nn_MaxPool2d.py
  tests/test_nn_Module_apply.py
  tests/test_nn_Module_buffers.py
  tests/test_nn_Module_children.py
  tests/test_nn_Module_eval.py
  tests/test_nn_Module_modules.py
  tests/test_nn_Module_named_buffers.py
  tests/test_nn_Module_named_children.py
  tests/test_nn_Module_named_modules.py
  tests/test_nn_Module_state_dict.py
  tests/test_nn_Module_train.py
  tests/test_nn_functional_max_pool2d.py
  tests/test_optim_Optimizer.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
  tests/test_random_manual_seed.py
  tests/test_range.py
  tests/test_split.py
  tests/test_utils_data_Dataset.py
Due: copyright_checker, check-json

Fix typos
  README.md
  README_EN.md
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/example_code.py
  paconvert/legacy.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  setup.py
  tests/apibase.py
Due: copyright_checker

add backward etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_scalar_tensor.py
  tests/test_utils_data__utils_collate_default_collate.py
  tests/test_utils_data_dataloader_default_collate.py
Due: copyright_checker, check-json

Fix typos (#114)
  README.md
  README_EN.md
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/example_code.py
  paconvert/legacy.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  setup.py
  tests/apibase.py
Due: copyright_checker

fix unfold bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Unfold.py
  tests/test_nn_functional_unfold.py
Due: copyright_checker, check-json

fix cpp_extension ut
  tests/test_utils_cpp_extension_CUDAExtension.py
  tests/test_utils_cpp_extension_CppExtension.py
Due: copyright_checker

add cuda_amp_autocast
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_amp_autocast.py
Due: copyright_checker, check-json

fix UtilsCppExtensionMatcher ci
  paconvert/api_matcher.py
Due: copyright_checker

fix UtilsCppExtensionMatcher
  paconvert/api_matcher.py
Due: copyright_checker

add amp_GradScaler cuda_Stream
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_Stream.py
  tests/test_cuda_amp_GradScaler.py
Due: copyright_checker, check-json

fix bug of torch.Tensor.broadcast_to
  paconvert/api_mapping.json
Due: check-json

torch.nn.functional.pairwise_distance
  paconvert/api_mapping.json
  tests/test_nn_functional_pairwise_distance.py
Due: copyright_checker, check-json

torch.nn.functional.pairwise_distance
  paconvert/api_mapping.json
Due: check-json

Add 240-242.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_random_split.py
  tests/test_utils_dlpack_from_dlpack.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker, check-json

torch.nn.functional.max_pool1d
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

torch.nn.functional.max_pool1d
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_max_pool1d.py
Due: copyright_checker, check-json

torch.nn.functional.max_pool1d
  tests/test_nn_functional_max_pool1d.py
Due: copyright_checker

torch.nn.functional.max_pool1d
  paconvert/api_mapping.json
Due: check-json

torch.nn.functional.max_pool1d
  paconvert/api_mapping.json
  tests/test_nn_functional_max_pool1d.py
Due: copyright_checker, check-json

torch.nn.functional.threshold
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_threshold.py
Due: copyright_checker, check-json

torch.nn.functional.threshold
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

torch.nn.functional.gumbel_softmax
  paconvert/api_mapping.json
  tests/test_nn_functional_gumbel_softmax.py
Due: copyright_checker, check-json

torch.nn.functional.gumbel_softmax
  tests/test_nn_functional_gumbel_softmax.py
Due: copyright_checker

torch.nn.functional.poisson_nll_loss
  paconvert/api_mapping.json
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker, check-json

torch.nn.functional.poisson_nll_loss
  tests/test_nn_functional_gumbel_softmax.py
Due: copyright_checker
