Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

[API Compatibility] add torch.cuda.amp.GradScaler -part (#830)
  paconvert/api_mapping.json
  tests/test_cuda_amp_GradScaler.py
Due: copyright_checker, check-json

Simplify torch.take and torch.Tensor.take API mapping configuration
  paconvert/api_mapping.json
Due: check-json

Modify Copyright year
  tests/test_acos_.py
  tests/test_acosh_.py
  tests/test_asin_.py
  tests/test_asinh_.py
  tests/test_atan_.py
  tests/test_atanh_.py
  tests/test_ceil_.py
  tests/test_cos_.py
  tests/test_cosh_.py
  tests/test_exp_.py
  tests/test_expm1_.py
  tests/test_floor_.py
  tests/test_reciprocal_.py
  tests/test_rsqrt_.py
  tests/test_sigmoid_.py
  tests/test_sin_.py
  tests/test_sinh_.py
  tests/test_sqrt_.py
  tests/test_square_.py
  tests/test_tan_.py
Due: copyright_checker

2 apis
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
Due: check-json

torch.Tensor.numpy
  paconvert/api_mapping.json
Due: check-json

torch.autograd.function.FunctionCtx.saved_tensors
  paconvert/attribute_mapping.json
Due: check-json

enhance the tests for loss apis
  paconvert/api_mapping.json
  tests/test_nn_GaussianNLLLoss.py
  tests/test_nn_functional_gaussian_nll_loss.py
  tests/test_nn_functional_triplet_margin_with_distance_loss.py
Due: copyright_checker, check-json

[API Compatibility] log_softmax -part (#849)
  paconvert/api_mapping.json
  tests/test_log_softmax.py
  tests/test_nn_functional_log_softmax.py
  tests/test_special_log_softmax.py
Due: copyright_checker, check-json

[API compatibility] Enhance the test case (#873)
  paconvert/api_mapping.json
  tests/test_Tensor_acos_.py
  tests/test_Tensor_acosh_.py
  tests/test_Tensor_asin_.py
  tests/test_Tensor_asinh_.py
  tests/test_Tensor_atan_.py
  tests/test_Tensor_atanh_.py
  tests/test_Tensor_ceil_.py
  tests/test_Tensor_cos_.py
  tests/test_Tensor_cosh_.py
  tests/test_Tensor_exp_.py
  tests/test_Tensor_expm1_.py
  tests/test_Tensor_floor_.py
  tests/test_Tensor_reciprocal_.py
  tests/test_Tensor_rsqrt_.py
  tests/test_Tensor_sigmoid_.py
  tests/test_Tensor_sin_.py
  tests/test_Tensor_sinh_.py
  tests/test_Tensor_square_.py
  tests/test_Tensor_tan_.py
  tests/test_acos_.py
  tests/test_acosh_.py
  tests/test_asin_.py
  tests/test_asinh_.py
  tests/test_atan_.py
  tests/test_atanh_.py
  tests/test_ceil_.py
  tests/test_cos_.py
  tests/test_cosh_.py
  tests/test_exp_.py
  tests/test_expm1_.py
  tests/test_floor_.py
  tests/test_reciprocal_.py
  tests/test_rsqrt_.py
  tests/test_sigmoid_.py
  tests/test_sin_.py
  tests/test_sinh_.py
  tests/test_sqrt_.py
  tests/test_square_.py
  tests/test_tan_.py
Due: copyright_checker, check-json

disable test and add torch.nn.utils.clip_grad_norm_
  paconvert/api_mapping.json
  tests/test_nn_utils_clip_grad_norm_.py
Due: copyright_checker, check-json

revert torch.random.get_rng_state
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
Due: check-json

torch.Tensor.is_cpu
  paconvert/attribute_mapping.json
  tests/test_Tensor_is_cpu.py
Due: copyright_checker, check-json

test
  README.md
Due: none

update
  paconvert/api_mapping.json
  tests/test_nn_BCELoss.py
  tests/test_nn_CosineEmbeddingLoss.py
  tests/test_nn_HingeEmbeddingLoss.py
  tests/test_nn_L1Loss.py
  tests/test_nn_MSELoss.py
  tests/test_nn_MarginRankingLoss.py
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_MultiLabelSoftMarginLoss.py
  tests/test_nn_MultiMarginLoss.py
  tests/test_nn_NLLLoss.py
  tests/test_nn_PoissonNLLLoss.py
  tests/test_nn_SoftMarginLoss.py
  tests/test_nn_TripletMarginLoss.py
Due: copyright_checker, check-json

torch.random.get/set_rng_state
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
Due: check-json

add back the params, but required to change the api itself
  paconvert/api_matcher.py
Due: copyright_checker

add a new line
  tests/test_gcd.py
Due: copyright_checker

torch.autograd.function.once_differentiable
  paconvert/api_mapping.json
  tests/test_autograd_function_once_differentiable.py
Due: copyright_checker, check-json

[API Compatibility] 12 APIs (#869)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_io_BatchSampler.py
  tests/test_Tensor_is_cpu.py
  tests/test_autograd_function_once_differentiable.py
  tests/test_nn_utils_clip_grad_norm_.py
Due: copyright_checker, check-json

[API Compatibility] add torch.nn.functional.conv_transpose apis -part (#850)
  paconvert/api_mapping.json
  tests/test_nn_ConvTranspose1d.py
  tests/test_nn_ConvTranspose2d.py
  tests/test_nn_ConvTranspose3d.py
  tests/test_nn_functional_conv_transpose1d.py
  tests/test_nn_functional_conv_transpose2d.py
  tests/test_nn_functional_conv_transpose3d.py
Due: copyright_checker, check-json

[API Compatibility] enhance torch.aminmax tests -part (#859)
  paconvert/api_mapping.json
  tests/test_aminmax.py
Due: copyright_checker, check-json

[API Compatibility No.11、16、69、86] Add gcd, gcd_, lcm, lcm_ -part (#787)
  paconvert/api_mapping.json
  tests/test_gcd.py
  tests/test_lcm.py
Due: copyright_checker, check-json

change prefix
  paconvert/api_mapping.json
Due: check-json

enable test2 & 10
  tests/test_randint.py
Due: copyright_checker

align torch.cuda.OutOfMemoryError
  paconvert/api_mapping.json
  tests/test_cuda_CudaError.py
  tests/test_cuda_OutOfMemoryError.py
Due: copyright_checker, check-json

enhance the tests for repeat_interleave
  tests/test_Tensor_repeat_interleave.py
  tests/test_repeat_interleave.py
Due: copyright_checker

change prefix matcher for distributed.all_gather_object
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add torch.distributed.ProcessGroup, torch.distributed.init_process_group and torch.distributed.group.WORLD
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test_distributed_ProcessGroup.py
  tests/test_distributed_group_WORLD.py
  tests/test_distributed_init_process_group.py
Due: copyright_checker, check-json

change prefix match for torch.dtype.itemsizee
  paconvert/attribute_mapping.json
  tests/test_dtype_itemsize.py
Due: copyright_checker, check-json

update tests
  tests/test_cuda_CudaError.py
  tests/test_cuda_OutOfMemoryError.py
Due: copyright_checker

add torch.cuda.CUDAGraph
  paconvert/api_mapping.json
Due: check-json

enhance __version__ tests
  tests/test___version__.py
Due: copyright_checker

enhance __getitem__ tests
  tests/test_Tensor___getitem__.py
Due: copyright_checker

[API Compatibility] select_scatter/sgn/signbit/slice_scatter/take/tensordot/tril_indices/triu_indices/vander/logaddexp/logspace/moveaxis/nan_to_num/nanmean/nansum/masked_fill Edit By AI Agent
  paconvert/api_mapping.json
Due: check-json

Add torchaudio.functional.resample API mapping and alignment tests
  paconvert/api_mapping.json
  tests/torchaudio_tests/__init__.py
  tests/torchaudio_tests/test_functional_resample.py
Due: copyright_checker, check-json

fix README
  README.md
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] select_scatter/sgn/signbit/slice_scatter/tensordot/tril_indices/triu_indices/vander/logaddexp/logspace/moveaxis/nan_to_num/nanmean/nansum/masked_fill Edit By AI Agent
  paconvert/api_mapping.json
Due: check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
