Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

support_alias_call
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/alias_call.py
  tests/code_library/code_case/torch_code/alias_call.py
Due: copyright_checker

fix
  paconvert/transformer/import_transformer.py
Due: copyright_checker

support_may_torch_method_list
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/test_Notorch_hasattr.py
Due: copyright_checker, check-json

support_insert_pass_in_ast_if
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/torch_code/insert_pass_in_ast_if.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/torch_code/insert_pass_in_ast_if.py
Due: copyright_checker

support_write_aux_code_in_abstract_class
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_nn_Embedding.py
Due: copyright_checker, check-json

fix
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
  tests/code_library/code_case/torch_code/simplified_name_call.py
Due: copyright_checker

support alias call (#404)
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
  tests/code_library/code_case/torch_code/simplified_name_call.py
Due: copyright_checker

support
  paconvert/base.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/test_Notorch_hasattr.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

add_torch_package_mapping
  paconvert/base.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

modify in basic transformers
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker

fix
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

update validate_docs tool
  tools/validate_docs/validate_docs.py
Due: copyright_checker

update torch.sort and torch.argsort
  paconvert/api_mapping.json
  tests/test_argsort.py
Due: copyright_checker, check-json

update torch.ger and torch.outer
  tests/test_ger.py
  tests/test_outer.py
Due: copyright_checker

update torch.diff
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_diff.py
Due: copyright_checker, check-json

update torch.nn.functional.upsample
  tests/test_nn_functional_upsample.py
Due: copyright_checker

update torch.nn.UpsampingNearest2d and UpsamplingBilinear2d
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_UpsamplingBilinear2d.py
  tests/test_nn_UpsamplingNearest2d.py
Due: copyright_checker, check-json

update torch.utils.data.RandomSampler
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_RandomSampler.py
Due: copyright_checker, check-json

update torch.nn.CrossEntropyLoss and torch.nn.functional.cross_entropy
  paconvert/api_mapping.json
  tests/test_nn_CrossEntropyLoss.py
  tests/test_nn_functional_cross_entropy.py
Due: copyright_checker, check-json

update torch.nn.KLDivLoss and torch.nn.functional.kl_div
  paconvert/api_mapping.json
  tests/test_nn_KLDivLoss.py
  tests/test_nn_functional_kl_div.py
Due: copyright_checker, check-json

update torch.utils.data.random_split
  tests/test_utils_data_random_split.py
Due: copyright_checker

update torch.nn.LSTM
  paconvert/api_mapping.json
Due: check-json

update unfold
  tests/test_nn_Unfold.py
  tests/test_nn_functional_unfold.py
Due: copyright_checker

update torch.nn.utils.vector_to_parameters
  tests/test_nn_utils_vector_to_parameters.py
Due: copyright_checker

update torch.Tensor.detach_
  tests/test_Tensor_detach_.py
Due: copyright_checker

update testcase of zero_grad
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Module_zero_grad.py
Due: copyright_checker, check-json

update torch.nn.layer.rnn.RNNBase
  paconvert/api_matcher.py
  tests/test_nn_layer_rnn_RNNBase.py
Due: copyright_checker

update torch.nn.init.xavier_normal_ and torch.nn.init.xavier_uniform_
  paconvert/api_mapping.json
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_init_xavier_uniform_.py
Due: copyright_checker, check-json

update torch.nn.functional.poisson_nll_loss
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker

update torch.nn.init.trunc_normal_
  paconvert/api_mapping.json
  tests/test_nn_init_trunc_normal_.py
Due: copyright_checker, check-json

update torch.svd_lowrank
  paconvert/api_mapping.json
  tests/test_svd_lowrank.py
Due: copyright_checker, check-json

fix
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/package_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/package_visit_name.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
