Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix
  tests/test_i0.py
  tests/test_quantile.py
  tests/test_stft.py
Due: copyright_checker

set paddle_default_kwargs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

转换规则 No.198 torch.distribution.kl.register_kl (#169)
  paconvert/api_mapping.json
  tests/test_distributions_kl_register_kl.py
Due: copyright_checker, check-json

fix
  tests/test_quantile.py
  tests/test_stft.py
Due: copyright_checker

转换规则 No.22 No.25 `torch.linalg.matrix_rank` `torch.qr` (#159)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_event.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_device.py
  tests/test_linalg_lstsq.py
  tests/test_linalg_matrix_rank.py
  tests/test_nn_AdaptiveMaxPool1d.py
  tests/test_nn_AdaptiveMaxPool2d.py
  tests/test_nn_AdaptiveMaxPool3d.py
  tests/test_nn_functional_adaptive_max_pool1d.py
  tests/test_nn_functional_adaptive_max_pool2d.py
  tests/test_nn_functional_adaptive_max_pool3d.py
  tests/test_optim_Optimizer.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
  tests/test_qr.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker, check-json

fix cuda_amp_autocast test
  tests/test_cuda_amp_autocast.py
Due: copyright_checker

add torch.cuda.Stream etc (#116)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_Stream.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_cuda_amp_autocast.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
Due: check-json

TransformerDecoderLayerMatcher fix bug
  paconvert/api_matcher.py
Due: copyright_checker

fix TransformerDecoderLayer test
  paconvert/api_mapping.json
Due: check-json

fix code style
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

remove stft
  paconvert/api_mapping.json
  tests/test_stft.py
Due: copyright_checker, check-json

fix TransformerDecoderLayer test
  tests/test_nn_TransformerDecoderLayer.py
Due: copyright_checker

add stft
  paconvert/api_mapping.json
  tests/test_stft.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  tests/test_i0.py
  tests/test_nextafter.py
  tests/test_polygamma.py
  tests/test_quantile.py
  tests/test_stft.py
Due: copyright_checker, check-json

* torch.special.logit
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  scripts/code_PRTemplate_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  scripts/run_ci.sh
  tests/apibase.py
  tests/test_cuda_FloatTensor.py
  tests/test_cuda_IntTensor.py
  tests/test_cuda_LongTensor.py
  tests/test_special_logit.py
Due: copyright_checker, check-json

转换规则 No. 5/6/7/8 (#167)
  paconvert/api_mapping.json
  tests/test_i0.py
  tests/test_nextafter.py
  tests/test_polygamma.py
  tests/test_quantile.py
Due: copyright_checker, check-json

fix bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_get_device.py
  tests/test_linalg_matrix_rank.py
  tests/test_nn_MultiheadAttention.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_stft.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
  tests/test_stft.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  tests/test_from_dlpack.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  tests/test_fft_hfft2.py
  tests/test_fft_hfftn.py
  tests/test_fft_ihfft2.py
  tests/test_fft_ihfftn.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  tests/test_Tensor_corrcoef.py
  tests/test_cumulative_trapezoid.py
  tests/test_special_i0.py
  tests/test_special_i1.py
  tests/test_special_i1e.py
Due: copyright_checker, check-json

fix
  tests/test_from_dlpack.py
Due: copyright_checker

add scatter etc api
  paconvert/api_mapping.json
  tests/test_Tensor_scatter_.py
  tests/test_Tensor_scatter_add_.py
  tests/test_scatter_add.py
Due: copyright_checker, check-json

转换规则 No.388/389/390 (#155)
  tests/test_nn_Module_cpu.py
  tests/test_nn_Module_cuda.py
  tests/test_nn_Module_xpu.py
Due: copyright_checker

add scatter_ etc api (#177)
  paconvert/api_mapping.json
  tests/test_Tensor_scatter_.py
  tests/test_Tensor_scatter_add_.py
  tests/test_scatter_add.py
Due: copyright_checker, check-json

add torch.nn.utils.clip_grad_value_ and torch.nn.utils.clip_grad_norm_
  paconvert/api_mapping.json
  tests/test_nn_utils_clip_grad_norm_.py
  tests/test_nn_utils_clip_grad_value_.py
Due: copyright_checker, check-json

fix bug
  tests/test_nn_utils_clip_grad_norm_.py
Due: copyright_checker

fix transformerdecoderlayer unit test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_TransformerDecoderLayer.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
