Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

update 4 logical op unittests
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
Due: copyright_checker

remove compare op
  paconvert/api_mapping.json
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker, check-json

update min_input_args
  paconvert/api_mapping.json
Due: check-json

update unittest of torch.Tensor.addmm_
  tests/test_Tensor_addmm_.py
Due: copyright_checker

update 2 api_mapping rule
  paconvert/api_mapping.json
Due: check-json

add 4 inplace method api
  paconvert/api_mapping.json
  tests/test_Tensor_addmm_.py
  tests/test_Tensor_i0_.py
  tests/test_Tensor_sigmoid_.py
  tests/test_Tensor_trunc_.py
Due: copyright_checker, check-json

add arg * to Tensor.divide_
  paconvert/api_mapping.json
Due: check-json

add * arg to Tensor.subtract
  paconvert/api_mapping.json
Due: check-json

fix abs alias
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
Due: copyright_checker, check-json

fix abs alias (#293)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
Due: copyright_checker, check-json

fix unittest CI bug
  scripts/code_coverage_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

add torch.abs_ mapping
  paconvert/api_mapping.json
Due: check-json

fix unittest CI bug (#295)
  scripts/code_coverage_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

转换规则 添加部分 inplace api 的映射 PART.03 (#286)
  paconvert/api_mapping.json
  tests/test_Tensor_addmm_.py
  tests/test_Tensor_i0_.py
  tests/test_Tensor_sigmoid_.py
  tests/test_Tensor_trunc_.py
Due: copyright_checker, check-json

use paddle.assign to Tensor inplace logical method
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
Due: copyright_checker, check-json

remove alias key
  paconvert/api_mapping.json
Due: check-json

remove unnecessary strip
  paconvert/api_matcher.py
Due: copyright_checker

remove alias keys
  paconvert/api_mapping.json
Due: check-json

revert testcase of Tensor_sub_
  tests/test_Tensor_sub_.py
Due: copyright_checker

转换规则 添加部分 inplace api 的映射 PART.01 (#282)
  paconvert/api_mapping.json
  tests/test_Tensor_bitwise_and_.py
  tests/test_Tensor_bitwise_not_.py
  tests/test_Tensor_bitwise_or_.py
  tests/test_Tensor_bitwise_xor_.py
  tests/test_Tensor_cumprod_.py
  tests/test_Tensor_cumsum_.py
  tests/test_Tensor_digamma_.py
  tests/test_Tensor_floor_divide_.py
  tests/test_Tensor_frac_.py
  tests/test_Tensor_gcd_.py
  tests/test_Tensor_index_put_.py
  tests/test_abs_.py
  tests/test_nn_functional_hardtanh_.py
  tests/test_nn_functional_leaky_relu_.py
Due: copyright_checker, check-json

转换规则 添加 inplace subtract_ api 的映射 PART.sub (#287)
  paconvert/api_mapping.json
  tests/test_Tensor_sub_.py
Due: copyright_checker, check-json

转换规则 添加 inplace detach_ api 的映射 PART.detach (#288)
  tests/test_Tensor_detach_.py
Due: copyright_checker

转换规则 添加 inplace `divide_` api 的映射 PART.divide (#285)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_div_.py
  tests/test_Tensor_divide_.py
  tests/test_Tensor_true_divide_.py
Due: copyright_checker, check-json

remove logical api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
Due: copyright_checker, check-json

fix unsupport
  tests/test_Tensor_detach_.py
Due: copyright_checker

fix `Tensor.detach_` unittests error (#296)
  tests/test_Tensor_detach_.py
Due: copyright_checker

转换规则 添加部分 inplace api 的映射 PART.02 (#284)
  paconvert/api_mapping.json
  tests/test_Tensor_lcm_.py
  tests/test_Tensor_ldexp_.py
  tests/test_Tensor_lgamma_.py
  tests/test_Tensor_log10_.py
  tests/test_Tensor_log1p_.py
  tests/test_Tensor_log2_.py
  tests/test_Tensor_log_.py
  tests/test_Tensor_logit_.py
  tests/test_Tensor_nan_to_num_.py
  tests/test_Tensor_neg_.py
  tests/test_Tensor_negative_.py
  tests/test_Tensor_polygamma_.py
  tests/test_Tensor_pow_.py
Due: copyright_checker, check-json

add 6 compare api
  paconvert/api_mapping.json
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker, check-json

add 5 inplace compare op
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
Due: copyright_checker, check-json

add alias for Tensor compare api
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
Due: check-json

use paddle.assign
  paconvert/api_matcher.py
Due: copyright_checker

update TensorCompareMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

remove x.bool convert
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker

merge compare and logical matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

merge matcher as TensorInplaceReserveTypeMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

shield logical unittests
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
Due: copyright_checker

shield compare unittests
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker

add logical inplace method api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
