Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

add torch test for bmm api
  paconvert/global_var.py
  tests/test_Tensor_bmm.py
Due: copyright_checker

[API-Compat] Add compat.min/max/sort (#650)
  paconvert/api_mapping.json
  tests/test_max.py
  tests/test_min.py
  tests/test_sort.py
Due: copyright_checker, check-json

update
  tests/test_Tensor_add.py
  tests/test_Tensor_add_.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_true_divide.py
  tests/test_add.py
  tests/test_div.py
  tests/test_divide.py
  tests/test_true_divide.py
Due: copyright_checker

[API-Compat] Add backward test for sort
  tests/test_sort.py
Due: copyright_checker

support paddle.tensor and paddle.Tensor.copy_
  paconvert/global_var.py
Due: copyright_checker

update expect code
  tests/test_Tensor_rename.py
  tests/test_Tensor_split.py
  tests/test_jit_ignore.py
  tests/test_jit_save.py
  tests/test_jit_script.py
Due: copyright_checker

fix testcase
  tests/test_Tensor_tril.py
  tests/test_Tensor_triu.py
Due: copyright_checker

fix testcase
  tests/test_Tensor_tril.py
Due: copyright_checker

recover torch.softmax mapping
  paconvert/api_mapping.json
Due: check-json

fix testcase
  tests/test_Tensor_ravel.py
Due: copyright_checker

fix testcase
  tests/test_Tensor_scatter_reduce.py
Due: copyright_checker

[API-Compat] Add backward test for sort (#654)
  tests/test_sort.py
Due: copyright_checker

fix testcase
  tests/test_Tensor_scatter_add.py
  tests/test_Tensor_scatter_add_.py
Due: copyright_checker

fix testcase
  tests/test_Tensor_bmm.py
Due: copyright_checker

use paddle.tensor replace paddle.to_tensor
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_expand.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_ones.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_uniform_.py
  tests/code_library/code_case/paddle_code/api_paddle_equall_all.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_stop_gradient.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
  tests/code_library/code_case/paddle_code/type_hinting.py
Due: copyright_checker

update
  tests/code_library/code_case/paddle_code/api_paddle_equall_all.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_stop_gradient.py
Due: none

update consistency
  tests/code_library/code_case/paddle_code/api_paddle_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_stop_gradient.py
Due: none

fix bug .py.py
  tests/code_library/code_case/__init__.py
Due: none

fix
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_ones.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_zeros.py
Due: copyright_checker

add special.softmax
  paconvert/global_var.py
Due: copyright_checker

add special.softmax, map torch.softmax to compat.softmax
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

Modify paddlepaddle-gpu installation command
  tests/distributed/unittest_check_distribute.sh
Due: copyright_checker

msort api
  paconvert/global_var.py
Due: copyright_checker

Modify paddlepaddle-gpu CI scripts command (#655)
  tests/distributed/unittest_check_distribute.sh
Due: copyright_checker

update global_var
  paconvert/global_var.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_InstanceNorm3D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_sigmoid.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: none

nn.silu api
  paconvert/global_var.py
Due: copyright_checker

add c sink api
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add paddle.tensor, paddle.Tensor.copy_ (#638)
  paconvert/api_matcher.py
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_expand.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_ones.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_uniform_.py
  tests/code_library/code_case/paddle_code/api_paddle_equall_all.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_stop_gradient.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
  tests/code_library/code_case/paddle_code/type_hinting.py
  tests/test_Tensor_rename.py
  tests/test_Tensor_split.py
  tests/test_jit_ignore.py
  tests/test_jit_save.py
  tests/test_jit_script.py
Due: copyright_checker

set torch.long to match paddle.int64 && add 37 api into global_var.py && comment out torch.generatorin test_Tensor_normal_.py
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_normal_.py
Due: copyright_checker, check-json

paddle.nrom
  paconvert/global_var.py
  tests/test_CharTensor.py
  tests/test_Tensor_norm.py
Due: copyright_checker

map all torch.softmax to paddle.compat.softmax
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_softmax.py
Due: copyright_checker, check-json

copy cases without generator
  tests/test_Tensor_normal_.py
Due: copyright_checker

fix dtype
  tests/test_softmax.py
Due: copyright_checker

[API Compatibility] add torch test for scatter_reduce (#648)
  paconvert/global_var.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_scatter_reduce.py
Due: copyright_checker

add ravel, scatter_add, scatter_add_, tril, triu, bmm, nn.GELU, broadcast_shapes
  paconvert/global_var.py
  tests/test_Tensor_bmm.py
  tests/test_Tensor_ravel.py
  tests/test_Tensor_scatter_add.py
  tests/test_Tensor_scatter_add_.py
  tests/test_Tensor_tril.py
  tests/test_Tensor_triu.py
  tests/test_nn_GELU.py
Due: copyright_checker

fix testcase
  tests/test_broadcast_shapes.py
Due: copyright_checker

fix codecosistency
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
  tests/code_library/code_case/paddle_code/api_remove_decorator.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/type_hinting.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker
