Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

add_softmax (#96)
  paconvert/api_mapping.json
  tests/test_softmax.py
Due: copyright_checker, check-json

fix test_linalg_lstsq
  tests/test_nn_functional_max_unpool1d.py
Due: copyright_checker

add ci
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

fix bugs
  paconvert/api_mapping.json
  tests/test_nn_AdaptiveMaxPool1d.py
  tests/test_nn_AdaptiveMaxPool2d.py
  tests/test_nn_AdaptiveMaxPool3d.py
Due: copyright_checker, check-json

fix bugs
  tests/test_nn_functional_relu6.py
Due: copyright_checker

fix bugs
  paconvert/api_mapping.json
Due: check-json

test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_resize_.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool3d.py
  tests/test_unique.py
Due: copyright_checker, check-json

[CI] log paddle commit and version (#98)
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

open some case
  tests/test_log.py
  tests/test_log10.py
  tests/test_log1p.py
  tests/test_log2.py
Due: copyright_checker

open some UT case (#97)
  tests/test_log.py
  tests/test_log10.py
  tests/test_log1p.py
  tests/test_log2.py
Due: copyright_checker

Update README.md
  README.md
Due: none

update REAMDE (#99)
  README.md
Due: none

update REAMDE (#99)
  README.md
  paconvert/api_mapping.json
  tests/test_utils_data_Sampler.py
Due: copyright_checker, check-json

add torch.utils.data.Sampler
  paconvert/api_mapping.json
  tests/test_utils_data_Sampler.py
Due: copyright_checker, check-json

add args_list to torch.utils.data.Sampler
  paconvert/api_mapping.json
Due: check-json

add torch.utils.data.Sampler (#101)
  paconvert/api_mapping.json
  tests/test_utils_data_Sampler.py
Due: copyright_checker, check-json

add unique etc. (#93)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_backward.py
  tests/test_argsort.py
  tests/test_cosine_similarity.py
  tests/test_distributions_kl_kl_divergence.py
  tests/test_enable_grad.py
  tests/test_linalg_cross.py
  tests/test_linalg_diagonal.py
  tests/test_nan_to_num.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool3d.py
  tests/test_nn_SyncBatchNorm.py
  tests/test_relu.py
  tests/test_round.py
  tests/test_unique.py
Due: copyright_checker, check-json

add some loss api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_BCELoss.py
  tests/test_nn_L1Loss.py
  tests/test_nn_MSELoss.py
  tests/test_nn_Unfold.py
  tests/test_nn_functional_binary_cross_entropy.py
  tests/test_nn_functional_unfold.py
Due: copyright_checker, check-json

fix embedding
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Embedding.py
Due: copyright_checker, check-json

Fix MaxminMatcher
  paconvert/api_matcher.py
  tests/test_max.py
  tests/test_min.py
Due: copyright_checker

Fix MaxMinMatcher
  paconvert/api_matcher.py
  tests/test_max.py
Due: copyright_checker

open some UT case (#97)
  scripts/code_unittest_check.sh
  tests/test_log.py
  tests/test_log10.py
  tests/test_log1p.py
  tests/test_log2.py
Due: copyright_checker

test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_backends_cuda_is_built.py
  tests/test_backends_cudnn_is_available.py
  tests/test_cdist.py
  tests/test_clamp_min.py
  tests/test_nn_Module_add_module.py
  tests/test_nn_Module_register_buffer.py
  tests/test_nn_Module_register_forward_hook.py
  tests/test_nn_Module_register_forward_pre_hook.py
  tests/test_nn_Module_register_module.py
  tests/test_nn_Unflatten.py
  tests/test_nn_modules_utils__ntuple.py
  tests/test_nn_modules_utils__pair.py
  tests/test_sparse_sum.py
Due: copyright_checker, check-json

rerun CI
  tests/test_nn_functional_celu.py
Due: copyright_checker

[CI] fix bug (#103)
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

Fix MaxMinMatcher
  paconvert/api_matcher.py
  tests/test_max.py
  tests/test_min.py
Due: copyright_checker

Add test cases (#95)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_min.py
  tests/test_nn_AdaptiveMaxPool1d.py
  tests/test_nn_AdaptiveMaxPool2d.py
  tests/test_nn_AdaptiveMaxPool3d.py
  tests/test_nn_AlphaDropout.py
  tests/test_nn_LogSoftmax.py
  tests/test_nn_Softmax.py
  tests/test_nn_functional_adaptive_max_pool1d.py
  tests/test_nn_functional_adaptive_max_pool2d.py
  tests/test_nn_functional_adaptive_max_pool3d.py
  tests/test_nn_functional_conv1d.py
  tests/test_nn_functional_conv2d.py
  tests/test_nn_functional_conv3d.py
  tests/test_nn_functional_conv_transpose1d.py
  tests/test_nn_functional_conv_transpose2d.py
  tests/test_nn_functional_conv_transpose3d.py
  tests/test_nn_functional_elu.py
  tests/test_nn_functional_elu_.py
  tests/test_nn_functional_fold.py
  tests/test_nn_functional_glu.py
  tests/test_nn_functional_hardswish.py
  tests/test_nn_functional_hardtanh.py
  tests/test_nn_functional_leaky_relu.py
  tests/test_nn_functional_log_softmax.py
  tests/test_nn_functional_max_unpool1d.py
  tests/test_nn_functional_max_unpool2d.py
  tests/test_nn_functional_max_unpool3d.py
  tests/test_nn_functional_prelu.py
  tests/test_nn_functional_relu.py
  tests/test_nn_functional_relu6.py
  tests/test_nn_functional_relu_.py
  tests/test_nn_functional_rrelu.py
  tests/test_nn_functional_rrelu_.py
  tests/test_nn_functional_selu.py
Due: copyright_checker, check-json

add backward etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

[CI] set torch cpu version (#106)
  README.md
  requirements-dev.txt
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

add_nn_NLLLoss
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_NLLLoss.py
Due: copyright_checker, check-json

Add test case 6-19
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_alpha_dropout.py
  tests/test_nn_functional_bilinear.py
  tests/test_nn_functional_celu.py
  tests/test_nn_functional_cosine_similarity.py
  tests/test_nn_functional_dropout.py
  tests/test_nn_functional_dropout2d.py
  tests/test_nn_functional_dropout3d.py
  tests/test_nn_functional_hardshrink.py
  tests/test_nn_functional_hardsigmoid.py
  tests/test_nn_functional_linear.py
  tests/test_nn_functional_local_response_norm.py
  tests/test_nn_functional_logsigmoid.py
  tests/test_nn_functional_normalize.py
  tests/test_nn_functional_one_hot.py
  tests/test_nn_functional_sigmoid.py
  tests/test_nn_functional_silu.py
  tests/test_nn_functional_softmax.py
  tests/test_nn_functional_softplus.py
  tests/test_nn_functional_softshrink.py
  tests/test_nn_functional_softsign.py
  tests/test_nn_functional_tanh.py
  tests/test_nn_functional_tanhshrink.py
Due: copyright_checker, check-json

fix nn_functional_embedding
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_embedding.py
Due: copyright_checker, check-json

delete annotation code
  paconvert/api_matcher.py
Due: copyright_checker

add torch.nn.functional.kldivloss
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_kl_div.py
Due: copyright_checker, check-json

Update README.md (#111)
  README.md
Due: none

Add test case 6-20
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_Tensor_add.py
  tests/test_nn_Bilinear.py
  tests/test_nn_Conv1d.py
  tests/test_nn_Conv3d.py
  tests/test_nn_ConvTranspose1d.py
  tests/test_nn_ConvTranspose2d.py
  tests/test_nn_ConvTranspose3d.py
  tests/test_nn_GELU.py
  tests/test_nn_Linear.py
  tests/test_nn_functional_adaptive_avg_pool1d.py
  tests/test_nn_functional_adaptive_avg_pool2d.py
  tests/test_nn_functional_adaptive_avg_pool3d.py
  tests/test_nn_functional_affine_grid.py
  tests/test_nn_functional_gelu.py
  tests/test_nn_functional_grid_sample.py
  tests/test_nn_functional_margin_ranking_loss.py
  tests/test_nn_functional_pixel_shuffle.py
  tests/test_nn_functional_pixel_unshuffle.py
  tests/test_nn_functional_upsample.py
Due: copyright_checker, check-json

Add test case (#108)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_alpha_dropout.py
  tests/test_nn_functional_bilinear.py
  tests/test_nn_functional_celu.py
  tests/test_nn_functional_cosine_similarity.py
  tests/test_nn_functional_dropout.py
  tests/test_nn_functional_dropout2d.py
  tests/test_nn_functional_dropout3d.py
  tests/test_nn_functional_hardshrink.py
  tests/test_nn_functional_hardsigmoid.py
  tests/test_nn_functional_linear.py
  tests/test_nn_functional_local_response_norm.py
  tests/test_nn_functional_logsigmoid.py
  tests/test_nn_functional_normalize.py
  tests/test_nn_functional_one_hot.py
  tests/test_nn_functional_sigmoid.py
  tests/test_nn_functional_silu.py
  tests/test_nn_functional_softmax.py
  tests/test_nn_functional_softplus.py
  tests/test_nn_functional_softshrink.py
  tests/test_nn_functional_softsign.py
  tests/test_nn_functional_tanh.py
  tests/test_nn_functional_tanhshrink.py
Due: copyright_checker, check-json
