Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

[API Compatibility No.155] Keep input/target alias for bce_with_logits-part
  paconvert/api_mapping.json
  tests/test_nn_functional_binary_cross_entropy_with_logits.py
Due: copyright_checker, check-json

[API Compatibility No.185] Update torch.nn.functional.mish to ChangePrefixMatcher -part (#838)
  paconvert/api_mapping.json
  tests/test_nn_functional_mish.py
Due: copyright_checker, check-json

[API Compatibility No.83] sinking is_real into phi
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.83] add unittest for isreal and verify conversion
  tests/test_torch_isreal.py
Due: copyright_checker

fix: enforce standard json format for CI
  paconvert/api_mapping.json
Due: check-json

style: final attempt to fix json format
  paconvert/api_mapping.json
Due: check-json

style: sort api_mapping.json alphabetically and fix format
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.114] fix masked_fill kwarg remap for ChangePrefixMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Enhance capatibility with the new API
  paconvert/api_mapping.json
Due: check-json

torch.log_softmax, torch.nn.functional.log_softmax and torch.special.log_softmax
  paconvert/api_mapping.json
  tests/test_log_softmax.py
  tests/test_nn_functional_log_softmax.py
Due: copyright_checker, check-json

add torch.nn.functional.conv_transpose2d
  paconvert/api_mapping.json
  tests/test_nn_functional_conv_transpose2d.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  tests/test_gcd.py
  tests/test_lcm.py
Due: copyright_checker, check-json

[API Compatibility No.218] Update select_scatter to ChangePrefixMatcher -part
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.13、75] Add param alias for hypot and hypot_ -part (#833)
  paconvert/api_mapping.json
  tests/test_Tensor_hypot.py
  tests/test_Tensor_hypot_.py
  tests/test_hypot.py
Due: copyright_checker, check-json

[API Compatibility No.53] align torch.count_nonzero and torch.Tensor.count_nonzero tests with ChangePrefix - part (#836)
  paconvert/api_mapping.json
  tests/test_Tensor_count_nonzero.py
  tests/test_count_nonzero.py
Due: copyright_checker, check-json

add torch.nn.functional.conv_transpose1d and 3d
  paconvert/api_mapping.json
  tests/test_nn_functional_conv_transpose1d.py
  tests/test_nn_functional_conv_transpose3d.py
Due: copyright_checker, check-json

Use ChangePrefixMatcher for torch.diagflat
  paconvert/api_mapping.json
  tests/test_diagflat.py
Due: copyright_checker, check-json

add torch.autograd.function.FunctionCtx
  paconvert/api_mapping.json
  paconvert/base.py
Due: copyright_checker, check-json

add utils.data.dataset.ChainDataset & IterableDataset
  paconvert/api_mapping.json
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_IterableDataset.py
Due: copyright_checker, check-json

add torch.utils.data.default_collate
  paconvert/api_mapping.json
Due: check-json

add torch.autograd.function.FunctionCtx.saved_tensors
  paconvert/api_mapping.json
  paconvert/base.py
Due: copyright_checker, check-json

[API Compatibility] pow_/remainder_/bernoulli/combinations/trapezoid/frexp/lgamma/kron/kthvalue/poisson/mode/mv Edit By AI Agent
  paconvert/api_mapping.json
  tests/test_Tensor_floor_divide_.py
  tests/test_frexp.py
  tests/test_mode.py
  tests/test_topk.py
Due: copyright_checker, check-json

add torch.special.logit
  paconvert/api_mapping.json
  tests/test_Tensor_logit.py
  tests/test_logit.py
  tests/test_special_logit.py
Due: copyright_checker, check-json

enhance test for torch.nn.Module.to
  tests/test_nn_Module_to.py
Due: copyright_checker

[API Compatibility] `torch.autograd.function.FunctionCtx` & `torch.utils.data.dataset` (#854)
  paconvert/api_mapping.json
  paconvert/base.py
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_IterableDataset.py
Due: copyright_checker, check-json

[API Compatibility] add torch.nn.functional.pixel_shuffle -part (#842)
  paconvert/api_mapping.json
  tests/test_nn_functional_pixel_shuffle.py
Due: copyright_checker, check-json

[API Compatibility] add torch.nn.ParameterDict -part (#831)
  paconvert/api_mapping.json
  tests/test_nn_ParameterDict.py
Due: copyright_checker, check-json

FMT
  tests/test_poisson.py
Due: copyright_checker

Add test singleton
  tests/test_tensor_sparse_mask.py
Due: copyright_checker

enhance tests for torch._assert
  paconvert/api_mapping.json
  tests/test__assert.py
Due: copyright_checker, check-json

Update test_tensor_sparse_mask.py
  tests/test_tensor_sparse_mask.py
Due: copyright_checker

fix
  tests/test_Tensor_t.py
  tests/test_cuda_stream.py
  tests/test_tensor.py
  tests/test_tensor_split.py
  tests/torchvision_tests/test_normalize.py
  tests/torchvision_tests/test_pad.py
  tests/torchvision_tests/test_resize.py
Due: copyright_checker

fix formatting issues
  tests/test_tensor_sparse_mask.py
Due: copyright_checker

[API Compatibility] pow_/remainder_/bernoulli/combinations/trapezoid/frexp/lgamma/kron/kthvalue/poisson/mode/mv Edit By AI Agent (#852)
  paconvert/api_mapping.json
  tests/test_Tensor_floor_divide_.py
  tests/test_frexp.py
  tests/test_mode.py
  tests/test_topk.py
Due: copyright_checker, check-json

[API Compatibility] iinfo/cummax/cummin/diagflat/ldexp/inner/positive/rad2deg/rot90/nanquantile/neg/erf Edit By AI Agent
  README.md
  paconvert/api_mapping.json
  tests/test_Tensor_cummax.py
  tests/test_Tensor_cummin.py
  tests/test_Tensor_diagflat.py
  tests/test_Tensor_diagonal_scatter.py
  tests/test_Tensor_erf.py
  tests/test_Tensor_erf_.py
  tests/test_Tensor_ldexp.py
  tests/test_Tensor_mode.py
  tests/test_Tensor_nanquantile.py
  tests/test_Tensor_round.py
  tests/test_Tensor_round_.py
  tests/test_Tensor_topk.py
  tests/test_cummax.py
  tests/test_cummin.py
  tests/test_diagflat.py
  tests/test_diagonal_scatter.py
  tests/test_iinfo.py
  tests/test_inner.py
  tests/test_ldexp.py
  tests/test_mode.py
  tests/test_neg.py
  tests/test_positive.py
  tests/test_rad2deg.py
  tests/test_rot90.py
  tests/test_topk.py
Due: copyright_checker, check-json

[API Compatibility No.214] Update rot90 to ChangePrefixMatcher -part
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

enhance torch.aminmax tests
  paconvert/api_mapping.json
  tests/test_aminmax.py
Due: copyright_checker, check-json

Restore singleton
  tests/torchvision_tests/test_normalize.py
Due: copyright_checker

Restore singleton
  tests/torchvision_tests/test_pad.py
Due: copyright_checker

Restore singleton
  tests/torchvision_tests/test_resize.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
