Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix bugs
  paconvert/api_matcher.py
  tests/test_cuda_device.py
Due: copyright_checker

Matcher1 (#500)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_bitwise_left_shift.py
  tests/test_bitwise_right_shift.py
  tests/test_copysign.py
  tests/test_cuda_device.py
  tests/test_distributed_optim_DistributedOptimizer.py
  tests/test_distributed_rpc_remote.py
  tests/test_distributions_constraints_Constraint.py
  tests/test_distributions_gamma_Gamma.py
  tests/test_distributions_lkj_cholesky_LKJCholesky.py
  tests/test_distributions_poisson_Poisson.py
  tests/test_distributions_studentT_StudentT.py
  tests/test_distributions_transforms_PositiveDefiniteTransform.py
  tests/test_dstack.py
  tests/test_is_inference.py
  tests/test_is_tensor.py
  tests/test_linalg_cholesky_ex.py
  tests/test_nn_FractionalMaxPool2d.py
  tests/test_nn_FractionalMaxPool3d.py
  tests/test_nn_GLU.py
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_Threshold.py
  tests/test_nn_functional_feature_alpha_dropout.py
  tests/test_optim_ASGD.py
  tests/test_optim_Rprop.py
  tests/test_set_default_dtype.py
  tests/test_set_default_tensor_type.py
  tests/test_sparse_csr_tensor.py
Due: copyright_checker, check-json

Update Dockerfile
  tools/docker/Dockerfile
Due: none

problem feedback
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_Tensor_square_.py
Due: copyright_checker, check-json

problem feedback
  tests/apibase.py
Due: copyright_checker

remove positional-only argument in test_set_default_dtype.py
  tests/test_set_default_dtype.py
Due: copyright_checker

remove positional-only argument in test_is_tensor.py
  tests/test_is_tensor.py
Due: copyright_checker

remove positional-only argument in test_set_default_tensor_type.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker

fix small issues
  tests/torchvision_tests/test_ColorJitter.py
  tests/torchvision_tests/test_rotate.py
Due: copyright_checker

Fix GPU CI Failures (#505)
  tests/test_is_tensor.py
  tests/test_set_default_dtype.py
  tests/test_set_default_tensor_type.py
  tools/docker/Dockerfile
Due: copyright_checker

fix small issues
  tests/torchvision_tests/test_ColorJitter.py
Due: copyright_checker

零散存量问题修复 (#506)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_linalg_qr.py
  tests/test_lu_unpack.py
  tests/test_pi.py
Due: copyright_checker, check-json

use pytest skipif to make decode_jpeg test cases only run on GPU
  tests/torchvision_tests/test_decode_jpeg.py
Due: copyright_checker

removed cpu test case from test_decode_jpeg
  tests/torchvision_tests/test_decode_jpeg.py
Due: copyright_checker

fix_
  paconvert/api_matcher.py
Due: copyright_checker

refactor: share Matcher between Cifar10/100 and MNIST/FashionMNIST for better code reuse
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/torchvision_tests/test_FashionMNIST.py
  tests/torchvision_tests/test_MNIST.py
Due: copyright_checker, check-json

refactor: use paddle_aux in conversion of roi_align, roi_pool and psroi_pool
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix: add is_aux_api in pytest APIBase
  tests/torchvision_tests/test_ps_roi_pool.py
  tests/torchvision_tests/test_roi_align.py
  tests/torchvision_tests/test_roi_pool.py
Due: copyright_checker

update
  tests/test_optim_NAdam.py
  tests/test_optim_RAdam.py
Due: copyright_checker

update constraint and studentt
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_constraints_Constraint.py
  tests/test_distributions_studentT_StudentT.py
Due: copyright_checker, check-json

add log-warning when a parameter is specified multiple times
  paconvert/base.py
Due: copyright_checker

refactor: use paddle_aux in VOCDetection and fix error in Flowers102
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/torchvision_tests/test_Flowers102.py
  tests/torchvision_tests/test_VOCDetection.py
Due: copyright_checker, check-json

fix_
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_block_diag.py
  tests/test_cartesian_prod.py
Due: copyright_checker, check-json

fix
  tests/test_block_diag.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
Due: copyright_checker

hkt 7th No.38
  tests/test_Tensor_permute.py
  tests/test_Tensor_tile.py
Due: copyright_checker

delete studentTmatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

rerun ci
  tests/test_distributions_studentT_StudentT.py
Due: copyright_checker

remove VOCDetection test case
  tests/torchvision_tests/test_VOCDetection.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Update `Constraint` and `StudentT` matcher and unittests 易用性提升 (#507)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_constraints_Constraint.py
  tests/test_distributions_studentT_StudentT.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_float_power.py
  tests/test_Tensor_permute.py
  tests/test_Tensor_tile.py
Due: copyright_checker, check-json

fix
  tests/test_Tensor_float_power.py
Due: copyright_checker

fix error in RoIAlign, RoIPool test cases
  paconvert/base.py
  tests/torchvision_tests/test_RoIAlign.py
  tests/torchvision_tests/test_RoIPool.py
  tests/torchvision_tests/test_VOCDetection.py
Due: copyright_checker
