Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

align the file name and fix typo
  .github/workflows/Modeltest_check.yml
  scripts/ci/run_distributed.sh
Due: copyright_checker

fix proxy for modeltest
  .github/workflows/Modeltest_check.yml
Due: none

test fallback to run on physical machine for gpu
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

fix the correct file entry
  scripts/ci/run_cpu_unittest.sh
Due: copyright_checker

enable gpu to run on docker
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

fix file dir
  scripts/ci/run_cpu_unittest.sh
Due: copyright_checker

fix
  scripts/ci/run_cpu_unittest.sh
  scripts/ci/run_distributed.sh
  scripts/ci/run_gpu_unittest.sh
  tools/docker/Dockerfile
Due: copyright_checker

make ignore robust
  scripts/ci/run_cpu_unittest.sh
  scripts/ci/run_gpu_unittest.sh
Due: copyright_checker

fix CI issue
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test___version__.py
  tests/test_cpu_set_device.py
Due: copyright_checker, check-json

fix AssertionError: mismatch conversion and revert api change
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test_onnx_export.py
Due: copyright_checker, check-json

fix convertion error
  tests/test_add_start_docstrings_to_model_forward.py
Due: copyright_checker

fix test_onnx_export convertion fail
  tests/test_onnx_export.py
Due: copyright_checker

restore changes to env
  tests/test_cpu_set_device.py
Due: copyright_checker

convertion fix
  tests/test_add_start_docstrings_to_model_forward.py
Due: copyright_checker

add --no-deps arg when install paddlepaddle-gpu
  scripts/ci/run_distributed.sh
  scripts/ci/run_gpu_unittest.sh
Due: copyright_checker

[API Compatibility] migrate workflows to github actions (#889)
  .gitattributes
  .github/actions/rerun-workflow/action.yml
  .github/actions/rerun-workflow/rerun.sh
  .github/workflows/Install_check.yml
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
  .github/workflows/build_ci_images.yml
  .github/workflows/codestyle.yml
  .github/workflows/consistency.yml
  .github/workflows/rerun.yml
  scripts/ci/run_cpu_unittest.sh
  scripts/ci/run_distributed.sh
  scripts/ci/run_gpu_unittest.sh
  scripts/ci/run_modeltest.sh
  tests/flash_attn_tests/__init__.py
  tests/test___version__.py
  tests/test_block_diag.py
  tests/test_cartesian_prod.py
  tests/test_nn_ConvTranspose2d.py
  tests/test_nn_ConvTranspose3d.py
  tools/docker/Dockerfile
Due: copyright_checker

enhance tensor.nanmean test
  tests/test_Tensor_nanmean.py
Due: copyright_checker

8 apis
  paconvert/api_mapping.json
Due: check-json

tensor.backward and case
  paconvert/api_mapping.json
  tests/test_Tensor_backward.py
Due: copyright_checker, check-json

3 apis
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_nn_init_sparse_.py
Due: copyright_checker, check-json

fix the racing condition of jobs
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

7 apis
  paconvert/api_mapping.json
Due: check-json

[Migrate workflow] Fix concurrency issue (#891)
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

fix CI
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/type_hinting.py
  tests/test_Tensor_resize_.py
  tests/test_col_indices.py
  tests/test_crow_indices.py
  tests/test_kl_div.py
  tests/test_retain_grad.py
  tests/test_to_dense.py
  tests/test_to_sparse.py
  tests/test_xavier_uniform.py
Due: copyright_checker, check-json

chore: add ci environment diagnostics
  scripts/ci/run_cpu_unittest.sh
Due: copyright_checker

[API Compatibility] histc/masked_fill/hstack/true_divide_/eigh/H/ELU/relu6/clamp_max/logical_and_/qr/logdet/cholesky/cross Edit By AI Agent
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test_hstack.py
  tests/test_linalg_cross.py
Due: copyright_checker, check-json

fix codestyle
  tests/test_cuda_CudaError.py
  tests/test_cuda_OutOfMemoryError.py
Due: copyright_checker

update test for Optimizer.step()
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

fix code consistency
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
Due: none

change for enable_compat
  paconvert/api_mapping.json
  paconvert/transformer/import_transformer.py
  tests/apibase.py
  tests/confest.py
Due: copyright_checker, check-json

add two left api
  paconvert/api_mapping.json
Due: check-json

fix CI
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test_hstack.py
  tests/test_nn_utils_rnn_PackedSequence.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker, check-json

update diff file
  tests/code_library/code_case/minmode_code_case/diff/combine.txt
Due: none

[API Compatibility] Add more test cases
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm2D.py
  tests/test_Tensor_index_copy_.py
  tests/test_distributions_Categorical.py
  tests/test_distributions_Distribution_rsample.py
  tests/test_distributions_Distribution_sample.py
  tests/test_distributions_Normal.py
  tests/test_distributions_constraints_positive_definite.py
  tests/test_distributions_multivariate_normal_MultivariateNormal.py
  tests/test_finfo.py
  tests/test_iinfo.py
  tests/test_inference_mode.py
  tests/test_kaiser_window.py
  tests/test_nn_BatchNorm1d.py
  tests/test_nn_BatchNorm2d.py
  tests/test_nn_BatchNorm3d.py
  tests/test_nn_Hardswish.py
  tests/test_nn_LayerNorm.py
  tests/test_nn_Module_get_extra_state.py
  tests/test_nn_PReLU.py
  tests/test_nn_ReLU6.py
  tests/test_nn_attention_flex_attention_and_masks.py
  tests/test_nn_attention_flex_attention_or_masks.py
  tests/test_nn_functional_hardswish.py
  tests/test_nn_functional_relu6.py
  tests/test_sinc.py
  tests/test_special_erf.py
  tests/test_special_sinc.py
Due: copyright_checker, check-json

fix CI
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_to.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/distributed/rpc_get_worker_info.py
  tests/distributed/rpc_init_rpc.py
  tests/distributed/rpc_remote.py
  tests/distributed/rpc_rpc_async.py
  tests/distributed/rpc_rpc_sync.py
  tests/distributed/rpc_shutdown.py
  tests/test_distributions_Categorical.py
  tests/test_distributions_bernoulli_Bernoulli.py
  tests/test_distributions_categorical_Categorical.py
  tests/test_distributions_dirichlet_Dirichlet.py
  tests/test_distributions_distribution_Distribution.py
  tests/test_distributions_exponential_Exponential.py
  tests/test_nn_modules_batchnorm_SyncBatchNorm.py
  tests/test_nn_modules_loss__Loss.py
  tests/test_torch_Tensor.py
  tests/test_utils_data__utils_collate_np_str_obj_array_pattern.py
  tests/torchvision_tests/test_enums.py
Due: copyright_checker, check-json

fix CI
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/dist_apibase.py
Due: copyright_checker

fix CI
  tests/test_nn_modules_SyncBatchNorm.py
Due: copyright_checker

[API Compatibility] enhance test for modified smooth_l1_loss -part (#888)
  paconvert/api_mapping.json
  tests/test_nn_SmoothL1Loss.py
  tests/test_nn_functional_smooth_l1_loss.py
Due: copyright_checker, check-json
