Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix some api to ChangeAPIMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/global_var.py
Due: copyright_checker, check-json

fix some API to ChangeAPIMatcher (#729)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/global_var.py
Due: copyright_checker, check-json

fix torch.hub.load convert bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Fix torch.hub.load convert bug (#730)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add test1
  paconvert/api_alias_mapping.json
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/transformers/test_addtoken.py
  tests/transformers/test_stoppingcriterialist.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
Due: check-json

fix deps
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

[Test]Add tests for transformers (#732)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/transformers/test_addtoken.py
  tests/transformers/test_stoppingcriterialist.py
Due: copyright_checker, check-json

add some api to NO_NEED_CONVERT
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/code_library/code_case/paddle_code/api_paddle_permute.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/test_Tensor_greater_equal.py
  tests/test_Tensor_less_equal.py
  tests/test_Tensor_not_equal.py
Due: copyright_checker

add some compare api to NO_NEED_CONVERT (#734)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/code_library/code_case/paddle_code/api_paddle_permute.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/test_Tensor_greater_equal.py
  tests/test_Tensor_less_equal.py
  tests/test_Tensor_not_equal.py
Due: copyright_checker

add param for only complete torch code
  paconvert/converter.py
  paconvert/main.py
Due: copyright_checker

add param for only complete torch code (#735)
  paconvert/converter.py
  paconvert/main.py
Due: copyright_checker

fix some UT
  tests/test_linalg_cholesky.py
  tests/test_nn_TransformerEncoder.py
  tests/transformers/test_addtoken.py
  tests/transformers/test_stoppingcriterialist.py
Due: copyright_checker

fix some UT (#737)
  tests/test_linalg_cholesky.py
  tests/test_nn_TransformerEncoder.py
  tests/transformers/test_addtoken.py
  tests/transformers/test_stoppingcriterialist.py
Due: copyright_checker

删除冗余信息
  paconvert/api_mapping.json
Due: check-json

删除冗余信息 (#738)
  paconvert/api_mapping.json
Due: check-json

add some cuda.xxx
  paconvert/global_var.py
  tests/test_cuda_CharTensor.py
  tests/test_cuda_Event.py
  tests/test_cuda_device.py
  tests/test_cuda_reset_peak_memory_stats.py
  tests/test_cuda_set_stream.py
  tests/test_get_device.py
Due: copyright_checker

pre-commit
  tests/test_cuda_device.py
  tests/test_cuda_reset_peak_memory_stats.py
  tests/test_cuda_set_stream.py
  tests/test_get_device.py
Due: copyright_checker

rm torch error
  tests/test_get_device.py
Due: copyright_checker

pytest
  tests/test_cuda_CharTensor.py
  tests/test_get_device.py
Due: copyright_checker

fix paddle ref
  tests/code_library/code_case/paddle_code/type_hinting.py
Due: none

temporary disable transformers to spped up
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
  tests/transformers/_test_addtoken.py
  tests/transformers/_test_stoppingcriterialist.py
Due: copyright_checker

better
  tests/test_cuda_Event.py
  tests/test_get_device.py
Due: copyright_checker

temporary disable transformers to spped up (#740)
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
  tests/transformers/_test_addtoken.py
  tests/transformers/_test_stoppingcriterialist.py
Due: copyright_checker

[API Compatibility] Add cuda.XXX to NONEED_CONVERT (#739)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/type_hinting.py
  tests/test_cuda_CharTensor.py
  tests/test_cuda_Event.py
  tests/test_cuda_device.py
  tests/test_cuda_set_stream.py
  tests/test_get_device.py
Due: copyright_checker

torch.optim.Optimizer.step,
  paconvert/global_var.py
Due: copyright_checker

add .step .train
  paconvert/global_var.py
Due: copyright_checker

fix torch.cuda.is_bf16_supported
  paconvert/api_mapping.json
Due: check-json

add .train .step into no_need_convert && fix torch.cuda.is_bf16_supported
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

add .train .step into no_need_convert && fix torch.cuda.is_bf16_supported
  paconvert/global_var.py
Due: copyright_checker

delete .train from no_need_convert
  paconvert/global_var.py
Due: copyright_checker

c_sink_index_put
  paconvert/global_var.py
Due: copyright_checker

Reorder import statements in model_apibase.py
  tests/torchvision_tests/model_apibase.py
Due: copyright_checker

add bucketize searchsorted
  paconvert/global_var.py
Due: copyright_checker

Add nn.Constant/Reflection/Replication Pad layers
  paconvert/global_var.py
  tests/test_nn_ConstantPad1d.py
  tests/test_nn_ConstantPad2d.py
  tests/test_nn_ConstantPad3d.py
  tests/test_nn_ReflectionPad1d.py
  tests/test_nn_ReflectionPad2d.py
  tests/test_nn_ReflectionPad3d.py
Due: copyright_checker

[API Compatibility] Split `compat.py`
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] Split `compat.py` (#747)
  paconvert/api_mapping.json
Due: check-json

修改.train .step成torch 参数更多
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_nn_Module_train.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

add is_bf16_supported test
  tests/test_cuda_is_bf16_supported.py
Due: copyright_checker

add reason
  tests/test_cuda_is_bf16_supported.py
  tests/test_nn_Module_train.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
