Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix docs api
  tests/test_distributions_Binomial.py
Due: copyright_checker

fix docs api (#475)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/distributed/load_lib.py
  tests/test_amp_autocast.py
  tests/test_amp_autocast_mode_autocast.py
  tests/test_channel_shuffle.py
  tests/test_distributions_ContinuousBernoulli.py
  tests/test_distributions_MultivariateNormal.py
  tests/test_distributions_binomial_Binomial.py
  tests/test_distributions_continuous_bernoulli_ContinuousBernoulli.py
  tests/test_distributions_multivariate_normal_MultivariateNormal.py
  tests/test_igamma.py
  tests/test_igammac.py
  tests/test_nn_functional_channel_shuffle.py
  tests/test_special_gammainc.py
  tests/test_special_gammaincc.py
  tests/torch_distributions_exponential_Exponential.py
Due: copyright_checker, check-json

update pad
  tests/test_nn_functional_pad.py
Due: copyright_checker

fix docs api
  tests/apibase.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

fix docs api
  tests/test_Tensor_new_tensor.py
  tests/test_nn_Module_named_modules.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_blackman_window.py
  tests/test_hamming_window.py
  tests/test_hann_window.py
  tests/test_set_num_threads.py
Due: copyright_checker, check-json

update
  tests/test_linalg_cholesky_ex.py
  tests/test_linalg_inv_ex.py
Due: copyright_checker

udpate batchnorm
  tests/test_nn_functional_batch_norm.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

test blackman
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

【Hackathon 7th No.38】为 Paddle 代码转换工具新增 API 转换规则（第5组）
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_isneginf.py
  tests/test_Tensor_isposinf.py
  tests/test_Tensor_isreal.py
  tests/test_Tensor_positive.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_block_diag.py
  tests/test_can_cast.py
  tests/test_cartesian_prod.py
  tests/test_float_power.py
  tests/test_isin.py
  tests/test_isneginf.py
  tests/test_isposinf.py
  tests/test_isreal.py
  tests/test_positive.py
  tests/test_scatter_reduce.py
Due: copyright_checker, check-json

test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
  tests/test_signal_windows_blackman.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
  tests/test_signal_windows_exponential.py
  tests/test_signal_windows_gaussian.py
  tests/test_signal_windows_general_cosine.py
  tests/test_signal_windows_general_hamming.py
Due: copyright_checker

fix docs api
  paconvert/api_mapping.json
  tests/test_nn_Module_named_buffers.py
  tests/test_nn_Module_named_parameters.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
  tests/test_signal_windows_exponential.py
Due: copyright_checker

F.pad `data_format` support automatic default format 易用性提升 (#482)
  tests/test_nn_functional_pad.py
Due: copyright_checker

`F.batch_norm` 单测修改 易用性提升 (#485)
  tests/test_nn_functional_batch_norm.py
Due: copyright_checker

fix docs api
  paconvert/api_mapping.json
  tests/test_nn_Module_named_buffers.py
  tests/test_nn_Module_named_modules.py
  tests/test_nn_Module_named_parameters.py
Due: copyright_checker, check-json

【Hackathon 7th No.35】为 Paddle 代码转换工具新增 API 转换规则（第 2 组）
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_addbmm_.py
  tests/test_Tensor_addcdiv_.py
  tests/test_Tensor_addmv_.py
  tests/test_Tensor_addr_.py
  tests/test_Tensor_baddbmm_.py
  tests/test_Tensor_copysign.py
  tests/test_Tensor_copysign_.py
  tests/test_Tensor_erfc_.py
  tests/test_Tensor_fix_.py
  tests/test_Tensor_fmod_.py
  tests/test_Tensor_sinc_.py
  tests/test_Tensor_t_.py
  tests/test_Tensor_transpose_.py
  tests/test_Tensor_xlogy_.py
Due: copyright_checker, check-json

fix docs api
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_signal_windows_blackman.py
  tests/test_signal_windows_exponential.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
