Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix transformerDecoder unit test
  tests/test_nn_transformerDecoder.py
Due: copyright_checker

fix bug
  paconvert/api_matcher.py
Due: copyright_checker

Fix
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix some bug
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_Tensor_expm1.py
  tests/test_Tensor_masked_select.py
  tests/test_Tensor_sort.py
  tests/test_masked_select.py
  tests/test_type.py
Due: copyright_checker

转换规则 No.354-357 (#173)
  paconvert/api_mapping.json
  tests/test_fft_hfft2.py
  tests/test_fft_hfftn.py
  tests/test_fft_ihfft2.py
  tests/test_fft_ihfftn.py
Due: copyright_checker, check-json

转换规则 No.299/305/316/317/322 (#174)
  paconvert/api_mapping.json
  tests/test_Tensor_corrcoef.py
  tests/test_cumulative_trapezoid.py
  tests/test_special_i0.py
  tests/test_special_i1.py
  tests/test_special_i1e.py
Due: copyright_checker, check-json

fix error
  tests/test_nn_functional_gumbel_softmax.py
Due: copyright_checker

Update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_matcher.py
  tests/test_stft.py
Due: copyright_checker

fix distributed_new_group unit test
  paconvert/api_mapping.json
  tests/test_distributed_broadcast.py
  tests/test_distributed_new_group.py
  tests/test_nn_TransformerDecoderLayer.py
Due: copyright_checker, check-json

fix some bug (#175)
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_Tensor_expm1.py
  tests/test_Tensor_masked_select.py
  tests/test_Tensor_sort.py
  tests/test_masked_select.py
  tests/test_type.py
Due: copyright_checker

fix
  tests/test_stft.py
Due: copyright_checker

add distributed api (#129)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_current_device.py
  tests/test_distributed_broadcast.py
  tests/test_distributed_new_group.py
  tests/test_is_grad_enabled.py
  tests/test_nn_TransformerDecoderLayer.py
Due: copyright_checker, check-json

修改 IntTensor 转换策略
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

修改测试 case， 使得测试覆盖率超过90%
  tests/test_cuda_BoolTensor.py
  tests/test_cuda_ByteTensor.py
  tests/test_cuda_FloatTensor.py
  tests/test_cuda_IntTensor.py
  tests/test_cuda_LongTensor.py
Due: copyright_checker

fix
  tests/test_from_dlpack.py
Due: copyright_checker

Fix
  tests/test_autograd_functional_hessian.py
  tests/test_autograd_functional_jacobian.py
  tests/test_autograd_functional_jvp.py
  tests/test_autograd_functional_vjp.py
Due: copyright_checker

修改 test_cuda_FloatTensor 测试用例
  tests/test_cuda_FloatTensor.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
