Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

develop
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add cov etc.
  paconvert/api_matcher.py
  tests/test_linalg_det.py
  tests/test_slogdet.py
Due: copyright_checker

add cov etc.
  paconvert/api_matcher.py
Due: copyright_checker

add cov etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_special_log1p.py
Due: copyright_checker, check-json

Fix test case and add test case
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Size.py
  tests/test_Tensor.py
  tests/test_Tensor_fliplr.py
  tests/test_nanmedian.py
  tests/test_nn_SELU.py
  tests/test_nn_SiLU.py
  tests/test_nn_Sigmoid.py
  tests/test_nn_Softplus.py
  tests/test_nn_Softshrink.py
  tests/test_nn_Softsign.py
  tests/test_nn_Tanh.py
  tests/test_nn_Tanhshrink.py
  tests/test_nn_TripletMarginWithDistanceLoss.py
  tests/test_nn_UpsamplingBilinear2d.py
  tests/test_nn_UpsamplingNearest2d.py
  tests/test_nn_ZeroPad2d.py
  tests/test_nn_utils_parameters_to_vector.py
  tests/test_nonzero.py
  tests/test_norm.py
  tests/test_pow.py
  tests/test_remainder.py
  tests/test_vander.py
  tests/test_vdot.py
  tests/test_where.py
  tests/test_xlogy.py
Due: copyright_checker, check-json

fix bugs
  tests/test_chain_matmul.py
  tests/test_multiply.py
Due: copyright_checker

fix torch.dstack
  paconvert/api_mapping.json
  tests/test_dstack.py
Due: copyright_checker, check-json

fix torch.median
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix torch.dstack
  tests/test_dstack.py
Due: copyright_checker

Fix test case and add test case
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_pow.py
  tests/test_remainder.py
  tests/test_where.py
  tests/test_xlogy.py
Due: copyright_checker, check-json

fix torch.nanmedian
  paconvert/api_mapping.json
  tests/test_nanmedian.py
Due: copyright_checker, check-json

fix paddle.nn.utils.parameters_to_vector
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

optimizer write aux code
  README.md
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

optimizer write aux code (#92)
  README.md
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

develop
  paconvert/api_matcher.py
Due: copyright_checker

add cov etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cdist.py
Due: copyright_checker, check-json

add cov etc.
  paconvert/api_mapping.json
Due: check-json

add cov etc. (#82)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_adjoint.py
  tests/test_Tensor_arctan2.py
  tests/test_Tensor_argwhere.py
  tests/test_Tensor_cov.py
  tests/test_Tensor_hardshrink.py
  tests/test_adjoint.py
  tests/test_arctan2.py
  tests/test_argwhere.py
  tests/test_conj_physical.py
  tests/test_cov.py
  tests/test_linalg_det.py
  tests/test_linalg_eigvals.py
  tests/test_special_digamma.py
  tests/test_special_erf.py
  tests/test_special_log1p.py
  tests/test_special_logsumexp.py
  tests/test_special_ndtri.py
  tests/test_special_psi.py
  tests/test_special_xlog1py.py
Due: copyright_checker, check-json

test
  paconvert/api_matcher.py
Due: copyright_checker

test
  paconvert/api_mapping.json
Due: check-json

add unique etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_resize_.py
  tests/test_argsort.py
  tests/test_cosine_similarity.py
  tests/test_distributions_kl_kl_divergence.py
  tests/test_enable_grad.py
  tests/test_linalg_cross.py
  tests/test_linalg_diagonal.py
  tests/test_nan_to_num.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool3d.py
  tests/test_nn_Parameter.py
  tests/test_nn_SyncBatchNorm.py
  tests/test_relu.py
  tests/test_round.py
  tests/test_unique.py
Due: copyright_checker, check-json

add unique etc.
  paconvert/api_mapping.json
  tests/test_nan_to_num.py
Due: copyright_checker, check-json

add unique etc.
  tests/test_enable_grad.py
  tests/test_round.py
Due: copyright_checker

add embedding test
  tests/test_nn_Embedding.py
  tests/test_nn_functional_embedding.py
Due: copyright_checker

add embedding
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Add test cases
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_min.py
  tests/test_nn_AdaptiveMaxPool1d.py
  tests/test_nn_AdaptiveMaxPool2d.py
  tests/test_nn_AdaptiveMaxPool3d.py
  tests/test_nn_AlphaDropout.py
  tests/test_nn_LogSoftmax.py
  tests/test_nn_Softmax.py
  tests/test_nn_functional_adaptive_max_pool1d.py
  tests/test_nn_functional_adaptive_max_pool2d.py
  tests/test_nn_functional_adaptive_max_pool3d.py
  tests/test_nn_functional_celu.py
  tests/test_nn_functional_conv1d.py
  tests/test_nn_functional_conv2d.py
  tests/test_nn_functional_conv3d.py
  tests/test_nn_functional_conv_transpose1d.py
  tests/test_nn_functional_conv_transpose2d.py
  tests/test_nn_functional_conv_transpose3d.py
  tests/test_nn_functional_elu.py
  tests/test_nn_functional_elu_.py
  tests/test_nn_functional_fold.py
  tests/test_nn_functional_glu.py
  tests/test_nn_functional_hardswish.py
  tests/test_nn_functional_hardtanh.py
  tests/test_nn_functional_leaky_relu.py
  tests/test_nn_functional_log_softmax.py
  tests/test_nn_functional_max_unpool1d.py
  tests/test_nn_functional_max_unpool2d.py
  tests/test_nn_functional_max_unpool3d.py
  tests/test_nn_functional_prelu.py
  tests/test_nn_functional_relu.py
  tests/test_nn_functional_relu6.py
  tests/test_nn_functional_relu_.py
  tests/test_nn_functional_rrelu.py
  tests/test_nn_functional_rrelu_.py
  tests/test_nn_functional_selu.py
Due: copyright_checker, check-json

fix bug
  .pre-commit-config.yaml
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/apibase.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/test_Tensor_reshape.py
  tests/test_Tensor_take.py
  tests/test_device.py
Due: copyright_checker, check-json

Add api matcher (#89)
  .pre-commit-config.yaml
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/test_Tensor_round.py
  tests/test_Tensor_split.py
  tests/test_Tensor_take.py
  tests/test_Tensor_to.py
  tests/test_backends_cudnn_version.py
  tests/test_device.py
  tests/test_nn_Conv2d.py
  tests/test_nn_Module_load_state_dict.py
  tests/test_nn_Parameter.py
  tests/test_nn_ReLU.py
  tests/test_nn_modules_batchnorm__BatchNorm.py
  tools/consistency/api_code_consistency_check.py
Due: copyright_checker, check-json

add_softmax
  paconvert/api_mapping.json
  tests/test_softmax.py
Due: copyright_checker, check-json

add regiser etc.
  paconvert/api_mapping.json
Due: check-json

delete FunctionalAdaptiveMaxPoolMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_linalg_lstsq.py
  tests/test_nn_functional_adaptive_max_pool1d.py
  tests/test_nn_functional_adaptive_max_pool2d.py
  tests/test_nn_functional_adaptive_max_pool3d.py
Due: copyright_checker, check-json

fix bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_utils_parameters_to_vector.py
Due: copyright_checker, check-json

Fix test case and add test case (#91)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Size.py
  tests/test_Tensor.py
  tests/test_Tensor_fliplr.py
  tests/test_mv.py
  tests/test_nanmedian.py
  tests/test_nn_SELU.py
  tests/test_nn_SiLU.py
  tests/test_nn_Sigmoid.py
  tests/test_nn_Softplus.py
  tests/test_nn_Softshrink.py
  tests/test_nn_Softsign.py
  tests/test_nn_Tanh.py
  tests/test_nn_Tanhshrink.py
  tests/test_nn_TripletMarginWithDistanceLoss.py
  tests/test_nn_UpsamplingBilinear2d.py
  tests/test_nn_UpsamplingNearest2d.py
  tests/test_nn_ZeroPad2d.py
  tests/test_nonzero.py
  tests/test_norm.py
  tests/test_pow.py
  tests/test_remainder.py
  tests/test_sort.py
  tests/test_vander.py
  tests/test_vdot.py
  tests/test_xlogy.py
Due: copyright_checker, check-json
