Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

移除lr_scheduler的verbose
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingWarmRestarts.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_LinearLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

fix some bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  paconvert/utils.py
  tests/code_library/code_case/custom_op/paddle_code/utils/paddle_aux.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker, check-json

移除lr_scheduler的verbose (#575)
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingWarmRestarts.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_LinearLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

更新recompute_scale_factor参数(Upsample和interpolate函数) (#567)
  paconvert/api_mapping.json
  tests/test_nn_Upsample.py
  tests/test_nn_functional_interpolate.py
Due: copyright_checker, check-json

fix CI
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker, check-json

fix some API convert bugs (#574)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  paconvert/utils.py
  tests/code_library/code_case/custom_op/paddle_code/utils/paddle_aux.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker, check-json

修复Tensor类方法误识别的bug
  paconvert/base.py
  paconvert/example_code.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/non_paddle_class.py
  tests/code_library/code_case/torch_code/non_torch_class.py
Due: copyright_checker

更新GPU CI的torch版本
  scripts/unittest_check_gpu.sh
  tools/docker/Dockerfile
Due: copyright_checker

修复Tensor类方法误识别的bug (#577)
  paconvert/base.py
  paconvert/example_code.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/non_paddle_class.py
  tests/code_library/code_case/torch_code/non_torch_class.py
Due: copyright_checker

Update README.md
  README.md
Due: none

fix remove import bug and Tensor.stft convert bug
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/torch_code/insert_pass_in_ast_if.py
  tests/test_Tensor_stft.py
Due: copyright_checker, check-json

fix remove import bug and Tensor.stft convert bug (#579)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/torch_code/insert_pass_in_ast_if.py
  tests/test_Tensor_stft.py
Due: copyright_checker, check-json

fix codestyle
  .pre-commit-config.yaml
  paconvert/transformer/import_transformer.py
Due: copyright_checker

Fix CodeStyle (#580)
  .pre-commit-config.yaml
  paconvert/transformer/import_transformer.py
Due: copyright_checker

新增转换规则
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/apibase.py
  tests/test_e.py
  tests/test_inf.py
  tests/test_linalg_vecdot.py
  tests/test_nan.py
  tests/test_newaxis.py
Due: copyright_checker, check-json

新增转换规则
  tests/apibase.py
Due: copyright_checker

新增转换规则 (#581)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_e.py
  tests/test_inf.py
  tests/test_linalg_vecdot.py
  tests/test_nan.py
  tests/test_newaxis.py
Due: copyright_checker, check-json

修改某些位置的日志打印等级
  README.md
  paconvert/converter.py
  paconvert/utils.py
Due: copyright_checker

修改某些位置的日志打印等级 (#582)
  README.md
  paconvert/converter.py
  paconvert/utils.py
Due: copyright_checker

add new rules
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/all_to_all_single.py
  tests/distributed/reduce_scatter_tensor.py
  tests/test__foreach_round.py
  tests/test__foreach_round_.py
  tests/test__foreach_sin.py
  tests/test__foreach_sin_.py
  tests/test__foreach_sinh.py
  tests/test__foreach_sinh_.py
  tests/test_utils_set_module.py
Due: copyright_checker, check-json

fix ReduceScatterTensorMatcher
  paconvert/api_matcher.py
  tests/test__foreach_round_.py
Due: copyright_checker

fix ReduceScatterTensorMatcher
  paconvert/api_matcher.py
Due: copyright_checker

fix reduce_scatter_tensor.py
  tests/distributed/reduce_scatter_tensor.py
Due: copyright_checker

fix statistics bug in separate_convert
  paconvert/main.py
  tests/distributed/run_and_compare.py
Due: copyright_checker

fix statistics bug in separate_convert (#584)
  paconvert/main.py
  tests/distributed/run_and_compare.py
Due: copyright_checker

add AllGatherIntoTensorMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/all_gather_into_tensor.py
Due: copyright_checker, check-json

update AllGatherIntoTensorMatcher
  paconvert/api_matcher.py
Due: copyright_checker

update ReduceScatterTensorMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update Matcher
  paconvert/api_matcher.py
  tests/distributed/all_gather_into_tensor.py
  tests/distributed/reduce_scatter_tensor.py
Due: copyright_checker

update testcase
  tests/distributed/all_gather_into_tensor2.py
  tests/distributed/reduce_scatter_tensor.py
  tests/distributed/reduce_scatter_tensor2.py
Due: copyright_checker

新增转换规则 (#583)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/all_gather_into_tensor.py
  tests/distributed/all_gather_into_tensor2.py
  tests/distributed/all_to_all_single.py
  tests/distributed/reduce_scatter_tensor.py
  tests/distributed/reduce_scatter_tensor2.py
  tests/test__foreach_round.py
  tests/test__foreach_round_.py
  tests/test__foreach_sin.py
  tests/test__foreach_sin_.py
  tests/test__foreach_sinh.py
  tests/test__foreach_sinh_.py
  tests/test_utils_set_module.py
Due: copyright_checker, check-json

Update api_alias_mapping.json
  paconvert/api_alias_mapping.json
Due: check-json

修改alias对齐torch官网
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/transformer/basic_transformer.py
Due: copyright_checker, check-json

修改alias对齐torch官网 (#585)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/transformer/basic_transformer.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
