Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

torch.nn.functional.poisson_nll_loss
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker

torch.nn.functional.cosine_embedding_loss
  paconvert/api_mapping.json
  tests/test_nn_functional_cosine_embedding_loss.py
Due: copyright_checker, check-json

torch.nn.functional.hinge_embedding_loss
  paconvert/api_mapping.json
  tests/test_nn_functional_hinge_embedding_loss.py
Due: copyright_checker, check-json

torch.nn.functional.cosine_embedding_loss
  tests/test_nn_functional_cosine_embedding_loss.py
Due: copyright_checker

torch.nn.functional.hinge_embedding_loss
  tests/test_nn_functional_hinge_embedding_loss.py
Due: copyright_checker

torch.nn.functional.hinge_embedding_loss
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker

torch.nn.functional.poisson_nll_loss
  paconvert/api_mapping.json
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker, check-json

torch.nn.functional.poisson_nll_loss
  paconvert/api_mapping.json
Due: check-json

multilabel_soft_margin_loss
  paconvert/api_mapping.json
  tests/test_nn_functional_multilabel_soft_margin_loss.py
Due: copyright_checker, check-json

add torch.lu matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_lu.py
Due: copyright_checker, check-json

UtilsCppExtensionMatcher bug
  paconvert/api_matcher.py
Due: copyright_checker

Add test cases
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_cross.py
  tests/test_Tensor_cumsum.py
  tests/test_Tensor_detach.py
  tests/test_Tensor_diag_embed.py
  tests/test_Tensor_diagonal.py
  tests/test_Tensor_diff.py
  tests/test_Tensor_digamma.py
  tests/test_Tensor_dim.py
  tests/test_Tensor_dist.py
  tests/test_Tensor_dot.py
  tests/test_Tensor_element_size.py
  tests/test_Tensor_eq.py
  tests/test_Tensor_equal.py
  tests/test_Tensor_erf.py
  tests/test_Tensor_erfinv.py
  tests/test_Tensor_erfinv_.py
  tests/test_Tensor_exp.py
  tests/test_Tensor_exp_.py
  tests/test_Tensor_expand_as.py
  tests/test_Tensor_exponential_.py
  tests/test_Tensor_fill_.py
  tests/test_Tensor_fill_diagonal_.py
  tests/test_Tensor_fix.py
  tests/test_Tensor_flatten.py
  tests/test_Tensor_flip.py
  tests/test_Tensor_floor.py
  tests/test_Tensor_floor_divide.py
  tests/test_Tensor_fmax.py
  tests/test_Tensor_fmin.py
  tests/test_Tensor_fmod.py
  tests/test_Tensor_frac.py
  tests/test_Tensor_gather.py
  tests/test_Tensor_gcd.py
  tests/test_Tensor_ge.py
  tests/test_Tensor_greater_equal.py
  tests/test_Tensor_logcumsumexp.py
  tests/test_Tensor_ndimension.py
Due: copyright_checker, check-json

Create test_fft_ifftshift.py
  test_fft_ifftshift.py
Due: copyright_checker

Create test_fft_fftshift.py
  tests/test_fft_fftshift.py
Due: copyright_checker

Update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

Rename test_fft_ifftshift.py to tests/test_fft_ifftshift.py
  tests/test_fft_ifftshift.py
Due: copyright_checker

No. 199-200 (#128)
  paconvert/api_mapping.json
  tests/test_fft_fftshift.py
  tests/test_fft_ifftshift.py
Due: copyright_checker, check-json

refine matcher of torch.utils.data.random_split.
  paconvert/api_matcher.py
Due: copyright_checker

refine matcher of torch.utils.data.random_split.
  tests/test_utils_data_random_split.py
Due: copyright_checker

fix UtilsCppExtensionMatcher pop
  paconvert/api_matcher.py
Due: copyright_checker

fix cpp test
  paconvert/api_matcher.py
  tests/test_utils_cpp_extension_CUDAExtension.py
  tests/test_utils_cpp_extension_CppExtension.py
Due: copyright_checker

add cpp test
  tests/test_utils_cpp_extension_CUDAExtension.py
  tests/test_utils_cpp_extension_CppExtension.py
Due: copyright_checker

refine matcher of torch.utils.data.random_split.
  paconvert/api_matcher.py
  tests/test_utils_data_random_split.py
Due: copyright_checker

转换规则 No.240-242. (#119)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_random_split.py
  tests/test_utils_dlpack_from_dlpack.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker, check-json

add distributed api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_current_device.py
  tests/test_distributed_broadcast.py
  tests/test_distributed_new_group.py
  tests/test_is_grad_enabled.py
  tests/test_nn_TransformerDecoderLayer.py
Due: copyright_checker, check-json

fix bug
  paconvert/api_matcher.py
  tests/test_lu.py
Due: copyright_checker

Fix bugs
  paconvert/api_matcher.py
Due: copyright_checker

Fix bugs
  paconvert/api_matcher.py
  tests/test_Tensor_clip.py
  tests/test_Tensor_clip_.py
Due: copyright_checker

Fix bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_exp.py
Due: copyright_checker, check-json

Fix bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

FunctionalThresholdMatcher
  paconvert/api_matcher.py
Due: copyright_checker
