Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

转换规则 No.155-158 (#265)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/all_to_all.py
  tests/distributed/common.py
  tests/distributed/convert.sh
  tests/distributed/reduce_scatter.py
  tests/distributed/run.sh
  tests/distributed/scatter.py
  tests/distributed/scatter_object_list.py
Due: copyright_checker, check-json

fix some unit
  paconvert/api_mapping.json
  tests/test_nn_functional_cosine_embedding_loss.py
  tests/test_nn_functional_gumbel_softmax.py
  tests/test_nn_functional_hinge_embedding_loss.py
  tests/test_nn_functional_pairwise_distance.py
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker, check-json

fix some unit (#269)
  paconvert/api_mapping.json
  tests/test_nn_functional_cosine_embedding_loss.py
  tests/test_nn_functional_gumbel_softmax.py
  tests/test_nn_functional_hinge_embedding_loss.py
  tests/test_nn_functional_pairwise_distance.py
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker, check-json

add cuda check
  tests/test_distributed_all_gather_object.py
Due: copyright_checker

fix
  tests/test_distributed_all_gather_object.py
Due: copyright_checker

fix style
  paconvert/api_mapping.json
Due: check-json

Fix convert.sh
  tests/distributed/convert.sh
  tests/distributed/run.sh
Due: copyright_checker

Fix
  tests/distributed/run_test.sh
Due: copyright_checker

optimize import transformer
  paconvert/base.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

optimize import transformer (#271)
  paconvert/base.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

Fix tests/distributed/convert.sh (#270)
  tests/distributed/run.sh
  tests/distributed/run_test.sh
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_profiler_schedule.py
  tests/test_sparse_softmax.py
Due: copyright_checker, check-json

Update README.md
  README.md
Due: none

optimize import transformer again
  Makefile
  README.md
  paconvert/api_alias_mapping.json
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  scripts/code_consistency_check.sh
  scripts/code_modeltest_check.sh
  scripts/run_ci.sh
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/import_analysis.py
  tests/code_library/code_case/torch_code/datasets/data.txt
  tests/code_library/code_case/torch_code/import_analysis.py
  tests/distributed/run_test.sh
  tests/requirements.txt
  tools/consistency/consistency_check.py
  tools/modeltest/modeltest_check.py
Due: copyright_checker, check-json

optimize import transformer again (#272)
  Makefile
  README.md
  paconvert/api_alias_mapping.json
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  scripts/code_consistency_check.sh
  scripts/code_modeltest_check.sh
  scripts/run_ci.sh
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/import_analysis.py
  tests/code_library/code_case/torch_code/datasets/data.txt
  tests/code_library/code_case/torch_code/import_analysis.py
  tests/distributed/run_test.sh
  tests/requirements.txt
  tools/consistency/consistency_check.py
  tools/modeltest/modeltest_check.py
Due: copyright_checker, check-json

Fix README.md (#274)
  README.md
Due: none

Fix
  paconvert/api_matcher.py
Due: copyright_checker

转换规则 No. 219/230 (#273)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_profiler_schedule.py
  tests/test_sparse_softmax.py
Due: copyright_checker, check-json

optimize visit_Name for import transformer
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker

转换规则 No. 153 (#181)
  paconvert/api_mapping.json
  tests/test_distributed_all_gather_object.py
Due: copyright_checker, check-json

optimize visit_Name for import transformer (#275)
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker

fix CI
  scripts/code_consistency_check.sh
  tools/consistency/consistency_check.py
  tools/modeltest/modeltest_check.py
Due: copyright_checker

fix CI (#276)
  scripts/code_consistency_check.sh
  tools/consistency/consistency_check.py
  tools/modeltest/modeltest_check.py
Due: copyright_checker

fix some bug
  README.md
  docs/Contribution.md
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

fix some bug (#277)
  README.md
  docs/Contribution.md
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

add test for torch.copysign
  tests/test_Tensor_copysign.py
Due: copyright_checker

add test for torch.dequantize
  tests/test_Tensor_dequantize.py
Due: copyright_checker

fix some bug
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_max_pool1d.py
  tests/test_nn_functional_max_pool2d.py
  tests/test_nn_functional_max_pool3d.py
Due: copyright_checker, check-json

fix some bug (#279)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_max_pool1d.py
  tests/test_nn_functional_max_pool2d.py
  tests/test_nn_functional_max_pool3d.py
Due: copyright_checker, check-json

fix many bug and optimize code
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/paddle_code/api_paddle_io_BatchSampler.py
  tests/test_Tensor_bernoulli_.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_logical_and.py
  tests/test_Tensor_logical_or.py
  tests/test_Tensor_logical_xor.py
  tests/test_Tensor_svd.py
  tests/test_Tensor_true_divide.py
  tests/test_Tensor_unique.py
  tests/test_arange.py
  tests/test_div.py
  tests/test_divide.py
  tests/test_logaddexp.py
  tests/test_logical_and.py
  tests/test_logical_or.py
  tests/test_logical_xor.py
  tests/test_logsumexp.py
  tests/test_mul.py
  tests/test_nn_functional_batch_norm.py
  tests/test_nn_functional_instance_norm.py
  tests/test_nn_functional_upsample_bilinear.py
  tests/test_special_logsumexp.py
  tests/test_trapezoid.py
  tests/test_true_divide.py
  tests/test_unique.py
  tests/test_utils_data_BatchSampler.py
  tests/test_utils_data_SequentialSampler.py
  tests/test_utils_data_random_split.py
Due: copyright_checker, check-json

fix many bug and optimize code (#280)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/paddle_code/api_paddle_io_BatchSampler.py
  tests/test_Tensor_bernoulli_.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_logical_and.py
  tests/test_Tensor_logical_or.py
  tests/test_Tensor_logical_xor.py
  tests/test_Tensor_svd.py
  tests/test_Tensor_true_divide.py
  tests/test_Tensor_unique.py
  tests/test_arange.py
  tests/test_div.py
  tests/test_divide.py
  tests/test_logaddexp.py
  tests/test_logical_and.py
  tests/test_logical_or.py
  tests/test_logical_xor.py
  tests/test_logsumexp.py
  tests/test_mul.py
  tests/test_nn_functional_batch_norm.py
  tests/test_nn_functional_instance_norm.py
  tests/test_nn_functional_upsample_bilinear.py
  tests/test_special_logsumexp.py
  tests/test_trapezoid.py
  tests/test_true_divide.py
  tests/test_unique.py
  tests/test_utils_data_BatchSampler.py
  tests/test_utils_data_SequentialSampler.py
  tests/test_utils_data_random_split.py
Due: copyright_checker, check-json

转换规则 No.77-78 (#278)
  tests/test_Tensor_copysign.py
  tests/test_Tensor_dequantize.py
Due: copyright_checker

fix attribute/torch.split/mark unsupport bug
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  tests/apibase.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/test_Tensor_add.py
  tests/test_Tensor_repeat.py
  tests/test_Tensor_reshape.py
  tests/test_Tensor_round.py
  tests/test_Tensor_take.py
  tests/test_Tensor_to.py
  tests/test_nn_functional__Reduction_get_enum.py
  tests/test_nn_modules_utils__ntuple.py
  tests/test_nn_modules_utils__pair.py
  tests/test_split.py
Due: copyright_checker, check-json

fix attribute/torch.split/mark unsupport bug (#281)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  tests/apibase.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/test_Tensor_add.py
  tests/test_Tensor_repeat.py
  tests/test_Tensor_reshape.py
  tests/test_Tensor_round.py
  tests/test_Tensor_take.py
  tests/test_Tensor_to.py
  tests/test_nn_functional__Reduction_get_enum.py
  tests/test_nn_modules_utils__ntuple.py
  tests/test_nn_modules_utils__pair.py
  tests/test_split.py
Due: copyright_checker, check-json

fix add/sub/mul/div matcher
  README.md
  docs/CONTRIBUTING.md
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_add.py
  tests/test_Tensor_add_.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_mul.py
  tests/test_Tensor_mul_.py
  tests/test_Tensor_multiply.py
  tests/test_Tensor_multiply_.py
  tests/test_Tensor_sub.py
  tests/test_Tensor_sub_.py
  tests/test_Tensor_subtract_.py
  tests/test_Tensor_true_divide.py
  tests/test_divide.py
  tests/test_mul.py
  tests/test_multiply.py
  tests/test_sub.py
  tests/test_true_divide.py
Due: copyright_checker, check-json

fix add/sub/mul/div matcher (#283)
  README.md
  docs/CONTRIBUTING.md
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_add.py
  tests/test_Tensor_add_.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_mul.py
  tests/test_Tensor_mul_.py
  tests/test_Tensor_multiply.py
  tests/test_Tensor_multiply_.py
  tests/test_Tensor_sub.py
  tests/test_Tensor_sub_.py
  tests/test_Tensor_subtract_.py
  tests/test_Tensor_true_divide.py
  tests/test_divide.py
  tests/test_mul.py
  tests/test_multiply.py
  tests/test_sub.py
  tests/test_true_divide.py
Due: copyright_checker, check-json

fix REAMDE
  README.md
Due: none

fix REAMDE (#289)
  README.md
Due: none

add check in GenericMatcher
  paconvert/api_matcher.py
Due: copyright_checker
