Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

add auto_build_docs tool based on validate_docs
  tools/validate_docs/auto_build_docs.py
Due: copyright_checker

Fix CI Bug
  paconvert/api_mapping.json
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
Due: copyright_checker, check-json

update some mapping items
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tools/validate_docs/auto_build_docs.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix_view
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
Due: copyright_checker, check-json

fix_outer
  paconvert/api_matcher.py
Due: copyright_checker

fix_size
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
Due: copyright_checker

fix_paddle_size
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
Due: copyright_checker

fix_outer
  tests/test_outer.py
Due: copyright_checker

fix_os_environ_get
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_os_environ_get.py
  tests/code_library/code_case/torch_code/api_torch_os_environ_get.py
Due: copyright_checker, check-json

fix_dtype
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
Due: copyright_checker, check-json

add_set_default_type
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

convert_llama
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add_tensor
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/torch_code/api_torch_tensor.py
Due: copyright_checker

add_test
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
Due: copyright_checker

update some api_mapping data (#362)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tools/validate_docs/auto_build_docs.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix CI bug
  paconvert/api_mapping.json
  tests/test_histogramdd.py
Due: copyright_checker, check-json

fix CI bug (#370)
  paconvert/api_mapping.json
  tests/test_histogramdd.py
Due: copyright_checker, check-json

add_test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
Due: copyright_checker, check-json

fix
  paconvert/transformer/import_transformer.py
Due: copyright_checker

fix
  paconvert/base.py
Due: copyright_checker

support MAY_TORCH_PACKAGE_LIST (#363)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
  paconvert/utils.py
Due: copyright_checker

FIX OUTER & SIZE & VIEW & SHAPE (#366)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/transformer/import_transformer.py
  paconvert/utils.py
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
  tests/test_outer.py
Due: copyright_checker, check-json

fix_set_default_tensor_type
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix_dtype (#367)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/api_torch_tensor.py
Due: copyright_checker, check-json

add_test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
  tests/test_inference_mode.py
Due: copyright_checker, check-json

fix_test
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
  tests/test_inference_mode.py
Due: copyright_checker, check-json

fix_test
  paconvert/api_mapping.json
Due: check-json

fix_test
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
Due: copyright_checker, check-json

add-note
  paconvert/api_matcher.py
Due: copyright_checker

convert_llama (#369)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
  tests/test_inference_mode.py
Due: copyright_checker, check-json

fix codestyle & support paddlenlp
  paconvert/base.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

fix_test
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
Due: copyright_checker

fix codestyle & support paddlenlp (#372)
  paconvert/base.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
Due: copyright_checker
