Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

torch.nn.functional.soft_margin_loss
  paconvert/api_mapping.json
  tests/test_nn_functional_soft_margin_loss.py
Due: copyright_checker, check-json

torch.nn.functional.multilabel_soft_margin_loss
  tests/test_nn_functional_multilabel_soft_margin_loss.py
Due: copyright_checker

torch.nn.functional.multilabel_soft_margin_loss
  paconvert/api_mapping.json
Due: check-json

torch.nn.functional.soft_margin_loss
  tests/test_nn_functional_soft_margin_loss.py
Due: copyright_checker

modify get_cuda_rng_state to get_rng_state
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_initial_seed.py
Due: copyright_checker

add torch.utils.data.RandomSampler
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_RandomSampler.py
Due: copyright_checker, check-json

规则转换 No.234/236/237
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_Subset.py
  tests/test_utils_data_TensorDataset.py
Due: copyright_checker, check-json

[convert] multilabel_soft_margin_loss (#123)
  paconvert/api_mapping.json
  tests/test_nn_functional_multilabel_soft_margin_loss.py
Due: copyright_checker, check-json

规则转换 No.234/236/237
  paconvert/api_matcher.py
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_Subset.py
  tests/test_utils_data_TensorDataset.py
Due: copyright_checker

Update README.md
  README.md
Due: none

Update README.md (#135)
  README.md
Due: none

add torch.clamp_min etc. (#105)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_autograd_grad.py
  tests/test_backends_cuda_is_built.py
  tests/test_backends_cudnn_is_available.py
  tests/test_cdist.py
  tests/test_clamp_min.py
  tests/test_initial_seed.py
  tests/test_nn_Module_add_module.py
  tests/test_nn_Module_register_buffer.py
  tests/test_nn_Module_register_forward_hook.py
  tests/test_nn_Module_register_forward_pre_hook.py
  tests/test_nn_Module_register_module.py
  tests/test_nn_Unflatten.py
  tests/test_nn_functional__Reduction_get_enum.py
  tests/test_nn_modules_utils__ntuple.py
  tests/test_nn_modules_utils__pair.py
  tests/test_sparse_sum.py
  tests/test_utils_cpp_extension_CUDA_HOME.py
Due: copyright_checker, check-json

Add api test cases (#125)
  tests/apibase.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_device_count.py
  tests/test_cuda_empty_cache.py
  tests/test_cuda_event.py
  tests/test_cuda_get_device_capability.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_manual_seed.py
  tests/test_cuda_max_memory_reserved.py
  tests/test_cuda_memory_allocated.py
  tests/test_cuda_memory_reserved.py
  tests/test_cuda_set_device.py
  tests/test_cuda_synchronize.py
  tests/test_fft_fft.py
  tests/test_fft_fft2.py
  tests/test_fft_fftn.py
  tests/test_fft_ifft.py
  tests/test_fft_ifft2.py
  tests/test_fft_ifftn.py
  tests/test_fft_irfft.py
  tests/test_fft_irfft2.py
  tests/test_fft_irfftn.py
  tests/test_fft_rfft.py
  tests/test_fft_rfft2.py
  tests/test_fft_rfftn.py
  tests/test_nn_GRUCell.py
  tests/test_nn_LSTMCell.py
  tests/test_nn_RNNCell.py
Due: copyright_checker

Fix torch.Tensor.atan2
  paconvert/api_mapping.json
Due: check-json

Add test cases (#126)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_cross.py
  tests/test_Tensor_cumsum.py
  tests/test_Tensor_detach.py
  tests/test_Tensor_diag_embed.py
  tests/test_Tensor_diagonal.py
  tests/test_Tensor_diff.py
  tests/test_Tensor_digamma.py
  tests/test_Tensor_dim.py
  tests/test_Tensor_dist.py
  tests/test_Tensor_dot.py
  tests/test_Tensor_element_size.py
  tests/test_Tensor_eq.py
  tests/test_Tensor_equal.py
  tests/test_Tensor_erf.py
  tests/test_Tensor_erfinv.py
  tests/test_Tensor_erfinv_.py
  tests/test_Tensor_exp.py
  tests/test_Tensor_exp_.py
  tests/test_Tensor_expand_as.py
  tests/test_Tensor_exponential_.py
  tests/test_Tensor_fill_.py
  tests/test_Tensor_fill_diagonal_.py
  tests/test_Tensor_fix.py
  tests/test_Tensor_flatten.py
  tests/test_Tensor_flip.py
  tests/test_Tensor_floor.py
  tests/test_Tensor_floor_divide.py
  tests/test_Tensor_fmax.py
  tests/test_Tensor_fmin.py
  tests/test_Tensor_fmod.py
  tests/test_Tensor_frac.py
  tests/test_Tensor_gather.py
  tests/test_Tensor_gcd.py
  tests/test_Tensor_ge.py
  tests/test_Tensor_greater_equal.py
  tests/test_Tensor_logcumsumexp.py
  tests/test_Tensor_ndimension.py
Due: copyright_checker, check-json

add torch.utils.data.RandomSampler (#102)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_RandomSampler.py
Due: copyright_checker, check-json

torch.nn.functional.multi_margin_loss
  paconvert/api_mapping.json
Due: check-json

torch.nn.functional.multi_margin_loss
  tests/test_nn_functional_multi_margin_loss.py
Due: copyright_checker

threshold
  paconvert/api_mapping.json
Due: check-json

add size_average
  paconvert/api_mapping.json
Due: check-json

add size_average
  tests/test_nn_functional_cosine_embedding_loss.py
  tests/test_nn_functional_hinge_embedding_loss.py
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker

add size_average
  tests/test_nn_functional_multi_margin_loss.py
Due: copyright_checker

Add test case 6-27
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_ger.py
  tests/test_Tensor_get_device.py
  tests/test_Tensor_greater.py
  tests/test_Tensor_gt.py
  tests/test_Tensor_heaviside.py
  tests/test_Tensor_index_select.py
  tests/test_Tensor_inner.py
  tests/test_Tensor_inverse.py
  tests/test_Tensor_is_complex.py
  tests/test_Tensor_is_floating_point.py
  tests/test_Tensor_isclose.py
  tests/test_Tensor_isfinite.py
  tests/test_Tensor_isinf.py
  tests/test_Tensor_isnan.py
  tests/test_Tensor_kthvalue.py
  tests/test_Tensor_lcm.py
  tests/test_Tensor_le.py
  tests/test_Tensor_lerp.py
  tests/test_Tensor_lerp_.py
  tests/test_Tensor_less.py
  tests/test_Tensor_less_equal.py
  tests/test_Tensor_lgamma.py
  tests/test_Tensor_log.py
  tests/test_Tensor_log10.py
  tests/test_Tensor_log2.py
  tests/test_Tensor_logical_and.py
  tests/test_Tensor_logical_not.py
  tests/test_Tensor_logical_or.py
  tests/test_Tensor_logical_xor.py
  tests/test_Tensor_logit.py
  tests/test_Tensor_logsumexp.py
  tests/test_Tensor_lt.py
Due: copyright_checker, check-json

Fix bugs
  tests/test_Tensor_get_device.py
  tests/test_Tensor_logsumexp.py
Due: copyright_checker

Fix bugs
  paconvert/api_mapping.json
  tests/test_Tensor_heaviside.py
Due: copyright_checker, check-json

Fix bugs
  tests/test_Tensor_logsumexp.py
Due: copyright_checker

规则转换 No.16/17/18.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_vander.py
Due: copyright_checker, check-json

增加cummin，searchsorted转换测试。
  tests/test_cummin.py
  tests/test_searchsorted.py
Due: copyright_checker

fix error
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cummin.py
  tests/test_searchsorted.py
Due: copyright_checker, check-json

fix bug in README.md
  README.md
Due: none

fix bug in README.md (#143)
  README.md
Due: none

Fix bugs
  paconvert/api_matcher.py
Due: copyright_checker

[bug] fix some bug
  paconvert/api_matcher.py
Due: copyright_checker

[bug] fix api matcher bias=False bug (#138)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm2D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_InstanceNorm3D.py
  tests/test_batchnorm1d.py
  tests/test_batchnorm2d.py
  tests/test_batchnorm3d.py
  tests/test_nn_GRUCell.py
  tests/test_nn_InstanceNorm1d.py
  tests/test_nn_InstanceNorm2d.py
  tests/test_nn_LSTMCell.py
  tests/test_nn_RNNCell.py
Due: copyright_checker, check-json

[bug] fix some bug (#146)
  paconvert/api_matcher.py
Due: copyright_checker

add api test case
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_NLLLoss.py
  tests/test_Tensor_bfloat16
  tests/test_Tensor_bool.py
  tests/test_Tensor_byte.py
  tests/test_Tensor_cdouble.py
  tests/test_Tensor_cfloat.py
  tests/test_Tensor_char.py
  tests/test_Tensor_contiguous.py
  tests/test_Tensor_cpu.py
  tests/test_Tensor_cuda.py
  tests/test_Tensor_cumprod.py
  tests/test_Tensor_diagflat.py
  tests/test_Tensor_double.py
  tests/test_Tensor_float.py
  tests/test_Tensor_half.py
  tests/test_Tensor_int.py
  tests/test_Tensor_long.py
  tests/test_Tensor_short.py
  tests/test_coalesce.py
  tests/test_frexp.py
  tests/test_full.py
  tests/test_indices.py
  tests/test_ones.py
  tests/test_rand.py
  tests/test_randn.py
  tests/test_sparse_resize_and_clear_.py
  tests/test_to_dense.py
  tests/test_values.py
  tests/test_zeros.py
Due: copyright_checker, check-json

转换规则 No. 20 add `torch.lu` matcher (#124)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_lu.py
Due: copyright_checker, check-json
