Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

Update test_Tensor_index_copy_.py
  tests/test_Tensor_index_copy_.py
Due: copyright_checker

Add test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_index_copy.py
Due: copyright_checker, check-json

fix
  tests/test_device_cuda_stream_guard.py
Due: copyright_checker

split one Matcher to two Matchers
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
Due: check-json

refactor the LrSchedulerMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_ConstantLR.py
Due: copyright_checker, check-json

reformat
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

initializer demo
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_constant.py
Due: copyright_checker, check-json

lr_scheduler demo (#252)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker, check-json

initializer demo (#261)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_constant.py
Due: copyright_checker, check-json

转换规则No64 torch.nn.functional.max_pool1d (#120)
  paconvert/api_mapping.json
  tests/test_nn_functional_max_pool1d.py
Due: copyright_checker, check-json

转换规则 No. 302 (#236)
  paconvert/api_mapping.json
  tests/test_sparse_csr_tensor.py
Due: copyright_checker, check-json

转换规则 No. 304/306/308/327-329/332/351/363/365/369/371 (#241)
  tests/test_Tensor_bitwise_left_shift_.py
  tests/test_Tensor_bitwise_right_shift_.py
  tests/test_Tensor_retains_grad.py
  tests/test_autograd_Function_jvp.py
  tests/test_distributed_monitored_barrier.py
  tests/test_layout.py
  tests/test_nn_utils_stateless_functional_call.py
  tests/test_resolve_conj.py
  tests/test_sparse_sampled_addmm.py
  tests/test_special_multigammaln.py
  tests/test_testing_make_tensor.py
  tests/test_utils_data_default_convert.py
Due: copyright_checker

转换规则 No.307/372 (#246)
  paconvert/api_mapping.json
  tests/test_autocast.py
  tests/test_cpu_amp_autocast.py
Due: copyright_checker, check-json

转换规则 No.368/374/377 (#254)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_CatTransform.py
  tests/test_linalg_lu.py
  tests/test_nn_Dropout1d.py
Due: copyright_checker, check-json

转换规则 No.235/239 (#258)
  paconvert/api_mapping.json
  tests/test_utils_data_ConcatDataset.py
  tests/test_utils_data_get_worker_info.py
Due: copyright_checker, check-json

转换规则 No.367 (#260)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_index_copy.py
Due: copyright_checker, check-json

转换规则 No.228/229 (#248)
  paconvert/api_mapping.json
  tests/test_sparse_addmm.py
  tests/test_sparse_mm.py
Due: copyright_checker, check-json

Add test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_linalg_solve_triangular.py
Due: copyright_checker, check-json

Apply suggestions from code review
  tests/test_nn_functional_threshold.py
Due: copyright_checker

Update test_nn_functional_threshold.py
  tests/test_nn_functional_threshold.py
Due: copyright_checker

转换规则 No.359 (#257)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_linalg_solve_triangular.py
Due: copyright_checker, check-json

Update test_Tensor_index_copy_.py (#259)
  tests/test_Tensor_index_copy_.py
Due: copyright_checker

转换规则 torch.nn.parallel.DistributedDataParallel (#240)
  paconvert/api_mapping.json
  tests/test_nn_parallel_DistributedDataParallel.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_resize_as_.py
  tests/test_Tensor_round_.py
  tests/test_Tensor_scatter_add.py
  tests/test_nn_Threshold.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_linalg_lu_factor.py
  tests/test_linalg_lu_factor_ex.py
Due: copyright_checker, check-json

Fix
  paconvert/api_matcher.py
Due: copyright_checker

fix
  tests/test_distributed_all_gather_object.py
Due: copyright_checker

fix triplet_margin_with_distance_loss unittest to check value
  README.md
  tests/test_nn_functional_triplet_margin_with_distance_loss.py
Due: copyright_checker

fix triplet_margin_with_distance_loss unittest to check value (#264)
  README.md
  tests/test_nn_functional_triplet_margin_with_distance_loss.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/all_to_all.py
  tests/distributed/common.py
  tests/distributed/convert.sh
  tests/distributed/reduce_scatter.py
  tests/distributed/run.sh
  tests/distributed/scatter.py
  tests/distributed/scatter_object_list.py
Due: copyright_checker, check-json

转换规则 No.43/97/98/100 (#263)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_resize_as_.py
  tests/test_Tensor_round_.py
  tests/test_Tensor_scatter_add.py
  tests/test_nn_Threshold.py
Due: copyright_checker, check-json

转换规则 No.358/361 (#256)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_linalg_lu_factor.py
  tests/test_linalg_lu_factor_ex.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Fix
  tests/distributed/run.sh
Due: copyright_checker

Fix lu_factor_ex
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_linalg_lu_factor_ex.py
Due: copyright_checker, check-json

转换规则No66-70 torch.nn.functional.pairwise_distance (#118)
  paconvert/api_mapping.json
  tests/test_nn_functional_cosine_embedding_loss.py
  tests/test_nn_functional_gumbel_softmax.py
  tests/test_nn_functional_hinge_embedding_loss.py
  tests/test_nn_functional_pairwise_distance.py
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker, check-json
