Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix bug
  paconvert/global_var.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker

update
  tests/test_jit_save.py
Due: copyright_checker

[API Compatibility] Add paddle.Tensor.norm, paddle.as_tensor and paddle.[dtype]Tensor (#662)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
  tests/code_library/code_case/paddle_code/api_remove_decorator.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/type_hinting.py
  tests/test_CharTensor.py
  tests/test_Tensor_norm.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker

fix codestyle
  tests/test_broadcast_shapes.py
Due: copyright_checker

fix accuracy
  tests/test_nn_GELU.py
Due: copyright_checker

change Conv2D to Conv2d
  tests/code_library/code_case/paddle_code/attribute_setattr.py
Due: none

update nn.Conv1/2/3d, nn.Embedding
  paconvert/global_var.py
  tests/test_nn_Conv1d.py
  tests/test_nn_Conv2d.py
  tests/test_nn_Conv3d.py
  tests/test_nn_Embedding.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/attribute_setattr.py
Due: none

support paddle.Tensor
  paconvert/global_var.py
Due: copyright_checker

feat(C Sink API)
  paconvert/global_var.py
Due: copyright_checker

update nn.Conv1/2/3d, nn.Embedding (#660)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/attribute_setattr.py
  tests/test_nn_Conv1d.py
  tests/test_nn_Conv2d.py
  tests/test_nn_Conv3d.py
  tests/test_nn_Embedding.py
Due: copyright_checker

add max amin
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] add msort, ravel, scatter_add, scatter_add_, tril, triu, bmm, nn.GELU, broadcast_shapes (#656)
  paconvert/global_var.py
  tests/test_Tensor_bmm.py
  tests/test_Tensor_ravel.py
  tests/test_Tensor_scatter_add.py
  tests/test_Tensor_scatter_add_.py
  tests/test_Tensor_tril.py
  tests/test_Tensor_triu.py
  tests/test_broadcast_shapes.py
  tests/test_nn_GELU.py
Due: copyright_checker

add matmul and multiply
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility]add Parameter,add,div,divide,true_divide,Tensor.ad… (#639)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
  tests/test_Tensor_add.py
  tests/test_Tensor_add_.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_true_divide.py
  tests/test_add.py
  tests/test_div.py
  tests/test_divide.py
  tests/test_jit_save.py
  tests/test_true_divide.py
Due: copyright_checker

[API Compatibility] Add max amin (#665)
  paconvert/global_var.py
Due: copyright_checker

add flatten、roll
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add C Sink API expand_as, logsumexp, argmax, argmin, all (#664)
  paconvert/global_var.py
Due: copyright_checker

Add 33 apis
  paconvert/api_alias_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_mul_.py
  tests/test_get_autocast_gpu_dtype.py
  tests/test_gt.py
  tests/test_is_autocast_enabled.py
  tests/test_mul.py
Due: copyright_checker, check-json

fix codestyle
  paconvert/global_var.py
Due: copyright_checker

Remove Chinese
  tests/test_is_autocast_enabled.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_expand.py
Due: none

[API Compatibility] add index_select, logical_* (#657)
  paconvert/global_var.py
Due: copyright_checker

no need special, Tensor, torch.softmax
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

Use pytest.skipif to skip amp api test on unsupported hardware
  tests/test_get_autocast_gpu_dtype.py
  tests/test_is_autocast_enabled.py
Due: copyright_checker

add paddle.norm and paddle.linalg.norm
  paconvert/global_var.py
  tests/test_norm.py
Due: copyright_checker

Comment multiply
  paconvert/api_alias_mapping.json
  paconvert/global_var.py
  tests/test_multiply.py
Due: copyright_checker, check-json

run pre-commit-check
  tests/test_Tensor_normal_.py
Due: copyright_checker

convert
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
Due: none

Refine
  tests/test_greater.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/api_torch_Tensor_expand.py
Due: none

fix
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_expand.py
  tests/code_library/code_case/paddle_code/api_torch_Tensor_expand.py
Due: none

add paddle.long
  paconvert/attribute_mapping.json
Due: check-json

Remove branch
  tests/test_get_autocast_gpu_dtype.py
  tests/test_is_autocast_enabled.py
Due: copyright_checker

add some no need convert
  paconvert/api_matcher.py
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
Due: copyright_checker

add some api no need convert
  paconvert/global_var.py
Due: copyright_checker

fix consistency test
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
Due: none

fix consistency
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py.py
Due: none

add test
  tests/test_median.py
  tests/test_nanmedian.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
