Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix docs api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_copysign.py
  tests/test_cuda_device.py
  tests/test_distributed_get_world_size.py
  tests/test_dstack.py
  tests/test_nn_FractionalMaxPool2d.py
  tests/test_nn_FractionalMaxPool3d.py
  tests/test_nn_GLU.py
  tests/test_nn_Threshold.py
  tests/test_nn_functional_feature_alpha_dropout.py
  tests/test_optim_ASGD.py
  tests/test_optim_Rprop.py
Due: copyright_checker, check-json

fix docs api
  tests/test_optim_ASGD.py
  tests/test_optim_Rprop.py
Due: copyright_checker

fix docs api
  paconvert/api_matcher.py
Due: copyright_checker

resolve conflicts
  paconvert/api_matcher.py
Due: copyright_checker

fix bugs
  tests/test_distributed_get_world_size.py
  tests/test_optim_ASGD.py
Due: copyright_checker

paddle.linalg.det and paddle.linalg.slogdet support complex 易用性提升 (#499)
  paconvert/api_matcher.py
  tests/test_Tensor_det.py
  tests/test_Tensor_logdet.py
  tests/test_Tensor_slogdet.py
  tests/test_det.py
  tests/test_linalg_det.py
  tests/test_linalg_slogdet.py
  tests/test_logdet.py
  tests/test_slogdet.py
Due: copyright_checker

fix bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_copysign.py
Due: copyright_checker, check-json

fix bugs
  paconvert/api_matcher.py
Due: copyright_checker

fix bugs
  paconvert/api_mapping.json
  tests/apibase.py
Due: copyright_checker, check-json

update Softmin
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix bugs
  tests/test_is_tensor.py
Due: copyright_checker

fix bugs
  tests/test_is_tensor.py
  tests/test_set_default_dtype.py
Due: copyright_checker

fix bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_bitwise_left_shift.py
  tests/test_bitwise_right_shift.py
  tests/test_distributed_optim_DistributedOptimizer.py
  tests/test_distributed_rpc_remote.py
  tests/test_distributions_chi2_Chi2.py
  tests/test_distributions_constraints_Constraint.py
  tests/test_distributions_gamma_Gamma.py
  tests/test_distributions_lkj_cholesky_LKJCholesky.py
  tests/test_distributions_poisson_Poisson.py
  tests/test_distributions_studentT_StudentT.py
  tests/test_distributions_transforms_PositiveDefiniteTransform.py
  tests/test_is_inference.py
Due: copyright_checker, check-json

fix bugs
  tests/test_linalg_cholesky_ex.py
Due: copyright_checker

fix bugs
  tests/test_set_default_tensor_type.py
Due: copyright_checker

upgrade pytorch when pip install
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/distributed/run_test.sh
  tools/docker/Dockerfile
Due: copyright_checker

upgrade pytorch when pip install (#501)
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/distributed/run_test.sh
  tools/docker/Dockerfile
Due: copyright_checker

echo torch version
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

echo pytorch version (#502)
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

fix bugs
  tests/apibase.py
Due: copyright_checker

fix bugs
  tests/test_is_tensor.py
  tests/test_linalg_cholesky_ex.py
  tests/test_set_default_dtype.py
  tests/test_sparse_csr_tensor.py
Due: copyright_checker

fix bugs
  tools/docker/Dockerfile
Due: none

fix bugs
  paconvert/api_mapping.json
  tests/apibase.py
  tests/test_linalg_qr.py
  tests/test_lu_unpack.py
  tests/test_pi.py
Due: copyright_checker, check-json

fix bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_device.py
  tests/test_is_tensor.py
  tests/test_set_default_dtype.py
  tests/test_set_default_tensor_type.py
  tests/test_sparse_csr_tensor.py
Due: copyright_checker, check-json

add second batch of torchvision conversion rules and test cases
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/torchvision_tests/test_Cifar100.py
  tests/torchvision_tests/test_ColorJitter.py
  tests/torchvision_tests/test_DeformConv2d.py
  tests/torchvision_tests/test_FashionMNIST.py
  tests/torchvision_tests/test_Flowers102.py
  tests/torchvision_tests/test_RoIAlign.py
  tests/torchvision_tests/test_RoIPool.py
  tests/torchvision_tests/test_VOCDetection.py
  tests/torchvision_tests/test_decode_jpeg.py
  tests/torchvision_tests/test_deform_conv2d.py
  tests/torchvision_tests/test_nms.py
  tests/torchvision_tests/test_ps_roi_pool.py
  tests/torchvision_tests/test_read_file.py
  tests/torchvision_tests/test_roi_align.py
  tests/torchvision_tests/test_roi_pool.py
  tests/torchvision_tests/test_rotate.py
Due: copyright_checker, check-json

Update Dockerfile
  tools/docker/Dockerfile
Due: none

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
