Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

remove is_aux_api
  tests/test_nn_functional_log_softmax.py
  tests/test_nn_functional_softmin.py
Due: copyright_checker

add thread lock and clear map in UtilsFileHelper
  paconvert/utils.py
Due: copyright_checker

remove clear code_map
  paconvert/utils.py
Due: copyright_checker

auto gen tests of enums
  tests/torchvision_tests/test_enums.py
Due: copyright_checker

fix testcase
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_Tensor_itemsize.py
  tests/test_nn_ParameterDict.py
  tests/test_stft.py
  tests/torch_cuda_comm_broadcast.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update testcase
  tests/torch_cuda_comm_broadcast.py
Due: copyright_checker

update json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
Due: copyright_checker, check-json

update testcase
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
Due: copyright_checker

add missing unittest (#539)
  tests/torchvision_tests/test_affine.py
  tests/torchvision_tests/test_enums.py
  tests/torchvision_tests/test_resize.py
  tests/torchvision_tests/test_rotate.py
Due: copyright_checker

update json and testcase
  paconvert/api_mapping.json
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
Due: copyright_checker, check-json

update json
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
Due: copyright_checker

disable autoflake's remove_all_unused_imports temporarily
  paconvert/converter.py
  tests/torchvision_tests/test_enums.py
Due: copyright_checker

update json
  paconvert/api_mapping.json
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
Due: copyright_checker, check-json

update testcase
  tests/test_nn_functional_fractional_max_pool2d.py
  tests/test_nn_functional_fractional_max_pool3d.py
  tests/torch_cuda_comm_broadcast.py
Due: copyright_checker

fix codestyle
  tests/torch_cuda_comm_broadcast.py
Due: copyright_checker

change port
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
Due: copyright_checker

缺失Matcher及映射规则补充 (#537)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_itemsize.py
  tests/test_Tensor_stft.py
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_nn_CTCLoss.py
  tests/test_nn_ParameterDict.py
  tests/test_nn_functional_ctc_loss.py
  tests/test_nn_functional_fractional_max_pool2d.py
  tests/test_nn_functional_fractional_max_pool3d.py
  tests/torch_cuda_comm_broadcast.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix typo
  docs/CONTRIBUTING.md
Due: none

split MaxMinMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

chore
  paconvert/api_matcher.py
Due: copyright_checker

add tests
  tests/torchvision_tests/test_VOCDetection.py
Due: copyright_checker

remove blank lines
  paconvert/api_matcher.py
Due: copyright_checker

split softmaxMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker, check-json

辅助函数最小化 (#540)
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker, check-json

remove extra empty line and autoflak
  paconvert/api_matcher.py
  paconvert/converter.py
  paconvert/utils.py
  requirements.txt
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/torchvision_tests/test_VOCDetection.py
Due: copyright_checker

remove extra empty line and autoflake (#543)
  paconvert/api_matcher.py
  paconvert/converter.py
  paconvert/utils.py
  requirements.txt
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/torchvision_tests/test_VOCDetection.py
Due: copyright_checker

update Matcher and testcase
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_addcmul_.py
  tests/test_cuda_current_device.py
  tests/test_cuda_reset_max_memory_allocated.py
  tests/test_nn_DataParallel.py
  tests/test_onnx_export.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

delete extra empty line
  paconvert/api_matcher.py
Due: copyright_checker

update latest version of Matcher
  paconvert/api_matcher.py
Due: copyright_checker

update latest version of mapping
  paconvert/api_mapping.json
Due: check-json

update rpc test
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
Due: copyright_checker

update missing unittest
  tests/test_einsum.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update missing unittest
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

fix codestyle
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker
