Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

test new no_need_convert from docs_mapping (#687)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker

[API compatibility] is_floating_point, is_tensor, isin
  paconvert/global_var.py
Due: copyright_checker

Update README.md
  README.md
Due: none

Update README.md (#693)
  README.md
Due: none

fix
  paconvert/api_matcher.py
  paconvert/converter.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/package_visit_name.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker

fix
  docs/TypicalCase_Llama.md
  docs/TypicalCase_Qwen.md
  tests/code_library/code_case/paddle_code/package_visit_name.py
  tests/test_add_start_docstrings_to_model_forward.py
Due: copyright_checker

add test for magic api
  paconvert/global_var.py
  tests/test_Tensor___and__.py
  tests/test_Tensor___array__.py
  tests/test_Tensor___bool__.py
  tests/test_Tensor___eq__.py
  tests/test_Tensor___format__.py
  tests/test_Tensor___getitem__.py
  tests/test_Tensor___index__.py
  tests/test_Tensor___invert__.py
  tests/test_Tensor___len__.py
  tests/test_Tensor___or__.py
  tests/test_Tensor___rpow__.py
  tests/test_Tensor___rsub__.py
  tests/test_Tensor___rtruediv__.py
  tests/test_Tensor___setitem__.py
Due: copyright_checker

fix
  tests/code_library/code_case/torch_code/mark_unsupport.py
Due: none

fix format
  tests/test_Tensor___and__.py
  tests/test_Tensor___array__.py
  tests/test_Tensor___bool__.py
Due: copyright_checker

fix test
  tests/test_Tensor___and__.py
  tests/test_Tensor___array__.py
  tests/test_Tensor___getitem__.py
  tests/test_Tensor___index__.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

fix test format
  tests/test_Tensor___and__.py
Due: copyright_checker

[API compatibility] torch.nn.functional.one_hot
  paconvert/global_var.py
  tests/test_nn_functional_one_hot.py
Due: copyright_checker

Replace paddlenlp with paddleformers (#689)
  docs/TypicalCase_Llama.md
  docs/TypicalCase_Qwen.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/converter.py
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/code_library/code_case/paddle_code/package_visit_name.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/mark_unsupport.py
  tests/test_add_start_docstrings_to_model_forward.py
Due: copyright_checker, check-json

[API-Compat] CPU does not support fp16
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_scatter.py
Due: copyright_checker

fix test
  tests/apibase.py
  tests/test_Tensor___and__.py
  tests/test_Tensor___array__.py
  tests/test_Tensor___format__.py
  tests/test_Tensor___index__.py
  tests/test_Tensor___or__.py
  tests/test_Tensor___setitem__.py
Due: copyright_checker

fix and
  tests/test_Tensor___and__.py
Due: copyright_checker

[API compatibility] torch.nn.functional.one_hot (#695)
  paconvert/global_var.py
  tests/test_nn_functional_one_hot.py
Due: copyright_checker

[API-Compat] paddle.scatter, Tensor.scatter, Tensor.scatter_ (#690)
  paconvert/global_var.py
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_scatter.py
Due: copyright_checker

modify ndarray compare && assert format output type
  tests/apibase.py
  tests/test_Tensor___format__.py
Due: copyright_checker

modify ndarray compare && assert format output type
  tests/test_Tensor___format__.py
Due: copyright_checker

add test for magic api (#694)
  paconvert/global_var.py
  tests/apibase.py
  tests/test_Tensor___and__.py
  tests/test_Tensor___array__.py
  tests/test_Tensor___bool__.py
  tests/test_Tensor___eq__.py
  tests/test_Tensor___format__.py
  tests/test_Tensor___getitem__.py
  tests/test_Tensor___index__.py
  tests/test_Tensor___invert__.py
  tests/test_Tensor___len__.py
  tests/test_Tensor___or__.py
  tests/test_Tensor___rpow__.py
  tests/test_Tensor___rsub__.py
  tests/test_Tensor___rtruediv__.py
  tests/test_Tensor___setitem__.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

[API-Compat] paddle.compat.pad conversion rules and tests
  paconvert/api_mapping.json
  tests/test_nn_functional_pad.py
Due: copyright_checker, check-json

Update global_var.py
  paconvert/global_var.py
Due: copyright_checker

[API-Compat] paddle.gather conversion tested and revised (#696)
  paconvert/global_var.py
  tests/test_gather.py
Due: copyright_checker

Fix GPU CI
  paconvert/global_var.py
  scripts/unittest_check_gpu.sh
  tests/test_Tensor_nelement.py
  tests/test_Tensor_numel.py
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_gather.py
  tests/test_get_autocast_gpu_dtype.py
  tests/test_numel.py
  tests/test_scatter.py
  tests/test_tensor_split.py
Due: copyright_checker

Fix GPU CI (#698)
  paconvert/global_var.py
  scripts/unittest_check_gpu.sh
  tests/test_Tensor_nelement.py
  tests/test_Tensor_numel.py
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_gather.py
  tests/test_get_autocast_gpu_dtype.py
  tests/test_numel.py
  tests/test_scatter.py
  tests/test_tensor_split.py
Due: copyright_checker

[Test] Test GPU Unittests for `scatter`/`gather`
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_gather.py
  tests/test_scatter.py
Due: copyright_checker

Update api_mapping.json with ChangeAPIMatcher
  paconvert/api_mapping.json
Due: check-json

add some API to NO_NEED_CONVERT
  paconvert/global_var.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_to.py
  tests/test_get_autocast_gpu_dtype.py
  tests/test_torch_int32.py
Due: copyright_checker

add some API to NO_NEED_CONVERT (#700)
  paconvert/global_var.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_to.py
  tests/test_get_autocast_gpu_dtype.py
  tests/test_torch_int32.py
Due: copyright_checker

测试前两类API
  paconvert/api_mapping.json
Due: check-json

add some API to NO_NEED_CONVERT
  paconvert/global_var.py
  tests/test_Tensor_mul.py
  tests/test_Tensor_multiply.py
  tests/test_Tensor_multiply_.py
  tests/test_is_tensor.py
Due: copyright_checker

add some API to NO_NEED_CONVERT (#703)
  paconvert/global_var.py
  tests/test_Tensor_mul.py
  tests/test_Tensor_multiply.py
  tests/test_Tensor_multiply_.py
  tests/test_is_tensor.py
Due: copyright_checker

只修改changeAPI类别
  paconvert/api_mapping.json
Due: check-json

恢复TensorFunc2PaddleFunc api
  paconvert/api_mapping.json
Due: check-json

Update CI torch version
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tools/docker/Dockerfile
Due: copyright_checker

update
  paconvert/global_var.py
  tests/test_functional_split.py
  tests/test_functional_unique_consecutive.py
Due: copyright_checker

update functional test
  paconvert/api_alias_mapping.json
  paconvert/global_var.py
  tests/test_functional_atleast_1d.py
  tests/test_functional_atleast_2d.py
  tests/test_functional_atleast_3d.py
  tests/test_functional_block_diag.py
  tests/test_functional_broadcast_shapes.py
  tests/test_functional_broadcast_tensors.py
  tests/test_functional_cartesian_prod.py
  tests/test_functional_cdist.py
  tests/test_functional_einsum.py
  tests/test_functional_istft.py
  tests/test_functional_lu.py
  tests/test_functional_meshgrid.py
  tests/test_functional_norm.py
  tests/test_functional_stft.py
  tests/test_functional_tensordot.py
  tests/test_functional_unique.py
Due: copyright_checker, check-json

add paddle.cuda.cudart()
  paconvert/api_mapping.json
  tests/test_cuda_cudart.py
Due: copyright_checker, check-json
