Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

[API Compatibility] enhance __getitem__ tests -part (#884)
  tests/test_Tensor___getitem__.py
Due: copyright_checker

[API Compatibility] enhance __version__ tests -part (#883)
  tests/test___version__.py
Due: copyright_checker

[API Compatibility] align torch.cuda.OutOfMemoryError -part (#877)
  paconvert/api_mapping.json
  tests/test_cuda_CudaError.py
  tests/test_cuda_OutOfMemoryError.py
Due: copyright_checker, check-json

[API Compatibility] add torch.cuda.CUDAGraph -part (#881)
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] change prefix match for torch.dtype.itemsize -part (#880)
  paconvert/attribute_mapping.json
  tests/test_dtype_itemsize.py
Due: copyright_checker, check-json

[API Compatibility] enhance the tests for loss apis -part (#874)
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/test_nn_BCELoss.py
  tests/test_nn_CosineEmbeddingLoss.py
  tests/test_nn_GaussianNLLLoss.py
  tests/test_nn_HingeEmbeddingLoss.py
  tests/test_nn_L1Loss.py
  tests/test_nn_MSELoss.py
  tests/test_nn_MarginRankingLoss.py
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_MultiLabelSoftMarginLoss.py
  tests/test_nn_MultiMarginLoss.py
  tests/test_nn_NLLLoss.py
  tests/test_nn_PoissonNLLLoss.py
  tests/test_nn_SoftMarginLoss.py
  tests/test_nn_TripletMarginLoss.py
  tests/test_nn_functional_gaussian_nll_loss.py
  tests/test_nn_functional_triplet_margin_with_distance_loss.py
Due: copyright_checker, check-json

[API Compatibility] add torch.randint -part (#801)
  paconvert/api_mapping.json
  tests/test_randint.py
Due: copyright_checker, check-json

[API Compatibility] add test for torch.cuda.CUDAGraph (#881)
  tests/test_cuda_CUDAGraph.py
Due: copyright_checker

[API Compatibility] regenerate randint consistency golden (#801)
  tests/code_library/code_case/paddle_code/api_paddle_randint.py
Due: none

skip CUDAGraph for now
  tests/test_cuda_CUDAGraph.py
Due: copyright_checker

resolved problem, enable CUDAGraph tests
  tests/test_cuda_CUDAGraph.py
Due: copyright_checker

[API Compatibility] 19 apis (#893)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/code_library/code_case/minmode_code_case/diff/combine.txt
  tests/test_Tensor_backward.py
  tests/test_Tensor_nanmean.py
  tests/test_nn_init_sparse_.py
Due: copyright_checker, check-json

[API Compatibility] make bypassed tests really execute, drop CudaError mapping
  paconvert/api_mapping.json
  tests/test_cuda_CUDAGraph.py
  tests/test_cuda_CudaError.py
  tests/test_cuda_OutOfMemoryError.py
  tests/test_dtype_itemsize.py
Due: copyright_checker, check-json

[CI] isolate test_cuda_CUDAGraph.py in GPU unittest run
  scripts/ci/run_gpu_unittest.sh
Due: copyright_checker

[API Compatibility] inject enable_compat(level=2) so prefix-converted calls hit the alias
  paconvert/transformer/import_transformer.py
Due: copyright_checker

Combine 8 PR (#899)
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  scripts/ci/run_gpu_unittest.sh
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_randint.py
  tests/test_Tensor___getitem__.py
  tests/test___version__.py
  tests/test_cuda_CUDAGraph.py
  tests/test_cuda_OutOfMemoryError.py
  tests/test_dtype_itemsize.py
  tests/test_nn_BCELoss.py
  tests/test_nn_CosineEmbeddingLoss.py
  tests/test_nn_GaussianNLLLoss.py
  tests/test_nn_HingeEmbeddingLoss.py
  tests/test_nn_L1Loss.py
  tests/test_nn_MSELoss.py
  tests/test_nn_MarginRankingLoss.py
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_MultiLabelSoftMarginLoss.py
  tests/test_nn_MultiMarginLoss.py
  tests/test_nn_NLLLoss.py
  tests/test_nn_PoissonNLLLoss.py
  tests/test_nn_SmoothL1Loss.py
  tests/test_nn_SoftMarginLoss.py
  tests/test_nn_TripletMarginLoss.py
  tests/test_nn_functional_gaussian_nll_loss.py
  tests/test_nn_functional_smooth_l1_loss.py
  tests/test_nn_functional_triplet_margin_with_distance_loss.py
  tests/test_randint.py
Due: copyright_checker, check-json

move back to api_mapping
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
Due: copyright_checker, check-json

[API Compatibility] update test for Optimizer.step() (#894)
  paconvert/api_mapping.json
  paconvert/base.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

update all apis that can be changed to
  paconvert/api_mapping.json
  tests/test_Tensor_aminmax.py
  tests/test_Tensor_index_copy_.py
  tests/test_Tensor_reshape_as.py
  tests/test_Tensor_transpose_.py
  tests/test_Tensor_unique.py
  tests/test_distributions_Distribution.py
  tests/test_distributions_multivariate_normal_MultivariateNormal.py
  tests/test_inference_mode.py
  tests/test_nn_Hardswish.py
  tests/test_nn_ReLU6.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_relu.py
  tests/test_special_erf.py
  tests/test_special_sinc.py
  tests/test_unique.py
Due: copyright_checker, check-json

code consistency fix
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/test_onnx_export.py
Due: copyright_checker

ci: route GPU jobs to gpu runner, CPU jobs to cpu runner via labels
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

ci: route GPU jobs to gpu runner, CPU jobs to cpu runner via labels (#901)
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

[API Compatibility] update and enhanced all apis that can be aligned to use `ChangePrefixMatcher` Edit by AI Agent (#900)
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/test_Tensor_aminmax.py
  tests/test_Tensor_index_copy_.py
  tests/test_Tensor_reshape_as.py
  tests/test_Tensor_transpose_.py
  tests/test_Tensor_unique.py
  tests/test_distributions_Distribution.py
  tests/test_distributions_multivariate_normal_MultivariateNormal.py
  tests/test_inference_mode.py
  tests/test_nn_Hardswish.py
  tests/test_nn_ReLU6.py
  tests/test_onnx_export.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_relu.py
  tests/test_special_erf.py
  tests/test_special_sinc.py
  tests/test_unique.py
Due: copyright_checker, check-json

[API Compatibility] skip test_linalg_qr mode=r cases due to Paddle single Tensor return
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test_Tensor_expand_copy.py
  tests/test_clamp_.py
  tests/test_expand_copy.py
  tests/test_linalg_eigh.py
  tests/test_linalg_qr.py
  tests/test_nn_modules_loss_BCELoss.py
  tests/test_nn_modules_loss_BCEWithLogitsLoss.py
  tests/test_nn_modules_loss_CTCLoss.py
  tests/test_nn_modules_loss_CosineEmbeddingLoss.py
  tests/test_nn_modules_loss_CrossEntropyLoss.py
  tests/test_nn_modules_loss_GaussianNLLLoss.py
  tests/test_nn_modules_loss_HingeEmbeddingLoss.py
  tests/test_nn_modules_loss_KLDivLoss.py
  tests/test_nn_modules_loss_L1Loss.py
  tests/test_nn_modules_loss_MSELoss.py
  tests/test_nn_modules_loss_MarginRankingLoss.py
  tests/test_nn_modules_loss_MultiLabelMarginLoss.py
  tests/test_nn_modules_loss_MultiLabelSoftMarginLoss.py
  tests/test_nn_modules_loss_MultiMarginLoss.py
  tests/test_nn_modules_loss_NLLLoss.py
  tests/test_nn_modules_loss_PoissonNLLLoss.py
  tests/test_nn_modules_loss_SmoothL1Loss.py
  tests/test_nn_modules_loss_SoftMarginLoss.py
  tests/test_nn_modules_loss_TripletMarginLoss.py
  tests/test_nn_modules_loss_TripletMarginWithDistanceLoss.py
Due: copyright_checker, check-json

[API Compatibility] Add more test cases
  tests/test_distributions_Categorical.py
  tests/test_distributions_categorical_Categorical.py
  tests/test_float8_e5m2.py
  tests/test_kaiser_window.py
  tests/test_nn_LayerNorm.py
  tests/test_nn_Linear.py
  tests/test_nn_Module___init__.py
  tests/test_nn_PReLU.py
  tests/test_nn_utils_clip_grad_norm_.py
Due: copyright_checker

[API Compatibility] fix
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tests/test_distributions_Distribution_rsample.py
  tests/test_distributions_Distribution_sample.py
  tests/test_nn_Module.py
  tests/test_nn_Module___init__.py
  tests/test_nn_Module_get_extra_state.py
  tests/test_nn_utils_clip_grad_norm_.py
Due: copyright_checker, check-json

[API Compatibility] Add more test cases
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm2D.py
  tests/test_Tensor_index_copy_.py
  tests/test_Tensor_reshape_as.py
  tests/test_distributions_Categorical.py
  tests/test_distributions_Distribution_rsample.py
  tests/test_distributions_Distribution_sample.py
  tests/test_distributions_Normal.py
  tests/test_distributions_constraints_positive_definite.py
  tests/test_distributions_multivariate_normal_MultivariateNormal.py
  tests/test_finfo.py
  tests/test_iinfo.py
  tests/test_inference_mode.py
  tests/test_kaiser_window.py
  tests/test_nn_BatchNorm1d.py
  tests/test_nn_BatchNorm2d.py
  tests/test_nn_BatchNorm3d.py
  tests/test_nn_Hardswish.py
  tests/test_nn_LayerNorm.py
  tests/test_nn_Module_get_extra_state.py
  tests/test_nn_PReLU.py
  tests/test_nn_ReLU6.py
  tests/test_nn_attention_flex_attention_and_masks.py
  tests/test_nn_attention_flex_attention_or_masks.py
  tests/test_nn_functional_hardswish.py
  tests/test_nn_functional_relu6.py
  tests/test_sinc.py
  tests/test_special_sinc.py
Due: copyright_checker, check-json

fix
  tests/test_distributions_Normal.py
  tests/test_distributions_Normal_rsample.py
  tests/test_distributions_normal_Normal.py
  tests/test_distributions_normal_Normal_rsample.py
Due: copyright_checker

[API Compatibility] fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
Due: copyright_checker, check-json

[API Compatibility] fix
  tests/test_distributions_Distribution_rsample.py
  tests/test_distributions_Distribution_sample.py
  tests/test_distributions_distribution_Distribution_rsample.py
  tests/test_distributions_distribution_Distribution_sample.py
  tests/test_nn_Module_get_extra_state.py
Due: copyright_checker

[API Compatibility] fix
  paconvert/attribute_mapping.json
Due: check-json

Normalize test line endings
  tests/test_Tensor_isneginf.py
  tests/test_Tensor_isposinf.py
  tests/test_Tensor_isreal.py
  tests/test_Tensor_positive.py
  tests/test_Tensor_tensor_split.py
  tests/test_Tensor_tensor_split_with_sizes.py
  tests/test_float_power.py
  tests/test_functional_block_diag.py
  tests/test_functional_cartesian_prod.py
  tests/test_isneginf.py
  tests/test_isposinf.py
  tests/test_isreal.py
  tests/test_utils_dlpack_from_dlpack.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker

[API Compatibility] refine enable_compat injection; activate compat reset
  paconvert/transformer/import_transformer.py
  tests/apibase.py
  tests/conftest.py
Due: copyright_checker

fix
  paconvert/base.py
Due: copyright_checker

update ChangePrefixMatcher for those can passed under enable_compat(level=2) now.
  paconvert/api_mapping.json
  tests/test_Tensor_median.py
Due: copyright_checker, check-json

ChangePrefixMatcher for BatchNorm1d/2d/3d
  paconvert/api_mapping.json
Due: check-json

fix CI
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] fix softmin/allclose/sort matchers under enable_compat
  paconvert/api_mapping.json
  tests/test_Tensor_rename.py
  tests/test_Tensor_split.py
  tests/test_add_start_docstrings_to_model_forward.py
  tests/test_jit_ignore.py
  tests/test_jit_load.py
  tests/test_jit_save.py
  tests/test_jit_script.py
  tests/test_onnx_export.py
  tests/test_utils_model_zoo_load_url.py
  tests/torchvision_tests/model_apibase.py
  tests/torchvision_tests/test_Cifar10.py
  tests/torchvision_tests/test_Cifar100.py
  tests/torchvision_tests/test_DeformConv2d.py
  tests/torchvision_tests/test_FashionMNIST.py
  tests/torchvision_tests/test_Flowers102.py
  tests/torchvision_tests/test_ImageFolder.py
  tests/torchvision_tests/test_MNIST.py
  tests/torchvision_tests/test_RoIAlign.py
  tests/torchvision_tests/test_RoIPool.py
  tests/torchvision_tests/test_VOCDetection.py
  tests/torchvision_tests/test_enums.py
  tests/torchvision_tests/test_googlenet.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
