Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

Update NO_NEED_CONVERT_LIST for Pytorch API
  paconvert/global_var.py
Due: copyright_checker

re-activate ci
  paconvert/global_var.py
Due: copyright_checker

Remove empty line in global_var.py
  paconvert/global_var.py
Due: copyright_checker

Add 'torch.testing.assert_close' to global_var.py
  paconvert/global_var.py
Due: copyright_checker

add test
  tests/test_testing_assert_close.py
Due: copyright_checker

Fix formatting in assert_close test case
  tests/test_testing_assert_close.py
Due: copyright_checker

【Hackathon 9th Sprint No.1】add api compatibility for paddle.unique - part (#758)
  paconvert/api_mapping.json
  tests/test_unique.py
Due: copyright_checker, check-json

[API Compatiblity]Add 'torch.testing.assert_close' to global_var.py (#791)
  paconvert/global_var.py
  tests/test_testing_assert_close.py
Due: copyright_checker

[API Compatibility No.222] add torch.sinh - part (#790)
  paconvert/global_var.py
Due: copyright_checker

add paddle.diag
  paconvert/global_var.py
Due: copyright_checker

add paddle.Tensor.diag
  paconvert/global_var.py
Due: copyright_checker

aligned torch.nn.functional.interpolate
  paconvert/global_var.py
Due: copyright_checker

fix apibase
  tests/apibase.py
Due: copyright_checker

Fix APIBase (#794)
  tests/apibase.py
Due: copyright_checker

[API Compatibility No.58、349] Sink `diag` to cpp -part (#792)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility No.227] Add 'torch.tile' to NO_NEED_CONVERT_LIST (#789)
  paconvert/global_var.py
Due: copyright_checker

test allclose by using paddle.compat.allclose
  paconvert/api_mapping.json
Due: check-json

add unit test for antialias
  paconvert/api_mapping.json
  tests/test_nn_functional_interpolate.py
Due: copyright_checker, check-json

add torch.inverse
  paconvert/global_var.py
  tests/test_inverse.py
Due: copyright_checker

Fix indentation for test_case_10 function
  tests/test_nn_functional_interpolate.py
Due: copyright_checker

add log10 & log1p
  paconvert/global_var.py
Due: copyright_checker

API Compatibility Edit by AI Agent(nextafter/angle/heaviside/asinh/reciprocal/square/tan)
  paconvert/global_var.py
  tests/test_angle.py
  tests/test_asinh.py
  tests/test_atan.py
  tests/test_bincount.py
  tests/test_bitwise_and.py
  tests/test_bitwise_not.py
  tests/test_bitwise_xor.py
  tests/test_diag.py
  tests/test_nextafter.py
  tests/test_reciprocal.py
  tests/test_square.py
  tests/test_tan.py
Due: copyright_checker

[API Compatibility No.3、38] Add torch.baddbmm and torch.Tensor.baddbmm to global_var.py
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility No.2、35] Add torch.baddbmm and torch.Tensor.baddbmm (#798)
  paconvert/global_var.py
Due: copyright_checker

add torch.tan and torch.deg2rad
  paconvert/global_var.py
Due: copyright_checker

API Compatibility Edit by AI Agent (#797)
  paconvert/global_var.py
  tests/test_angle.py
  tests/test_asinh.py
  tests/test_atan.py
  tests/test_bincount.py
  tests/test_bitwise_and.py
  tests/test_bitwise_not.py
  tests/test_bitwise_xor.py
  tests/test_diag.py
  tests/test_nextafter.py
  tests/test_reciprocal.py
  tests/test_square.py
  tests/test_tan.py
Due: copyright_checker

fix scan huggingface bug
  .pre-commit-config.yaml
  paconvert/api_mapping.json
  paconvert/legacy/legacy_mapping.json
  paconvert/legacy/legacy_matcher.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

fix scan huggingface bug (#800)
  .pre-commit-config.yaml
  paconvert/api_mapping.json
  paconvert/legacy/legacy_mapping.json
  paconvert/legacy/legacy_matcher.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

add torch.std and torch.randint
  paconvert/global_var.py
Due: copyright_checker

add torch.nn.functional.relu, relu_, leaky_relu and leaky_relu_
  paconvert/global_var.py
Due: copyright_checker

Fix validate consistency
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/torchvision_tests/test_inception_v3.py
Due: copyright_checker, check-json

Clear
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

Fix noneed converter
  paconvert/api_matcher.py
Due: copyright_checker

Fix ci
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_vsplit.py
Due: copyright_checker, check-json

Fix qwen baseline
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: none

fix
  paconvert/api_mapping.json
Due: check-json

Add Tensor.round_
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility No.355] Test allclose by using paddle.compat.allclose -part (#795)
  paconvert/api_mapping.json
Due: check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
