Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

add-dockerfile
  tools/docker/Dockerfile
Due: none

add_dockerfile (#386)
  tools/docker/Dockerfile
Due: none

fix_pip_not_match
  tools/docker/Dockerfile
Due: none

fix
  tools/docker/Dockerfile
Due: none

adjust_atol
  tests/test_bilinear.py
  tests/test_celu.py
  tests/test_nn_AvgPool2d.py
  tests/test_nn_AvgPool3d.py
  tests/test_nn_InstanceNorm1d.py
  tests/test_nn_functional_avg_pool2d.py
  tests/test_nn_functional_avg_pool3d.py
  tests/test_nn_functional_bilinear.py
  tests/test_nn_functional_celu.py
  tests/test_nn_functional_log_softmax.py
  tests/test_nn_functional_tanhshrink.py
Due: copyright_checker

adjust atol (#388)
  tests/test_bilinear.py
  tests/test_celu.py
  tests/test_nn_AvgPool2d.py
  tests/test_nn_AvgPool3d.py
  tests/test_nn_InstanceNorm1d.py
  tests/test_nn_functional_avg_pool2d.py
  tests/test_nn_functional_avg_pool3d.py
  tests/test_nn_functional_bilinear.py
  tests/test_nn_functional_celu.py
  tests/test_nn_functional_log_softmax.py
  tests/test_nn_functional_tanhshrink.py
Due: copyright_checker

poolish
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  scripts/code_unittest_check_gpu.sh
  tests/distributed/all_gather_object.py
  tests/test_Tensor_cuda.py
  tests/test_cuda_amp_autocast.py
  tests/test_cuda_manual_seed.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_cuda_max_memory_reserved.py
  tests/test_cuda_memory_allocated.py
  tests/test_cuda_memory_reserved.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
  tests/test_linalg_lstsq.py
  tests/test_nn_Module.py
  tests/test_nn_functional_grid_sample.py
Due: copyright_checker, check-json

poolish
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
  tests/test_device.py
Due: copyright_checker, check-json

fix_scripts
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

fix_linalg_lstsq
  tests/test_linalg_lstsq.py
Due: copyright_checker

fix-coverage
  paconvert/api_matcher.py
Due: copyright_checker

fix_script
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

fix_tensor_cuda
  paconvert/api_matcher.py
  tests/test_Tensor_cuda.py
Due: copyright_checker

fix-coverage
  paconvert/api_matcher.py
  tests/test_cuda_set_device.py
Due: copyright_checker

fix_scripts & fix amp_cuda
  scripts/code_unittest_check_gpu.sh
  tests/test_cuda_amp_autocast.py
Due: copyright_checker

fix dockerfile (#387)
  tools/docker/Dockerfile
Due: none

fix_bugs
  paconvert/api_matcher.py
  tests/test_cuda_set_device.py
  tests/test_device.py
  tests/test_hub_download_url_to_file.py
Due: copyright_checker

add_decorator
  tests/test_Tensor_cuda.py
  tests/test_cuda_amp_autocast.py
  tests/test_cuda_manual_seed.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_cuda_max_memory_reserved.py
  tests/test_cuda_memory_allocated.py
  tests/test_cuda_memory_reserved.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
  tests/test_cuda_stream.py
  tests/test_device.py
Due: copyright_checker

fix cpu test
  tests/test_cuda_amp_autocast.py
Due: copyright_checker

fix_some_errors
  paconvert/api_matcher.py
  tests/test_cuda_set_device.py
  tests/test_hub_download_url_to_file.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/test_flash_attn_func.py
Due: copyright_checker

fix
  tests/code_library/code_case/torch_code/transformers_Qwen.py
Due: copyright_checker

fix_all
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_cuda.py
  tests/test_cuda_Stream.py
  tests/test_cuda_amp_autocast.py
  tests/test_cuda_manual_seed.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_cuda_max_memory_reserved.py
  tests/test_cuda_memory_allocated.py
  tests/test_cuda_memory_reserved.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
  tests/test_cuda_stream.py
  tests/test_device.py
Due: copyright_checker, check-json

fix
  tests/test_cuda_Stream.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

fix
  tests/test_cuda_stream.py
Due: copyright_checker

Fix falsh attn bug (#390)
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/test_flash_attn_func.py
Due: copyright_checker

fix typo
  paconvert/api_matcher.py
  tests/test_cuda_Stream.py
Due: copyright_checker

fix
  tests/test_Tensor_cuda.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
Due: copyright_checker

fix_typo
  tests/test_Tensor_cuda.py
Due: copyright_checker

fix_style
  tests/test_Tensor_cuda.py
Due: copyright_checker

add_test
  tests/test_hub_download_url_to_file.py
Due: copyright_checker

Support GPU CI (#389)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  scripts/code_unittest_check_gpu.sh
  tests/distributed/all_gather_object.py
  tests/test_Tensor_cuda.py
  tests/test_cuda_Stream.py
  tests/test_cuda_amp_autocast.py
  tests/test_cuda_manual_seed.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_cuda_max_memory_reserved.py
  tests/test_cuda_memory_allocated.py
  tests/test_cuda_memory_reserved.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
  tests/test_cuda_stream.py
  tests/test_device.py
  tests/test_linalg_lstsq.py
  tests/test_nn_Module.py
  tests/test_nn_functional_grid_sample.py
Due: copyright_checker, check-json

fix matcher
  paconvert/api_matcher.py
Due: copyright_checker

fix matcher (#391)
  paconvert/api_matcher.py
Due: copyright_checker

install pytorch in image
  tools/docker/Dockerfile
Due: none

set default python/pip
  tools/docker/Dockerfile
Due: none

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
