Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

转换规则 No. 323/333 (#198)
  paconvert/api_mapping.json
  tests/test_nn_GLU.py
  tests/test_special_polygamma.py
Due: copyright_checker, check-json

转换规则 No. 127 (#200)
  tests/test_cuda_set_rng_state.py
Due: copyright_checker

转换规则 No.274 (#201)
  tests/test_Tensor_is_coalesced.py
Due: copyright_checker

转换规则 No.47/244 (#203)
  paconvert/api_mapping.json
  tests/test_testing_assert_close.py
Due: copyright_checker, check-json

转换规则 No.227 (#204)
  paconvert/api_mapping.json
  tests/test_random_initial_seed.py
Due: copyright_checker, check-json

转换规则 No. 159-163 (#207)
  tests/test_distributed_all_gather_multigpu.py
  tests/test_distributed_all_reduce_multigpu.py
  tests/test_distributed_broadcast_multigpu.py
  tests/test_distributed_reduce_multigpu.py
  tests/test_distributed_reduce_scatter_multigpu.py
Due: copyright_checker

转换规则 No.338 (#213)
  paconvert/api_mapping.json
  tests/test_asarray.py
Due: copyright_checker, check-json

转换规则 No.339-342/345-348 (#214)
  tests/test_Tensor_diagonal_scatter.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_Tensor_select_scatter.py
  tests/test_Tensor_slice_scatter.py
  tests/test_diagonal_scatter.py
  tests/test_scatter_reduce.py
  tests/test_select_scatter.py
  tests/test_slice_scatter.py
Due: copyright_checker

fix torch.tensor bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix bug
  tests/test_Tensor_geqrf.py
Due: copyright_checker

增加规则 121/122/123/124
  paconvert/api_mapping.json
  tests/test_device_cuda_stream_guard.py
Due: copyright_checker, check-json

fix
  tests/test_all_gather_object.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Add tests
  tests/test_distributions_constraint_registry_ConstraintRegistry.py
  tests/test_distributions_constraints_Constraint.py
  tests/test_histogram.py
  tests/test_utils_cpp_extension_include_paths.py
  tests/test_utils_cpp_extension_load_inline.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  tests/test_distributed_rpc_WorkerInfo.py
  tests/test_distributed_rpc_functions_async_execution.py
  tests/test_distributed_rpc_get_worker_info.py
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_distributed_rpc_shutdown.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix some bug
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_nn_functional_log_softmax.py
Due: copyright_checker, check-json

fix some bug (#218)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_nn_functional_log_softmax.py
Due: copyright_checker, check-json

转换规则 No.48 RNNBase (#134)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_layer_rnn_RNNBase.py
Due: copyright_checker, check-json

fix bug
  paconvert/api_matcher.py
  tests/test_svd.py
Due: copyright_checker

reformate
  paconvert/api_mapping.json
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

转换规则 No. 196/197/232/233/319 (#197)
  tests/test_distributions_constraint_registry_ConstraintRegistry.py
  tests/test_distributions_constraints_Constraint.py
  tests/test_histogram.py
  tests/test_utils_cpp_extension_include_paths.py
  tests/test_utils_cpp_extension_load_inline.py
Due: copyright_checker

转换规则 No.86 (#202)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_is_signed.py
Due: copyright_checker, check-json

change step
  tests/test_optim_Optimizer_step.py
Due: copyright_checker

转换规则 No.80 torch.Tensor.geqrf (#211)
  tests/test_Tensor_geqrf.py
Due: copyright_checker

add step api matcher back
  paconvert/api_mapping.json
Due: check-json

weight decay to be 0.0
  paconvert/api_mapping.json
Due: check-json

转换规则 No.334 (#212)
  paconvert/api_mapping.json
  tests/test_special_round.py
Due: copyright_checker, check-json

Fix
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_H.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  tests/test_linalg_cond.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
Due: check-json

polish code, remove * arg
  paconvert/api_mapping.json
  tests/test_optim_Adadelta_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

add torch.optim.Adagrad
  tests/test_optim_Adagrad.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker

add Adam
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_Adam.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

fix bug of Adam
  tests/test_optim_Optimizer_state_dict.py
Due: copyright_checker

Adam will be in use
  tests/test_optim_Optimizer_add_param_group.py
Due: copyright_checker

test torch.nn.Module()
  tests/test_nn_Module.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
