Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix_typo
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker

Support may torch method list & support_insert_pass_in_ast_if (#405)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/package_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/torch_code/package_visit_name.py
  tests/test_nn_Embedding.py
Due: copyright_checker, check-json

matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
Due: copyright_checker, check-json

add_matcher
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/test_Tensor_contiguous.py
  tests/test_finfo.py
  tests/test_iinfo.py
  tests/test_nonzero.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

fix
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen _aux.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen_aux.py
  tests/test_Tensor_contiguous.py
  tools/consistency/consistency_check.py
Due: copyright_checker

add_hinting
  paconvert/api_matcher.py
  tests/test_flash_attn_apply_rotary_emb_func.py
  tests/test_flash_attn_rms_norm.py
Due: copyright_checker

update detach_: init linear weights to check value
  tests/test_Tensor_detach_.py
Due: copyright_checker

poolish script
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

Update base.py
  paconvert/base.py
Due: copyright_checker

fix
  tests/test_hub_download_url_to_file.py
Due: copyright_checker

fix
  scripts/code_unittest_check_gpu.sh
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen_aux.py
Due: copyright_checker

update some api convert rules and tests part.2 (#408)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_detach_.py
  tests/test_nn_Module_zero_grad.py
  tests/test_nn_functional_poisson_nll_loss.py
  tests/test_nn_init_trunc_normal_.py
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_layer_rnn_RNNBase.py
  tests/test_nn_utils_vector_to_parameters.py
  tests/test_svd_lowrank.py
Due: copyright_checker, check-json

fix tests of torch.hub.download_url_to_file (#411)
  tests/test_hub_download_url_to_file.py
Due: copyright_checker

Fix Bug of torch.nn.Module.zero_grad Matcher
  paconvert/api_mapping.json
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/apibase.py
  tests/test_nn_Module_zero_grad.py
  tests/test_optim_Optimizer_zero_grad.py
  tests/test_utils_cpp_extension_CUDAExtension.py
  tests/test_utils_cpp_extension_CUDA_HOME.py
Due: copyright_checker, check-json

Fix Bug of torch.nn.Module.zero_grad Matcher (#412)
  paconvert/api_mapping.json
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/apibase.py
  tests/test_nn_Module_zero_grad.py
  tests/test_optim_Optimizer_zero_grad.py
  tests/test_utils_cpp_extension_CUDAExtension.py
  tests/test_utils_cpp_extension_CUDA_HOME.py
Due: copyright_checker, check-json

Update base.py (#410)
  paconvert/base.py
Due: copyright_checker

update README
  README.md
  paconvert/converter.py
Due: copyright_checker

update README (#413)
  README.md
  paconvert/converter.py
Due: copyright_checker

update REAMDE
  README.md
Due: none

update REAMDE (#414)
  README.md
Due: none

update README
  README.md
Due: none

update README (#415)
  README.md
Due: none

Update README.md
  README.md
Due: none

update README (#416)
  README.md
Due: none

upgrade
  tools/docker/Dockerfile
Due: none

fix README
  README.md
Due: none

fix README (#418)
  README.md
Due: none

fix
  tests/test_distributed_rpc_get_worker_info.py
  tests/test_distributed_rpc_shutdown.py
Due: copyright_checker

fix_style
  README.md
Due: none

fix_rpc_test (#419)
  README.md
  tests/test_distributed_rpc_get_worker_info.py
  tests/test_distributed_rpc_shutdown.py
Due: copyright_checker

update validate_docs tool
  tools/validate_docs/validate_docs.py
Due: copyright_checker

update torch.utils.data.random_split
  tests/test_utils_data_random_split.py
Due: copyright_checker

update torch.sort and torch.argsort
  paconvert/api_mapping.json
  tests/test_argsort.py
Due: copyright_checker, check-json

fix unittest
  tests/test_Tensor_diff.py
Due: copyright_checker
