Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

[API compatibility] torch.cuda.ipc_collect (#760)
  paconvert/global_var.py
  tests/test_cuda_ipc_collect.py
Due: copyright_checker

add tensor_device
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_device.py
Due: copyright_checker, check-json

CodeCosistency
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_to.py
Due: none

add some api
  paconvert/global_var.py
Due: copyright_checker

add ,
  paconvert/global_var.py
Due: copyright_checker

add ,
  paconvert/attribute_mapping.json
Due: check-json

[API compatibility] Tensor.device (#764)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_to.py
  tests/test_Tensor_device.py
Due: copyright_checker

update
  paconvert/base.py
  tests/test_nn_Module_zero_grad.py
Due: copyright_checker

test test
  paconvert/global_var.py
Due: copyright_checker

add torch.cosh and torch.Tensor.cosh to list
  paconvert/global_var.py
Due: copyright_checker

remove duplicate
  paconvert/global_var.py
Due: copyright_checker

feat: compatibility_grid_sample
  paconvert/global_var.py
Due: copyright_checker

update
  tests/code_library/code_case/paddle_code/attribute_setattr.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/test_add_start_docstrings_to_model_forward.py
  tests/test_jit_ignore.py
  tests/test_jit_save.py
  tests/test_nn_Module_train.py
  tests/test_onnx_export.py
Due: copyright_checker

add missing comma
  paconvert/global_var.py
Due: copyright_checker

AI自动生成的case
  tests/test_BFloat16Tensor.py
  tests/test_abs.py
  tests/test_add.py
  tests/test_autograd_Variable.py
  tests/test_bool.py
Due: copyright_checker

AI自动生成case (#768)
  tests/test_BFloat16Tensor.py
  tests/test_abs.py
  tests/test_add.py
  tests/test_autograd_Variable.py
  tests/test_bool.py
Due: copyright_checker

[API Compatibility No.30] add torch.asin -part (#759)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility No.52] Sink `cosh` to cpp -part (#766)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add torch.nn.functional.grid_sample into NO_NEED_CONVERT_LIST (#767)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add 38 `torch.nn.**` API (#765)
  paconvert/global_var.py
Due: copyright_checker

[API compatibility] Add APIs in NO_NEED_CONVERT_LIST (#763)
  paconvert/global_var.py
Due: copyright_checker

[API compatibility] Add some APIs in NO_NEED_CONVERT_LIST
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add 3 APIs to NO_NEED_CONVERT_LIST and update tests
  paconvert/global_var.py
  tests/test_nn_GroupNorm.py
  tests/test_nn_LayerNorm.py
Due: copyright_checker

[API Compatibility] Add 3 APIs to NO_NEED_CONVERT_LIST and update tests (#770)
  paconvert/global_var.py
  tests/test_nn_GroupNorm.py
  tests/test_nn_LayerNorm.py
Due: copyright_checker

[API compatibility] Add some APIs in NO_NEED_CONVERT_LIST (#769)
  paconvert/global_var.py
Due: copyright_checker

fix no_need_convert with alias mapping
  paconvert/global_var.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_sigmoid.py
  tests/test_Tensor___not__.py
  tests/test_autograd_function_once_differentiable.py
  tests/test_float8_e4m3fn.py
  tests/test_index_put.py
  tests/test_jit_save.py
  tests/test_nn_init__calculate_fan_in_and_fan_out.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

Fix no_need_convert with alias mapping (#771)
  paconvert/global_var.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_sigmoid.py
  tests/test_Tensor___not__.py
  tests/test_autograd_function_once_differentiable.py
  tests/test_float8_e4m3fn.py
  tests/test_index_put.py
  tests/test_jit_save.py
  tests/test_nn_init__calculate_fan_in_and_fan_out.py
Due: copyright_checker

add apis
  paconvert/global_var.py
Due: copyright_checker

add 3 apis
  paconvert/global_var.py
  tests/test_cuda_is_bf16_supported.py
Due: copyright_checker

remove unflod
  paconvert/global_var.py
Due: copyright_checker

update
  README.md
  README_EN.md
  paconvert/api_mapping.json
  paconvert/base.py
  paconvert/global_var.py
  tests/apibase.py
  tests/code_library/code_case/custom_op/paddle_code/network.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/test_hub_load.py
  tests/test_nn_Module_bfloat16.py
  tests/test_nn_Module_get_submodule.py
  tests/test_nn_SyncBatchNorm_convert_sync_batchnorm.py
  tests/torchvision_tests/model_apibase.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

[API compatibility] Add nn.Module,nn.ModuleList,nn,ModuleDict (#756)
  README.md
  README_EN.md
  paconvert/api_mapping.json
  paconvert/base.py
  paconvert/global_var.py
  tests/apibase.py
  tests/code_library/code_case/custom_op/paddle_code/network.py
  tests/code_library/code_case/paddle_code/attribute_setattr.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/test_add_start_docstrings_to_model_forward.py
  tests/test_hub_load.py
  tests/test_jit_ignore.py
  tests/test_jit_save.py
  tests/test_nn_Module_cpu.py
  tests/test_nn_Module_cuda.py
  tests/test_nn_Module_double.py
  tests/test_nn_Module_float.py
  tests/test_nn_Module_get_submodule.py
  tests/test_nn_Module_half.py
  tests/test_nn_Module_requires_grad_.py
  tests/test_nn_Module_train.py
  tests/test_nn_SyncBatchNorm_convert_sync_batchnorm.py
  tests/test_onnx_export.py
  tests/torchvision_tests/model_apibase.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

[API Compatibility] Add 3 cuda APIs to NO_NEED_CONVERT_LIST (#773)
  paconvert/global_var.py
  tests/test_cuda_is_bf16_supported.py
Due: copyright_checker

fix
  paconvert/global_var.py
Due: copyright_checker

modify contributing.md
  docs/CONTRIBUTING.md
Due: none

[API Compatibility] Update `torch.nn.AvgPool*d` APIs
  paconvert/api_mapping.json
Due: check-json

add `.venv` to `.gitignore`
  .gitignore
Due: none

[API compatibility] Add torch.nn.Module.zero_grad and torch.nn.Module.load_state_dict
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/test_Tensor_tensor_split_with_sizes.py
Due: copyright_checker

add fft
  paconvert/global_var.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
