Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

update
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] block_diag/broadcast_tensors/cartesian_prod/copysign/index_fill/cross/dist/flip/pow/renorm Edit By AI Agent
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_Tensor_copysign.py
  tests/test_Tensor_copysign_.py
  tests/test_Tensor_cross.py
  tests/test_Tensor_flip.py
  tests/test_Tensor_geometric_.py
  tests/test_Tensor_hypot_.py
  tests/test_Tensor_index_fill.py
  tests/test_Tensor_index_fill_.py
  tests/test_Tensor_renorm.py
  tests/test_Tensor_renorm_.py
  tests/test_block_diag.py
  tests/test_broadcast_tensors.py
  tests/test_cartesian_prod.py
  tests/test_copysign.py
  tests/test_flip.py
  tests/test_index_fill.py
Due: copyright_checker, check-json

add paconvert tests for torch.nn.utils.rnn.pad_sequence and torch.nn.utils.rnn.unpad_sequence
  paconvert/api_mapping.json
  tests/test_nn_utils_rnn_pad_sequence.py
  tests/test_nn_utils_rnn_unpad_sequence.py
Due: copyright_checker, check-json

[API Compatibility No.359、378] add torch.tan and torch.deg2rad -part (#799)
  tests/test_deg2rad.py
Due: copyright_checker

[API Compatibility No.360] add torch.inverse -part (#796)
  tests/test_Tensor_inverse.py
  tests/test_inverse.py
Due: copyright_checker

Fix torch.std_mean/var_mean/all_gather
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_Optimizer_state_dict.py
Due: copyright_checker, check-json

[API Compatibility No.361] add torch.lerp and torch.lerp_ -part (#805)
  paconvert/api_mapping.json
  tests/test_Tensor_lerp.py
  tests/test_Tensor_lerp_.py
  tests/test_lerp.py
Due: copyright_checker, check-json

Fix torch.std_mean/var_mean/all_gather (#827)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_Optimizer_state_dict.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

【Hackathon 10th Spring No.1】add dilation option support for maxpool1d/2d/3d -part (#812)
  paconvert/api_mapping.json
  tests/test_max_pool1d.py
  tests/test_max_pool2d.py
  tests/test_max_pool3d.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool2d.py
  tests/test_nn_MaxPool3d.py
  tests/test_nn_functional_max_pool1d.py
  tests/test_nn_functional_max_pool2d.py
  tests/test_nn_functional_max_pool3d.py
Due: copyright_checker, check-json

add torch.gcd and torch.lcm
  paconvert/api_mapping.json
  tests/test_gcd.py
  tests/test_lcm.py
Due: copyright_checker, check-json

change to changeprefixmatcher for torch.Tensor.atan2
  paconvert/api_mapping.json
Due: check-json

add torch.relu with ChangePrefixMatcher
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] add torch.atan2 (#785)
  paconvert/api_mapping.json
  tests/test_Tensor_atan2.py
  tests/test_atan2.py
Due: copyright_checker, check-json

[API Compatibility] add torch.nn.utils.rnn.pad_sequence and torch.nn.utils.rnn.unpad_sequence -part (#826)
  paconvert/api_mapping.json
  tests/test_nn_utils_rnn_pad_sequence.py
  tests/test_nn_utils_rnn_unpad_sequence.py
Due: copyright_checker, check-json

[API Compatibility No.114] support torch.masked_fill(input=...) via change-prefix path -part
  paconvert/api_mapping.json
  tests/test_masked_fill.py
Due: copyright_checker, check-json

enhance tests for api mm
  paconvert/api_mapping.json
  tests/test_mm.py
Due: copyright_checker, check-json

add torch.cuda.amp.GradScaler
  paconvert/api_mapping.json
  tests/test_cuda_amp_GradScaler.py
Due: copyright_checker, check-json

add torch.nn.ParameterDict
  paconvert/api_mapping.json
  tests/test_nn_ParameterDict.py
Due: copyright_checker, check-json

api compatibility 13 75 hypot
  paconvert/api_mapping.json
  tests/test_Tensor_hypot.py
  tests/test_Tensor_hypot_.py
  tests/test_hypot.py
Due: copyright_checker, check-json

Update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

Update api_mapping.json (#834)
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] block_diag/broadcast_tensors/cartesian_prod/copysign/index_fill/cross/dist/flip/pow Edit By AI (#823)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_Tensor_copysign.py
  tests/test_Tensor_copysign_.py
  tests/test_Tensor_cross.py
  tests/test_Tensor_flip.py
  tests/test_Tensor_geometric_.py
  tests/test_Tensor_hypot_.py
  tests/test_Tensor_index_fill.py
  tests/test_Tensor_index_fill_.py
  tests/test_Tensor_renorm.py
  tests/test_Tensor_renorm_.py
  tests/test_block_diag.py
  tests/test_broadcast_tensors.py
  tests/test_cartesian_prod.py
  tests/test_copysign.py
  tests/test_flip.py
  tests/test_index_fill.py
Due: copyright_checker, check-json

[API Compatibility] add torch.mm -part (#829)
  paconvert/api_mapping.json
  tests/test_mm.py
Due: copyright_checker, check-json

[API Compatibility No.17] align torch.Tensor.ldexp_ matcher to ChangePrefixMatcher -part
  paconvert/api_mapping.json
Due: check-json

[API compatibility] align torch count_nonzero tests with ChangePrefixMatcher
  paconvert/api_mapping.json
  tests/test_Tensor_count_nonzero.py
  tests/test_count_nonzero.py
Due: copyright_checker, check-json

add tests
  tests/test_nn_ParameterDict.py
Due: copyright_checker

enhance tests
  tests/test_cuda_amp_GradScaler.py
Due: copyright_checker

[API Compatibility No.17] align torch.Tensor.ldexp_ matcher to ChangePrefixMatcher -part (#835)
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.191] Remove kwargs_change for poisson_nll_loss since Paddle now accepts target/eps aliases -part
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.185] Update torch.nn.functional.mish to ChangePrefixMatcher -part
  paconvert/api_mapping.json
  tests/test_nn_functional_mish.py
Due: copyright_checker, check-json

[API Compatibility No.214] Update rot90 to ChangePrefixMatcher -part
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.190] Support torch.nn.functional.pixel_unshuffle ChangePrefixMatcher -part
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.114] switch torch.masked_fill to ChangePrefixMatcher
  paconvert/api_mapping.json
Due: check-json

possion
  paconvert/api_mapping.json
  tests/test_poisson.py
Due: copyright_checker, check-json

add torch.nn.functional.pixel_shuffle
  paconvert/api_mapping.json
  tests/test_nn_functional_pixel_shuffle.py
Due: copyright_checker, check-json

add torch.unique and torch.Tensor.unique
  paconvert/api_mapping.json
  tests/test_Tensor_unique.py
  tests/test_unique.py
Due: copyright_checker, check-json

[API Compatibility No.188] Remove kwargs_change for nll_loss since Paddle now accepts target alias -part
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.186] Keep target for torch.nn.functional.mse_loss in PaConvert -part
  paconvert/api_mapping.json
Due: check-json
