Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

update torch.scatter
  paconvert/api_mapping.json
  tests/test_scatter.py
Due: copyright_checker, check-json

fix matchers (#429)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/test_distributed_is_initialized.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker, check-json

add_path
  docs/TypicalCase_Llama.md
  docs/TypicalCase_Qwen.md
Due: none

Readme update (#425)
  README.md
  docs/TypicalCase_Llama.md
  docs/TypicalCase_Qwen.md
Due: none

update torch.scatter (#432)
  paconvert/api_mapping.json
  tests/test_scatter.py
Due: copyright_checker, check-json

update unittests by autofix
  paconvert/api_mapping.json
  tests/test_Tensor_normal_.py
  tests/test_diff.py
  tests/test_distributions_AbsTransform.py
  tests/test_distributions_IndependentTransform.py
  tests/test_distributions_ReshapeTransform.py
  tests/test_distributions_TanhTransform.py
  tests/test_finfo.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

update unittests
  tests/test_Tensor_contiguous.py
  tests/test_Tensor_cpu.py
  tests/test_Tensor_is_contiguous.py
Due: copyright_checker

upgrade validate_unittest tool
  paconvert/api_mapping.json
  tests/test_Tensor_normal_.py
  tests/test_bernoulli.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

add gitignore to ignore consistency check output
  tests/code_library/code_case/.gitignore
Due: none

fix api mapping bug
  paconvert/api_mapping.json
  tests/test_Tensor_remainder.py
  tests/test_sparse_csr_tensor.py
Due: copyright_checker, check-json

print inconsistent content in consistency_check
  tools/consistency/consistency_check.py
Due: copyright_checker

add support to type_hint
  paconvert/api_matcher.py
Due: copyright_checker

update consistency of api_paddle_Tensor_normal_
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
Due: copyright_checker

fix api mapping bug (#433)
  paconvert/api_mapping.json
  tests/test_Tensor_remainder.py
  tests/test_sparse_csr_tensor.py
Due: copyright_checker, check-json

Update README.md
  README.md
Due: none

Fix 11 unittests by autofix (#431)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/.gitignore
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
  tests/test_Tensor_contiguous.py
  tests/test_Tensor_cpu.py
  tests/test_Tensor_is_contiguous.py
  tests/test_Tensor_normal_.py
  tests/test_bernoulli.py
  tests/test_diff.py
  tests/test_distributions_AbsTransform.py
  tests/test_distributions_IndependentTransform.py
  tests/test_distributions_ReshapeTransform.py
  tests/test_distributions_TanhTransform.py
  tests/test_finfo.py
  tools/consistency/consistency_check.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix some matcher bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/distributed/run_test.sh
  tests/test_Tensor_arcsin.py
  tests/test_Tensor_arctan.py
  tests/test_Tensor_bernoulli.py
  tests/test_Tensor_contiguous.py
  tests/test_Tensor_det.py
  tests/test_nn_FeatureAlphaDropout.py
  tests/test_optim_Optimizer_state_dict.py
Due: copyright_checker, check-json

fix some matcher bug (#434)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/distributed/run_test.sh
  tests/test_Tensor_arcsin.py
  tests/test_Tensor_arctan.py
  tests/test_Tensor_bernoulli.py
  tests/test_Tensor_contiguous.py
  tests/test_Tensor_det.py
  tests/test_nn_FeatureAlphaDropout.py
  tests/test_optim_Optimizer_state_dict.py
Due: copyright_checker, check-json

提交八个算子——修改补充2
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_Tensor_dsplit.py
  tests/test_Tensor_slice_scatter.py
  tests/test_Tensor_tensor_split.py
  tests/test_tensor_split2.py
Due: copyright_checker, check-json

提交八个算子——修改补充2(这里不能简化，会导致报错）
  paconvert/api_matcher.py
Due: copyright_checker

提交八个算子——修改补充2 (#435)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_hsplit.py
  tests/test_Tensor_select_scatter.py
  tests/test_Tensor_slice_scatter.py
  tests/test_Tensor_tensor_split.py
  tests/test_dsplit.py
  tests/test_hsplit.py
  tests/test_tensor_split2.py
Due: copyright_checker, check-json

support torch.slice_scatter/Tensor.slice_scatter
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_slice_scatter.py
  tests/test_Tensor_tensor_split.py
  tests/test_slice_scatter.py
Due: copyright_checker, check-json

support torch.slice_scatter/Tensor.slice_scatter (#436)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_slice_scatter.py
  tests/test_Tensor_tensor_split.py
  tests/test_slice_scatter.py
Due: copyright_checker, check-json

update validate_unittest
  .gitignore
  tools/validate_unittest/.gitignore
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update tools and some data
  paconvert/api_mapping.json
  tests/test_distributions_IndependentTransform.py
  tests/test_distributions_ReshapeTransform.py
  tools/validate_docs/validate_docs.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix all mismatch apis
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

add cornercase torch.cuda.stream
  tools/validate_docs/validate_docs.py
Due: copyright_checker

update kl_div matcher
  paconvert/api_matcher.py
  tests/test_nn_functional_kl_div.py
Due: copyright_checker

update torch.scatter\torch.Tensor.scatter\torch.Tensor.scatter_
  paconvert/api_mapping.json
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_scatter.py
Due: copyright_checker, check-json

revert torch.nn.Module.load_state_dict
  paconvert/api_mapping.json
Due: check-json

some add
  tests/test_Bfloat16Tensor.py
  tests/test_Tensor_ceil.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_expand.py
  tests/test_Tensor_floor_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_not_equal_.py
  tests/test___version__split.py
  tests/test_bfloat16.py
Due: copyright_checker

【docs对齐】清理与 docs 未对齐的 api (#437)
  .gitignore
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_IndependentTransform.py
  tests/test_distributions_ReshapeTransform.py
  tools/validate_docs/validate_docs.py
  tools/validate_unittest/.gitignore
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix first problem
  tests/test_Bfloat16Tensor.py
  tests/test_Tensor_ceil.py
  tests/test_Tensor_expand.py
  tests/test_Tensor_floor_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_symeig.py
  tests/test___version__split.py
  tests/test_bfloat16.py
Due: copyright_checker

fix first PR
  tests/test_Tensor_symeig.py
Due: copyright_checker

fix first PR
  tests/test_Bfloat16Tensor.py
Due: copyright_checker

update matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_kl_div.py
Due: copyright_checker, check-json

update F.kl_div matcher 易用性提升 (#438)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_kl_div.py
Due: copyright_checker, check-json

fix Bfloat16Tensor
  paconvert/api_matcher.py
  tests/test_Bfloat16Tensor.py
Due: copyright_checker

update tools
  tools/validate_docs/auto_build_docs.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

add test cases
  paconvert/api_mapping.json
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_scatter.py
Due: copyright_checker, check-json
