Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix rvalue as fun
  paconvert/transformer/import_transformer.py
Due: copyright_checker

add_test
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker

fix & add
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

add_test
  paconvert/converter.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/paddle_mark_unsupport.py
  tests/code_library/code_case/torch_code/torch_mark_unsupport.py
Due: copyright_checker

fix
  tests/code_library/code_case/__init__.py
Due: copyright_checker

fix
  paconvert/converter.py
Due: copyright_checker

Update converter.py
  paconvert/converter.py
Due: copyright_checker

fix README
  README.md
  paconvert/converter.py
  paconvert/main.py
Due: copyright_checker

fix README (#374)
  README.md
  paconvert/converter.py
  paconvert/main.py
Due: copyright_checker

fix readme
  README.md
Due: none

fix readme (#375)
  README.md
Due: none

fix readme (#376)
  README.md
Due: none

Fix bug of F.avg_pool2d
  paconvert/api_matcher.py
  tests/test_avg_pool1d.py
  tests/test_nn_functional_avg_pool1d.py
  tests/test_nn_functional_avg_pool2d.py
  tests/test_nn_functional_avg_pool3d.py
Due: copyright_checker

Fix bug that api is in str
  paconvert/converter.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_in_str.py
  tests/code_library/code_case/paddle_code/import_analysis.py
  tests/code_library/code_case/torch_code/api_in_str.py
  tests/code_library/code_case/torch_code/datasets/data.txt
Due: copyright_checker

Fix bug that api is in string (#377)
  paconvert/converter.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_in_str.py
  tests/code_library/code_case/paddle_code/import_analysis.py
  tests/code_library/code_case/torch_code/api_in_str.py
  tests/code_library/code_case/torch_code/datasets/data.txt
Due: copyright_checker

Fix bug of F.avg_pool2d (#378)
  paconvert/api_matcher.py
  tests/test_avg_pool1d.py
  tests/test_nn_functional_avg_pool1d.py
  tests/test_nn_functional_avg_pool2d.py
  tests/test_nn_functional_avg_pool3d.py
Due: copyright_checker

support func as rvalue, mark_unsupport badcase
  README.md
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/mark_unsupport.py
  tests/test_histogramdd.py
Due: copyright_checker

support func as rvalue, mark_unsupport badcase (#379)
  README.md
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/mark_unsupport.py
  tests/test_histogramdd.py
Due: copyright_checker

fix bracket in string badcase
  paconvert/converter.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/code_library/code_case/torch_code/mark_unsupport.py
Due: copyright_checker

fix bracket in string badcase (#380)
  paconvert/converter.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/code_library/code_case/torch_code/mark_unsupport.py
Due: copyright_checker

Support_Qwen_part_I
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/test_flash_attn_func.py
  tests/test_flash_attn_unpadded_func.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

Support Qwen Part I (#381)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/test_flash_attn_func.py
  tests/test_flash_attn_unpadded_func.py
Due: copyright_checker, check-json

update quantile
  paconvert/api_mapping.json
  tests/test_Tensor_nanquantile.py
  tests/test_Tensor_quantile.py
  tests/test_nanquantile.py
  tests/test_quantile.py
Due: copyright_checker, check-json

update tests about interpolation arg
  tests/test_Tensor_nanquantile.py
  tests/test_Tensor_quantile.py
  tests/test_nanquantile.py
  tests/test_quantile.py
Due: copyright_checker

update `torch.quantile`, `torch.nanquantile` and corresponding tensor methods (#383)
  paconvert/api_mapping.json
  tests/test_Tensor_nanquantile.py
  tests/test_Tensor_quantile.py
  tests/test_nanquantile.py
  tests/test_quantile.py
Due: copyright_checker, check-json

update torch.median
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_median.py
Due: copyright_checker, check-json

update test_nanmedian
  paconvert/api_mapping.json
  tests/test_nanmedian.py
Due: copyright_checker, check-json

update torch.nn.functional.group_norm
  paconvert/api_mapping.json
  tests/test_nn_functional_group_norm.py
Due: copyright_checker, check-json

update torch.nn.TransformerEncoderLayer
  paconvert/api_mapping.json
  tests/test_nn_TransformerEncoderLayer.py
Due: copyright_checker, check-json

update median
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_median.py
  tests/test_nanmedian.py
Due: copyright_checker, check-json

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

upgrade `torch.median` and 3 apis (#382)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_median.py
  tests/test_nanmedian.py
  tests/test_nn_TransformerEncoderLayer.py
  tests/test_nn_functional_group_norm.py
Due: copyright_checker, check-json

support_type_hinting
  paconvert/api_matcher.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/type_hinting.py
  tests/code_library/code_case/torch_code/api_torch_tensor.py
  tests/code_library/code_case/torch_code/type_hinting.py
Due: copyright_checker

support_type_hinting (#384)
  paconvert/api_matcher.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/type_hinting.py
  tests/code_library/code_case/torch_code/api_torch_tensor.py
  tests/code_library/code_case/torch_code/type_hinting.py
Due: copyright_checker

Update README.md
  README.md
Due: none

Update README.md (#385)
  README.md
Due: none

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
