Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix UT
  tests/code_library/code_case/torch_code/api_torch_Tensor_new_empty.py
  tests/test_Tensor_new_ones.py
  tests/test_jit_save.py
  tests/test_onnx_export.py
Due: copyright_checker

Update unittest_check_gpu.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

fix
  paconvert/global_var.py
  tests/test_median.py
  tests/test_nanmedian.py
Due: copyright_checker

skip some UT
  tests/test_Tensor_new_empty.py
  tests/test_Tensor_new_full.py
  tests/test_Tensor_new_ones.py
  tests/test_Tensor_new_zeros.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_ones.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_zeros.py
Due: none

convert
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
Due: none

fix
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
Due: none

Update unittest_check_gpu.sh
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
Due: copyright_checker

Update unittest_check_gpu.sh (#669)
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
Due: copyright_checker

fix ci
  scripts/unittest_check_gpu.sh
Due: copyright_checker

fix
  paconvert/global_var.py
Due: copyright_checker

[API compatibility] add functional.nn.silu (#658)
  paconvert/global_var.py
Due: copyright_checker

support_softmax_compat_with_torch (#652)
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_softmax.py
Due: copyright_checker, check-json

[API Compatibility] Support paddle.Tensor、paddle.norm、paddle.linalg.norm (#663)
  paconvert/global_var.py
  tests/test_norm.py
Due: copyright_checker

[API Compatiblity] add c sink api (#659)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_expand.py
Due: copyright_checker

change dtype form str to paddle.dtype (#627)
  paconvert/api_matcher.py
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_ones.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_zeros.py
Due: none

add some API to NO_NEED_CONVERT
  paconvert/api_mapping.json
  paconvert/global_var.py
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_InstanceNorm3D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_sigmoid.py
  tests/code_library/code_case/paddle_code/api_paddle_permute.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_stop_gradient.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/test_jit_save.py
  tests/test_median.py
  tests/test_nanmedian.py
  tests/test_onnx_export.py
Due: copyright_checker, check-json

add some API to NO_NEED_CONVERT (#671)
  paconvert/api_mapping.json
  paconvert/global_var.py
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_Size.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_InstanceNorm3D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_sigmoid.py
  tests/code_library/code_case/paddle_code/api_paddle_permute.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_stop_gradient.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/test_jit_save.py
  tests/test_median.py
  tests/test_nanmedian.py
  tests/test_onnx_export.py
Due: copyright_checker, check-json

update
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_ones.py
Due: none

Update global_var.py
  paconvert/global_var.py
Due: copyright_checker

update global_var
  paconvert/global_var.py
Due: copyright_checker

update global_var (#672)
  paconvert/global_var.py
Due: copyright_checker

fix api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
Due: none

remove wrong files
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py
  tests/code_library/code_case/torch_code/api_torch_new_empty.py
Due: none

add api_paddle_Tensor_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_tensor.py
Due: none

fix
  tests/code_library/code_case/__init__.py
Due: none

fix for new_tensor
  tests/code_library/code_case/__init__.py
Due: none

add sum repeat_interleave var
  paconvert/global_var.py
Due: copyright_checker

Add creation series API conversion (#630)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/global_var.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_zeros.py
  tests/code_library/code_case/paddle_code/api_paddle_new_empty.py
  tests/code_library/code_case/torch_code/api_torch_Tensor_new_empty.py
  tests/code_library/code_case/torch_code/api_torch_Tensor_new_zeros.py
  tests/test_Tensor_new_empty.py
  tests/test_Tensor_new_full.py
  tests/test_Tensor_new_ones.py
  tests/test_Tensor_new_zeros.py
Due: copyright_checker, check-json

add apis to NO_NEED_CONVERT_LIST
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] add some api (#619)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add API multinomial, var, rand_like, mean, Tensor.mean (#674)
  paconvert/global_var.py
Due: copyright_checker

update global_var (#675)
  paconvert/global_var.py
Due: copyright_checker

rm
  paconvert/global_var.py
Due: copyright_checker

Fix CI
  paconvert/global_var.py
Due: copyright_checker

add some API to NO_NEED_CONVERT (#676)
  paconvert/global_var.py
Due: copyright_checker

add paddle.Tensor.clamp and paddle.Tensor.itemsize
  paconvert/global_var.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
