Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_is_inference.py
Due: copyright_checker, check-json

test
  paconvert/api_matcher.py
  tests/test_is_inference.py
Due: copyright_checker

test
  tests/test_Tensor_is_inference.py
  tests/test_is_inference.py
Due: copyright_checker

test
  paconvert/api_mapping.json
  tests/test_is_inference.py
Due: copyright_checker, check-json

update
  paconvert/api_matcher.py
Due: copyright_checker

update
  tests/test_distributed_rpc_get_worker_info.py
Due: copyright_checker

test
  paconvert/api_mapping.json
Due: check-json

test
  tests/test_Tensor_is_inference.py
Due: copyright_checker

test
  paconvert/api_matcher.py
  tests/test_Tensor_is_inference.py
Due: copyright_checker

add is_inference
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_is_inference.py
  tests/test_is_inference.py
Due: copyright_checker, check-json

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add geometric_
  paconvert/api_mapping.json
  tests/test_Tensor_geometric_.py
Due: copyright_checker, check-json

add cauchy_
  paconvert/api_mapping.json
  tests/test_Tensor_cauchy_.py
Due: copyright_checker, check-json

add random_
  paconvert/api_mapping.json
  tests/test_Tensor_random_.py
Due: copyright_checker, check-json

update
  tests/test_Tensor_random_.py
Due: copyright_checker

优化GPU单测写法 (#494)
  tests/test_Tensor_pin_memory.py
  tests/test_cuda_Event.py
  tests/test_cuda_StreamContext.py
  tests/test_cuda_amp_autocast.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_device_count.py
  tests/test_cuda_empty_cache.py
  tests/test_cuda_get_device_capability.py
  tests/test_cuda_get_device_name.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_is_current_stream_capturing.py
  tests/test_cuda_mem_get_info.py
  tests/test_cuda_memory_usage.py
  tests/test_cuda_nvtx_range_pop.py
  tests/test_cuda_nvtx_range_push.py
  tests/test_cuda_synchronize.py
  tests/test_nn_Module_cuda.py
  tests/test_sparse_addmm.py
  tests/test_tensor.py
Due: copyright_checker

add chi2
  paconvert/api_mapping.json
  tests/test_distributions_chi2_Chi2.py
Due: copyright_checker, check-json

add Constraint
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_constraints_Constraint.py
Due: copyright_checker, check-json

add Gamma
  paconvert/api_mapping.json
  tests/test_distributions_gamma_Gamma.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
Due: copyright_checker

add Poisson LKJCholesky
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_lkj_cholesky_LKJCholesky.py
  tests/test_distributions_poisson_Poisson.py
Due: copyright_checker, check-json

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_poisson_Poisson.py
Due: copyright_checker, check-json

【Hackathon 7th No.38】为 Paddle 代码转换工具新增 API 转换规则（第5组）
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_isneginf.py
  tests/test_Tensor_isposinf.py
  tests/test_Tensor_isreal.py
  tests/test_Tensor_positive.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_block_diag.py
  tests/test_can_cast.py
  tests/test_cartesian_prod.py
  tests/test_float_power.py
  tests/test_isin.py
  tests/test_isneginf.py
  tests/test_isposinf.py
  tests/test_isreal.py
  tests/test_positive.py
  tests/test_scatter_reduce.py
Due: copyright_checker, check-json

add StudentT PositiveDefiniteTransform
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_studentT_StudentT.py
  tests/test_distributions_transforms_PositiveDefiniteTransform.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_signal_windows_exponential.py
Due: copyright_checker, check-json

fix_
  paconvert/api_matcher.py
Due: copyright_checker

fix docs api
  tests/test_Tensor_get_device.py
  tests/test_cuda_BoolTensor.py
  tests/test_cuda_ByteTensor.py
  tests/test_cuda_DoubleTensor.py
  tests/test_cuda_FloatTensor.py
  tests/test_cuda_HalfTensor.py
  tests/test_cuda_IntTensor.py
  tests/test_cuda_LongTensor.py
  tests/test_cuda_ShortTensor.py
  tests/test_cuda_manual_seed_all.py
  tests/test_sparse_mm.py
Due: copyright_checker

fix docs api
  tests/test_cuda_initial_seed.py
Due: copyright_checker

优化GPU单测写法-2 (#497)
  tests/test_Tensor_get_device.py
  tests/test_cuda_BoolTensor.py
  tests/test_cuda_ByteTensor.py
  tests/test_cuda_DoubleTensor.py
  tests/test_cuda_FloatTensor.py
  tests/test_cuda_HalfTensor.py
  tests/test_cuda_IntTensor.py
  tests/test_cuda_LongTensor.py
  tests/test_cuda_ShortTensor.py
  tests/test_cuda_manual_seed_all.py
  tests/test_sparse_mm.py
Due: copyright_checker

update
  tests/test_distributions_constraints_Constraint.py
  tests/test_distributions_lkj_cholesky_LKJCholesky.py
  tests/test_distributions_studentT_StudentT.py
  tests/test_distributions_transforms_PositiveDefiniteTransform.py
  tests/test_is_inference.py
Due: copyright_checker

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_is_inference.py
Due: copyright_checker, check-json

add remote
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributed_rpc_remote.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
