Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix bug in tests/test_cosine_similarity.py
  tests/test_cosine_similarity.py
Due: copyright_checker

fix api_mapping of torch.nn.utils.spectral_norm
  paconvert/api_mapping.json
Due: check-json

fix api_mapping of torch.var_mean
  paconvert/api_mapping.json
Due: check-json

fix api_mapping of torch.norm
  paconvert/api_mapping.json
Due: check-json

fix api_mapping of torch.normal
  paconvert/api_mapping.json
Due: check-json

fix api_mapping of test.distributions.Distribution
  paconvert/api_mapping.json
Due: check-json

fix CI
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

fix CI (#292)
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

append float unittests in compare op
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
Due: copyright_checker

update Tensor.cumprod_
  paconvert/api_mapping.json
  tests/test_Tensor_cumprod_.py
Due: copyright_checker, check-json

update abs test
  tests/test_abs_.py
Due: copyright_checker

update 6 inplace method unittests
  tests/test_Tensor_cumprod_.py
  tests/test_Tensor_cumsum_.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_floor_divide_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_equal_.py
Due: copyright_checker

append bool cast in compare op unittests
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
Due: copyright_checker

add dtype mapping
  paconvert/api_mapping.json
Due: check-json

update tests of inplace method
  tests/test_abs_.py
  tests/test_nn_functional_hardtanh_.py
  tests/test_nn_functional_leaky_relu_.py
Due: copyright_checker

update 4 inplace method unittests
  tests/test_Tensor_greater_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_index_add_.py
  tests/test_Tensor_index_put_.py
Due: copyright_checker

update inplace_part_1
  paconvert/api_mapping.json
  tests/test_Tensor_bitwise_and_.py
  tests/test_Tensor_bitwise_not_.py
  tests/test_Tensor_bitwise_or_.py
  tests/test_Tensor_bitwise_xor_.py
  tests/test_Tensor_cumprod_.py
  tests/test_Tensor_cumsum_.py
  tests/test_Tensor_digamma_.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_floor_divide_.py
  tests/test_Tensor_frac_.py
  tests/test_Tensor_gcd_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_index_put_.py
  tests/test_abs_.py
  tests/test_nn_functional_hardtanh_.py
  tests/test_nn_functional_leaky_relu_.py
Due: copyright_checker, check-json

update unittests for 3 inplace bitwise methods
  tests/test_Tensor_bitwise_and_.py
  tests/test_Tensor_bitwise_or_.py
  tests/test_Tensor_bitwise_xor_.py
Due: copyright_checker

remove torch.cumprod_
  paconvert/api_mapping.json
Due: check-json

fix incorrect args_list
  paconvert/api_mapping.json
Due: check-json

update Tensor.cumsum_
  paconvert/api_mapping.json
  tests/test_Tensor_cumsum_.py
Due: copyright_checker, check-json

update unittests
  tests/test_Tensor_div_.py
  tests/test_Tensor_divide_.py
Due: copyright_checker

support test_Tensor_div
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_div_.py
  tests/test_Tensor_divide_.py
  tests/test_Tensor_true_divide_.py
Due: copyright_checker, check-json

remove unnecessary mapping
  paconvert/api_mapping.json
Due: check-json

update sub_ unittest
  paconvert/api_mapping.json
  tests/test_Tensor_sub_.py
Due: copyright_checker, check-json

add test_Tensor_detach_ , sometimes raise Exception
  tests/test_Tensor_detach_.py
Due: copyright_checker

add unsupport and reason to Tensor.detach_
  tests/test_Tensor_detach_.py
Due: copyright_checker

remove compare api mapping
  paconvert/api_mapping.json
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
Due: copyright_checker, check-json

update min_input_args
  paconvert/api_mapping.json
Due: check-json

add 7 inplace method api
  paconvert/api_mapping.json
  tests/test_Tensor_nan_to_num_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_neg_.py
  tests/test_Tensor_negative_.py
  tests/test_Tensor_not_equal_.py
  tests/test_Tensor_polygamma_.py
  tests/test_Tensor_pow_.py
Due: copyright_checker, check-json

add 6 inplace method api
  paconvert/api_mapping.json
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
  tests/test_Tensor_logit_.py
  tests/test_Tensor_lt_.py
Due: copyright_checker, check-json

add type cast
  tests/test_Tensor_le_.py
Due: copyright_checker

update logical_not and logical_not_
  paconvert/api_mapping.json
Due: check-json

update compare unittests
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_lt_.py
Due: copyright_checker

update unittests
  tests/test_Tensor_logit_.py
  tests/test_Tensor_nan_to_num_.py
  tests/test_Tensor_polygamma_.py
  tests/test_Tensor_pow_.py
Due: copyright_checker

add 10 inplace method api
  paconvert/api_mapping.json
  tests/test_Tensor_lcm_.py
  tests/test_Tensor_ldexp_.py
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_lgamma_.py
  tests/test_Tensor_log10_.py
  tests/test_Tensor_log1p_.py
  tests/test_Tensor_log2_.py
  tests/test_Tensor_log_.py
Due: copyright_checker, check-json

update compare op unittests
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker
