Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

update Matcher and testcase
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_reset_max_memory_cached.py
  tests/test_onnx_export.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update testcase
  tests/test_onnx_export.py
Due: copyright_checker

update Matcher and testcase (#544)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_addcmul_.py
  tests/test_cuda_current_device.py
  tests/test_cuda_reset_max_memory_allocated.py
  tests/test_cuda_reset_max_memory_cached.py
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_einsum.py
  tests/test_nn_DataParallel.py
  tests/test_onnx_export.py
  tools/validate_docs/validate_docs.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix some bug
  README.md
  README_EN.md
  paconvert/api_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/utils.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
  tests/test_load.py
  tests/test_save.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

fix some bug (#546)
  README.md
  README_EN.md
  paconvert/api_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/utils.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
  tests/test_load.py
  tests/test_save.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

Update base.py
  paconvert/base.py
Due: copyright_checker

support import replace directly
  paconvert/base.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
Due: copyright_checker

support import mapping directly (#547)
  paconvert/base.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
Due: copyright_checker

fix a some bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/api_wildcard_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  setup.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
  tests/test_autograd_function_FunctionCtx_mark_dirty.py
  tests/test_autograd_function_FunctionCtx_mark_non_differentiable.py
  tests/test_autograd_function_FunctionCtx_saved_tensors.py
  tests/test_nn_init_kaiming_normal_.py
  tests/test_nn_init_kaiming_uniform_.py
  tests/test_nn_init_normal_.py
  tests/test_nn_init_orthogonal_.py
  tests/test_nn_init_trunc_normal_.py
  tests/test_nn_init_uniform_.py
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_init_xavier_uniform_.py
Due: copyright_checker, check-json

fix a some bugs (#548)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/api_wildcard_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  setup.py
  tests/code_library/code_case/paddle_code/may_paddle_package_list.py
  tests/code_library/code_case/torch_code/may_torch_package_list.py
  tests/test_autograd_function_FunctionCtx_mark_dirty.py
  tests/test_autograd_function_FunctionCtx_mark_non_differentiable.py
  tests/test_autograd_function_FunctionCtx_saved_tensors.py
  tests/test_nn_init_kaiming_normal_.py
  tests/test_nn_init_kaiming_uniform_.py
  tests/test_nn_init_normal_.py
  tests/test_nn_init_orthogonal_.py
  tests/test_nn_init_trunc_normal_.py
  tests/test_nn_init_uniform_.py
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_init_xavier_uniform_.py
Due: copyright_checker, check-json

fix attribute visit name bug
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker

fix attribute visit name bug
  paconvert/api_matcher.py
  paconvert/api_wildcard_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker, check-json

支持nlp transformers通配转换 (#551)
  paconvert/api_matcher.py
  paconvert/api_wildcard_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
Due: copyright_checker, check-json

Update README.md
  README.md
Due: none

disable some matcher
  paconvert/api_wildcard_mapping.json
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
Due: copyright_checker, check-json

disable some matcher (#552)
  paconvert/api_wildcard_mapping.json
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
Due: copyright_checker, check-json

fix torchvision.models.inception_v3/Inception3
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/torchvision_tests/test_Inception3.py
  tests/torchvision_tests/test_googlenet.py
  tests/torchvision_tests/test_inception_v3.py
Due: copyright_checker, check-json

Support some API convert (#554)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/torchvision_tests/test_Inception3.py
  tests/torchvision_tests/test_googlenet.py
  tests/torchvision_tests/test_inception_v3.py
Due: copyright_checker, check-json

update Matcher and testcase
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/monitored_barrier.py
  tests/test_cuda_get_rng_state.py
  tests/test_cuda_set_per_process_memory_fraction.py
  tests/test_distributed_is_available.py
  tests/test_distributed_is_nccl_available.py
  tests/test_get_default_device.py
  tests/test_nn_modules_module_register_module_forward_hook.py
  tests/test_nn_modules_module_register_module_forward_pre_hook.py
  tests/test_set_default_device.py
Due: copyright_checker, check-json

update testcase
  tests/test_distributed_monitored_barrier.py
Due: copyright_checker

test vander
  tests/apibase.py
  tests/test_distributed_monitored_barrier.py
Due: copyright_checker

fix monitored_barrier
  tests/apibase.py
  tests/test_distributed_monitored_barrier.py
Due: copyright_checker

delete monitored_barrier
  tests/test_distributed_monitored_barrier.py
Due: copyright_checker

delete monitored_barrier
  tests/test_vander.py
Due: copyright_checker

update Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_device_of.py
Due: copyright_checker, check-json

update Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_get_rng_state.py
  tests/test_nn_modules_module_register_module_forward_hook.py
  tests/test_nn_modules_module_register_module_forward_pre_hook.py
Due: copyright_checker, check-json

update Matcher
  paconvert/api_matcher.py
  tests/test_cuda_get_rng_state.py
  tests/test_nn_modules_module_register_module_forward_hook.py
Due: copyright_checker

repush
  paconvert/api_mapping.json
  tests/test_cuda_device_of.py
Due: copyright_checker, check-json

repush
  tests/test_cuda_device_of.py
Due: copyright_checker

merge the branch
  tests/test_cuda_device_of.py
Due: copyright_checker

update CudaDeviceOfMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_device_of.py
  tests/test_vander.py
Due: copyright_checker, check-json
