Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

Upsample (#115)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_Tensor_is_sparse.py
  tests/test_nn_Upsample.py
  tests/test_utils_cpp_extension_CUDAExtension.py
  tests/test_utils_cpp_extension_CppExtension.py
  tests/test_utils_data_SequentialSampler.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_dsplit.py
  tests/test_linalg_multi_dot.py
  tests/test_special_expm1.py
Due: copyright_checker, check-json

转换规则 No.234/236/237 (#133)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_Subset.py
  tests/test_utils_data_TensorDataset.py
Due: copyright_checker, check-json

转换规则 No.252/256/267 (#148)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_dsplit.py
  tests/test_linalg_multi_dot.py
  tests/test_special_expm1.py
Due: copyright_checker, check-json

add some loss api (#109)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_BCELoss.py
  tests/test_nn_L1Loss.py
  tests/test_nn_MSELoss.py
  tests/test_nn_Unfold.py
  tests/test_nn_functional_binary_cross_entropy.py
  tests/test_nn_functional_unfold.py
Due: copyright_checker, check-json

add multi api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_Tensor_add_.py
  tests/test_Tensor_is_cuda.py
  tests/test_Tensor_type.py
  tests/test_nn_CosineEmbeddingLoss.py
  tests/test_nn_HingeEmbeddingLoss.py
  tests/test_nn_MarginRankingLoss.py
  tests/test_nn_SoftMarginLoss.py
  tests/test_nn_Softmax2d.py
  tests/test_nn_TripletMarginLoss.py
  tests/test_utils_data_WeightedRandomSampler.py
Due: copyright_checker, check-json

polish get_paddle_class_attribute_nodes
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

polish get_paddle_class_attribute_nodes, fix Class method identify
  README.md
  paconvert/transformer/basic_transformer.py
  tests/test_Module_named_parameters.py
  tests/test_Module_register_buffer.py
  tests/test_nn_Module_buffers.py
Due: copyright_checker

add json
  paconvert/api_mapping.json
Due: check-json

Add tests
  paconvert/api_mapping.json
  tests/test_autograd_backward.py
  tests/test_autograd_functional_hessian.py
  tests/test_autograd_functional_jacobian.py
  tests/test_autograd_functional_jvp.py
  tests/test_autograd_functional_vjp.py
Due: copyright_checker, check-json

add json
  paconvert/api_mapping.json
  tests/test_nn_functional_max_pool1d.py
Due: copyright_checker, check-json

add convert rule No.22 and No.25
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_linalg_matrix_rank.py
  tests/test_qr.py
Due: copyright_checker, check-json

add convert rule No.26 torch.svd
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_svd.py
Due: copyright_checker, check-json

fix ut error
  tests/apibase.py
  tests/test_Generator.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_event.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_device.py
  tests/test_linalg_lstsq.py
  tests/test_nn_AdaptiveMaxPool1d.py
  tests/test_nn_AdaptiveMaxPool2d.py
  tests/test_nn_AdaptiveMaxPool3d.py
  tests/test_nn_functional_adaptive_max_pool1d.py
  tests/test_nn_functional_adaptive_max_pool2d.py
  tests/test_nn_functional_adaptive_max_pool3d.py
  tests/test_optim_Optimizer.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker

add coverage
  README.md
  paconvert/api_matcher.py
  tests/test_Tensor_T.py
  tests/test_Tensor_absolute.py
  tests/test_Tensor_ndim.py
  tests/test_cudnn_deterministic.py
  tests/test_max.py
  tests/test_nn_Module_named_parameters.py
  tests/test_nn_Module_state_dict.py
Due: copyright_checker

增加torch.geqrf单侧。
  tests/test_geqrf.py
Due: copyright_checker

add coverage
  README.md
  paconvert/api_matcher.py
  tests/test_Tensor_T.py
  tests/test_Tensor_histogram.py
  tests/test_Tensor_names.py
  tests/test_Tensor_ndim.py
  tests/test_cudnn_deterministic.py
  tests/test_max.py
  tests/test_nn_Module_named_parameters.py
  tests/test_nn_Module_state_dict.py
Due: copyright_checker

polish get_paddle_class_attribute_nodes, fix Class method identify (#157)
  README.md
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_T.py
  tests/test_Tensor_histogram.py
  tests/test_Tensor_names.py
  tests/test_Tensor_ndim.py
  tests/test_cudnn_deterministic.py
  tests/test_max.py
  tests/test_nn_Module_buffers.py
  tests/test_nn_Module_named_parameters.py
  tests/test_nn_Module_state_dict.py
Due: copyright_checker

update
  paconvert/api_matcher.py
Due: copyright_checker

fix bug
  paconvert/api_matcher.py
Due: copyright_checker

fixed
  paconvert/api_matcher.py
Due: copyright_checker

Add multi api (#165)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_Tensor_add_.py
  tests/test_Tensor_is_cuda.py
  tests/test_Tensor_type.py
  tests/test_nn_CosineEmbeddingLoss.py
  tests/test_nn_HingeEmbeddingLoss.py
  tests/test_nn_MarginRankingLoss.py
  tests/test_nn_SoftMarginLoss.py
  tests/test_nn_Softmax2d.py
  tests/test_nn_TripletMarginLoss.py
  tests/test_utils_data_WeightedRandomSampler.py
Due: copyright_checker, check-json

转换规则 No.19 torch.geqrf (#163)
  tests/test_geqrf.py
Due: copyright_checker

Add tests
  tests/test_nn_Module_cpu.py
  tests/test_nn_Module_cuda.py
  tests/test_nn_Module_xpu.py
Due: copyright_checker

fix some comment
  paconvert/api_matcher.py
  tests/test_cuda_amp_autocast.py
Due: copyright_checker

fix some comment
  paconvert/api_matcher.py
  tests/test_cuda_current_device.py
  tests/test_distributed_broadcast.py
  tests/test_distributed_new_group.py
Due: copyright_checker

fix unittest
  tests/test_distributed_broadcast.py
  tests/test_distributed_new_group.py
Due: copyright_checker

Add APIs of different types of Tensor
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_BoolTensor.py
  tests/test_ByteTensor.py
  tests/test_cuda_BoolTensor.py
  tests/test_cuda_ByteTensor.py
  tests/test_cuda_FloatTensor.py
  tests/test_cuda_IntTensor.py
  tests/test_cuda_LongTensor.py
Due: copyright_checker, check-json

Update test_nn_functional_max_pool1d.py
  tests/test_nn_functional_max_pool1d.py
Due: copyright_checker

Update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

add testcase in gumbel_softmax
  tests/test_nn_functional_gumbel_softmax.py
Due: copyright_checker

add note
  tests/test_nn_functional_poisson_nll_loss.py
Due: copyright_checker

compute_uv=False is not supported
  paconvert/api_matcher.py
  tests/test_svd.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  tests/test_i0.py
  tests/test_nextafter.py
  tests/test_polygamma.py
  tests/test_quantile.py
  tests/test_stft.py
Due: copyright_checker, check-json

转换规则 No.198 torch.distribution.kl.register_kl
  paconvert/api_mapping.json
  tests/test_distributions_kl_register_kl.py
Due: copyright_checker, check-json
