Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

易用性提升已修改的58个API核对 - part4 (#466)
  scripts/run_ci.sh
  setup.py
Due: copyright_checker

Update TypicalCase_Qwen.md
  docs/TypicalCase_Qwen.md
Due: none

code_check
  tests/distributed/run_test.sh
Due: copyright_checker

fix
  paconvert/api_matcher.py
Due: copyright_checker

SoftmaxMatcher (#467)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_softmax.py
  tests/test_nn_LogSoftmax.py
  tests/test_nn_Softmax.py
  tests/test_nn_functional_softmax.py
Due: copyright_checker, check-json

Fix some matcher (#468)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_addcmul_.py
  tests/test_detach.py
  tests/test_hub_load_state_dict_from_url.py
Due: copyright_checker, check-json

fix docs api
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_amp_autocast.py
  tests/test_amp_autocast_mode_autocast.py
  tests/test_channel_shuffle.py
  tests/test_distributions_Binomial.py
  tests/test_distributions_MultivariateNormal.py
  tests/test_distributions_binomial_Binomial.py
  tests/test_distributions_continuous_bernoulli_ContinuousBernoulli.py
  tests/test_distributions_multivariate_normal_MultivariateNormal.py
  tests/test_igamma.py
  tests/test_igammac.py
  tests/test_nn_functional_channel_shuffle.py
  tests/test_special_gammainc.py
  tests/test_special_gammaincc.py
  tests/torch_distributions_exponential_Exponential.py
Due: copyright_checker, check-json

fix docs api
  tests/test_special_gammainc.py
Due: copyright_checker

udpate diff and matrix_rank
  paconvert/api_mapping.json
  tests/test_Tensor_diff.py
  tests/test_diff.py
  tests/test_linalg_matrix_rank.py
Due: copyright_checker, check-json

fix docs api
  tests/test_igammac.py
Due: copyright_checker

fix torch.Tensor.is_cuda
  paconvert/api_matcher.py
  pyproject.toml
Due: copyright_checker

fix torch.Tensor.is_cuda (#476)
  paconvert/api_matcher.py
  pyproject.toml
Due: copyright_checker

【Hackathon 7th No.39】为 Paddle 代码转换工具新增 API 转换规则（第 6 组）
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_AdaptiveLogSoftmaxWithLoss.py
  tests/test_nn_CircularPad3d.py
  tests/test_nn_LPPool1d.py
  tests/test_nn_LPPool2d.py
  tests/test_nn_Softmin.py
  tests/test_nn_functional_feature_alpha_dropout.py
  tests/test_nn_functional_lp_pool1d.py
  tests/test_nn_functional_lp_pool2d.py
  tests/test_nn_functional_threshold_.py
  tests/test_nn_utils_parametrizations_weight_norm.py
  tests/test_optim_NAdam.py
  tests/test_optim_RAdam.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  tests/test_signal_windows_blackman.py
  tests/test_signal_windows_cosine.py
  tests/test_signal_windows_exponential.py
  tests/test_signal_windows_gaussian.py
  tests/test_signal_windows_general_cosine.py
  tests/test_signal_windows_general_hamming.py
  tests/test_signal_windows_hamming
  tests/test_signal_windows_hann.py
Due: copyright_checker, check-json

code style
  paconvert/api_mapping.json
  tests/test_signal_windows_blackman.py
  tests/test_signal_windows_cosine.py
  tests/test_signal_windows_exponential.py
  tests/test_signal_windows_gaussian.py
  tests/test_signal_windows_general_cosine.py
  tests/test_signal_windows_general_hamming.py
  tests/test_signal_windows_hamming.py
  tests/test_signal_windows_hann.py
Due: copyright_checker, check-json

Udpate `paddle.diff` and `paddle.linalg.matrix_rank` 易用性提升 (#478)
  paconvert/api_mapping.json
  tests/test_Tensor_diff.py
  tests/test_diff.py
  tests/test_linalg_matrix_rank.py
Due: copyright_checker, check-json

fix
  tests/test_signal_windows_blackman.py
  tests/test_signal_windows_cosine.py
  tests/test_signal_windows_exponential.py
  tests/test_signal_windows_gaussian.py
  tests/test_signal_windows_general_cosine.py
  tests/test_signal_windows_general_hamming.py
  tests/test_signal_windows_hamming.py
  tests/test_signal_windows_hann.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

fix
  .vscode/settings.json
  tests/test_signal_windows_blackman.py
  tests/test_signal_windows_cosine.py
  tests/test_signal_windows_exponential.py
  tests/test_signal_windows_gaussian.py
  tests/test_signal_windows_general_cosine.py
  tests/test_signal_windows_general_hamming.py
  tests/test_signal_windows_hamming.py
  tests/test_signal_windows_hann.py
Due: copyright_checker, check-json

update torch.nn.functional.max_unpool
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

【Hackathon 7th No.37】为 Paddle 代码转换工具新增 API 转换规则（第 4 组）
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_igamma.py
  tests/test_Tensor_igamma_.py
  tests/test_Tensor_igammac.py
  tests/test_Tensor_igammac_.py
  tests/test_Tensor_matrix_exp.py
  tests/test_Tensor_mvlgamma.py
  tests/test_Tensor_mvlgamma_.py
  tests/test_Tensor_orgqr.py
  tests/test_Tensor_ormqr.py
  tests/test__assert.py
  tests/test_linalg_inv_ex.py
  tests/test_mvlgamma.py
  tests/test_ormqr.py
  tests/test_special_ndtr.py
  tests/test_testing_make_tensor.py
Due: copyright_checker, check-json

Unpool/Unpool3d kernel support input of int64 `indices` 易用性提升 (#480)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update
  tests/test_Tensor_igamma.py
  tests/test_Tensor_igamma_.py
  tests/test_Tensor_igammac.py
  tests/test_Tensor_igammac_.py
Due: copyright_checker

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_igamma.py
  tests/test_Tensor_igamma_.py
  tests/test_Tensor_igammac.py
  tests/test_Tensor_igammac_.py
  tests/test_Tensor_matrix_exp.py
  tests/test_Tensor_mvlgamma.py
  tests/test_Tensor_mvlgamma_.py
  tests/test_Tensor_orgqr.py
  tests/test_Tensor_ormqr.py
  tests/test_linalg_cholesky_ex.py
  tests/test_linalg_inv_ex.py
  tests/test_mvlgamma.py
  tests/test_ormqr.py
Due: copyright_checker, check-json

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix docs api
  paconvert/api_mapping.json
  tests/apibase.py
  tests/test_Tensor_new_tensor.py
  tests/test_nn_Module_named_modules.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix docs api
  tests/distributed/load_lib.py
  tests/test_distributions_Binomial.py
  tests/test_distributions_ContinuousBernoulli.py
  tests/test_distributions_binomial_Binomial.py
  tests/test_distributions_continuous_bernoulli_ContinuousBernoulli.py
  tests/test_e.py
Due: copyright_checker

fix
  .vscode/settings.json
  paconvert/api_mapping.json
Due: check-json

fix docs api
  tests/test_distributions_Binomial.py
Due: copyright_checker
