Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

torch.scatter add out args (#238)
  tests/test_scatter.py
Due: copyright_checker

Add tests
  tests/test_Tensor_bitwise_left_shift_.py
  tests/test_Tensor_bitwise_right_shift_.py
  tests/test_Tensor_retains_grad.py
  tests/test_autograd_Function_jvp.py
  tests/test_distributed_monitored_barrier.py
  tests/test_layout.py
  tests/test_nn_utils_stateless_functional_call.py
  tests/test_resolve_conj.py
  tests/test_sparse_sampled_addmm.py
  tests/test_special_multigammaln.py
  tests/test_testing_make_tensor.py
  tests/test_utils_data_default_convert.py
Due: copyright_checker

Fix
  tests/test_Tensor_retains_grad.py
Due: copyright_checker

fix some bug
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_Optimizer_add_param_group.py
Due: copyright_checker, check-json

Add test
  paconvert/api_mapping.json
  tests/test_nn_functional_dropout1d.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_alias_mapping.json
  tests/test_cuda_is_current_stream_capturing.py
  tests/test_distributions_CumulativeDistributionTransform.py
  tests/test_distributions_SoftplusTransform.py
Due: copyright_checker, check-json

fix some bug
  README.md
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker, check-json

fix some bug (#242)
  README.md
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  tests/test_optim_Optimizer_add_param_group.py
Due: copyright_checker, check-json

add _ to tests, rather than delete. Add test coverage to Adam
  tests/test_optim_Adam.py
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
  tests/test_optim_Optimizer_add_param_group.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker

fix
  tests/test_distributed_all_gather_object.py
Due: copyright_checker

AdamW test2
  tests/test_optim_AdamW.py
Due: copyright_checker

fix batch norm bug
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/import_transformer.py
  scripts/code_install_check.sh
  setup.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm2D.py
  tests/test_batchnorm1d.py
  tests/test_batchnorm2d.py
  tests/test_batchnorm3d.py
Due: copyright_checker, check-json

fix batch norm bug (#247)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/import_transformer.py
  scripts/code_install_check.sh
  setup.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm2D.py
  tests/test_batchnorm1d.py
  tests/test_batchnorm2d.py
  tests/test_batchnorm3d.py
Due: copyright_checker, check-json

Optimizers 转换 (#194)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_Adadelta.py
  tests/test_optim_Adagrad.py
  tests/test_optim_Adam.py
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
  tests/test_optim_LBFGS.py
  tests/test_optim_Optimizer_add_param_group.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
  tests/test_optim_SGD.py
Due: copyright_checker, check-json

转换规则 No. 331 (#237)
  paconvert/api_mapping.json
  tests/test_Tensor_conj_physical.py
Due: copyright_checker, check-json

转换规则 No.373/375/376 (#244)
  paconvert/api_alias_mapping.json
  tests/test_cuda_is_current_stream_capturing.py
  tests/test_distributions_CumulativeDistributionTransform.py
  tests/test_distributions_SoftplusTransform.py
Due: copyright_checker, check-json

转换规则 No. 370 (#243)
  paconvert/api_mapping.json
  tests/test_nn_functional_dropout1d.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  tests/test_special_softmax.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Module_get_buffer.py
  tests/test_nn_Module_get_parameter.py
  tests/test_nn_Module_get_submodule.py
  tests/test_nn_Module_register_parameter.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  tests/test_sparse_addmm.py
  tests/test_sparse_mm.py
Due: copyright_checker, check-json

Add test
  paconvert/api_alias_mapping.json
  tests/test_distributions_Distribution.py
Due: copyright_checker, check-json

optimize visit_name/setattr/static_call/torch.Tensor.rename/torch.backends.cudnn.*
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  tests/code_library/code_case/file_mapping_dict.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_uniform_.py
  tests/code_library/code_case/paddle_code/api_paddle_transpose.py
  tests/code_library/code_case/paddle_code/attribute_setattr.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/code_library/code_case/paddle_code/non_paddle_class_method.py
  tests/code_library/code_case/torch_code/attribute_setattr.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/class_method_static_call.py
  tests/code_library/code_case/torch_code/non_torch_class_method.py
  tests/pytest.ini
  tests/test_Tensor_rename.py
  tests/test_backends_cudnn_allow_tf32.py
  tests/test_backends_cudnn_deterministic.py
  tests/test_backends_cudnn_enabled.py
Due: copyright_checker, check-json

optimize visit_Name/setattr/static_call/Tensor.rename/torch.backends.cudnn.* (#249)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  tests/code_library/code_case/file_mapping_dict.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_uniform_.py
  tests/code_library/code_case/paddle_code/api_paddle_transpose.py
  tests/code_library/code_case/paddle_code/attribute_setattr.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/code_library/code_case/paddle_code/non_paddle_class_method.py
  tests/code_library/code_case/torch_code/attribute_setattr.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/class_method_static_call.py
  tests/code_library/code_case/torch_code/non_torch_class_method.py
  tests/pytest.ini
  tests/test_Tensor_rename.py
  tests/test_backends_cudnn_allow_tf32.py
  tests/test_backends_cudnn_deterministic.py
  tests/test_backends_cudnn_enabled.py
Due: copyright_checker, check-json

demo for StepLR
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker, check-json

fix CI
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  scripts/run_ci.sh
Due: copyright_checker

fix CI (#251)
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  scripts/run_ci.sh
Due: copyright_checker

转换规则 No.164 (#250)
  paconvert/api_alias_mapping.json
  tests/test_distributions_Distribution.py
Due: copyright_checker, check-json

modify test
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

first letter of Macher class should be Capital
  paconvert/api_matcher.py
Due: copyright_checker

consistency
  paconvert/api_mapping.json
Due: check-json

fix GenericMatcher
  paconvert/api_matcher.py
Due: copyright_checker

fix GenericMatcher (#253)
  paconvert/api_matcher.py
Due: copyright_checker

转换规则 No.384-387 (#245)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Module_get_buffer.py
  tests/test_nn_Module_get_parameter.py
  tests/test_nn_Module_get_submodule.py
  tests/test_nn_Module_register_parameter.py
Due: copyright_checker, check-json

转换规则 No. 362 (#239)
  paconvert/api_mapping.json
  tests/test_special_softmax.py
Due: copyright_checker, check-json

Fix
  tests/test_sparse_addmm.py
  tests/test_sparse_mm.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  tests/test_autocast.py
  tests/test_cpu_amp_autocast.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  tests/test_sparse_csr_tensor.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributions_CatTransform.py
  tests/test_linalg_lu.py
  tests/test_nn_Dropout1d.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  tests/test_utils_data_ConcatDataset.py
  tests/test_utils_data_get_worker_info.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
