Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

update 7 special unittests
  paconvert/api_mapping.json
  tests/test_special_digamma.py
  tests/test_special_erf.py
  tests/test_special_erfc.py
  tests/test_special_erfinv.py
  tests/test_special_exp2.py
  tests/test_special_expit.py
  tests/test_special_expm1.py
Due: copyright_checker, check-json

update 3 unittests
  paconvert/api_mapping.json
  tests/test_special_gammaln.py
  tests/test_special_i0.py
Due: copyright_checker, check-json

fix bug
  tests/test_distributions_transforms_IndependentTransform.py
Due: copyright_checker

fix all special api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_special_i1.py
  tests/test_special_i1e.py
  tests/test_special_log1p.py
  tests/test_special_log_softmax.py
  tests/test_special_logit.py
  tests/test_special_logsumexp.py
  tests/test_special_ndtri.py
  tests/test_special_polygamma.py
  tests/test_special_psi.py
  tests/test_special_round.py
  tests/test_special_sinc.py
  tests/test_special_xlog1py.py
Due: copyright_checker, check-json

one bug in Adadelta
  paconvert/api_mapping.json
  tests/test_optim_Adadelta.py
Due: copyright_checker, check-json

update tool
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

fix optim.Ada* unittests
  paconvert/api_mapping.json
  tests/optimizer_helper.py
  tests/test_optim_Adadelta.py
  tests/test_optim_Adagrad.py
  tests/test_optim_Adam.py
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_hypot.py
  tests/test_Tensor_hypot_.py
  tests/test_Tensor_index_fill.py
  tests/test_Tensor_index_fill_.py
  tests/test_Tensor_masked_fill.py
  tests/test_Tensor_masked_fill_.py
  tests/test_Tensor_to.py
  tests/test_atleast_1d.py
  tests/test_atleast_2d.py
  tests/test_atleast_3d.py
  tests/test_combinations.py
  tests/test_diagonal_scatter.py
  tests/test_hypot.py
  tests/test_index_fill.py
  tests/test_linalg_householder_product.py
  tests/test_masked_fill.py
  tests/test_masked_select.py
  tests/test_optim_lr_scheduler_CosineAnnealingWarmRestarts.py
  tests/test_optim_lr_scheduler_LinearLR.py
  tests/test_special_multigammaln.py
  tests/test_utils_data_ConcatDataset.py
  tests/test_utils_data_SubsetRandomSampler.py
Due: copyright_checker, check-json

transfer ReshapeTransform
  paconvert/api_mapping.json
  tests/test_distributions_transforms_ReshapeTransform.py
Due: copyright_checker, check-json

Update test_distributions_transforms_ReshapeTransform.py
  tests/test_distributions_transforms_ReshapeTransform.py
Due: copyright_checker

transfer ExpTransform and PowerTransform
  paconvert/api_mapping.json
  tests/test_distributions_transforms_ExpTransform.py
  tests/test_distributions_transforms_PowerTransform.py
Due: copyright_checker, check-json

fix torch.round paddle_api
  paconvert/api_mapping.json
Due: check-json

update optimizer_helper
  paconvert/api_mapping.json
  tests/optimizer_helper.py
  tests/test_optim_LBFGS.py
Due: copyright_checker, check-json

fix torch.optim.LBFGS
  tests/test_optim_LBFGS.py
Due: copyright_checker

fix torch.optim.Optimizer
  paconvert/api_mapping.json
  tests/test_optim_Optimizer.py
Due: copyright_checker, check-json

update optimizer.load_state_dict
  paconvert/api_mapping.json
  tests/test_optim_Optimizer_load_state_dict.py
Due: copyright_checker, check-json

fix RMSprop
  paconvert/api_mapping.json
  tests/optimizer_helper.py
  tests/test_optim_RMSprop.py
Due: copyright_checker, check-json

fix SGD
  paconvert/api_mapping.json
  tests/test_optim_SGD.py
Due: copyright_checker, check-json

update lr_scheduler
  paconvert/api_mapping.json
  tests/lr_scheduler_helper.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker, check-json

fix all lr_scheduler
  paconvert/api_mapping.json
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
Due: copyright_checker, check-json

add unsupport case to optim
  tests/test_optim_Adagrad.py
  tests/test_optim_SGD.py
Due: copyright_checker

update url calculate
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update simple_map_api_url
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update map_api_url
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

fix 2 distributions.D*
  paconvert/api_mapping.json
  tests/test_distributions_Dirichlet.py
  tests/test_distributions_Distribution.py
Due: copyright_checker, check-json

fix 2 distributions
  paconvert/api_mapping.json
  tests/test_distributions_Bernoulli.py
  tests/test_distributions_Beta.py
Due: copyright_checker, check-json

fix 3 distributions.C*
  paconvert/api_mapping.json
  tests/test_distributions_Categorical.py
  tests/test_distributions_Cauchy.py
  tests/test_distributions_ComposeTransform.py
Due: copyright_checker, check-json

fix 2 distributions unittest
  paconvert/api_mapping.json
  tests/test_distributions_ExponentialFamily.py
  tests/test_distributions_Geometric.py
Due: copyright_checker, check-json

fix all distributions
  paconvert/api_mapping.json
  tests/test_distributions_Gumbel.py
  tests/test_distributions_Independent.py
  tests/test_distributions_Laplace.py
  tests/test_distributions_LogNormal.py
  tests/test_distributions_Multinomial.py
  tests/test_distributions_Normal.py
  tests/test_distributions_SigmoidTransform.py
  tests/test_distributions_SoftmaxTransform.py
  tests/test_distributions_StackTransform.py
  tests/test_distributions_StickBreakingTransform.py
  tests/test_distributions_Transform.py
  tests/test_distributions_TransformedDistribution.py
  tests/test_distributions_Uniform.py
  tests/test_distributions_kl_kl_divergence.py
  tests/test_distributions_kl_register_kl.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_pad.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_histogramdd.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  tests/test_nn_functional_pdist.py
Due: copyright_checker, check-json

Fix 21 unittests of `torch.special.*` api (#347)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_special_digamma.py
  tests/test_special_erf.py
  tests/test_special_erfc.py
  tests/test_special_erfinv.py
  tests/test_special_exp2.py
  tests/test_special_expit.py
  tests/test_special_expm1.py
  tests/test_special_gammaln.py
  tests/test_special_i0.py
  tests/test_special_i1.py
  tests/test_special_i1e.py
  tests/test_special_log1p.py
  tests/test_special_log_softmax.py
  tests/test_special_logit.py
  tests/test_special_logsumexp.py
  tests/test_special_ndtri.py
  tests/test_special_polygamma.py
  tests/test_special_psi.py
  tests/test_special_round.py
  tests/test_special_sinc.py
  tests/test_special_xlog1py.py
Due: copyright_checker, check-json

Fix 20 unittests of `torch.optim.*` api (#348)
  paconvert/api_mapping.json
  tests/lr_scheduler_helper.py
  tests/optimizer_helper.py
  tests/test_optim_Adadelta.py
  tests/test_optim_Adagrad.py
  tests/test_optim_Adam.py
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
  tests/test_optim_LBFGS.py
  tests/test_optim_Optimizer.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_RMSprop.py
  tests/test_optim_SGD.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

Fix 24 unittests of `torch.distributions.*` api (#349)
  paconvert/api_mapping.json
  tests/test_distributions_Bernoulli.py
  tests/test_distributions_Beta.py
  tests/test_distributions_Categorical.py
  tests/test_distributions_Cauchy.py
  tests/test_distributions_ComposeTransform.py
  tests/test_distributions_Dirichlet.py
  tests/test_distributions_Distribution.py
  tests/test_distributions_ExponentialFamily.py
  tests/test_distributions_Geometric.py
  tests/test_distributions_Gumbel.py
  tests/test_distributions_Independent.py
  tests/test_distributions_Laplace.py
  tests/test_distributions_LogNormal.py
  tests/test_distributions_Multinomial.py
  tests/test_distributions_Normal.py
  tests/test_distributions_SigmoidTransform.py
  tests/test_distributions_SoftmaxTransform.py
  tests/test_distributions_StackTransform.py
  tests/test_distributions_StickBreakingTransform.py
  tests/test_distributions_Transform.py
  tests/test_distributions_TransformedDistribution.py
  tests/test_distributions_Uniform.py
  tests/test_distributions_kl_kl_divergence.py
  tests/test_distributions_kl_register_kl.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  tests/test_Tensor_diagonal_scatter.py
  tests/test_Tensor_index_fill_.py
  tests/test_Tensor_signbit.py
  tests/test_index_fill.py
  tests/test_select_scatter.py
  tests/test_signbit.py
Due: copyright_checker, check-json

fix bug
  paconvert/api_mapping.json
  tests/test_distributions_transforms_ExpTransform.py
  tests/test_distributions_transforms_PowerTransform.py
Due: copyright_checker, check-json

Fix
  tests/test_nn_functional_pad.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
