Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix
  paconvert/global_var.py
Due: copyright_checker

add some API to NO_NEED_CONVERT
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_equall.py
  tests/test_Tensor___deepcopy__.py
  tests/test_Tensor___pow__.py
  tests/test_Tensor_requires_grad_.py
Due: copyright_checker, check-json

[API compatibility] Add torch.nn.Module.zero_grad、load_state_dict and Tensor.split_with_sizes (#776)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/test_Tensor_tensor_split_with_sizes.py
Due: copyright_checker

add some API to NO_NEED_CONVERT (#777)
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_equall.py
  tests/test_Tensor___deepcopy__.py
  tests/test_Tensor___pow__.py
  tests/test_Tensor_requires_grad_.py
Due: copyright_checker, check-json

[API Compatibility] Add fft alias APIs to NO_NEED_CONVERT_LIST (#779)
  paconvert/global_var.py
Due: copyright_checker

feat: update API mappings and add torch.Tensor.shape support
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_shape.py
  tests/test_nn_MultiheadAttention.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker, check-json

[API Compatibility] Add 2 alias APIs to NO_NEED_CONVERT_LIST and add 1 test
  paconvert/global_var.py
  tests/test_group_norm.py
Due: copyright_checker

[API Compatibility No.25] add torch.acos -part (#775)
  docs/CONTRIBUTING.md
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add some APIs to NO_NEED_CONVERT_LIST (#774)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add 2 alias APIs to NO_NEED_CONVERT_LIST and add 1 test (#772)
  paconvert/global_var.py
  tests/test_group_norm.py
Due: copyright_checker

add test
  tests/test_equal.py
Due: copyright_checker

acosh
  paconvert/global_var.py
Due: copyright_checker

add some API to NO_NEED_CONVERT
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_uniform_.py
Due: copyright_checker, check-json

add some API to NO_NEED_CONVERT (#781)
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_uniform_.py
Due: copyright_checker, check-json

Skip sdpa test on cpu and bf16 test on sm<80 gpu
  paconvert/global_var.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

Set rtol=1e-3 for test_nn_MHA
  tests/test_nn_MultiheadAttention.py
Due: copyright_checker

add torch.frac to list
  paconvert/global_var.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

test: change tolerance from rtol to atol in MultiheadAttention tests
  tests/test_nn_MultiheadAttention.py
Due: copyright_checker

[API Compatibility No.26] add torch.acosh -part (#783)
  paconvert/global_var.py
Due: copyright_checker

Remove bf16 skip on v100
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

feat(tests): update tolerance from rtol to atol in scaled dot product attention tests
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

[API Compatibility] Add F.sdpa, nn.MultiheadAttention, Tensor.shape (#780)
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_shape.py
  tests/test_nn_MultiheadAttention.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker, check-json

[API Compatibility No.67] Add `torch.frac` -part (#784)
  paconvert/global_var.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  tests/test_utils_data_DataLoader.py
Due: copyright_checker, check-json

Update global_var.py
  paconvert/global_var.py
Due: copyright_checker

Fix result assignment in gradient test cases
  tests/test_nn_Module_requires_grad_.py
Due: copyright_checker

fix
  tests/test_nn_Module_requires_grad_.py
Due: copyright_checker

add asinh, atan, atan2
  paconvert/global_var.py
  tests/test_Tensor_t.py
  tests/test_cuda_stream.py
  tests/test_tensor.py
  tests/test_tensor_split.py
  tests/torchvision_tests/test_normalize.py
  tests/torchvision_tests/test_pad.py
  tests/torchvision_tests/test_resize.py
Due: copyright_checker

fix
  paconvert/global_var.py
  tests/test_Tensor_t.py
  tests/test_cuda_stream.py
  tests/test_tensor.py
  tests/test_tensor_split.py
  tests/torchvision_tests/test_normalize.py
  tests/torchvision_tests/test_pad.py
  tests/torchvision_tests/test_resize.py
Due: copyright_checker

update
  paconvert/api_mapping.json
  tests/test_max_pool2d.py
  tests/test_nn_functional_max_pool2d.py
Due: copyright_checker, check-json

update
  tests/test_nn_functional_max_pool2d.py
Due: copyright_checker

Clean up blank lines in global_var.py
  paconvert/global_var.py
Due: copyright_checker

[API Compatiblity] torch.equal/torch.Tensor. requires_grad_ (#782)
  paconvert/global_var.py
  tests/test_equal.py
  tests/test_nn_Module_requires_grad_.py
Due: copyright_checker

Add 'torch.tile' to NO_NEED_CONVERT_LIST for PyTorch argument alignment.
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility No.34] add torch.atanh -part (#786)
  paconvert/global_var.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
