Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix CI
  scripts/code_PRTemplate_check.sh
  scripts/code_pipeline_check.sh
  scripts/run_ci.sh
  setup.py
  tools/pipeline/build_and_deploy.py
  tools/pipeline/file_detect.py
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

[CI] add pipeline and PRTemplate CI (#64)
  README.md
  paconvert/api_matcher.py
  paconvert/main.py
  requirements-dev.txt
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_style_check.sh
  scripts/run_ci.sh
  setup.py
  tests/code_library/code_case/file_mapping_dict.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
  tests/code_library/code_case/torch_code/api_torch_nn_BatchNorm2d.py
  tools/coverage/coverage_diff.py
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

Add test case
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_det.py
  tests/test_equal.py
  tests/test_ger.py
  tests/test_inner.py
  tests/test_inverse.py
  tests/test_linalg_lstsq.py
  tests/test_lu_unpack.py
  tests/test_matmul.py
  tests/test_matrix_power.py
  tests/test_mm.py
  tests/test_mv.py
  tests/test_outer.py
  tests/test_pinverse.py
  tests/test_randint.py
  tests/test_slogdet.py
  tests/test_triangular_solve.py
Due: copyright_checker, check-json

test PRTemplare CI
  README.md
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

[CI] Test traggering PRTemplate CI (#69)
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

refactor the import
  tests/test_take.py
Due: copyright_checker

add torch.take (#62)
  paconvert/api_mapping.json
  tests/test_take.py
Due: copyright_checker, check-json

add PR template demo
  README.md
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

add PR template demo
  .github/PULL_REQUEST_TEMPLATE.md
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

support class function and import other module
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/utils.py
  tests/test_Tensor_reshape.py
Due: copyright_checker, check-json

support class function and import other module (#70)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/utils.py
  tests/test_Tensor_reshape.py
Due: copyright_checker, check-json

[CI] add fake API matcher (#71)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

add coverage visulization
  scripts/code_coverage_check.sh
Due: copyright_checker

[CI] add coverage visualization results (#72)
  scripts/code_coverage_check.sh
Due: copyright_checker

add sinc etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_sinc.py
  tests/test_select.py
  tests/test_sinc.py
  tests/test_special_sinc.py
Due: copyright_checker, check-json

add sinc etc.
  paconvert/api_mapping.json
Due: check-json

modify tensor strategy
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add sinc etc. (#67)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_count_nonzero.py
  tests/test_Tensor_diag.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_fliplr.py
  tests/test_Tensor_flipud.py
  tests/test_Tensor_histc.py
  tests/test_Tensor_hypot.py
  tests/test_Tensor_istft.py
  tests/test_Tensor_logdet.py
  tests/test_Tensor_negative.py
  tests/test_Tensor_pinverse.py
  tests/test_Tensor_repeat_interleave.py
  tests/test_Tensor_reshape_as.py
  tests/test_Tensor_select.py
  tests/test_Tensor_sgn.py
  tests/test_Tensor_sinc.py
  tests/test_Tensor_sub.py
  tests/test_Tensor_subtract.py
  tests/test_hypot.py
  tests/test_linalg_slogdet.py
  tests/test_random_get_rng_state.py
  tests/test_random_seed.py
  tests/test_random_set_rng_state.py
  tests/test_select.py
  tests/test_sinc.py
  tests/test_slogdet.py
  tests/test_special_sinc.py
Due: copyright_checker, check-json

Fix bugs
  tests/test_nn_MaxUnpool1d.py
  tests/test_nn_ModuleList.py
  tests/test_nn_functional_log_softmax.py
  tests/test_nn_functional_relu.py
Due: copyright_checker

fix bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_AlphaDropout.py
  tests/test_nn_CELU.py
  tests/test_nn_Dropout.py
  tests/test_nn_Dropout2d.py
  tests/test_nn_Dropout3d.py
  tests/test_nn_ELU.py
  tests/test_nn_Hardsigmoid.py
  tests/test_nn_Hardswish.py
  tests/test_nn_Hardtanh.py
  tests/test_nn_LeakyReLU.py
  tests/test_nn_RReLU.py
  tests/test_nn_ReLU.py
  tests/test_nn_ReLU6.py
  tests/test_nn_SELU.py
  tests/test_nn_SiLU.py
  tests/test_nn_functional_relu.py
Due: copyright_checker, check-json

fix matcher of torch.diff and TupleAssignMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_einsum.py
  tests/test_fliplr.py
  tests/test_kthvalue.py
  tests/test_mode.py
  tests/test_topk.py
  tests/test_vdot.py
Due: copyright_checker, check-json

update README for class method
  README.md
Due: none

update README for class method (#73)
  README.md
Due: none

update README
  README.md
  paconvert/api_mapping.json
Due: check-json

update README (#75)
  README.md
  paconvert/api_mapping.json
Due: check-json

Fix details
  paconvert/api_mapping.json
Due: check-json

Update README.md
  README.md
Due: none

Update README.md (#76)
  README.md
Due: none

add cov etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_adjoint.py
  tests/test_Tensor_arctan2.py
  tests/test_Tensor_argwhere.py
  tests/test_Tensor_cov.py
  tests/test_Tensor_hardshrink.py
  tests/test_adjoint.py
  tests/test_arctan2.py
  tests/test_argwhere.py
  tests/test_conj_physical.py
  tests/test_cov.py
  tests/test_linalg_det.py
  tests/test_linalg_eigvals.py
  tests/test_linalg_norm.py
  tests/test_special_digamma.py
  tests/test_special_erf.py
  tests/test_special_log1p.py
  tests/test_special_logsumexp.py
  tests/test_special_ndtri.py
  tests/test_special_psi.py
  tests/test_special_xlog1py.py
Due: copyright_checker, check-json

fix paddle aux code usage
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/utils.py
  tests/test_Tensor_expm1.py
  tests/test_Tensor_ravel.py
  tests/test_Tensor_reshape.py
Due: copyright_checker, check-json

fix paddle aux code usage (#77)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/utils.py
  tests/test_Tensor_expm1.py
  tests/test_Tensor_ravel.py
  tests/test_Tensor_reshape.py
Due: copyright_checker, check-json

fix README
  README.md
Due: none

fix README (#78)
  README.md
Due: none

Update README.md (#79)
  README.md
Due: none
