Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

repush
  tests/test_vander.py
Due: copyright_checker

update Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_device_of.py
  tests/test_cuda_get_rng_state.py
Due: copyright_checker, check-json

update SetDeviceMatcher
  paconvert/api_matcher.py
  tests/test_set_default_device.py
Due: copyright_checker

update SetDeviceMatcher
  paconvert/api_matcher.py
Due: copyright_checker

repush
  tests/test_cuda_set_device.py
Due: copyright_checker

rerun CI
  tests/test_cuda_set_device.py
Due: copyright_checker

修复识别import torch的误识别Bug
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/import_analysis.py
  tests/code_library/code_case/torch_code/import_analysis.py
Due: copyright_checker

修复识别import torch的误识别Bug (#556)
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/paddle_code/import_analysis.py
  tests/code_library/code_case/torch_code/import_analysis.py
Due: copyright_checker

update Matcher and testcase (#555)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/monitored_barrier.py
  tests/test_cuda_get_rng_state.py
  tests/test_cuda_set_per_process_memory_fraction.py
  tests/test_distributed_is_available.py
  tests/test_distributed_is_nccl_available.py
  tests/test_distributed_monitored_barrier.py
  tests/test_get_default_device.py
  tests/test_nn_modules_module_register_module_forward_hook.py
  tests/test_nn_modules_module_register_module_forward_pre_hook.py
  tests/test_set_default_device.py
Due: copyright_checker, check-json

update Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test__foreach_abs.py
  tests/test__foreach_abs_.py
  tests/test__foreach_acos.py
  tests/test__foreach_acos_.py
  tests/test__foreach_asin.py
  tests/test__foreach_asin_.py
  tests/test__foreach_atan.py
  tests/test__foreach_atan_.py
  tests/test__foreach_ceil.py
  tests/test__foreach_cos.py
  tests/test__foreach_cos_.py
  tests/test__foreach_cosh.py
  tests/test__foreach_cosh_.py
  tests/test__foreach_erf.py
  tests/test__foreach_erf_.py
  tests/test_concatenate.py
  tests/test_nn_modules_module_register_module_forward_hook.py
  tests/test_nn_modules_module_register_module_forward_pre_hook.py
Due: copyright_checker, check-json

优化torch.cuda.set_device的转写
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_set_device.py
  tests/test_set_default_device.py
Due: copyright_checker, check-json

update testcase
  paconvert/api_mapping.json
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

rerun CI
  tests/test__foreach_erf.py
Due: copyright_checker

update Matcher (#558)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test__foreach_abs.py
  tests/test__foreach_abs_.py
  tests/test__foreach_acos.py
  tests/test__foreach_acos_.py
  tests/test__foreach_asin.py
  tests/test__foreach_asin_.py
  tests/test__foreach_atan.py
  tests/test__foreach_atan_.py
  tests/test__foreach_ceil.py
  tests/test__foreach_cos.py
  tests/test__foreach_cos_.py
  tests/test__foreach_cosh.py
  tests/test__foreach_cosh_.py
  tests/test__foreach_erf.py
  tests/test__foreach_erf_.py
  tests/test_concatenate.py
  tests/test_nn_modules_module_register_module_forward_hook.py
  tests/test_nn_modules_module_register_module_forward_pre_hook.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

优化set_device/set_default_device的转写 (#557)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_set_device.py
  tests/test_set_default_device.py
Due: copyright_checker, check-json

修复cosine_similarity与index_copy_的转换Bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/test_Tensor_index_copy_.py
  tests/test_cosine_similarity.py
Due: copyright_checker, check-json

修复Module.state_dict与randint/randint_like的转换Bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_nn_Module_state_dict.py
  tests/test_randint.py
  tests/test_randint_like.py
Due: copyright_checker, check-json

修复cosine_similarity与index_copy_的转换Bug (#560)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_paddle_index_copy_.py
  tests/test_Tensor_index_copy_.py
  tests/test_cosine_similarity.py
Due: copyright_checker, check-json

修复Module.state_dict与randint/randint_like的转换Bug (#559)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_nn_Module_state_dict.py
  tests/test_randint.py
  tests/test_randint_like.py
Due: copyright_checker, check-json

test ci
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

update Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_to_sparse_csr.py
  tests/test__foreach_exp.py
  tests/test__foreach_expm1.py
  tests/test__foreach_expm1_.py
  tests/test__foreach_floor.py
  tests/test_distributed_Backend.py
  tests/test_jit_ignore.py
  tests/test_jit_save.py
  tests/test_jit_script.py
Due: copyright_checker, check-json

update json
  paconvert/api_mapping.json
Due: check-json

update testcase
  tests/code_library/code_case/paddle_code/api_remove_decorator.py
Due: copyright_checker

find bugs
  paconvert/api_mapping.json
  tests/test_jit_save.py
Due: copyright_checker, check-json

fix DistributedBackendMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_jit_save.py
Due: copyright_checker, check-json

fix DistributedBackendMatcher
  paconvert/api_mapping.json
Due: check-json

update Matcher and testcase
  paconvert/api_matcher.py
  tests/test_Tensor_to_sparse_csr.py
  tests/test_distributed_Backend.py
  tests/test_jit_ignore.py
  tests/test_jit_save.py
Due: copyright_checker

update JitSaveMatcher
  paconvert/api_matcher.py
Due: copyright_checker

新增映射关系 (#562)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/api_remove_decorator.py
  tests/test_Tensor_to_sparse_csr.py
  tests/test__foreach_exp.py
  tests/test__foreach_expm1.py
  tests/test__foreach_expm1_.py
  tests/test__foreach_floor.py
  tests/test_distributed_Backend.py
  tests/test_jit_ignore.py
  tests/test_jit_save.py
  tests/test_jit_script.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
