Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

Update README.md
  README.md
Due: none

fix torch.utils.checkpoint.checkpoint convert bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  scripts/consistency_check.sh
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/test_add_start_docstrings_to_model_forward.py
  tests/test_nn_SmoothL1Loss.py
  tests/test_utils_checkpoint_checkpoint.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

add some Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/P2POp.py
  tests/test__foreach_ceil_.py
  tests/test__foreach_erfc.py
  tests/test__foreach_erfc_.py
  tests/test__foreach_exp_.py
  tests/test__foreach_floor_.py
  tests/test__foreach_log.py
  tests/test__foreach_log_.py
Due: copyright_checker, check-json

rerun CI
  tests/test__foreach_erfc_.py
Due: copyright_checker

calculate_speed计算转换速度
  paconvert/api_mapping.json
  paconvert/converter.py
  paconvert/main.py
Due: copyright_checker, check-json

修复hub.load与checkpoint的转换bug;基类支持change_kwargs的功能;优化ast.unparse写法;增加转换集个数
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  scripts/consistency_check.sh
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/distributed/unittest_check_distribute.sh
  tests/test_add_start_docstrings_to_model_forward.py
  tests/test_nn_SmoothL1Loss.py
  tests/test_signal_windows_exponential.py
  tests/test_utils_checkpoint_checkpoint.py
  tools/docker/Dockerfile
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

基类支持change_kwargs的功能等多个功能优化 (#563)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  scripts/consistency_check.sh
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/distributed/unittest_check_distribute.sh
  tests/test_add_start_docstrings_to_model_forward.py
  tests/test_nn_SmoothL1Loss.py
  tests/test_signal_windows_exponential.py
  tests/test_utils_checkpoint_checkpoint.py
  tools/docker/Dockerfile
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update astor.to_source to ast.unparse
  paconvert/api_mapping.json
  paconvert/base.py
  scripts/consistency_check.sh
  tests/test_nn_Upsample.py
Due: copyright_checker, check-json

updated recompute_scale_factor in Upsample
  paconvert/api_mapping.json
  tests/test_nn_Upsample.py
  tests/test_nn_functional_interpolate.py
Due: copyright_checker, check-json

update path links
  docs/TypicalCase_Qwen.md
Due: none

update path links
  docs/TypicalCase_Llama.md
Due: none

update Foreach_Matcher
  paconvert/api_matcher.py
  tests/test__foreach_erfc_.py
Due: copyright_checker

update path links
  docs/CONTRIBUTING.md
Due: none

relative links
  README.md
Due: none

Update relative path links (#568)
  README.md
  docs/CONTRIBUTING.md
  docs/TypicalCase_Llama.md
  docs/TypicalCase_Qwen.md
Due: none

新增转换规则 (#564)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/P2POp.py
  tests/test__foreach_ceil_.py
  tests/test__foreach_erfc.py
  tests/test__foreach_erfc_.py
  tests/test__foreach_exp_.py
  tests/test__foreach_floor_.py
  tests/test__foreach_log.py
  tests/test__foreach_log_.py
Due: copyright_checker, check-json

优化torch.atleast_1d/2d/3d/foreach_erfc的转换规则
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  scripts/consistency_check.sh
  tests/test_atleast_1d.py
  tests/test_atleast_2d.py
  tests/test_atleast_3d.py
  tests/test_nn_Upsample.py
Due: copyright_checker, check-json

updated for sorted in unique func
  paconvert/api_mapping.json
  tests/test_unique.py
Due: copyright_checker, check-json

updated tensor unique
  paconvert/api_mapping.json
Due: check-json

优化torch.atleast_1d/2d/3d/foreach_erfc转换规则 (#566)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  scripts/consistency_check.sh
  tests/test_atleast_1d.py
  tests/test_atleast_2d.py
  tests/test_atleast_3d.py
  tests/test_nn_Upsample.py
Due: copyright_checker, check-json

增强device类的转换规则, 移除hard code
  .gitignore
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/utils.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_randint.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/test_Tensor_cuda.py
  tests/test_cpu_current_device.py
  tests/test_cpu_set_device.py
  tests/test_cuda_Stream.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_device.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
  tests/test_cuda_synchronize.py
  tests/test_device.py
  tests/test_get_default_device.py
  tests/test_set_default_device.py
Due: copyright_checker, check-json

增强device类的转换规则,增强转换适配灵活性 (#570)
  .gitignore
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/utils.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_randint.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/test_Tensor_cuda.py
  tests/test_cpu_current_device.py
  tests/test_cpu_set_device.py
  tests/test_cuda_Stream.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_device.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_set_device.py
  tests/test_cuda_set_stream.py
  tests/test_cuda_synchronize.py
  tests/test_device.py
  tests/test_get_default_device.py
  tests/test_set_default_device.py
Due: copyright_checker, check-json

updated tensor unique for sorted para
  tests/test_Tensor_unique.py
Due: copyright_checker

更新unique函数中的sorted参数 (#569)
  paconvert/api_mapping.json
  tests/test_Tensor_unique.py
  tests/test_unique.py
Due: copyright_checker, check-json

support torch.torch.tril
  README.md
  paconvert/api_alias_mapping.json
  tests/test_tril.py
Due: copyright_checker, check-json

updated tests
  paconvert/api_mapping.json
  tests/test_nn_Upsample.py
  tests/test_nn_functional_interpolate.py
Due: copyright_checker, check-json

changed back to False
  tests/test_nn_functional_interpolate.py
Due: copyright_checker

新增转换规则
  paconvert/api_mapping.json
  tests/distributed/batch_isend_irecv.py
  tests/test__foreach_log10.py
  tests/test__foreach_log10_.py
  tests/test__foreach_log1p.py
  tests/test__foreach_log1p_.py
  tests/test__foreach_log2.py
  tests/test__foreach_log2_.py
  tests/test__foreach_neg.py
  tests/test__foreach_neg_.py
  tests/test__foreach_tan.py
  tests/test__foreach_tan_.py
Due: copyright_checker, check-json

support torch.torch.tril (#571)
  README.md
  paconvert/api_alias_mapping.json
  tests/test_tril.py
Due: copyright_checker, check-json

fix CI
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
Due: copyright_checker

新增转换规则 (#572)
  paconvert/api_mapping.json
  tests/distributed/batch_isend_irecv.py
  tests/test__foreach_log10.py
  tests/test__foreach_log10_.py
  tests/test__foreach_log1p.py
  tests/test__foreach_log1p_.py
  tests/test__foreach_log2.py
  tests/test__foreach_log2_.py
  tests/test__foreach_neg.py
  tests/test__foreach_neg_.py
  tests/test__foreach_tan.py
  tests/test__foreach_tan_.py
Due: copyright_checker, check-json
