Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

support_parallel_tes
  scripts/code_unittest_check_gpu.sh
  tests/conftest.py
  tests/pytest.ini
Due: copyright_checker

install pytorch in image (#392)
  tools/docker/Dockerfile
Due: none

support_distributed
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/all_gather_object.py
  tests/distributed/nn_DataParallel.py
  tests/distributed/run_test.sh
Due: copyright_checker, check-json

install paddle
  tests/distributed/run_test.sh
Due: copyright_checker

Update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

Update api_matcher.py
  paconvert/api_matcher.py
Due: copyright_checker

Update test_Tensor_select_scatter.py
  tests/test_Tensor_select_scatter.py
Due: copyright_checker

Update test_Tensor_slice_scatter.py
  tests/test_Tensor_slice_scatter.py
Due: copyright_checker

Create test_tensor_split.py
  tests/test_tensor_split.py
Due: copyright_checker

Create test_Tensor_tensor_split.py
  tests/test_Tensor_tensor_split.py
Due: copyright_checker

Update test_Tensor_dsplit.py
  tests/test_Tensor_dsplit.py
Due: copyright_checker

Update test_dsplit.py
  tests/test_dsplit.py
Due: copyright_checker

Update test_tensor_split.py
  tests/test_tensor_split.py
Due: copyright_checker

Update test_Tensor_tensor_split.py
  tests/test_Tensor_tensor_split.py
Due: copyright_checker

Update test_Tensor_hsplit.py
  tests/test_Tensor_hsplit.py
Due: copyright_checker

Add files via upload
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Add files via upload
  tests/test_Tensor_dsplit.py
  tests/test_Tensor_hsplit.py
  tests/test_Tensor_select_scatter.py
  tests/test_Tensor_slice_scatter.py
  tests/test_Tensor_tensor_split.py
  tests/test_dsplit.py
  tests/test_hsplit.py
  tests/test_tensor_split2.py
Due: copyright_checker

提交四个算子
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_select_scatter.py
  tests/test_Tensor_slice_scatter.py
  tests/test_Tensor_tensor_split.py
  tests/test_tensor_split2.py
Due: copyright_checker, check-json

提交四个算子
  tests/test_Tensor_tensor_split.py
  tests/test_tensor_split2.py
Due: copyright_checker

support_distributed (#394)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/distributed/all_gather_object.py
  tests/distributed/nn_DataParallel.py
  tests/distributed/run_test.sh
Due: copyright_checker, check-json

support_recursive_attribute
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_normal_.py
  tests/test_Tensor_zero_.py
  tests/test_recursive_attribute.py
Due: copyright_checker, check-json

fix
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

fix
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_normal_.py
  tests/test_recursive_attribute.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
  tests/test_Tensor_imag.py
Due: copyright_checker

修改了单测文件
  tests/test_Tensor_dsplit.py
  tests/test_Tensor_hsplit.py
  tests/test_abs.py
  tests/test_dsplit.py
  tests/test_hsplit.py
Due: copyright_checker

修改单测文件
  tests/test_abs.py
Due: copyright_checker

提交八个算子
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_dsplit.py
  tests/test_Tensor_hsplit.py
  tests/test_Tensor_select_scatter.py
  tests/test_Tensor_slice_scatter.py
  tests/test_Tensor_t.py
  tests/test_Tensor_tensor_split.py
  tests/test_dsplit.py
  tests/test_hsplit.py
  tests/test_tensor_split2.py
Due: copyright_checker, check-json

support
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_real.py
  tests/test_Tensor_zero_.py
  tests/test_real.py
  tests/test_recursive_attribute.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
  tests/test_Tensor_view.py
Due: copyright_checker

fix
  tests/test_recursive_attribute.py
Due: copyright_checker

Support recursive attribute (#399)
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
  tests/test_Tensor_imag.py
  tests/test_Tensor_normal_.py
  tests/test_Tensor_real.py
  tests/test_Tensor_zero_.py
  tests/test_recursive_attribute.py
Due: copyright_checker, check-json

fix_test_cuda_stream
  tests/test_cuda_stream.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix_test_cuda_stream (#402)
  tests/test_cuda_stream.py
Due: copyright_checker

View matcher (#401)
  paconvert/api_matcher.py
  tests/test_Tensor_view.py
Due: copyright_checker

support Qwen
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/alias_call.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
  tests/code_library/code_case/torch_code/alias_call.py
  tests/distributed/all_gather_object.py
  tests/distributed/nn_DataParallel.py
  tests/distributed/run_test.sh
  tests/test_Tensor_imag.py
  tests/test_Tensor_normal_.py
  tests/test_Tensor_real.py
  tests/test_Tensor_zero_.py
  tests/test_cuda_stream.py
  tests/test_recursive_attribute.py
Due: copyright_checker, check-json
