Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

set again
  tests/test_optim_Optimizer_step.py
Due: copyright_checker

delete is_bf6_supported from no_need
  paconvert/global_var.py
Due: copyright_checker

Fix some api matcher (#742)
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_cuda_is_bf16_supported.py
  tests/test_nn_Module_train.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

amp
  paconvert/global_var.py
  tests/test_cuda_amp_autocast_mode_autocast.py
Due: copyright_checker

merge master
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Add cuda.amp.XXX to NONEED_CONVERT (#748)
  paconvert/global_var.py
  tests/test_cuda_amp_autocast_mode_autocast.py
Due: copyright_checker

Update global_var.py
  paconvert/global_var.py
Due: copyright_checker

Add CircularPad1D/2D/3D
  paconvert/global_var.py
  tests/test_nn_CircularPad1d.py
  tests/test_nn_CircularPad2d.py
Due: copyright_checker

fix some API
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_Tensor___floordiv__.py
  tests/test_Tensor___int__.py
  tests/test_Tensor___ior__.py
  tests/test_Tensor___xor__.py
  tests/test_nn_ZeroPad1d.py
  tests/test_nn_ZeroPad3d.py
Due: copyright_checker, check-json

Fix some API (#749)
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_Tensor___floordiv__.py
  tests/test_Tensor___int__.py
  tests/test_Tensor___ior__.py
  tests/test_Tensor___xor__.py
  tests/test_nn_ZeroPad1d.py
  tests/test_nn_ZeroPad3d.py
Due: copyright_checker, check-json

Improve conversion speed information in README
  README.md
Due: none

add some API
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

add some API (#751)
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

Add nn.Constant/Reflection/Replication Pad layers (#746)
  paconvert/global_var.py
  tests/test_nn_CircularPad1d.py
  tests/test_nn_CircularPad2d.py
  tests/test_nn_CircularPad3d.py
  tests/test_nn_ConstantPad1d.py
  tests/test_nn_ConstantPad2d.py
  tests/test_nn_ConstantPad3d.py
  tests/test_nn_ReflectionPad1d.py
  tests/test_nn_ReflectionPad3d.py
Due: copyright_checker

update global_var.py, improve interpolate test
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/test_nn_functional_interpolate.py
Due: copyright_checker

[API Compatibility] `linear` related APIs
  paconvert/api_mapping.json
  tests/test_nn_Linear.py
  tests/test_nn_functional_linear.py
Due: copyright_checker, check-json

[Fix] Complete some of the missing changes of Linear
  README.md
  README_EN.md
  tests/test_nn_Linear.py
  tests/test_nn_functional_linear.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_onnx_export.py
Due: copyright_checker

[Fix] Skip float16 test if CUDA is not available in CI
  tests/test_nn_Linear.py
  tests/test_nn_functional_linear.py
Due: copyright_checker

[API Compatibility] `linear` related APIs (#753)
  README.md
  README_EN.md
  paconvert/api_mapping.json
  tests/test_nn_Linear.py
  tests/test_nn_functional_linear.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_onnx_export.py
Due: copyright_checker, check-json

[API Compatibility No.6] add converted pytorch API: Tensor_bitwise_xor_ to NO_NEED_CONVERT_LIST
  paconvert/global_var.py
Due: copyright_checker

update global_var.py, improve interpolate test (#752)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/test_nn_functional_interpolate.py
Due: copyright_checker

[API Compatibility] Add paddle.Tensor.clamp_ ，paddle.nn.functional.logsigmoid， paddle.functional.meshgrid， paddle.nn.init.calculate_fan_in_and_fan_out ，paddle.autocast
  paconvert/global_var.py
  tests/test_nn_init_calculate_fan_in_and_fan_out.py
Due: copyright_checker

[API Compatibility] Add clamp_/logsigmoid/meshgrid/calculate_fan_in_and_fan_out/autocast (#750)
  paconvert/global_var.py
  tests/test_nn_init_calculate_fan_in_and_fan_out.py
Due: copyright_checker

[API Compatiblity] add log10 and log1p to NO_NEED_CONVERT
  paconvert/global_var.py
Due: copyright_checker

[API compatibility] Add nn.Module,nn.ModuleList,nn,ModuleDict
  paconvert/global_var.py
  tests/apibase.py
  tests/test_nn_Module_bfloat16.py
  tests/test_nn_Module_cpu.py
  tests/test_nn_Module_cuda.py
  tests/test_nn_Module_double.py
  tests/test_nn_Module_float.py
  tests/test_nn_Module_half.py
  tests/test_nn_Module_requires_grad_.py
  tests/test_nn_Module_zero_grad.py
Due: copyright_checker

cuda apis
  paconvert/global_var.py
Due: copyright_checker

fix paddle code
  tests/code_library/code_case/paddle_code/api_paddle_Generator.py
Due: none

pre-commit
  tests/code_library/code_case/paddle_code/api_paddle_Generator.py
Due: none

[API compatibility] cuda.xxx && Generator (#757)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Generator.py
Due: copyright_checker

fix unique sorted
  paconvert/api_mapping.json
  tests/test_unique.py
Due: copyright_checker, check-json

add torch.asin
  paconvert/global_var.py
Due: copyright_checker

ipc
  paconvert/global_var.py
  tests/test_cuda_ipc_collect.py
Due: copyright_checker

add cuda_available
  tests/test_cuda_ipc_collect.py
Due: copyright_checker

fix paddle.io
  paconvert/api_mapping.json
Due: check-json

Update pytest.ini
  tests/pytest.ini
Due: none

Add APIs in NO_NEED_CONVERT_LIST
  paconvert/global_var.py
Due: copyright_checker
