Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

Update README.md (#81)
  README.md
Due: none

fix doc bug
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/code_coverage_check.sh
  tests/test_nn_functional_cross_entropy.py
  tests/test_nn_functional_mse_loss.py
  tests/test_nn_functional_nll_loss.py
  tests/test_nn_functional_smooth_l1_loss.py
Due: copyright_checker

fix doc bug
  tests/test_nn_functional_cross_entropy.py
  tests/test_nn_functional_nll_loss.py
Due: copyright_checker

fix doc bug
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

fix doc bug
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

fix bug
  tests/test_allclose.py
  tests/test_isclose.py
Due: copyright_checker

fix bug
  .github/PULL_REQUEST_TEMPLATE.md
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker

fix bug
  README.md
  requirements-dev.txt
Due: none

add paddle.nn.functional.nll_loss/cross_entropy/mse_loss/smooth_l1_loss api (#80)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  requirements-dev.txt
  scripts/code_coverage_check.sh
  tests/test_allclose.py
  tests/test_isclose.py
  tests/test_nn_functional_cross_entropy.py
  tests/test_nn_functional_mse_loss.py
  tests/test_nn_functional_nll_loss.py
  tests/test_nn_functional_smooth_l1_loss.py
  tools/prTemplate/prTemplate_check.py
Due: copyright_checker, check-json

Add test case
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_functional_adaptive_max_pool1d.py
  tests/test_nn_functional_adaptive_max_pool2d.py
  tests/test_nn_functional_adaptive_max_pool3d.py
  tests/test_nn_functional_conv1d.py
  tests/test_nn_functional_conv2d.py
  tests/test_nn_functional_conv3d.py
  tests/test_nn_functional_conv_transpose1d.py
  tests/test_nn_functional_conv_transpose2d.py
  tests/test_nn_functional_conv_transpose3d.py
  tests/test_nn_functional_fold.py
  tests/test_nn_functional_max_unpool1d.py
  tests/test_nn_functional_max_unpool2d.py
  tests/test_nn_functional_max_unpool3d.py
Due: copyright_checker, check-json

add unsupport_args
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  tests/test_Tensor_ravel.py
Due: copyright_checker, check-json

add 'unsupport_args' in json (#84)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  tests/test_Tensor_ravel.py
Due: copyright_checker, check-json

fix details
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_arange.py
  tests/test_dstack.py
  tests/test_einsum.py
  tests/test_floor_divide.py
  tests/test_linalg_lstsq.py
  tests/test_nn_LogSoftmax.py
  tests/test_nn_MaxUnpool1d.py
  tests/test_nn_ModuleList.py
  tests/test_nn_Softmax.py
Due: copyright_checker, check-json

fix details
  tests/apibase.py
Due: copyright_checker

fix details
  tests/test_floor_divide.py
Due: copyright_checker

fix set_paddle_default_kwargs bug
  paconvert/api_matcher.py
  paconvert/base.py
Due: copyright_checker

fix set_paddle_default_kwargs bug (#85)
  paconvert/api_matcher.py
  paconvert/base.py
Due: copyright_checker

add cov etc.
  tests/test_special_log1p.py
Due: copyright_checker

Add test case
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_nn_AdaptiveAvgPool1d.py
  tests/test_nn_AdaptiveAvgPool2d.py
  tests/test_nn_AdaptiveAvgPool3d.py
  tests/test_nn_CELU.py
  tests/test_nn_ChannelShuffle.py
  tests/test_nn_ConstantPad1d.py
  tests/test_nn_ConstantPad2d.py
  tests/test_nn_ConstantPad3d.py
  tests/test_nn_CosineSimilarity.py
  tests/test_nn_Dropout.py
  tests/test_nn_Dropout2d.py
  tests/test_nn_Dropout3d.py
  tests/test_nn_ELU.py
  tests/test_nn_Flatten.py
  tests/test_nn_Fold.py
  tests/test_nn_Hardshrink.py
  tests/test_nn_Hardsigmoid.py
  tests/test_nn_Hardswish.py
  tests/test_nn_Hardtanh.py
  tests/test_nn_LeakyReLU.py
  tests/test_nn_LogSigmoid.py
  tests/test_nn_PReLU.py
  tests/test_nn_PairwiseDistance.py
  tests/test_nn_PixelShuffle.py
  tests/test_nn_PixelUnshuffle.py
  tests/test_nn_RReLU.py
  tests/test_nn_ReLU.py
  tests/test_nn_ReLU6.py
  tests/test_nn_ReflectionPad1d.py
  tests/test_nn_ReflectionPad2d.py
  tests/test_nn_ReflectionPad3d.py
  tests/test_nn_ReplicationPad1d.py
  tests/test_nn_ReplicationPad2d.py
  tests/test_nn_ReplicationPad3d.py
Due: copyright_checker, check-json

Add test case (#86)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_nn_AdaptiveAvgPool1d.py
  tests/test_nn_AdaptiveAvgPool2d.py
  tests/test_nn_AdaptiveAvgPool3d.py
  tests/test_nn_CELU.py
  tests/test_nn_ChannelShuffle.py
  tests/test_nn_ConstantPad1d.py
  tests/test_nn_ConstantPad2d.py
  tests/test_nn_ConstantPad3d.py
  tests/test_nn_CosineSimilarity.py
  tests/test_nn_Dropout.py
  tests/test_nn_Dropout2d.py
  tests/test_nn_Dropout3d.py
  tests/test_nn_ELU.py
  tests/test_nn_Flatten.py
  tests/test_nn_Fold.py
  tests/test_nn_Hardshrink.py
  tests/test_nn_Hardsigmoid.py
  tests/test_nn_Hardswish.py
  tests/test_nn_Hardtanh.py
  tests/test_nn_LeakyReLU.py
  tests/test_nn_LogSigmoid.py
  tests/test_nn_PReLU.py
  tests/test_nn_PairwiseDistance.py
  tests/test_nn_PixelShuffle.py
  tests/test_nn_PixelUnshuffle.py
  tests/test_nn_RReLU.py
  tests/test_nn_ReLU.py
  tests/test_nn_ReLU6.py
  tests/test_nn_ReflectionPad1d.py
  tests/test_nn_ReflectionPad2d.py
  tests/test_nn_ReflectionPad3d.py
  tests/test_nn_ReplicationPad1d.py
  tests/test_nn_ReplicationPad2d.py
  tests/test_nn_ReplicationPad3d.py
Due: copyright_checker, check-json

fix api bug
  tests/test_nn_GroupNorm.py
  tests/test_nn_modules_GroupNorm.py
Due: copyright_checker

fix api bug
  paconvert/api_mapping.json
Due: check-json

fix doc bug
  paconvert/api_matcher.py
Due: copyright_checker

fix bug
  paconvert/api_matcher.py
Due: copyright_checker

[APIs] fix torch.save/load/min/max/sigmoid/nn.Sequential/nn.GroupNorm/nn.functional.interpolate... (#83)
  .gitignore
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  tests/test_linalg_norm.py
  tests/test_load.py
  tests/test_nn_GroupNorm.py
  tests/test_nn_Sequential.py
  tests/test_save.py
Due: copyright_checker, check-json

open some case
  tests/apibase.py
  tests/test_arange.py
  tests/test_floor_divide.py
Due: copyright_checker

open some case, optmizer APIBase
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/utils.py
  tests/apibase.py
  tests/test_FloatTensor.py
  tests/test_Generator.py
  tests/test_IntTensor.py
  tests/test_LongTensor.py
  tests/test_Tensor.py
  tests/test_arange.py
  tests/test_empty.py
  tests/test_empty_like.py
  tests/test_floor_divide.py
  tests/test_multinomial.py
  tests/test_nanmedian.py
  tests/test_nn_Dropout.py
  tests/test_nn_Dropout2d.py
  tests/test_nn_Dropout3d.py
  tests/test_nn_Fold.py
  tests/test_nn_InstanceNorm3d.py
  tests/test_nn_PixelShuffle.py
  tests/test_nn_PixelUnshuffle.py
  tests/test_nn_RReLU.py
  tests/test_normal.py
  tests/test_numel.py
  tests/test_poisson.py
  tests/test_rand_like.py
  tests/test_randint.py
  tests/test_randn_like.py
  tests/test_randperm.py
  tests/test_slogdet.py
  tests/test_triangular_solve.py
Due: copyright_checker, check-json

fix CI, fix README
  README.md
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

Update README.md
  README.md
Due: none

add cov etc.
  tests/test_cdist.py
Due: copyright_checker

test
  paconvert/api_matcher.py
Due: copyright_checker

add cov etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add cov etc.
  paconvert/api_mapping.json
Due: check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
