Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

add test cases
  tests/test_scatter.py
Due: copyright_checker

fix codestyle
  tests/test_Bfloat16Tensor.py
Due: copyright_checker

fix codestyle
  paconvert/api_matcher.py
Due: copyright_checker

update torch.scatter\torch.Tensor.scatter\torch.Tensor.scatter_ 易用性提升 (#440)
  paconvert/api_mapping.json
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_scatter.py
Due: copyright_checker, check-json

自动化工具易用性增强 (#441)
  tools/validate_docs/auto_build_docs.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

add README.md to tools
  tools/README.md
Due: none

fix Bfloat16Tensor Tensor_expand
  tests/test_Bfloat16Tensor.py
  tests/test_Tensor_expand.py
Due: copyright_checker

second PR
  paconvert/api_matcher.py
  tests/test_autograd_function_FunctionCtx.py
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_Stream.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_cuda_initial_seed.py
  tests/test_cuda_is_bf16_supported.py
  tests/test_frexp.py
  tests/test_get_default_dtype.py
  tests/test_nn_DataParallel.py
  tests/test_nn_GRU.py
  tests/test_nn_LSTM.py
  tests/test_nn_RNN.py
Due: copyright_checker

second PR
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_cuda_is_bf16_supported.py
  tests/test_nn_DataParallel.py
Due: copyright_checker

fix
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

add README.md to tools (#442)
  tools/README.md
Due: none

second PR
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_nn_DataParallel.py
Due: copyright_checker

Fix GPU CI (#444)
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

fix BFloat16Tensor
  paconvert/api_matcher.py
  tests/test_Bfloat16Tensor.py
Due: copyright_checker

Rename test_Bfloat16Tensor.py to test_BFloat16Tensor.py
  tests/test_BFloat16Tensor.py
Due: copyright_checker

second PR
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_Stream.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_cuda_current_device.py
  tests/test_cuda_initial_seed.py
  tests/test_cuda_is_bf16_supported.py
  tests/test_frexp.py
  tests/test_nn_DataParallel.py
  tests/test_nn_GRU.py
Due: copyright_checker, check-json

second PR
  tests/test_nn_LSTM.py
  tests/test_nn_RNN.py
Due: copyright_checker

fix api_matcher
  paconvert/api_matcher.py
Due: copyright_checker

second PR
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_cuda_current_device.py
  tests/test_cuda_initial_seed.py
  tests/test_cuda_is_bf16_supported.py
  tests/test_frexp.py
Due: copyright_checker, check-json

optimizer torch.nn.Parameter
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Parameter.py
  tests/test_nn_ParameterList.py
Due: copyright_checker, check-json

optimizer convert matcher of torch.nn.Parameter (#445)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Parameter.py
  tests/test_nn_ParameterList.py
Due: copyright_checker, check-json

单测规范化建设 (#439)
  paconvert/api_matcher.py
  tests/test_BFloat16Tensor.py
  tests/test_Tensor_ceil.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_expand.py
  tests/test_Tensor_floor_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_not_equal_.py
  tests/test___version__split.py
Due: copyright_checker

second PR
  paconvert/api_matcher.py
Due: copyright_checker

add torch.Tensor.data
  paconvert/attribute_mapping.json
  tests/test_Tensor_detach_.py
  tests/test_Tensor_zero_.py
  tests/test_recursive_attribute.py
Due: copyright_checker, check-json

fix torch.Tensor.data (#446)
  paconvert/attribute_mapping.json
  tests/test_Tensor_detach_.py
  tests/test_Tensor_zero_.py
  tests/test_recursive_attribute.py
Due: copyright_checker, check-json

第二批单测规范化建设 (#443)
  paconvert/api_matcher.py
  tests/test_autograd_function_FunctionCtx.py
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_cuda_initial_seed.py
  tests/test_cuda_is_bf16_supported.py
  tests/test_frexp.py
  tests/test_get_default_dtype.py
  tests/test_nn_DataParallel.py
  tests/test_nn_GRU.py
  tests/test_nn_LSTM.py
  tests/test_nn_RNN.py
Due: copyright_checker

thirdPR
  tests/test_distributions_Distribution_log_prob.py
  tests/test_distributions_Distribution_rsample.py
  tests/test_distributions_Distribution_sample.py
  tests/test_nn_SyncBatchNorm.py
  tests/test_nn_parallel_DistributedDataParallel.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_symeig.py
  tests/test_unique_consecutive.py
  tests/test_utils_checkpoint_checkpoint.py
  tests/test_utils_cpp_extension_load.py
Due: copyright_checker

fix bugs
  tests/test_nn_SyncBatchNorm.py
  tests/test_nn_parallel_DistributedDataParallel.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_symeig.py
  tests/test_utils_cpp_extension_load.py
Due: copyright_checker

fix bugs
  tests/test_optim_Optimizer_state_dict.py
Due: copyright_checker

thirdPR
  tests/test_optim_Optimizer_state_dict.py
Due: copyright_checker

problem-feedback
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_le_.py
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_new_tensor.py
  tests/test_Tensor_square_.py
  tests/test_linalg_qr.py
  tests/test_lu_unpack.py
  tests/test_nn_GRUCell.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker, check-json

problem-feedback
  tests/test_Tensor_square_.py
Due: copyright_checker

update gather
  paconvert/api_mapping.json
  tests/test_Tensor_gather.py
  tests/test_Tensor_scatter_.py
  tests/test_gather.py
Due: copyright_checker, check-json

Update torch.gather/torch.Tensor.gather 易用性提升 (#449)
  paconvert/api_mapping.json
  tests/test_Tensor_gather.py
  tests/test_Tensor_scatter_.py
  tests/test_gather.py
Due: copyright_checker, check-json

update convert example in README
  README.md
  tests/code_library/code_case/custom_op/paddle_code/network.py
  tests/code_library/code_case/custom_op/torch_code/network.py
Due: copyright_checker

update convert example in README (#450)
  README.md
  tests/code_library/code_case/custom_op/paddle_code/network.py
  tests/code_library/code_case/custom_op/torch_code/network.py
Due: copyright_checker

fix readme
  README.md
Due: none

Fix README (#451)
  README.md
Due: none
