Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

update Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

新增转换规则 (#595)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test__foreach_frac.py
  tests/test__foreach_frac_.py
  tests/test__foreach_reciprocal.py
  tests/test__foreach_reciprocal_.py
  tests/test__foreach_sigmoid.py
  tests/test__foreach_sigmoid_.py
  tests/test__foreach_trunc.py
  tests/test__foreach_trunc_.py
  tests/test__foreach_zero_.py
Due: copyright_checker, check-json

update Matcher
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_cuda_is_initialized.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update testcase
  tests/test_cuda_is_initialized.py
Due: copyright_checker

文档与Matcher对齐 (#600)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_cuda_is_initialized.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

modified for 3D input and outpupt
  paconvert/api_matcher.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

在KaimingNormal/Uniform中加入mode参数 (#594)
  paconvert/api_matcher.py
  tests/test_nn_init_kaiming_normal_.py
  tests/test_nn_init_kaiming_uniform_.py
Due: copyright_checker

在SmoothL1Loss中使用is_huber参数 (#593)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_SmoothL1Loss.py
Due: copyright_checker, check-json

在paddle.nn.Layer.eval/train中加入返回值 (#597)
  tests/test_nn_Module_eval.py
  tests/test_nn_Module_train.py
Due: copyright_checker

将signal.stft的onsided的默认参数值从True改为None (#598)
  tests/test_stft.py
Due: copyright_checker

修复一些映射Bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/utils.py
  tests/test_Tensor_unique.py
  tests/test_unique.py
Due: copyright_checker, check-json

修复一些映射Bug (#602)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/utils.py
  tests/test_Tensor_unique.py
  tests/test_unique.py
Due: copyright_checker, check-json

test CI
  README.md
Due: none

added more tests
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_functional_multilabel_margin_loss.py
Due: copyright_checker

Support show all torch api and hack for transformers and visit_Name subscrip more generic
  README.md
  README_EN.md
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/custom_op_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/transformer/tensor_requires_grad_transformer.py
  scripts/consistency_check.sh
  tests/apibase.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/test_BFloat16Tensor.py
  tests/test_Tensor_nanmedian.py
  tests/test_Tensor_to_sparse_csr.py
  tests/test_amp_autocast.py
  tests/test_amp_autocast_mode_autocast.py
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_distributed_rpc_remote.py
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_distributed_rpc_shutdown.py
  tests/test_linalg_lstsq.py
  tests/test_nanmedian.py
  tests/test_nn_AdaptiveMaxPool1d.py
  tests/test_nn_AdaptiveMaxPool2d.py
  tests/test_nn_AdaptiveMaxPool3d.py
  tests/test_nn_DataParallel.py
  tests/torchvision_tests/image_apibase.py
Due: copyright_checker, check-json

Support show all torch api and hack for transformers (#605)
  README.md
  README_EN.md
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/custom_op_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/transformer/tensor_requires_grad_transformer.py
  scripts/consistency_check.sh
  tests/apibase.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/test_BFloat16Tensor.py
  tests/test_Tensor_nanmedian.py
  tests/test_Tensor_to_sparse_csr.py
  tests/test_amp_autocast.py
  tests/test_amp_autocast_mode_autocast.py
  tests/test_cuda_BFloat16Tensor.py
  tests/test_cuda_amp_GradScaler.py
  tests/test_distributed_rpc_remote.py
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_distributed_rpc_shutdown.py
  tests/test_linalg_lstsq.py
  tests/test_nanmedian.py
  tests/test_nn_AdaptiveMaxPool1d.py
  tests/test_nn_AdaptiveMaxPool2d.py
  tests/test_nn_AdaptiveMaxPool3d.py
  tests/test_nn_DataParallel.py
  tests/torchvision_tests/image_apibase.py
Due: copyright_checker, check-json

Update import_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

comment case 6
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_functional_multilabel_margin_loss.py
Due: copyright_checker

changed float32 to float16
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

新增MultiLabelMarginLoss (#599)
  paconvert/api_mapping.json
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_functional_multilabel_margin_loss.py
Due: copyright_checker, check-json

trick for diffusers and transformers
  paconvert/transformer/import_transformer.py
Due: copyright_checker

trick for diffusers and transformers (#606)
  paconvert/transformer/import_transformer.py
Due: copyright_checker

fix test_nn_LSTMCell
  tests/test_nn_LSTMCell.py
Due: copyright_checker

fix test_nn_LSTMCell (#607)
  tests/test_nn_LSTMCell.py
Due: copyright_checker

added mask in case10 temporarily
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

Dont remove `name` in `CppExtension`/`CUDAExtension`
  paconvert/api_mapping.json
Due: check-json

support exclude_packages
  README.md
  README_EN.md
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tools/modeltest/modeltest_check.py
Due: copyright_checker

test CI
  paconvert/converter.py
Due: copyright_checker

support exclude_packages (#609)
  README.md
  README_EN.md
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tools/modeltest/modeltest_check.py
Due: copyright_checker

fix GPU-CI
  tests/apibase.py
  tests/test_ger.py
  tests/test_outer.py
Due: copyright_checker

fix GPU-CI
  tests/apibase.py
Due: copyright_checker

Fix GPU-CI (#611)
  tests/test_ger.py
  tests/test_outer.py
Due: copyright_checker

support NO_NEED_CONVERT(just change package)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/global_var.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

support NO_NEED_CONVERT(just change package) (#612)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/global_var.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: none

add torch.Tensor.masked_scatter
  paconvert/global_var.py
  tests/test_Tensor_masked_scatter.py
Due: copyright_checker

add torch.nn.parameter.Parameter
  paconvert/global_var.py
Due: copyright_checker

add ravel in NO_NEED_CONVERT_LIST
  paconvert/global_var.py
Due: copyright_checker
