Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

update unfold
  tests/test_nn_Unfold.py
  tests/test_nn_functional_unfold.py
Due: copyright_checker

update torch.nn.functional.upsample
  tests/test_nn_functional_upsample.py
Due: copyright_checker

update torch.nn.CrossEntropyLoss and torch.nn.functional.cross_entropy
  paconvert/api_mapping.json
  tests/test_nn_CrossEntropyLoss.py
  tests/test_nn_functional_cross_entropy.py
Due: copyright_checker, check-json

update torch.nn.KLDivLoss and torch.nn.functional.kl_div
  paconvert/api_mapping.json
  tests/test_nn_KLDivLoss.py
  tests/test_nn_functional_kl_div.py
Due: copyright_checker, check-json

update torch.utils.data.RandomSampler
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_RandomSampler.py
Due: copyright_checker, check-json

update torch.ger and torch.outer
  tests/test_ger.py
  tests/test_outer.py
Due: copyright_checker

update torch.nn.UpsampingNearest2d and UpsamplingBilinear2d
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_UpsamplingBilinear2d.py
  tests/test_nn_UpsamplingNearest2d.py
Due: copyright_checker, check-json

update torch.diff
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_diff.py
Due: copyright_checker, check-json

update torch.nn.LSTM
  paconvert/api_mapping.json
Due: check-json

update some api convert rules and tests (#407)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_diff.py
  tests/test_argsort.py
  tests/test_diff.py
  tests/test_ger.py
  tests/test_nn_CrossEntropyLoss.py
  tests/test_nn_KLDivLoss.py
  tests/test_nn_Unfold.py
  tests/test_nn_UpsamplingBilinear2d.py
  tests/test_nn_UpsamplingNearest2d.py
  tests/test_nn_functional_cross_entropy.py
  tests/test_nn_functional_kl_div.py
  tests/test_nn_functional_unfold.py
  tests/test_nn_functional_upsample.py
  tests/test_outer.py
  tests/test_utils_data_RandomSampler.py
  tests/test_utils_data_random_split.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

upgrade (#417)
  tools/docker/Dockerfile
Due: none

Update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

Update api_matcher.py
  paconvert/api_matcher.py
Due: copyright_checker

Update test_Tensor_dsplit.py
  tests/test_Tensor_dsplit.py
Due: copyright_checker

Update test_dsplit.py
  tests/test_dsplit.py
Due: copyright_checker

Update test_Tensor_hsplit.py
  tests/test_Tensor_hsplit.py
Due: copyright_checker

Update test_hsplit.py
  tests/test_hsplit.py
Due: copyright_checker

Update test_Tensor_select_scatter.py
  tests/test_Tensor_select_scatter.py
Due: copyright_checker

Update test_Tensor_slice_scatter.py
  tests/test_Tensor_slice_scatter.py
Due: copyright_checker

Add files via upload
  tests/test_Tensor_tensor_split.py
Due: copyright_checker

Add files via upload
  tests/test_tensor_split2.py
Due: copyright_checker

提交八个算子——修改补充
  tests/test_Tensor_dsplit.py
  tests/test_Tensor_tensor_split.py
  tests/test_tensor_split2.py
Due: copyright_checker

提交八个算子——修改补充
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix_test
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_flash_attn_apply_rotary_emb_func.py
  tests/test_flash_attn_func.py
  tests/test_flash_attn_rms_norm.py
  tests/test_flash_attn_unpadded_func.py
Due: copyright_checker, check-json

fix
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/flash_attn_tests/test_flash_attn_apply_rotary_emb_func.py
  tests/flash_attn_tests/test_flash_attn_func.py
  tests/flash_attn_tests/test_flash_attn_rms_norm.py
  tests/flash_attn_tests/test_flash_attn_unpadded_func.py
  tests/test_flash_attn_rms_norm.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker, check-json

fix
  tests/flash_attn_tests/test_flash_attn_rms_norm.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix_llama
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
Due: copyright_checker

remove
  paconvert/api_mapping.json
Due: check-json

update
  README.md
Due: none

convert_weights
  README.md
Due: none

support overwrite and torch.Tensor.dsplit
  paconvert/api_mapping.json
  paconvert/base.py
  tests/test_Tensor_dsplit.py
Due: copyright_checker, check-json

add torch.Tensor.dsplit (#426)
  paconvert/api_mapping.json
  paconvert/base.py
  tests/test_Tensor_dsplit.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/paddle_llama.py
Due: copyright_checker, check-json

fix_typo
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix_test
  tests/test_finfo.py
Due: copyright_checker

remove_extra_matcher
  paconvert/api_matcher.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
