Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

added tests for bool mask
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

add Matcher
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_reset_peak_memory_stats.py
  tests/test_linalg_lu_solve.py
Due: copyright_checker, check-json

resolve conflict
  paconvert/api_mapping.json
Due: check-json

update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

update testcase
  paconvert/api_alias_mapping.json
  tests/test_linalg_lu_solve.py
Due: copyright_checker, check-json

update links path extension
  tools/README.md
Due: none

update mapping
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
Due: check-json

update links path extension (#588)
  tools/README.md
Due: none

update Matcher
  paconvert/api_alias_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update Matcher
  paconvert/api_matcher.py
Due: copyright_checker

在scaled_dot_product_attention函数中加入bool mask的测试 (#586)
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

add Matcher (#587)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cuda_reset_peak_memory_stats.py
  tests/test_linalg_lu_solve.py
Due: copyright_checker, check-json

Update README.md
  README.md
Due: none

修改test_scaled_dot_production_attention
  paconvert/api_matcher.py
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

Fix `torch._assert` conversion with `f-string` message
  paconvert/api_matcher.py
  tests/test__assert.py
Due: copyright_checker

update Matcher
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_Tensor_bernoulli_.py
  tests/test_logaddexp.py
Due: copyright_checker, check-json

Fix `torch._assert` conversion with `f-string` message (#590)
  paconvert/api_matcher.py
  tests/test__assert.py
Due: copyright_checker

fix json
  paconvert/api_alias_mapping.json
  paconvert/attribute_mapping.json
Due: check-json

修改test_scaled_dot_production_attention
  paconvert/api_matcher.py
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

修改test_scaled_dot_production_attention (#589)
  paconvert/api_matcher.py
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
  tests/test_scaled_dot_product_attention.py
Due: copyright_checker

update testcase
  paconvert/api_alias_mapping.json
  paconvert/attribute_mapping.json
  tests/test_Tensor_bernoulli_.py
  tests/test_logaddexp.py
Due: copyright_checker, check-json

转换规则修改 (#591)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_Tensor_bernoulli_.py
  tests/test_logaddexp.py
Due: copyright_checker, check-json

update Matcher
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_bernoulli_.py
  tests/test_Tensor_lu_solve.py
  tests/test__foreach_lgamma.py
  tests/test__foreach_lgamma_.py
  tests/test__foreach_sqrt.py
  tests/test__foreach_sqrt_.py
  tests/test_logaddexp.py
  tests/test_optim_lr_scheduler_LRScheduler.py
Due: copyright_checker, check-json

rerun CI
  tests/test_optim_lr_scheduler_LRScheduler.py
Due: copyright_checker

update mapping
  paconvert/api_mapping.json
  tests/test_Tensor_bernoulli_.py
  tests/test_optim_lr_scheduler_LRScheduler.py
Due: copyright_checker, check-json

转换规则修改/新增 (#592)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_bernoulli_.py
  tests/test_Tensor_lu_solve.py
  tests/test__foreach_lgamma.py
  tests/test__foreach_lgamma_.py
  tests/test__foreach_sqrt.py
  tests/test__foreach_sqrt_.py
  tests/test_logaddexp.py
Due: copyright_checker, check-json

added is_huber para in smoothl1loss
  paconvert/api_matcher.py
Due: copyright_checker

added mode para (fan_out) in KaimingNormal
  paconvert/api_matcher.py
  tests/test_nn_init_kaiming_normal_.py
Due: copyright_checker

updated SmoothL1Loss class
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_SmoothL1Loss.py
Due: copyright_checker, check-json

added mode para in KaimingUniform for fan_out
  tests/test_nn_init_kaiming_uniform_.py
Due: copyright_checker

update Matcher
  paconvert/api_mapping.json
  tests/test__foreach_frac.py
  tests/test__foreach_frac_.py
  tests/test__foreach_reciprocal.py
  tests/test__foreach_reciprocal_.py
  tests/test__foreach_sigmoid.py
  tests/test__foreach_sigmoid_.py
  tests/test__foreach_trunc.py
  tests/test__foreach_trunc_.py
  tests/test__foreach_zero_.py
Due: copyright_checker, check-json

rerun CI
  tests/test_cuda_StreamContext.py
Due: copyright_checker

deleted two tests
  tests/test_nn_LSTMCell.py
Due: copyright_checker

added tests for train and eval 's return
  tests/test_nn_Module_eval.py
  tests/test_nn_Module_train.py
Due: copyright_checker

default onesided True -> None
  tests/test_stft.py
Due: copyright_checker

add ForeachTensor_Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

added MultiLabelMarginLoss
  paconvert/api_mapping.json
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_functional_multilabel_margin_loss.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
