Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

update torch.Tensor.log_normal_ to NoNeedConvert
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

add test cases and add torch.std to list
  paconvert/global_var.py
  tests/test_std.py
Due: copyright_checker

add torch.lerp and torch.lerp_
  paconvert/global_var.py
  tests/test_lerp.py
Due: copyright_checker

add test cases and add torch.Tensor.std to list
  paconvert/global_var.py
  tests/test_Tensor_std.py
Due: copyright_checker

fix
  paconvert/global_var.py
Due: copyright_checker

Fix validate consistency (#803)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/test_Tensor_vsplit.py
  tests/torchvision_tests/test_inception_v3.py
Due: copyright_checker, check-json

[API Compatibility No.28,No.50,No.334,No.335] add `torch.angle`,`torch.conj`,`torch.special.i1`,`torch.special.i1e` - part (#806)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility No.352、377] Align `torch.std` -part (#804)
  paconvert/global_var.py
  tests/test_Tensor_std.py
  tests/test_std.py
Due: copyright_checker

Add no_need_convert apis from global var to api_mapping.json
  paconvert/api_mapping.json
Due: check-json

feat: remove redundant entries from NO_NEED_CONVERT_LIST
  paconvert/global_var.py
  tests/test_Tensor_subtract.py
  tests/test_Tensor_subtract_.py
Due: copyright_checker

feat: rename NoNeedConvertMatcher to ChangePrefixMatcher for clarity
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/global_var.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker, check-json

feat(api_mapping): add no need convert mapping for std, conj, i1, i1e and adjust tests
  paconvert/api_mapping.json
  tests/test_Tensor_subtract_.py
Due: copyright_checker, check-json

Remove useless alias apis that exist in other mapping json
  paconvert/api_alias_mapping.json
Due: check-json

Add torch.fft.rfftfreq and fftfreq to no need convert
  paconvert/api_mapping.json
Due: check-json

Remove NO_NEED_CONVERT_LIST in global_var
  .flake8
  paconvert/global_var.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

Fix ci
  paconvert/api_matcher.py
Due: copyright_checker

Bypass paddle error
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
Due: copyright_checker

Bypass paddle error
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
Due: copyright_checker

Test fork pytest
  scripts/unittest_check_gpu.sh
Due: copyright_checker

Test 4 process
  scripts/unittest_check_gpu.sh
Due: copyright_checker

Test forkl
  scripts/unittest_check_gpu.sh
Due: copyright_checker

fix device
  tests/test_device.py
Due: copyright_checker

rm cuda idx
  tests/test_device.py
Due: copyright_checker

fix device (#810)
  tests/test_device.py
Due: copyright_checker

add torch.abs_ to list and add test case
  paconvert/global_var.py
  tests/test_abs_.py
Due: copyright_checker

Revert "Bypass paddle error"
  scripts/modeltest_check.sh
  scripts/unittest_check.sh
Due: copyright_checker

Revert "Bypass paddle error"
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/distributed/unittest_check_distribute.sh
Due: copyright_checker

add dilation option support for maxpool1d/2d/3d
  paconvert/api_mapping.json
  tests/test_max_pool1d.py
  tests/test_max_pool2d.py
  tests/test_max_pool3d.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool2d.py
  tests/test_nn_MaxPool3d.py
Due: copyright_checker, check-json

[API Compatibility No.24] Align `torch.abs_` -part (#811)
  paconvert/global_var.py
  tests/test_abs_.py
Due: copyright_checker

Remove duplicate items in api mapping json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
Due: check-json

Add torch.abs_ to no need convert
  paconvert/api_mapping.json
Due: check-json

[Tools] Migrate `NO_NEED_CONVERT` to `api_mapping.json` and rename matcher class (#807)
  .flake8
  docs/CONTRIBUTING.md
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/test_Tensor_subtract.py
  tests/test_Tensor_subtract_.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

migrate to api_mapping.json
  paconvert/api_mapping.json
Due: check-json

aligned torch.addcmul and torch.Tensor.addcmul
  paconvert/api_mapping.json
  tests/test_Tensor_addcmul.py
  tests/test_addcmul.py
Due: copyright_checker, check-json

[API Compatibility] Mark relu and leaky_relu APIs as aligned
  paconvert/api_mapping.json
  tests/test_nn_functional_leaky_relu.py
  tests/test_nn_functional_leaky_relu_.py
  tests/test_nn_functional_relu.py
  tests/test_nn_functional_relu_.py
  tests/test_relu.py
Due: copyright_checker, check-json

[API Compatibility] Add smoe API to ChangePrefix
  paconvert/api_mapping.json
Due: check-json

add ChainDataset
  paconvert/api_mapping.json
  tests/test_utils_data_ChainDataset.py
Due: copyright_checker, check-json

add ConcatDataset
  paconvert/api_mapping.json
  tests/test_utils_data_ConcatDataset.py
Due: copyright_checker, check-json

add Dataset
  paconvert/api_mapping.json
  tests/test_utils_data_Dataset.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
