Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix bug
  .pre-commit-config.yaml
  scripts/code_consistency_check.sh
  tests/code_library/code_case/paddle_code/api_padddle_6_Size.py
  tests/code_library/code_case/paddle_code/api_paddle_5_index_copy_.py
  tests/code_library/code_case/paddle_code/api_paddle_6_Generator.py
  tests/code_library/code_case/paddle_code/api_paddle_6_Tensor_new_full.py
  tests/code_library/code_case/paddle_code/api_paddle_6_Tensor_new_ones.py
  tests/code_library/code_case/paddle_code/api_paddle_6_Tensor_normal_.py
  tests/code_library/code_case/paddle_code/api_paddle_6_cuda_is_available.py
  tests/code_library/code_case/paddle_code/api_paddle_6_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_6_new_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_6_new_zeros.py.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_expand.py
  tests/code_library/code_case/paddle_code/api_paddle_equall_all.py
  tests/code_library/code_case/paddle_code/api_paddle_io_BatchSampler.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BCEWithLogitsLoss.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm2D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm3D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_InstanceNorm3D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_interpolate.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_functional_sigmoid.py
  tests/code_library/code_case/paddle_code/api_paddle_randint.py
  tests/code_library/code_case/paddle_code/api_paddle_seed.py
  tests/code_library/code_case/paddle_code/api_paddle_to_tensor.py
  tests/code_library/code_case/paddle_code/api_paddle_version.py
  tests/code_library/code_case/paddle_code/api_torch_Tensor_uniform_.py
  tests/code_library/code_case/paddle_code/api_torch_transpose.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_stop_gradient.py
  tests/code_library/readme.md
Due: copyright_checker

fix bug
  scripts/code_consistency_check.sh
  scripts/code_modeltest_check.sh
Due: copyright_checker

modify log file
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  tools/modeltest/code_modeltest_check.py
Due: copyright_checker

add torch.take
  paconvert/api_mapping.json
  tests/test_take.py
Due: copyright_checker, check-json

fix test case 2, remove torch.empty
  tests/test_take.py
Due: copyright_checker

fix ci bug
  README.md
  paconvert/api_matcher.py
Due: copyright_checker

Statistics of convert success rate
  paconvert/converter.py
  paconvert/main.py
Due: copyright_checker

fix README
  README.md
  paconvert/main.py
Due: copyright_checker

fix coverage bug
  scripts/code_coverage_check.sh
Due: copyright_checker

fix CI bug
  paconvert/api_matcher.py
  paconvert/main.py
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  tools/consistency/api_code_consistency_check.py
Due: copyright_checker

del sys
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_bucketize.py
  tests/test_chain_matmul.py
  tests/test_count_nonzero.py
  tests/test_divide.py
  tests/test_flipud.py
  tests/test_linalg_cholesky.py
  tests/test_repeat_interleave.py
  tests/test_sgn.py
  tests/test_sub.py
  tests/test_subtract.py
  tests/test_tensor_count_nonzero.py
  tests/test_tensor_diag.py
  tests/test_tensor_div.py
  tests/test_tensor_divide.py
  tests/test_tensor_fliplr.py
  tests/test_tensor_flipud.py
  tests/test_tensor_repeat_interleave.py
  tests/test_tensor_sgn.py
  tests/test_tensor_sub.py
  tests/test_tensor_subtract.py
Due: copyright_checker, check-json

[CI] add pipline CI test
  README.md
  scripts/code_pipeline_check.sh
  scripts/run_ci.sh
  tools/pipeline/build_and_deploy.py
  tools/pipeline/file_detect.py
Due: copyright_checker

[CI] add PRtemplate CI test
  README.md
  scripts/code_PRtemplate_check.sh
  scripts/run_ci.sh
  tools/prTemplate.py/prTemplate_check.py
Due: copyright_checker

[CI] fix CI bug
  scripts/code_PRTemplate_check.sh
  scripts/run_ci.sh
Due: copyright_checker

[CI] fix CI bug
  tools/pipeline/file_detect.py
Due: copyright_checker

change chain_matmul
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_chain_matmul.py
Due: copyright_checker, check-json

[CI] add PRtemplate CI test
  scripts/code_pipeline_check.sh
  tools/pipeline/file_detect.py
Due: copyright_checker

modify requirements-dev.txt
  requirements-dev.txt
Due: none

Add test cases 5-15
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_addbmm.py
  tests/test_addmm.py
  tests/test_addmv.py
  tests/test_baddbmm.py
  tests/test_bmm.py
  tests/test_cholesky.py
  tests/test_cholesky_solve.py
  tests/test_clone.py
  tests/test_cross.py
  tests/test_cumprod.py
  tests/test_cumsum.py
  tests/test_diag.py
  tests/test_diag_embed.py
  tests/test_diagflat.py
  tests/test_diagonal.py
  tests/test_diff.py
  tests/test_dot.py
  tests/test_einsum.py
  tests/test_flip.py
  tests/test_fliplr.py
  tests/test_gcd.py
  tests/test_histc.py
  tests/test_kron.py
  tests/test_lcm.py
  tests/test_logcumsumexp.py
  tests/test_renorm.py
  tests/test_roll.py
  tests/test_rot90.py
  tests/test_trace.py
  tests/test_tril.py
  tests/test_tril_indices.py
  tests/test_triu.py
  tests/test_triu_indices.py
  tests/test_vander.py
  tests/test_view_as_complex.py
  tests/test_view_as_real.py
Due: copyright_checker, check-json

add chain_matmul etc. (#51)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_bucketize.py
  tests/test_chain_matmul.py
  tests/test_count_nonzero.py
  tests/test_divide.py
  tests/test_flipud.py
  tests/test_linalg_cholesky.py
  tests/test_repeat_interleave.py
  tests/test_sgn.py
  tests/test_sub.py
  tests/test_subtract.py
  tests/test_tensor_count_nonzero.py
  tests/test_tensor_diag.py
  tests/test_tensor_div.py
  tests/test_tensor_divide.py
  tests/test_tensor_fliplr.py
  tests/test_tensor_flipud.py
  tests/test_tensor_repeat_interleave.py
  tests/test_tensor_sgn.py
  tests/test_tensor_sub.py
  tests/test_tensor_subtract.py
Due: copyright_checker, check-json

fix style
  paconvert/api_matcher.py
Due: copyright_checker

delete code
  paconvert/api_matcher.py
Due: copyright_checker

fix CI bug
  scripts/code_PRTemplate_check.sh
  scripts/code_pipeline_check.sh
  scripts/run_ci.sh
  tools/prTemplate.py/prTemplate_check.py
Due: copyright_checker

fix CI bug
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

fix bug
  paconvert/base.py
  paconvert/main.py
Due: copyright_checker

fix args_list and README
  README.md
  paconvert/api_mapping.json
  tests/test_Tensor_addbmm.py
  tests/test_Tensor_addcdiv.py
  tests/test_Tensor_addcmul.py
  tests/test_Tensor_addmr.py
  tests/test_Tensor_addmv.py
  tests/test_Tensor_aminmax.py
  tests/test_Tensor_baddbmm.py
  tests/test_Tensor_cholesky_inverse.py
  tests/test_Tensor_erfc.py
  tests/test_Tensor_expm1.py
  tests/test_Tensor_index_add.py
  tests/test_Tensor_index_add_.py
  tests/test_Tensor_index_copy_.py
  tests/test_Tensor_ldexp.py
  tests/test_Tensor_logaddexp.py
  tests/test_Tensor_logaddexp2.py
  tests/test_Tensor_msort.py
  tests/test_Tensor_narrow.py
  tests/test_Tensor_narrow_copy.py
  tests/test_Tensor_ravel.py
  tests/test_Tensor_requires_grad.py
  tests/test_Tensor_suv.py
  tests/test_Tensor_swapaxes.py
  tests/test_Tensor_swapdims.py
  tests/test_Tensor_to.py
  tests/test_Tensor_unflatten.py
  tests/test_Tensor_vdot.py
  tests/test_Tensor_xlogy.py
Due: copyright_checker, check-json

fix CI bug
  README.md
  scripts/code_pipeline_check.sh
  tools/prTemplate.py/prTemplate_check.py
Due: copyright_checker

fix README (#66)
  README.md
  paconvert/api_mapping.json
  tests/test_Tensor_addbmm.py
  tests/test_Tensor_addcdiv.py
  tests/test_Tensor_addcmul.py
  tests/test_Tensor_addmr.py
  tests/test_Tensor_addmv.py
  tests/test_Tensor_aminmax.py
  tests/test_Tensor_baddbmm.py
  tests/test_Tensor_cholesky_inverse.py
  tests/test_Tensor_erfc.py
  tests/test_Tensor_expm1.py
  tests/test_Tensor_index_add.py
  tests/test_Tensor_index_add_.py
  tests/test_Tensor_index_copy_.py
  tests/test_Tensor_ldexp.py
  tests/test_Tensor_logaddexp.py
  tests/test_Tensor_logaddexp2.py
  tests/test_Tensor_msort.py
  tests/test_Tensor_narrow.py
  tests/test_Tensor_narrow_copy.py
  tests/test_Tensor_ravel.py
  tests/test_Tensor_requires_grad.py
  tests/test_Tensor_suv.py
  tests/test_Tensor_swapaxes.py
  tests/test_Tensor_swapdims.py
  tests/test_Tensor_to.py
  tests/test_Tensor_unflatten.py
  tests/test_Tensor_vdot.py
  tests/test_Tensor_xlogy.py
Due: copyright_checker, check-json

add sinc etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_count_nonzero.py
  tests/test_Tensor_diag.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_fliplr.py
  tests/test_Tensor_flipud.py
  tests/test_Tensor_histc.py
  tests/test_Tensor_hypot.py
  tests/test_Tensor_istft.py
  tests/test_Tensor_logdet.py
  tests/test_Tensor_negative.py
  tests/test_Tensor_pinverse.py
  tests/test_Tensor_repeat_interleave.py
  tests/test_Tensor_reshape_as.py
  tests/test_Tensor_select.py
  tests/test_Tensor_sgn.py
  tests/test_Tensor_sinc.py
  tests/test_Tensor_sub.py
  tests/test_Tensor_subtract.py
  tests/test_hypot.py
  tests/test_linalg_slogdet.py
  tests/test_random_get_rng_state.py
  tests/test_random_seed.py
  tests/test_random_set_rng_state.py
  tests/test_select.py
  tests/test_sinc.py
  tests/test_slogdet.py
  tests/test_special_sinc.py
Due: copyright_checker, check-json

add sinc etc.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

modify paconvert log
  paconvert/main.py
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_pipeline_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

fix CI bug
  tools/coverage/coverage_diff.py
Due: copyright_checker

update CI
  paconvert/api_matcher.py
  tests/code_library/code_case/file_mapping_dict.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
Due: copyright_checker

fix CI
  tests/code_library/code_case/torch_code/api_torch_nn_BatchNorm2d.py
Due: copyright_checker
