Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fix import transformer (#633)
  paconvert/transformer/import_transformer.py
Due: copyright_checker

update
  scripts/unittest_check.sh
  tests/test_Tensor_add.py
Due: copyright_checker

add paddle.tensor
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility]add Parameter,add,div,divide,true_divide,Tensor.add,Tensor.add_,Tensor.div_
  paconvert/global_var.py
  tests/test_Tensor_add.py
  tests/test_Tensor_add_.py
  tests/test_Tensor_div_.py
  tests/test_add.py
  tests/test_div.py
  tests/test_divide.py
  tests/test_jit_save.py
  tests/test_true_divide.py
Due: copyright_checker

[API Compatibility] add 17 api to NO_NEED_CONVERT
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

delete ones
  paconvert/global_var.py
Due: copyright_checker

add scheme5 40 api
  paconvert/global_var.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

avoid conflit
  .pre-commit-config.yaml
  paconvert/global_var.py
Due: copyright_checker

avoid conflit (#642)
  .pre-commit-config.yaml
  paconvert/global_var.py
Due: copyright_checker

remove wrong test
  tests/test_Tensor_new_ones.py
Due: copyright_checker

update
  paconvert/global_var.py
Due: copyright_checker

update
  paconvert/global_var.py
  tests/test_Tensor_div.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_true_divide.py
Due: copyright_checker

update
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
  tests/test_Tensor_add.py
Due: copyright_checker

update
  paconvert/global_var.py
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
  tests/test_Tensor_add.py
  tests/test_Tensor_div.py
  tests/test_Tensor_div_.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_true_divide.py
Due: copyright_checker

fix CI
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

update
  tests/test_Tensor_add.py
  tests/test_Tensor_add_.py
  tests/test_Tensor_div.py
  tests/test_Tensor_div_.py
  tests/test_Tensor_divide.py
  tests/test_Tensor_true_divide.py
  tests/test_add.py
  tests/test_div.py
  tests/test_divide.py
  tests/test_true_divide.py
Due: copyright_checker

update code
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_empty.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_ones.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_new_zeros.py
  tests/code_library/code_case/paddle_code/api_paddle_new_zeros.py
  tests/code_library/code_case/torch_code/api_torch_Tensor_new_empty.py
Due: none

add torch test for nn.GELU
  paconvert/global_var.py
  tests/test_nn_GELU.py
Due: copyright_checker

[API-Compat] Add compat.min/max/sort
  paconvert/api_mapping.json
  tests/test_max.py
  tests/test_min.py
  tests/test_sort.py
Due: copyright_checker, check-json

Fix CI unittest_check_gpu.sh and unittest_check.sh (#643)
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

Add three more unittests for compat.split
  tests/test_split.py
Due: copyright_checker

paddle.compat.split replaces paddle.split & added unittests
  paconvert/api_mapping.json
  tests/test_split.py
Due: copyright_checker, check-json

[API-Compat] compat.split & compat.Unfold
  paconvert/api_mapping.json
  tests/test_nn_Unfold.py
  tests/test_split.py
Due: copyright_checker, check-json

add torch.nn.init.* to NO_NEED_CONVERT_LIST
  paconvert/global_var.py
Due: copyright_checker

update unit test for torch.nn.init.*
  tests/test_nn_init_calculate_gain.py
  tests/test_nn_init_constant_.py
  tests/test_nn_init_dirac_.py
  tests/test_nn_init_eye_.py
  tests/test_nn_init_kaiming_normal_.py
  tests/test_nn_init_kaiming_uniform_.py
  tests/test_nn_init_normal_.py
  tests/test_nn_init_ones_.py
  tests/test_nn_init_orthogonal_.py
  tests/test_nn_init_trunc_normal_.py
  tests/test_nn_init_uniform_.py
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_init_xavier_uniform_.py
  tests/test_nn_init_zeros_.py
Due: copyright_checker

add torch test for ravel
  paconvert/global_var.py
  tests/test_Tensor_ravel.py
Due: copyright_checker

add torch test for scatter_add
  paconvert/global_var.py
  tests/test_Tensor_scatter_add.py
  tests/test_Tensor_scatter_add_.py
Due: copyright_checker

add broadcast_shapes
  paconvert/global_var.py
Due: copyright_checker

add torch test for scatter_reduce
  paconvert/global_var.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_scatter_reduce.py
Due: copyright_checker

add torch test for tril and triu
  paconvert/global_var.py
  tests/test_Tensor_tril.py
  tests/test_Tensor_triu.py
Due: copyright_checker

Comment out some the test_nn_MSELoss and test_Torch_normal_ cases
  paconvert/global_var.py
  tests/test_Tensor_normal_.py
  tests/test_nn_MSELoss.py
Due: copyright_checker

comment out some test_nn_MSELoss and test_Tensor_normal_ and black
  tests/test_Tensor_normal_.py
  tests/test_nn_MSELoss.py
Due: copyright_checker

support_softmax_compat_with_torch
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

[API-Compat] Added compat.split and compat.Unfold conversion rules and unittests (#637)
  paconvert/api_mapping.json
  tests/test_nn_Unfold.py
  tests/test_split.py
Due: copyright_checker, check-json

fix testcase
  tests/test_broadcast_shapes.py
Due: copyright_checker

add torch.nn.init.* (#626)
  paconvert/global_var.py
  tests/test_nn_init_calculate_gain.py
  tests/test_nn_init_constant_.py
  tests/test_nn_init_dirac_.py
  tests/test_nn_init_eye_.py
  tests/test_nn_init_kaiming_normal_.py
  tests/test_nn_init_kaiming_uniform_.py
  tests/test_nn_init_normal_.py
  tests/test_nn_init_ones_.py
  tests/test_nn_init_orthogonal_.py
  tests/test_nn_init_trunc_normal_.py
  tests/test_nn_init_uniform_.py
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_init_xavier_uniform_.py
  tests/test_nn_init_zeros_.py
Due: copyright_checker

[API Compatibility] add 16 api to NO_NEED_CONVERT (#640)
  paconvert/global_var.py
Due: copyright_checker

fix testcase
  tests/test_Tensor_scatter_reduce.py
  tests/test_scatter_reduce.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
