Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

Fix llama API matcher (#424)
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/paddle_llama.py
  tests/code_library/code_case/torch_code/torch_llama.py
Due: copyright_checker, check-json

remove_random_path
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen_aux.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen_aux.py
  tests/test_scaled_dot_product_attention.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

remove_white_list
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tools/consistency/consistency_check.py
Due: copyright_checker

update_readme
  docs/TypicalCase.md
Due: none

fix_typo
  README.md
  docs/TypicalCase.md
Due: none

add_test
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
Due: copyright_checker

test
  paconvert/attribute_mapping.json
Due: check-json

Qwen_matcher (#409)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/attribute_visit_name.py
  tests/code_library/code_case/torch_code/transformers_Qwen.py
  tests/flash_attn_tests/test_flash_attn_apply_rotary_emb_func.py
  tests/flash_attn_tests/test_flash_attn_func.py
  tests/flash_attn_tests/test_flash_attn_rms_norm.py
  tests/flash_attn_tests/test_flash_attn_unpadded_func.py
  tests/test_finfo.py
  tests/test_flash_attn_unpadded_func.py
  tests/test_iinfo.py
  tests/test_nonzero.py
  tests/test_scaled_dot_product_attention.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

fix
  README.md
  docs/TypicalCase_Llama.md
  docs/TypicalCase_Qwen.md
Due: none

update tools
  tools/validate_docs/validate_docs.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update validate_docs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_argsort.py
Due: copyright_checker, check-json

update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

update some doc validator
  paconvert/api_mapping.json
Due: check-json

update ScalableVarMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update torch.add
  paconvert/api_mapping.json
Due: check-json

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add new testcase for MaxUnpool3d
  paconvert/api_mapping.json
  tests/test_nn_MaxUnpool3d.py
Due: copyright_checker, check-json

update torch.scatter and torch.Tensor.scatter
  paconvert/api_mapping.json
  tests/test_Tensor_scatter.py
Due: copyright_checker, check-json

remove negative kwargs_change
  paconvert/api_mapping.json
Due: check-json

add bad unittest for torch.scatter
  tests/test_scatter.py
Due: copyright_checker

fix full_matrics kwargs_change and args_list of torch.Tensor.is_contiguous
  paconvert/api_mapping.json
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update api_mapping.json based on docs PART 1 (#423)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_argsort.py
  tests/test_Tensor_scatter.py
  tests/test_nn_MaxUnpool3d.py
  tests/test_scatter.py
  tools/validate_docs/validate_docs.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix_erroes
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_distributed_is_initialized.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker, check-json

fix
  docs/TypicalCase_Llama.md
  docs/TypicalCase_Qwen.md
Due: none

add torch.Tensor.dsplit to overloadable api list
  tools/validate_docs/validate_docs.py
Due: copyright_checker

update TriangularSolveMatcher
  paconvert/api_matcher.py
Due: copyright_checker

update api_mapping
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix torch.cuda.Stream
  paconvert/api_mapping.json
Due: check-json

fix torch.cuda.nvtx.range_push
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_load.py
Due: copyright_checker, check-json

rollback torch.cuda.nvtx.range_push
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

rollback torch.cuda.Stream
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_mapping.json
  tests/test_nn_Module_state_dict.py
Due: copyright_checker, check-json

rollback torch.cuda.stream
  paconvert/api_mapping.json
Due: check-json

update api_mapping.json based on docs PART 2 (#428)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Module_state_dict.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_matcher.py
  tests/code_library/code_case/paddle_code/class_method_static_call.py
Due: copyright_checker

fix_tests
  tests/test_set_default_tensor_type.py
Due: copyright_checker

fix torch.load matcher (#430)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_load.py
Due: copyright_checker, check-json
