Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix bugs
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker

change lr_scheduler to GenericMatcher to pass ci
  paconvert/api_mapping.json
Due: check-json

转换规则 No. 360 (#225)
  tests/test_linalg_matrix_exp.py
Due: copyright_checker

转换规则 No.243-300 其他未领取项 (#217)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_sparse_resize_.py
  tests/test_Tensor_sparse_resize_and_clear_.py
  tests/test_autograd_Function.py
  tests/test_autograd_Function_backward.py
  tests/test_autograd_Function_forward.py
  tests/test_autograd_function_FunctionCtx_mark_dirty.py
  tests/test_autograd_function_FunctionCtx_mark_non_differentiable.py
  tests/test_autograd_function_FunctionCtx_save_for_backward.py
  tests/test_autograd_function_FunctionCtx_set_materialize_grads.py
  tests/test_autograd_graph_saved_tensors_hooks.py
  tests/test_autograd_profiler_profile_self_cpu_time_total.py
  tests/test_cuda_StreamContext.py
  tests/test_cuda_set_stream.py
  tests/test_gradient.py
  tests/test_linalg_cholesky_ex.py
  tests/test_linalg_inv_ex.py
  tests/test_linalg_matrix_norm.py
  tests/test_linalg_svdvals.py
  tests/test_linalg_vector_norm.py
  tests/test_nn_LazyBatchNorm1d.py
  tests/test_nn_LazyBatchNorm2d.py
  tests/test_nn_LazyBatchNorm3d.py
  tests/test_nn_Mish.py
  tests/test_nn_functional_group_norm.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_nn_utils_parametrize_is_parametrized.py
  tests/test_positive.py
  tests/test_profiler_ProfilerAction.py
  tests/test_profiler_ProfilerActivity.py
  tests/test_special_entr.py
  tests/test_special_erfc.py
  tests/test_special_exp2.py
  tests/test_special_expit.py
  tests/test_special_gammaln.py
Due: copyright_checker, check-json

Fix
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

转换规则 KLDivLoss
  paconvert/api_mapping.json
  tests/test_nn_KLDivLoss.py
Due: copyright_checker, check-json

转换规则 torch.Tensor.scatter
  paconvert/api_mapping.json
  tests/test_Tensor_scatter.py
Due: copyright_checker, check-json

转换规则 torch.cuda.manual_seed_all
  paconvert/api_mapping.json
  tests/test_cuda_manual_seed_all.py
Due: copyright_checker, check-json

转换规则 torch.cuda.manual_seed_all
  tests/test_cuda_manual_seed_all.py
Due: copyright_checker

转换规则 torch.scatter
  paconvert/api_mapping.json
  tests/test_scatter.py
Due: copyright_checker, check-json

转换规则 torch.nn.NLLLoss2d
  paconvert/api_alias_mapping.json
  tests/test_nn_NLLLoss.py
Due: copyright_checker, check-json

规则转换 torch.nn.modules.BatchNorm2d
  paconvert/api_alias_mapping.json
  tests/test_batchnorm2d.py
Due: copyright_checker, check-json

转换规则 torch.optim.RMSprop
  paconvert/api_mapping.json
  tests/test_optim_RMSprop.py
Due: copyright_checker, check-json

indentation
  tests/test_nn_Module.py
Due: copyright_checker

转换规则 KLDivLoss (#228)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_nn_KLDivLoss.py
  tests/test_nn_NLLLoss.py
Due: copyright_checker, check-json

Add ast.Subscript (#227)
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

转换规则 No. 309 (#224)
  paconvert/api_mapping.json
  tests/test_trapezoid.py
Due: copyright_checker, check-json

转换规则 No.383 (#220)
  tests/test_nn_Module.py
Due: copyright_checker

转换规则 No.201-206 (#158)
  paconvert/api_mapping.json
  tests/test_hub_download_url_to_file.py
  tests/test_hub_get_dir.py
  tests/test_hub_help.py
  tests/test_hub_list.py
  tests/test_hub_load.py
  tests/test_hub_set_dir.py
Due: copyright_checker, check-json

eliminate OptimAdamMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

remove fluid
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/code_library/code_case/paddle_code/api_paddle_6_Generator.py
  tests/test_Generator.py
  tests/test_autograd_Function.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_event.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_get_rng_state_all.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_device.py
  tests/test_distributed_rpc_get_worker_info.py
  tests/test_distributions_ExponentialFamily.py
  tests/test_hub_download_url_to_file.py
  tests/test_hub_load.py
  tests/test_nn_SyncBatchNorm_convert_sync_batchnorm.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_optim_Optimizer.py
  tests/test_optim_Optimizer_add_param_group.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker, check-json

remove fluid (#233)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/code_library/code_case/paddle_code/api_paddle_6_Generator.py
  tests/test_Generator.py
  tests/test_autograd_Function.py
  tests/test_cuda_current_stream.py
  tests/test_cuda_event.py
  tests/test_cuda_get_device_properites.py
  tests/test_cuda_get_rng_state_all.py
  tests/test_cuda_max_memory_allocated.py
  tests/test_device.py
  tests/test_distributed_rpc_get_worker_info.py
  tests/test_distributions_ExponentialFamily.py
  tests/test_hub_download_url_to_file.py
  tests/test_hub_load.py
  tests/test_nn_SyncBatchNorm_convert_sync_batchnorm.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_optim_Optimizer.py
  tests/test_optim_Optimizer_add_param_group.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker, check-json

update unsupport_args
  paconvert/api_mapping.json
Due: check-json

Add tests
  paconvert/api_mapping.json
  tests/test_autograd_profiler_profile_export_chrome_trace.py
  tests/test_nn_functional_gaussian_nll_loss.py
  tests/test_special_i0e.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_LinearLR.py
  tests/test_special_erfcx.py
  tests/test_special_xlogy.py
Due: copyright_checker, check-json

Apply suggestions from code review
  paconvert/api_mapping.json
Due: check-json

Apply suggestions from code review
  tests/test_nn_functional_threshold.py
Due: copyright_checker

Apply suggestions from code review
  tests/test_nn_functional_max_pool1d.py
Due: copyright_checker

Update paconvert/api_mapping.json
  paconvert/api_mapping.json
Due: check-json

codestyle
  paconvert/api_mapping.json
Due: check-json

codestyle
  paconvert/api_mapping.json
  tests/test_Tensor_t.py
  tests/test_tensor.py
Due: copyright_checker, check-json

rollback
  tests/test_Tensor_t.py
Due: copyright_checker

Update test_tensor.py
  tests/test_tensor.py
Due: copyright_checker

add scatter unit
  paconvert/api_mapping.json
  tests/test_scatter.py
Due: copyright_checker, check-json

gain back OptimAdamMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix confict api_alias_mapping.json
  paconvert/api_alias_mapping.json
Due: check-json

转换规则 No.26 `torch.svd` (#160)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_svd.py
Due: copyright_checker, check-json
