Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

Restore singleton
  tests/test_cuda_stream.py
Due: copyright_checker

Restore singleton
  tests/test_tensor.py
Due: copyright_checker

Restore singleton
  tests/test_tensor_split.py
Due: copyright_checker

Restore singleton
  tests/test_Tensor_t.py
Due: copyright_checker

增加关键字测试
  tests/test_tensor_sparse_mask.py
Due: copyright_checker

[API Compatibility No.114] fix masked_fill kwarg remap for ChangePrefixMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/flash_attn_tests/test_flash_attn_apply_rotary_emb_func.py
  tests/flash_attn_tests/test_flash_attn_func.py
  tests/flash_attn_tests/test_flash_attn_rms_norm.py
  tests/flash_attn_tests/test_flash_attn_unpadded_func.py
  tests/test_Tensor_std.py
  tests/test_std.py
  tests/test_std_mean.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

[API Compatibility No.190] Support torch.nn.functional.pixel_unshuffle ChangePrefixMatcher (#840)
  paconvert/api_mapping.json
Due: check-json

Rename test_tensor_sparse_mask.py to test_Tensor_sparse_mask.py
  tests/test_Tensor_sparse_mask.py
Due: copyright_checker

[API Compatibility No.186] Align mse_loss matcher to ChangePrefixMatcher
  paconvert/api_mapping.json
Due: check-json

Add 'foreach' to unsupported args removal
  paconvert/api_matcher.py
Due: copyright_checker

Add 'foreach' to unsupported args removal (#860)
  paconvert/api_matcher.py
Due: copyright_checker

fix Tensor.cuda/requires_grad/ctx.saved_tensors
  paconvert/api_mapping.json
  paconvert/converter.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_requires_grad.py
  tests/test_inner.py
  tests/test_neg.py
  tests/test_positive.py
  tests/test_rad2deg.py
  tests/test_rot90.py
Due: copyright_checker, check-json

fix CI
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_nanquantile.py
  tests/test_cummax.py
  tests/test_cummin.py
  tests/test_inner.py
  tests/test_rot90.py
Due: copyright_checker, check-json

first
  .gitignore
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/custom_op_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/transformer/tensor_requires_grad_transformer.py
  tests/apibase.py
  tests/test_min_changeprefix.json
  tests/test_min_changeprefix.py
  tests/test_miss.json
  tests/test_miss.py
Due: copyright_checker, check-json

first_1
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/transformer/tensor_requires_grad_transformer.py
  tests/apibase.py
  tests/test_min_changeprefix.json
  tests/test_min_changeprefix.py
  tests/test_miss.json
  tests/test_miss.py
Due: copyright_checker, check-json

[API Compatibility No.218] Update select_scatter to ChangePrefixMatcher -part
  paconvert/api_mapping.json
  tests/test_Tensor_select_scatter.py
  tests/test_select_scatter.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

add gc collect
  paconvert/converter.py
  pytest.ini
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/apibase.py
  tests/test_backends_cuda_matmul_allow_tf32.py
  tests/test_backends_cudnn_benchmark.py
  tests/test_backends_cudnn_deterministic.py
Due: copyright_checker

[API Compatibility] iinfo/cummax/cummin/diagflat/ldexp/inner/positive/rad2deg/rot90/nanquantile/neg/erf Edit By AI Agent (#858)
  README.md
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  pytest.ini
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/apibase.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_requires_grad.py
  tests/test_Tensor_cummax.py
  tests/test_Tensor_cummin.py
  tests/test_Tensor_diagflat.py
  tests/test_Tensor_diagonal_scatter.py
  tests/test_Tensor_erf.py
  tests/test_Tensor_erf_.py
  tests/test_Tensor_ldexp.py
  tests/test_Tensor_mode.py
  tests/test_Tensor_nanquantile.py
  tests/test_Tensor_round.py
  tests/test_Tensor_round_.py
  tests/test_Tensor_topk.py
  tests/test_backends_cuda_matmul_allow_tf32.py
  tests/test_backends_cudnn_benchmark.py
  tests/test_backends_cudnn_deterministic.py
  tests/test_cummax.py
  tests/test_cummin.py
  tests/test_diagflat.py
  tests/test_diagonal_scatter.py
  tests/test_iinfo.py
  tests/test_inner.py
  tests/test_ldexp.py
  tests/test_mode.py
  tests/test_neg.py
  tests/test_positive.py
  tests/test_rad2deg.py
  tests/test_rot90.py
  tests/test_topk.py
Due: copyright_checker, check-json

[API Compatibility No.246, 247] align torch.Tensor.retain_grad And torch.Tensor.sparse_mask with ChangePrefix -part (#848)
  paconvert/api_mapping.json
  tests/test_Tensor_sparse_mask.py
Due: copyright_checker, check-json

[API Compatibility No.155] Keep input/target alias for bce_with_logits-part
  Makefile
  paconvert/api_mapping.json
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/test_nn_BCEWithLogitsLoss.py
  tests/test_nn_functional_binary_cross_entropy_with_logits.py
Due: copyright_checker, check-json

[API Compatibility] iinfo/cummax/cummin/diagflat/ldexp/inner/positive/rad2deg/rot90/nanquantile/neg/erf Edit By AI Agent (#858)
  .gitignore
  README.md
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  pytest.ini
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/apibase.py
  tests/code_library/code_case/paddle_code/attribute_paddle_Tensor_requires_grad.py
  tests/test_Tensor_cummax.py
  tests/test_Tensor_cummin.py
  tests/test_Tensor_diagflat.py
  tests/test_Tensor_diagonal_scatter.py
  tests/test_Tensor_erf.py
  tests/test_Tensor_erf_.py
  tests/test_Tensor_ldexp.py
  tests/test_Tensor_mode.py
  tests/test_Tensor_nanquantile.py
  tests/test_Tensor_round.py
  tests/test_Tensor_round_.py
  tests/test_Tensor_topk.py
  tests/test_backends_cuda_matmul_allow_tf32.py
  tests/test_backends_cudnn_benchmark.py
  tests/test_backends_cudnn_deterministic.py
  tests/test_cummax.py
  tests/test_cummin.py
  tests/test_diagflat.py
  tests/test_diagonal_scatter.py
  tests/test_iinfo.py
  tests/test_inner.py
  tests/test_ldexp.py
  tests/test_mode.py
  tests/test_neg.py
  tests/test_positive.py
  tests/test_rad2deg.py
  tests/test_rot90.py
  tests/test_topk.py
Due: copyright_checker, check-json

first
  paconvert/api_mapping.json
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

first_1
  paconvert/api_mapping.json
Due: check-json

second
  .gitignore
  paconvert/converter.py
Due: copyright_checker

second
  paconvert/api_mapping.json
Due: check-json

fix CI Problem
  README.md
  paconvert/transformer/import_transformer.py
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/__init__.py
  tests/test_utils_checkpoint_checkpoint.py
  tests/test_utils_data_Subset.py
Due: copyright_checker

Fix CI Problem (#862)
  README.md
  paconvert/transformer/import_transformer.py
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tests/code_library/code_case/__init__.py
  tests/test_utils_checkpoint_checkpoint.py
  tests/test_utils_data_Subset.py
Due: copyright_checker

add test for Conv1DTranspose, Conv2DTranspose and Conv3DTranspose
  paconvert/api_mapping.json
  tests/test_nn_ConvTranspose1d.py
  tests/test_nn_ConvTranspose2d.py
  tests/test_nn_ConvTranspose3d.py
Due: copyright_checker, check-json

first
  .gitignore
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/converter.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker, check-json

first_1
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
Due: check-json

[API Compatibility] iinfo/cummax/cummin/diagflat/ldexp/inner/positive/rad2deg/rot90/nanquantile/neg/erf Edit By AI Agent (#858)
  paconvert/converter.py
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

third
  paconvert/api_mapping.json
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  scripts/unittest_check.sh
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/minmode_code_case/paddle_code/changeprefix_code.py
  tests/code_library/code_case/minmode_code_case/paddle_code/functional_defects.py
  tests/code_library/code_case/minmode_code_case/torch_code/changeprefix_code.py
  tests/code_library/code_case/minmode_code_case/torch_code/functional_defects.py
  tests/test_min_changeprefix.json
  tests/test_min_changeprefix.py
  tests/test_miss.json
  tests/test_miss.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

third
  .gitignore
  paconvert/transformer/import_transformer.py
  paconvert/utils.py
  tests/code_library/code_case/minmode_code_case/paddle_code/changeprefix_code.py
  tests/code_library/code_case/minmode_code_case/paddle_code/functional_defects.py
  tests/code_library/code_case/minmode_code_case/torch_code/changeprefix_code.py
Due: copyright_checker

third
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

[API Compatibility No.191] Remove redundant kwargs_change for verified aligned loss APIs -part
  paconvert/api_mapping.json
Due: check-json

[API Compatibility No.154] add target alias for binary_cross_entropy -part
  paconvert/api_mapping.json
  tests/test_nn_functional_binary_cross_entropy.py
Due: copyright_checker, check-json

[API Compatibility] Switch BCE/MSE/multi_margin/nll_loss to ChangePrefixMatcher
  paconvert/api_mapping.json
Due: check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
