Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

remove some unnecessary get_paddle_class_nodes
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_Tensor_type.py
  tests/test_version.py
Due: copyright_checker, check-json

remove some unnecessary get_paddle_class_nodes (#297)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_Tensor_type.py
  tests/test_version.py
Due: copyright_checker, check-json

remove alias mapping of le and le_
  paconvert/api_mapping.json
Due: check-json

support convert dtype
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_cumprod.py
  tests/test_Tensor_softmax.py
  tests/test_Tensor_type.py
  tests/test_as_tensor.py
  tests/test_cumprod.py
  tests/test_scalar_tensor.py
  tests/test_sparse_coo_tensor.py
  tests/test_sparse_csr_tensor.py
  tests/test_sparse_sum.py
Due: copyright_checker, check-json

转换规则 添加部分 inplace compare api 的映射 PART.cmp (#294)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker, check-json

support convert dtype (#298)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_cumprod.py
  tests/test_Tensor_softmax.py
  tests/test_Tensor_type.py
  tests/test_as_tensor.py
  tests/test_cumprod.py
  tests/test_scalar_tensor.py
  tests/test_sparse_coo_tensor.py
  tests/test_sparse_csr_tensor.py
  tests/test_sparse_sum.py
Due: copyright_checker, check-json

fix torch.scatter bug
  paconvert/api_mapping.json
  paconvert/example_code.py
  tests/test_scatter.py
Due: copyright_checker, check-json

fix torch.scatter bug (#299)
  paconvert/api_mapping.json
  paconvert/example_code.py
  tests/test_scatter.py
Due: copyright_checker, check-json

fix torch.sort bug and DictComp/ListComp insert bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  tests/apibase.py
  tests/test_Tensor_requires_grad_.py
  tests/test_Tensor_sort.py
  tests/test_abs.py
  tests/test_nn_ParameterList.py
  tests/test_sort.py
Due: copyright_checker, check-json

fix torch.sort bug and DictComp/ListComp insert bug (#300)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  tests/apibase.py
  tests/test_Tensor_requires_grad_.py
  tests/test_Tensor_sort.py
  tests/test_abs.py
  tests/test_nn_ParameterList.py
  tests/test_sort.py
Due: copyright_checker, check-json

add tile
  paconvert/api_mapping.json
  tests/test_Tensor_tile.py
Due: copyright_checker, check-json

add to_sparse
  paconvert/api_mapping.json
  tests/test_Tensor_to_sparse.py
Due: copyright_checker, check-json

add TensorTileMatcher and fix bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_tile.py
Due: copyright_checker, check-json

add test
  tests/test_Tensor_to_sparse.py
Due: copyright_checker

add quantile
  paconvert/api_mapping.json
  tests/test_Tensor_quantile.py
Due: copyright_checker, check-json

fix quantile
  paconvert/api_mapping.json
Due: check-json

fix test
  tests/test_Tensor_quantile.py
Due: copyright_checker

add nanquantile
  paconvert/api_mapping.json
  tests/test_nanquantile.py
Due: copyright_checker, check-json

add stft
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_stft.py
Due: copyright_checker, check-json

add some inplace methods
  paconvert/api_mapping.json
  tests/test_Tensor_erf_.py
  tests/test_Tensor_expm1_.py
  tests/test_Tensor_renorm_.py
  tests/test_Tensor_square_.py
  tests/test_Tensor_tril_.py
  tests/test_Tensor_triu_.py
Due: copyright_checker, check-json

add arc inplace methods
  paconvert/api_mapping.json
  tests/test_Tensor_acos_.py
  tests/test_Tensor_arccos_.py
  tests/test_Tensor_arccosh_.py
  tests/test_Tensor_arcsin_.py
  tests/test_Tensor_arcsinh_.py
  tests/test_Tensor_arctan_.py
  tests/test_Tensor_arctanh_.py
Due: copyright_checker, check-json

add 6 inplace trigonometric methods
  paconvert/api_mapping.json
  tests/test_Tensor_cos_.py
  tests/test_Tensor_cosh_.py
  tests/test_Tensor_sin_.py
  tests/test_Tensor_sinh_.py
  tests/test_Tensor_tan_.py
Due: copyright_checker, check-json

add Tensor.abs_
  paconvert/api_mapping.json
  tests/test_Tensor_abs_.py
Due: copyright_checker, check-json

update unittest
  tests/test_Tensor_arcsin_.py
Due: copyright_checker

add stft
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_stft.py
Due: copyright_checker, check-json

add more test
  tests/test_Tensor_stft.py
Due: copyright_checker

fix
  tests/test_Tensor_stft.py
Due: copyright_checker

update torch.Tensor.renorm_ min_input_args
  paconvert/api_mapping.json
Due: check-json

转换规则 添加部分 inplace api 的映射 PART.04 (#302)
  paconvert/api_mapping.json
  tests/test_Tensor_abs_.py
  tests/test_Tensor_acos_.py
  tests/test_Tensor_arccos_.py
  tests/test_Tensor_arccosh_.py
  tests/test_Tensor_arcsin_.py
  tests/test_Tensor_arcsinh_.py
  tests/test_Tensor_arctan_.py
  tests/test_Tensor_arctanh_.py
  tests/test_Tensor_cos_.py
  tests/test_Tensor_cosh_.py
  tests/test_Tensor_erf_.py
  tests/test_Tensor_expm1_.py
  tests/test_Tensor_renorm_.py
  tests/test_Tensor_sin_.py
  tests/test_Tensor_sinh_.py
  tests/test_Tensor_square_.py
  tests/test_Tensor_tan_.py
  tests/test_Tensor_tril_.py
  tests/test_Tensor_triu_.py
Due: copyright_checker, check-json

add more test
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_quantile.py
  tests/test_quantile.py
Due: copyright_checker, check-json

add min_input_args
  paconvert/api_mapping.json
  tests/test_nanquantile.py
Due: copyright_checker, check-json

change tol
  tests/test_Tensor_stft.py
  tests/test_stft.py
Due: copyright_checker

first commit
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_as_strided.py
  tests/test_Tensor_cummax.py
  tests/test_Tensor_cummin.py
  tests/test_Tensor_i0.py
  tests/test_Tensor_index_put.py
  tests/test_Tensor_reshape.py
  tests/test_Tensor_unfold.py
  tests/test_Tensor_view.py
  tests/test_Tensor_view_as.py
  tests/test_as_strided.py
  tests/test_clamp_max.py
  tests/test_cummax.py
Due: copyright_checker, check-json

Update test_Tensor_reshape.py
  tests/test_Tensor_reshape.py
Due: copyright_checker

fix code style.
  paconvert/api_mapping.json
Due: check-json

add test for cuda_stream, cuda_seed, cuda_seed_all
  tests/test_cuda_seed.py
  tests/test_cuda_seed_all.py
  tests/test_cuda_stream.py
Due: copyright_checker

fix bug
  tests/test_cuda_seed.py
  tests/test_cuda_seed_all.py
Due: copyright_checker

add test for cuda_comm_scatter and cuda_comm_gather
  tests/test_cuda_comm_gather.py
  tests/test_cuda_comm_scatter.py
Due: copyright_checker
