Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

【Hackathon 7th No.38】为 Paddle 代码转换工具新增 API 转换规则（第5组） (#496)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_float_power.py
  tests/test_Tensor_isneginf.py
  tests/test_Tensor_isposinf.py
  tests/test_Tensor_isreal.py
  tests/test_Tensor_positive.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_block_diag.py
  tests/test_can_cast.py
  tests/test_cartesian_prod.py
  tests/test_float_power.py
  tests/test_isin.py
  tests/test_isneginf.py
  tests/test_isposinf.py
  tests/test_isreal.py
  tests/test_positive.py
  tests/test_scatter_reduce.py
Due: copyright_checker, check-json

add second batch of torchvision conversion rules and test cases (#503)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  tests/torchvision_tests/test_Cifar100.py
  tests/torchvision_tests/test_ColorJitter.py
  tests/torchvision_tests/test_DeformConv2d.py
  tests/torchvision_tests/test_FashionMNIST.py
  tests/torchvision_tests/test_Flowers102.py
  tests/torchvision_tests/test_RoIAlign.py
  tests/torchvision_tests/test_RoIPool.py
  tests/torchvision_tests/test_VOCDetection.py
  tests/torchvision_tests/test_decode_jpeg.py
  tests/torchvision_tests/test_deform_conv2d.py
  tests/torchvision_tests/test_nms.py
  tests/torchvision_tests/test_ps_roi_pool.py
  tests/torchvision_tests/test_read_file.py
  tests/torchvision_tests/test_roi_align.py
  tests/torchvision_tests/test_roi_pool.py
  tests/torchvision_tests/test_rotate.py
Due: copyright_checker, check-json

add conversion matchers for torchvision builtin models
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/torchvision_tests/test_alexnet.py
  tests/torchvision_tests/test_densenet121.py
  tests/torchvision_tests/test_densenet161.py
  tests/torchvision_tests/test_densenet169.py
  tests/torchvision_tests/test_densenet201.py
  tests/torchvision_tests/test_googlenet.py
  tests/torchvision_tests/test_inception_v3.py
  tests/torchvision_tests/test_mobilenet_v2.py
  tests/torchvision_tests/test_mobilenet_v3_large.py
  tests/torchvision_tests/test_mobilenet_v3_small.py
  tests/torchvision_tests/test_resnet101.py
  tests/torchvision_tests/test_resnet152.py
  tests/torchvision_tests/test_resnet18.py
  tests/torchvision_tests/test_resnet34.py
  tests/torchvision_tests/test_resnet50.py
  tests/torchvision_tests/test_resnext101_64x4d.py
  tests/torchvision_tests/test_resnext50_32x4d.py
  tests/torchvision_tests/test_shufflenet_v2_x0_5.py
  tests/torchvision_tests/test_shufflenet_v2_x1_0.py
  tests/torchvision_tests/test_shufflenet_v2_x1_5.py
  tests/torchvision_tests/test_shufflenet_v2_x2_0.py
  tests/torchvision_tests/test_squeezenet1_0.py
  tests/torchvision_tests/test_squeezenet1_1.py
  tests/torchvision_tests/test_vgg11.py
  tests/torchvision_tests/test_vgg11_bn.py
  tests/torchvision_tests/test_vgg13.py
  tests/torchvision_tests/test_vgg13_bn.py
  tests/torchvision_tests/test_vgg16.py
  tests/torchvision_tests/test_vgg16_bn.py
  tests/torchvision_tests/test_vgg19.py
  tests/torchvision_tests/test_vgg19_bn.py
  tests/torchvision_tests/test_wide_resnet101_2.py
  tests/torchvision_tests/test_wide_resnet50_2.py
Due: copyright_checker, check-json

update readme: now support torchvision code conversion
  README_EN.md
Due: none

update instancenorm1d
  tests/test_nn_InstanceNorm1d.py
Due: copyright_checker

update CI
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

problem feedback
  paconvert/api_mapping.json
  tests/test_nn_GRUCell.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update lkj api mapping
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Update InstanceNorm1D unit test 易用性提升 (#509)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_InstanceNorm1d.py
Due: copyright_checker, check-json

problem feedback
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_Tensor_scatter_reduce.py
  tests/test_block_diag.py
  tests/test_nn_GRUCell.py
  tests/test_nn_LSTMCell.py
  tests/test_nn_RNNCell.py
  tests/test_scatter_reduce.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

problem feedback
  tests/test_nn_functional_cosine_similarity.py
Due: copyright_checker

fix CI and code style
  .pre-commit-config.yaml
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/distributed/run_test.sh
  tests/test_Tensor_ormqr.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_block_diag.py
  tests/test_scatter_reduce.py
Due: copyright_checker, check-json

fix CI and code style (#512)
  .pre-commit-config.yaml
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  scripts/code_PRTemplate_check.sh
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
  scripts/code_unittest_check_gpu.sh
  tests/distributed/run_test.sh
  tests/test_Tensor_ormqr.py
  tests/test_Tensor_scatter_reduce.py
  tests/test_block_diag.py
  tests/test_scatter_reduce.py
Due: copyright_checker, check-json

Trigger CI
  tools/docker/Dockerfile
Due: none

Update Dockerfile
  tools/docker/Dockerfile
Due: none

Update code_unittest_check_gpu.sh
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

Use paddlepaddle-gpu=dev20241113
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

Add test cases back
  scripts/code_unittest_check_gpu.sh
Due: copyright_checker

Update run_test.sh
  tests/distributed/run_test.sh
Due: copyright_checker

problem feedback
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_GRUCell.py
  tests/test_nn_LSTMCell.py
  tests/test_nn_RNNCell.py
Due: copyright_checker, check-json

refine
  tests/code_library/code_case/__init__.py
  tools/consistency/consistency_check.py
Due: copyright_checker

problem feedback
  tests/test_nn_GRUCell.py
  tests/test_nn_RNNCell.py
Due: copyright_checker

add log in code_consistency_check to get torchvision version in ci
  scripts/code_consistency_check.sh
Due: copyright_checker

removed the * marker used to indicate position-only parameters in api_mapping.json
  paconvert/api_mapping.json
Due: check-json

Update README.md
  README.md
Due: none

优化 CI-CodeCosistency (#514)
  tests/code_library/code_case/__init__.py
  tools/consistency/consistency_check.py
Due: copyright_checker

fix Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix codestyle
  paconvert/api_matcher.py
Due: copyright_checker

Modify test cases for built-in models, add ModelAPIBase to compare model outputs
  paconvert/api_matcher.py
  tests/torchvision_tests/model_apibase.py
  tests/torchvision_tests/test_alexnet.py
  tests/torchvision_tests/test_densenet121.py
  tests/torchvision_tests/test_densenet161.py
  tests/torchvision_tests/test_densenet169.py
  tests/torchvision_tests/test_densenet201.py
  tests/torchvision_tests/test_googlenet.py
  tests/torchvision_tests/test_inception_v3.py
  tests/torchvision_tests/test_mobilenet_v2.py
  tests/torchvision_tests/test_mobilenet_v3_large.py
  tests/torchvision_tests/test_mobilenet_v3_small.py
  tests/torchvision_tests/test_resnet101.py
  tests/torchvision_tests/test_resnet152.py
  tests/torchvision_tests/test_resnet18.py
  tests/torchvision_tests/test_resnet34.py
  tests/torchvision_tests/test_resnet50.py
  tests/torchvision_tests/test_resnext101_64x4d.py
  tests/torchvision_tests/test_resnext50_32x4d.py
  tests/torchvision_tests/test_shufflenet_v2_x0_5.py
  tests/torchvision_tests/test_shufflenet_v2_x1_0.py
  tests/torchvision_tests/test_shufflenet_v2_x1_5.py
  tests/torchvision_tests/test_shufflenet_v2_x2_0.py
  tests/torchvision_tests/test_squeezenet1_0.py
  tests/torchvision_tests/test_squeezenet1_1.py
  tests/torchvision_tests/test_vgg11.py
  tests/torchvision_tests/test_vgg11_bn.py
  tests/torchvision_tests/test_vgg13.py
  tests/torchvision_tests/test_vgg13_bn.py
  tests/torchvision_tests/test_vgg16.py
  tests/torchvision_tests/test_vgg16_bn.py
  tests/torchvision_tests/test_vgg19.py
  tests/torchvision_tests/test_vgg19_bn.py
  tests/torchvision_tests/test_wide_resnet101_2.py
  tests/torchvision_tests/test_wide_resnet50_2.py
Due: copyright_checker

update square_
  tests/test_Tensor_square_.py
Due: copyright_checker

Fix `square_` not available 易用性提升 (#516)
  tests/test_Tensor_square_.py
Due: copyright_checker

add conversion matchers for torchvision builtin models (#508)
  README_EN.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  scripts/code_consistency_check.sh
  tests/torchvision_tests/model_apibase.py
  tests/torchvision_tests/test_alexnet.py
  tests/torchvision_tests/test_densenet121.py
  tests/torchvision_tests/test_densenet161.py
  tests/torchvision_tests/test_densenet169.py
  tests/torchvision_tests/test_densenet201.py
  tests/torchvision_tests/test_googlenet.py
  tests/torchvision_tests/test_inception_v3.py
  tests/torchvision_tests/test_mobilenet_v2.py
  tests/torchvision_tests/test_mobilenet_v3_large.py
  tests/torchvision_tests/test_mobilenet_v3_small.py
  tests/torchvision_tests/test_resnet101.py
  tests/torchvision_tests/test_resnet152.py
  tests/torchvision_tests/test_resnet18.py
  tests/torchvision_tests/test_resnet34.py
  tests/torchvision_tests/test_resnet50.py
  tests/torchvision_tests/test_resnext101_64x4d.py
  tests/torchvision_tests/test_resnext50_32x4d.py
  tests/torchvision_tests/test_shufflenet_v2_x0_5.py
  tests/torchvision_tests/test_shufflenet_v2_x1_0.py
  tests/torchvision_tests/test_shufflenet_v2_x1_5.py
  tests/torchvision_tests/test_shufflenet_v2_x2_0.py
  tests/torchvision_tests/test_squeezenet1_0.py
  tests/torchvision_tests/test_squeezenet1_1.py
  tests/torchvision_tests/test_vgg11.py
  tests/torchvision_tests/test_vgg11_bn.py
  tests/torchvision_tests/test_vgg13.py
  tests/torchvision_tests/test_vgg13_bn.py
  tests/torchvision_tests/test_vgg16.py
  tests/torchvision_tests/test_vgg16_bn.py
  tests/torchvision_tests/test_vgg19.py
  tests/torchvision_tests/test_vgg19_bn.py
  tests/torchvision_tests/test_wide_resnet101_2.py
  tests/torchvision_tests/test_wide_resnet50_2.py
Due: copyright_checker, check-json

fix Matcher
  paconvert/api_matcher.py
Due: copyright_checker

fix Matcher
  paconvert/api_mapping.json
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix bugs
  tools/validate_docs/validate_docs.py
Due: copyright_checker

零散问题修复 (#511)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_nn_GRUCell.py
  tests/test_nn_LSTMCell.py
  tests/test_nn_RNNCell.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json
