Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

转换规则 No. 349/350 (#199)
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_H.py
  tests/test_Tensor_mH.py
  tests/test_Tensor_mT.py
Due: copyright_checker, check-json

转换规则 No. 221-226 (#209)
  paconvert/api_mapping.json
  tests/test_distributed_rpc_WorkerInfo.py
  tests/test_distributed_rpc_functions_async_execution.py
  tests/test_distributed_rpc_get_worker_info.py
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_distributed_rpc_shutdown.py
Due: copyright_checker, check-json

转换规则 No.208/220 (#210)
  paconvert/api_mapping.json
  tests/test_linalg_cond.py
  tests/test_nn_init_calculate_gain.py
Due: copyright_checker, check-json

Add api test case
  tests/test_nn_Module.py
Due: copyright_checker

Pre-commit审查
  tests/test_nn_Module.py
Due: copyright_checker

add_param_group has issue
  paconvert/api_mapping.json
  tests/test_optim_Optimizer_add_param_group.py
Due: copyright_checker, check-json

fix CI
  README.md
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  scripts/run_ci.sh
Due: copyright_checker

fix CI (#221)
  README.md
  scripts/code_consistency_check.sh
  scripts/code_coverage_check.sh
  scripts/code_install_check.sh
  scripts/code_modeltest_check.sh
  scripts/code_unittest_check.sh
  scripts/run_ci.sh
Due: copyright_checker

Add tests
  tests/test_nn_Module_bfloat16.py
  tests/test_nn_Module_double.py
  tests/test_nn_Module_float.py
  tests/test_nn_Module_half.py
  tests/test_nn_Module_register_full_backward_hook.py
  tests/test_nn_Module_register_full_backward_pre_hook.py
  tests/test_nn_Module_requires_grad_.py
  tests/test_nn_Module_to.py
  tests/test_nn_Module_to_empty.py
  tests/test_nn_Module_type.py
  tests/test_nn_Module_zero_grad.py
  tests/test_onnx_disable_log.py
  tests/test_onnx_enable_log.py
Due: copyright_checker

转换规则 No. 380/381/391-401 (#186)
  tests/test_nn_Module_bfloat16.py
  tests/test_nn_Module_double.py
  tests/test_nn_Module_float.py
  tests/test_nn_Module_half.py
  tests/test_nn_Module_register_full_backward_hook.py
  tests/test_nn_Module_register_full_backward_pre_hook.py
  tests/test_nn_Module_requires_grad_.py
  tests/test_nn_Module_to.py
  tests/test_nn_Module_to_empty.py
  tests/test_nn_Module_type.py
  tests/test_nn_Module_zero_grad.py
  tests/test_onnx_disable_log.py
  tests/test_onnx_enable_log.py
Due: copyright_checker

compared numerical outputs and model types
  tests/test_nn_Module.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  tests/test_hub_download_url_to_file.py
  tests/test_hub_get_dir.py
  tests/test_hub_help.py
  tests/test_hub_list.py
  tests/test_hub_load.py
  tests/test_hub_set_dir.py
Due: copyright_checker, check-json

del test1 to meet coverage
  tests/test_nn_Module.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_sparse_resize_.py
  tests/test_Tensor_sparse_resize_and_clear_.py
  tests/test_autograd_Function.py
  tests/test_autograd_Function_backward.py
  tests/test_autograd_Function_forward.py
  tests/test_autograd_function_FunctionCtx_mark_dirty.py
  tests/test_autograd_function_FunctionCtx_mark_non_differentiable.py
  tests/test_autograd_function_FunctionCtx_save_for_backward.py
  tests/test_autograd_function_FunctionCtx_set_materialize_grads.py
  tests/test_autograd_graph_saved_tensors_hooks.py
  tests/test_autograd_profiler_profile_self_cpu_time_total.py
  tests/test_cuda_StreamContext.py
  tests/test_cuda_set_stream.py
  tests/test_gradient.py
  tests/test_linalg_cholesky_ex.py
  tests/test_linalg_inv_ex.py
  tests/test_linalg_matrix_norm.py
  tests/test_linalg_svdvals.py
  tests/test_linalg_vector_norm.py
  tests/test_nn_LazyBatchNorm1d.py
  tests/test_nn_LazyBatchNorm2d.py
  tests/test_nn_LazyBatchNorm3d.py
  tests/test_nn_functional_group_norm.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_nn_utils_parametrize_is_parametrized.py
  tests/test_positive.py
  tests/test_profiler_ProfilerAction.py
  tests/test_profiler_ProfilerActivity.py
  tests/test_special_entr.py
  tests/test_special_erfc.py
  tests/test_special_exp2.py
  tests/test_special_expit.py
  tests/test_special_gammaln.py
Due: copyright_checker, check-json

fix bug
  paconvert/api_matcher.py
  tests/test_svd.py
Due: copyright_checker

fix bug
  paconvert/api_matcher.py
Due: copyright_checker

Fix
  paconvert/api_mapping.json
  tests/test_nn_Mish.py
Due: copyright_checker, check-json

fix coverage
  tests/test_nn_Module.py
Due: copyright_checker

del compare()
  tests/test_nn_Module.py
Due: copyright_checker

Fix
  tests/test_autograd_Function.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_special_erfc.py
Due: copyright_checker

Add test
  paconvert/api_mapping.json
  tests/test_trapezoid.py
Due: copyright_checker, check-json

Add test
  tests/test_linalg_matrix_exp.py
Due: copyright_checker

add unitest
  tests/test_stft.py
Due: copyright_checker

add unittest
  tests/test_stft.py
Due: copyright_checker

add AdamW and Adamax
  paconvert/api_mapping.json
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

fix bug
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
Due: copyright_checker

modify APIBase
  tests/test_optim_Adadelta.py
  tests/test_optim_Adagrad.py
  tests/test_optim_Adam.py
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
Due: copyright_checker

add torch.hub.load_state_dict_from_url
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_hub_load_state_dict_from_url.py
Due: copyright_checker, check-json

update unit test
  tests/test_hub_load_state_dict_from_url.py
Due: copyright_checker

fix
  tests/test_device_cuda_stream_guard.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
Due: check-json

demo for OptimlrSchedulerMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add LBFGS
  paconvert/api_mapping.json
  tests/test_optim_LBFGS.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker, check-json

fix bug
  paconvert/api_mapping.json
Due: check-json

black check
  paconvert/api_matcher.py
Due: copyright_checker

add closure to LBFGS.step()
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker

fix bug
  paconvert/api_matcher.py
  tests/test_optim_Optimizer_load_state_dict.py
  tests/test_optim_Optimizer_state_dict.py
  tests/test_optim_Optimizer_step.py
Due: copyright_checker
