Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

fourth
  .gitignore
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/transformer/tensor_requires_grad_transformer.py
  scripts/unittest_check.sh
  tests/apibase.py
  tests/code_library/code_case/minmode_code_case/torch_code/changeprefix_code.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

fourth_1
  tests/test_Tensor_retains_grad.py
Due: copyright_checker

fifth
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
Due: copyright_checker

Refactor CI script responsibility split
  scripts/consistency_check.sh
  scripts/modeltest_check.sh
Due: copyright_checker

[API Compatibility] sgn/signbit/tensordot/tril_indices/vander/logaddexp/moveaxis/nan_to_num/nanmean/nansum/*scatter Edit By AI Agent
  paconvert/api_mapping.json
  tests/test_Tensor_select_scatter.py
  tests/test_Tensor_sgn.py
  tests/test_Tensor_signbit.py
  tests/test_Tensor_take.py
  tests/test_select_scatter.py
  tests/test_sgn.py
  tests/test_signbit.py
  tests/test_take.py
  tests/test_tensordot.py
  tests/test_tril_indices.py
  tests/test_triu_indices.py
Due: copyright_checker, check-json

拆分 CI 脚本职责：将 code set 转换迁移到 modeltest_check.sh (#865)
  scripts/consistency_check.sh
  scripts/modeltest_check.sh
Due: copyright_checker

sixth
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/custom_op_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/transformer/tensor_requires_grad_transformer.py
  tools/consistency/consistency_check.py
Due: copyright_checker

[API Compatibility]enhance tests for torch._assert -part (#857)
  paconvert/api_mapping.json
  tests/test__assert.py
Due: copyright_checker, check-json

[API Compatibility] add torch.special.logit -part (#855)
  paconvert/api_mapping.json
  tests/test_Tensor_logit.py
  tests/test_logit.py
  tests/test_special_logit.py
Due: copyright_checker, check-json

seventh
  paconvert/api_matcher.py
Due: copyright_checker

sixth
  paconvert/api_matcher.py
Due: copyright_checker

Stabilize unittest CI by isolating stateful tests
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

Complete unittest CI stabilization steps
  pytest.ini
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

seventh
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/minmode_code_case/paddle_code/changeprefix_code.py
Due: copyright_checker

add comprehensive tests using Claude
  tests/test_cuda_amp_GradScaler.py
Due: copyright_checker

Add detailed Chinese comments to unittest CI changes
  pytest.ini
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
Due: copyright_checker

fix using claude
  paconvert/api_mapping.json
  tests/test_log_softmax.py
  tests/test_nn_functional_log_softmax.py
  tests/test_special_log_softmax.py
Due: copyright_checker, check-json

keep ChangeAPIMatcher
  paconvert/api_mapping.json
  tests/test_Tensor_unique.py
  tests/test_unique.py
Due: copyright_checker, check-json

[API Compatibility] add torch.unique and torch.Tensor.unique -part (#843)
  tests/test_Tensor_unique.py
  tests/test_unique.py
Due: copyright_checker

eighth
  .gitignore
  paconvert/converter.py
  paconvert/main.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/minmode_code_case/diff/combine.txt
  tests/code_library/code_case/minmode_code_case/diff/keep_same.txt
  tests/code_library/code_case/minmode_code_case/paddle_code/changeprefix_code.py
  tests/code_library/code_case/minmode_code_case/paddle_code/functional_defects.py
  tests/code_library/code_case/minmode_code_case/torch_code/changeprefix_code.py
  tests/code_library/code_case/minmode_code_case/torch_code/combine.py
  tests/code_library/code_case/minmode_code_case/torch_code/functional_defects.py
  tests/code_library/code_case/minmode_code_case/torch_code/keep_same.py
  tools/consistency/consistency_check.py
Due: copyright_checker

Add min convert mode (#861)
  .gitignore
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/base.py
  paconvert/converter.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/custom_op_transformer.py
  paconvert/transformer/import_transformer.py
  paconvert/transformer/tensor_requires_grad_transformer.py
  paconvert/utils.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/minmode_code_case/diff/combine.txt
  tests/code_library/code_case/minmode_code_case/diff/keep_same.txt
  tests/code_library/code_case/minmode_code_case/torch_code/combine.py
  tests/code_library/code_case/minmode_code_case/torch_code/keep_same.py
  tests/test_Tensor_retains_grad.py
  tools/consistency/consistency_check.py
Due: copyright_checker, check-json

add scan unalign api
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/global_var.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

add scan unalign api (#868)
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/converter.py
  paconvert/global_var.py
  paconvert/main.py
  paconvert/transformer/basic_transformer.py
  paconvert/transformer/import_transformer.py
Due: copyright_checker

explicitly transform the type to float
  tests/test_cuda_amp_GradScaler.py
Due: copyright_checker

[API Compatibility] enhance tests for torch.randint and fix ChangePrefixMatcher unsupported args
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_randint.py
Due: copyright_checker, check-json

torch.utils.data.BatchSampler
  paconvert/api_mapping.json
Due: check-json

torch.utils.data.RandomSampler
  paconvert/api_mapping.json
Due: check-json

torch.Tensor.exponential_
  paconvert/api_mapping.json
Due: check-json

torch.Tensor.nelement
  paconvert/api_mapping.json
Due: check-json

fix codeconsistency
  tests/code_library/code_case/paddle_code/api_paddle_io_BatchSampler.py
Due: none

tests: reset default device in remaining legal CUDA set_default_device cases
  tests/test_set_default_device.py
Due: copyright_checker

Add test
  paconvert/api_mapping.json
  tests/test_Tensor_acos_.py
  tests/test_Tensor_acosh_.py
  tests/test_Tensor_asin_.py
  tests/test_Tensor_asinh_.py
  tests/test_Tensor_atan_.py
  tests/test_Tensor_atanh_.py
  tests/test_Tensor_ceil_.py
  tests/test_Tensor_cos_.py
  tests/test_Tensor_cosh_.py
  tests/test_Tensor_exp_.py
  tests/test_Tensor_expm1_.py
  tests/test_Tensor_floor_.py
  tests/test_Tensor_reciprocal_.py
  tests/test_Tensor_rsqrt_.py
  tests/test_Tensor_sigmoid_.py
  tests/test_Tensor_sin_.py
  tests/test_Tensor_sinh_.py
  tests/test_Tensor_sqrt_.py
  tests/test_Tensor_square_.py
  tests/test_Tensor_tan_.py
  tests/test_Tensor_tile.py
  tests/test_tile.py
  tests/unary_inplace_test_utils.py
Due: copyright_checker, check-json

fix codeconsistency (2)
  tests/code_library/code_case/paddle_code/api_paddle_io_BatchSampler.py
Due: none

Convert loss mappings to ChangePrefixMatcher
  paconvert/api_mapping.json
  tests/test_nn_functional_binary_cross_entropy.py
  tests/test_nn_functional_mse_loss.py
  tests/test_nn_functional_multi_margin_loss.py
  tests/test_nn_functional_nll_loss.py
Due: copyright_checker, check-json

Remove redundant poisson_nll_loss kwargs mapping
  paconvert/api_mapping.json
Due: check-json

change 'ChangePrefixMatcher' to 'ChangeAPIMatcher'
  paconvert/api_mapping.json
Due: check-json

[API compatibility] update paddle.Tensor.exp_、sqrt_、rsqrt_、ceil_、floor_、reciprocal_、sigmoid_、sin_、sinh_、asin_、asinh_、cos_、cosh_、acos_、acosh_、tan_、atan_、atanh_、expm1_、square_、tile (#872)
  paconvert/api_mapping.json
  tests/test_Tensor_acos_.py
  tests/test_Tensor_acosh_.py
  tests/test_Tensor_asin_.py
  tests/test_Tensor_asinh_.py
  tests/test_Tensor_atan_.py
  tests/test_Tensor_atanh_.py
  tests/test_Tensor_ceil_.py
  tests/test_Tensor_cos_.py
  tests/test_Tensor_cosh_.py
  tests/test_Tensor_exp_.py
  tests/test_Tensor_expm1_.py
  tests/test_Tensor_floor_.py
  tests/test_Tensor_reciprocal_.py
  tests/test_Tensor_rsqrt_.py
  tests/test_Tensor_sigmoid_.py
  tests/test_Tensor_sin_.py
  tests/test_Tensor_sinh_.py
  tests/test_Tensor_sqrt_.py
  tests/test_Tensor_square_.py
  tests/test_Tensor_tan_.py
  tests/test_Tensor_tile.py
  tests/test_tile.py
  tests/unary_inplace_test_utils.py
Due: copyright_checker, check-json

[API Compatibility]enhance test for torch.nn.Module.to -part (#856)
  tests/test_nn_Module_to.py
Due: copyright_checker

enable all tests
  tests/test_nn_functional_log_softmax.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
