Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

for consistency
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
Due: none

Fix GPU CI bug
  scripts/unittest_check_gpu.sh
Due: copyright_checker

update dot
  paconvert/global_var.py
Due: copyright_checker

modify api_paddle_Tensor_cast
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
Due: none

delete api6
  paconvert/global_var.py
Due: copyright_checker

restore paddle_code
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_cast.py
Due: none

Modify api5 new branch (#681)
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_normal_.py
  tests/test_Tensor_normal_.py
Due: copyright_checker, check-json

feat(tensor_split)
  paconvert/global_var.py
  tests/test_tensor_split.py
Due: copyright_checker

add prod
  paconvert/global_var.py
Due: copyright_checker

modify attribute
  paconvert/attribute_mapping.json
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix
  paconvert/global_var.py
Due: copyright_checker

[API compatibility] paddle.unbind
  paconvert/global_var.py
Due: copyright_checker

[API Compatiblity] add sum repeat_interleave var (#673)
  paconvert/global_var.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/simplified_name_call.py
Due: none

fix validate_docs.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

fix
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
Due: none

convert
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
Due: none

[API Compatiblity] add matmul and multiply (#666)
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/insert_pass_in_ast_if.py
  tests/code_library/code_case/paddle_code/simplified_name_call.py
Due: copyright_checker

add log2 support no convert
  paconvert/global_var.py
Due: copyright_checker

Support no need convert for validate docs (#684)
  paconvert/attribute_mapping.json
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

[API-Compat] paddle.gather
  paconvert/global_var.py
  tests/test_gather.py
Due: copyright_checker

Update api_matcher.py
  paconvert/api_matcher.py
Due: copyright_checker

[API-Compat] Skip some of the test instead of changing params.
  tests/test_gather.py
Due: copyright_checker

[API-Compat] paddle.scatter, Tensor.scatter, Tensor.scatter_
  paconvert/global_var.py
  tests/test_Tensor_scatter.py
  tests/test_Tensor_scatter_.py
  tests/test_scatter.py
Due: copyright_checker

add paddle.Tensor.clamp and paddle.Tensor.itemsize (#678)
  paconvert/global_var.py
Due: copyright_checker

fix NO_NEED_CONVERT_MATCHER
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_new_empty.py
  tests/test_Tensor_new_full.py
  tests/test_Tensor_new_ones.py
  tests/test_Tensor_new_zeros.py
  tests/test_Tensor_permute.py
  tests/test_empty.py
  tests/test_randn.py
Due: copyright_checker, check-json

[API compatibility] add paddle.unbind to NO_NEED_CONVERT (#683)
  paconvert/global_var.py
Due: copyright_checker

fix NO_NEED_CONVERT_MATCHER (#686)
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_new_empty.py
  tests/test_Tensor_new_full.py
  tests/test_Tensor_new_ones.py
  tests/test_Tensor_new_zeros.py
  tests/test_Tensor_permute.py
  tests/test_empty.py
  tests/test_randn.py
Due: copyright_checker, check-json

[API Compatiblity] add dot (#680)
  paconvert/global_var.py
Due: copyright_checker

test new no_need_convert from docs_mapping
  paconvert/global_var.py
Due: copyright_checker

[API Compatiblity] add log2 to NO_NEED_CONVERT (#685)
  paconvert/global_var.py
Due: copyright_checker

delete some error no_need_convert apis
  paconvert/global_var.py
Due: copyright_checker

delete some error no_need_convert apis 2
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility]add torch.Tensor.is_cuda and torch.Size
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

add 33 api
  paconvert/global_var.py
Due: copyright_checker

comment out silu mul
  paconvert/global_var.py
Due: copyright_checker

fix cosistency
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: none

replace paddlenlp
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/converter.py
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/attribute_visit_name.py
  tests/code_library/code_case/paddle_code/mark_unsupport.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/code_library/code_case/torch_code/mark_unsupport.py
Due: copyright_checker, check-json
