Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

update min_input_args
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tools/validate_unittest/complete_mapping.py
Due: copyright_checker, check-json

fix 33 unittests
  paconvert/api_mapping.json
  tests/test_nn_functional_hardtanh.py
  tests/test_nn_functional_hinge_embedding_loss.py
  tests/test_nn_functional_huber_loss.py
  tests/test_nn_functional_instance_norm.py
  tests/test_nn_functional_kl_div.py
  tests/test_nn_functional_l1_loss.py
  tests/test_nn_functional_leaky_relu.py
  tests/test_nn_functional_margin_ranking_loss.py
  tests/test_nn_functional_max_unpool2d.py
  tests/test_nn_functional_max_unpool3d.py
  tests/test_nn_functional_mse_loss.py
  tests/test_nn_functional_multi_margin_loss.py
  tests/test_nn_functional_multilabel_soft_margin_loss.py
  tests/test_nn_functional_nll_loss.py
  tests/test_nn_functional_normalize.py
  tests/test_nn_functional_poisson_nll_loss.py
  tests/test_nn_functional_relu.py
  tests/test_nn_functional_relu6.py
  tests/test_nn_functional_rrelu.py
  tests/test_nn_functional_rrelu_.py
  tests/test_nn_functional_soft_margin_loss.py
  tests/test_nn_functional_softmin.py
  tests/test_nn_functional_triplet_margin_with_distance_loss.py
  tests/test_nn_functional_upsample.py
  tests/test_nn_init_constant_.py
  tests/test_nn_modules_batchnorm__BatchNorm.py
  tests/test_nn_modules_utils__ntuple.py
  tests/test_nn_utils_clip_grad_norm_.py
  tests/test_nn_utils_clip_grad_value_.py
  tests/test_nn_utils_parameters_to_vector.py
  tests/test_nn_utils_parametrizations_spectral_norm.py
  tests/test_nn_utils_remove_weight_norm.py
  tests/test_nn_utils_weight_norm.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix error
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
Due: check-json

fix error
  paconvert/api_mapping.json
Due: check-json

avoid conflict
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

note error
  tests/test_nn_Module_type.py
Due: copyright_checker

update lstsq
  tests/test_linalg_lstsq.py
Due: copyright_checker

fix error and sort data list in validate_unittest
  paconvert/api_mapping.json
  tests/test_nn_Module_type.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix _stacklevel test case
  paconvert/api_mapping.json
  tests/test_nn_functional_softmin.py
Due: copyright_checker, check-json

add broadcast test
  paconvert/api_mapping.json
  tests/test_cuda_comm_broadcast.py
Due: copyright_checker, check-json

add validate_docs tool
  paconvert/api_mapping.json
  tools/validate_docs/.gitignore
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update sort rule
  tools/validate_docs/validate_docs.py
Due: copyright_checker

update torch.Tensor.cuda
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
Due: check-json

update torch.column_stack
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix fmod
  paconvert/api_mapping.json
Due: check-json

update torch.hstack
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update torch.msort
  paconvert/api_mapping.json
Due: check-json

fix torch.nn.LSTMCell
  tests/test_nn_LSTMCell.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update torch.row_stack
  paconvert/api_mapping.json
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update torch.vstack
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update torch.searchsorted
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update torch.set_printoptions
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update some api
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

update
  tools/validate_docs/validate_docs.py
Due: copyright_checker

Revert "fix torch.nn.LSTMCell"
  tests/test_nn_LSTMCell.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

fix torch.fmod
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix torch.XXTensor as type
  paconvert/api_matcher.py
Due: copyright_checker

Revert "fix torch.XXTensor as type"
  paconvert/api_matcher.py
Due: copyright_checker

fix torch.XXTensor
  paconvert/api_mapping.json
Due: check-json

remove kwargs_change item
  paconvert/api_mapping.json
Due: check-json

添加映射文档对齐验证工具与映射数据维护 (#360)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tools/validate_docs/.gitignore
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

add torch.cuda.device
  paconvert/api_mapping.json
  tests/test_cuda_device.py
Due: copyright_checker, check-json

add torch.optim.Optimizer.zero_grad test
  tests/test_optim_Optimizer_zero_grad.py
Due: copyright_checker

【Hackathon 5th No.45】convert torch.optim.Optimizer.zero_grad (#361)
  tests/test_optim_Optimizer_zero_grad.py
Due: copyright_checker

fix bug
  paconvert/api_mapping.json
  tests/test_nn_parallel_comm_broadcast.py
Due: copyright_checker, check-json

update api_mappings
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
