Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

【Hackathon 5th No.44】API转换 42-61 (#324)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_cholesky_solve.py
  tests/test_Tensor_float_power.py
  tests/test_Tensor_float_power_.py
  tests/test_Tensor_symeig.py
  tests/test_Tensor_triangular_solve.py
  tests/test_autograd_enable_grad.py
  tests/test_autograd_set_grad_enabled.py
  tests/test_linalg_eig.py
  tests/test_linalg_eigh.py
  tests/test_linalg_eigvalsh.py
  tests/test_linalg_pinv.py
  tests/test_linalg_solve.py
  tests/test_linalg_svd.py
  tests/test_linalg_vector_norm.py
  tests/test_pca_lowrank.py
  tests/test_symeig.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
  tests/test_pca_lowrank.py
Due: copyright_checker, check-json

【Hackathon 5th No.44】API转换 42-61 (#329)
  paconvert/api_mapping.json
  tests/test_pca_lowrank.py
Due: copyright_checker, check-json

update tool and some unittests
  paconvert/api_mapping.json
  tests/test_Tensor_cos.py
  tests/test_Tensor_fill_diagonal_.py
  tests/test_Tensor_flatten.py
  tests/test_Tensor_frexp.py
  tests/test_Tensor_indices.py
  tests/test_Tensor_register_forward_hook.py
  tests/test_Tensor_values.py
  tests/test_distributions_kl_register_kl.py
  tests/test_dtype.py
  tests/test_nn_Module_register_forward_hook.py
  tests/test_nn_Module_register_forward_pre_hook.py
  tests/test_randn.py
  tests/test_register_forward_pre_hook.py
  tests/test_zeros.py
  tools/validate_unittest/.gitignore
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

move all non-callbale api to attribute_mapping.json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  paconvert/transformer/basic_transformer.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

llama_convert
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_FS_ColumnParallelLinear.py
  tests/test_FS_ParallelEmbedding.py
  tests/test_FS_RowParallelLinear.py
  tests/test_FS_get_model_parallel_rank.py
  tests/test_FS_get_model_parallel_world_size.py
  tests/test_FS_initialize_model_parallel.py
  tests/test_FS_model_parallel_is_initialized.py
  tests/test_distributed_is_initialized.py
  tests/test_inference_mode.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker, check-json

update some unittests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_fmax.py
  tests/test_Tensor_fmin.py
  tests/test_Tensor_gather.py
  tests/test_Tensor_greater_equal.py
  tests/test_Tensor_histc.py
  tests/test_Tensor_index_add.py
  tests/test_Tensor_index_copy_.py
  tests/test_Tensor_index_select.py
  tests/test_Tensor_isclose.py
Due: copyright_checker, check-json

update unittetst
  tests/test_Tensor_istft.py
Due: copyright_checker

llama-convert
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_FS_ColumnParallelLinear.py
  tests/test_FS_ParallelEmbedding.py
  tests/test_FS_RowParallelLinear.py
  tests/test_FS_get_model_parallel_rank.py
  tests/test_FS_get_model_parallel_world_size.py
  tests/test_FS_initialize_model_parallel.py
  tests/test_FS_model_parallel_is_initialized.py
  tests/test_distributed_is_initialized.py
  tests/test_inference_mode.py
  tests/test_set_default_tensor_type.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  tests/test_set_default_tensor_type.py
Due: copyright_checker, check-json

fix
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Float.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Int.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor2Long.py
Due: copyright_checker

update some unittests
  paconvert/api_mapping.json
  tests/test_Tensor_kthvalue.py
  tests/test_Tensor_le.py
  tests/test_Tensor_lerp.py
  tests/test_Tensor_lerp_.py
  tests/test_Tensor_less.py
  tests/test_Tensor_less_equal.py
  tests/test_Tensor_logit.py
  tests/test_Tensor_logsumexp.py
  tests/test_Tensor_lt.py
  tests/test_Tensor_lu.py
Due: copyright_checker, check-json

update some unittests
  tests/test_Tensor_masked_fill.py
  tests/test_Tensor_masked_select.py
Due: copyright_checker

update some unittests
  tests/test_Tensor_mean.py
  tests/test_Tensor_mode.py
  tests/test_Tensor_moveaxis.py
  tests/test_Tensor_movedim.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update some unittests
  tests/test_Tensor_multinomial.py
  tests/test_Tensor_nan_to_num.py
Due: copyright_checker

add overloadable field
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/transformer/basic_transformer.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

update verbose to False
  tests/test_hub_load.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

remove debug output
  tests/apibase.py
Due: copyright_checker

fix codestyle check pip install and unittest torch version
  scripts/code_style_check.sh
  scripts/code_unittest_check.sh
Due: copyright_checker

remove invalid arguments
  paconvert/api_mapping.json
  tests/test_Tensor_repeat.py
Due: copyright_checker, check-json

update rename
  paconvert/api_mapping.json
  tests/test_Tensor_rename.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix torch.Tensor.to api_mapping
  paconvert/api_mapping.json
Due: check-json

fix bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_float_power.py
Due: copyright_checker, check-json

Update api_matcher.py
  paconvert/api_matcher.py
Due: copyright_checker

fix unittest error in tests/test_nn_utils_clip_grad_value_.py
  tests/test_nn_utils_clip_grad_value_.py
Due: copyright_checker

update consistency_check torch version
  scripts/code_consistency_check.sh
Due: copyright_checker

update tools/consistency/consistency_check.py
  scripts/code_consistency_check.sh
  tools/consistency/consistency_check.py
Due: copyright_checker

fix bug in paddleClass regex escape.
  paconvert/base.py
Due: copyright_checker

add unescape
  paconvert/base.py
Due: copyright_checker

[BugFix] fix bug in paddleClass regex escape (#334)
  paconvert/base.py
  tests/test_nn_utils_clip_grad_value_.py
Due: copyright_checker

add var_args_collector in validate_unittest
  paconvert/api_mapping.json
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

move abstract data to validate_unittest
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update CONTRIBUTING to remove abstract
  docs/CONTRIBUTING.md
Due: none

move overloadable data to validate_unittest
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

Revert "update verbose to False"
  tests/test_hub_load.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

fix bug
  paconvert/api_mapping.json
Due: check-json

fix bug
  tests/test_cuda_get_device_name.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
