Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

update
  paconvert/api_mapping.json
  tests/test_Tensor_unique_consecutive.py
  tests/test_Tensor_where.py
  tests/test_abs.py
  tests/test_absolute.py
  tests/test_acos.py
  tests/test_acosh.py
  tests/test_adaptive_avg_pool1d.py
  tests/test_add.py
  tests/test_addbmm.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix bug
  tests/test_cuda_get_device_name.py
Due: copyright_checker

fix unittests
  paconvert/api_mapping.json
  tests/test_Tensor_new_tensor.py
  tests/test_Tensor_remainder.py
  tests/test_Tensor_scatter_.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix torch*.repeat_interleave mapping
  paconvert/api_mapping.json
  tests/test_Tensor_repeat_interleave.py
  tests/test_repeat_interleave.py
Due: copyright_checker, check-json

update sort
  paconvert/api_mapping.json
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

update tool
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

update api_mappings
  paconvert/api_mapping.json
Due: check-json

allow kwargs as min_input_args
  paconvert/base.py
Due: copyright_checker

convert IndependentTransform
  paconvert/api_mapping.json
  tests/test_distributions_transforms_IndependentTransform.py
Due: copyright_checker, check-json

fix bug
  tests/test_distributions_transforms_IndependentTransform.py
Due: copyright_checker

fix 20 api unittests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_t.py
  tests/test_take.py
  tests/test_take_along_dim.py
  tests/test_tan.py
  tests/test_tensor.py
  tests/test_tensordot.py
  tests/test_testing_assert_allclose.py
  tests/test_testing_assert_close.py
  tests/test_tile.py
  tests/test_topk.py
  tests/test_transpose.py
  tests/test_triangular_solve.py
  tests/test_tril.py
  tests/test_tril_indices.py
  tests/test_triu.py
  tests/test_triu_indices.py
  tests/test_true_divide.py
  tests/test_trunc.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix tests/test_tensor.py
  tests/test_tensor.py
Due: copyright_checker

fix 'torch.swapdims' api_mapping
  paconvert/api_mapping.json
Due: check-json

update min_input_args desc and cornercase
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  paconvert/base.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix kwarg name to 'input'
  paconvert/api_matcher.py
Due: copyright_checker

【Hackathon 5th No.45】convert torch.cuda.get_device_name and torch.cuda.device -part (#311)
  paconvert/api_mapping.json
  tests/test_cuda_get_device_name.py
Due: copyright_checker, check-json

Fix `min_input_args` api_mapping data PART.1 (#338)
  docs/CONTRIBUTING.md
  paconvert/api_mapping.json
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

Fix 20 unittests of all `torch.t*` api (#343)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_t.py
  tests/test_take.py
  tests/test_take_along_dim.py
  tests/test_tan.py
  tests/test_tensor.py
  tests/test_tensordot.py
  tests/test_testing_assert_allclose.py
  tests/test_testing_assert_close.py
  tests/test_tile.py
  tests/test_topk.py
  tests/test_transpose.py
  tests/test_triangular_solve.py
  tests/test_tril.py
  tests/test_tril_indices.py
  tests/test_triu.py
  tests/test_triu_indices.py
  tests/test_true_divide.py
  tests/test_trunc.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  tests/test_nn_functional_pairwise_distance.py
  tests/test_nn_functional_triplet_margin_loss.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_StepLR.py
  tests/test_sparse_csr_tensor.py
Due: copyright_checker, check-json

add cornercase torch.profiler.schedule
  paconvert/api_mapping.json
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix torch.nn.Softmax
  paconvert/api_mapping.json
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

Fix `min_input_args` api_mapping data PART.2 (#339)
  paconvert/api_mapping.json
  tests/test_nn_functional_pairwise_distance.py
  tests/test_nn_functional_triplet_margin_loss.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_StepLR.py
  tests/test_sparse_csr_tensor.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix 15 unittests
  paconvert/api_mapping.json
  tests/test_unbind.py
  tests/test_unflatten.py
  tests/test_unique.py
  tests/test_unsqueeze.py
  tests/test_utils_data_BatchSampler.py
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_DistributedSampler.py
  tests/test_utils_data_RandomSampler.py
  tests/test_utils_data_Subset.py
  tests/test_utils_data_TensorDataset.py
  tests/test_utils_data_WeightedRandomSampler.py
  tests/test_utils_data_random_split.py
  tests/test_utils_date_DistributedSampler.py
  tests/test_utils_dlpack_from_dlpack.py
  tests/test_utils_dlpack_to_dlpack.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix torch.utils.data.TensorDataset
  paconvert/api_mapping.json
  tests/test_utils_data_TensorDataset.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

fix tests/test_utils_dlpack_to_dlpack.py
  tests/test_utils_dlpack_to_dlpack.py
Due: copyright_checker

fix 7 unittests
  tests/test_allclose.py
  tests/test_alpha_dropout.py
  tests/test_amax.py
  tests/test_amin.py
  tests/test_aminmax.py
  tests/test_angle.py
  tests/test_any.py
Due: copyright_checker

fix 19 unittests
  paconvert/api_mapping.json
  tests/test_arange.py
  tests/test_arccos.py
  tests/test_arccosh.py
  tests/test_arcsin.py
  tests/test_arcsinh.py
  tests/test_arctan.py
  tests/test_arctan2.py
  tests/test_arctanh.py
  tests/test_argmax.py
  tests/test_argmin.py
  tests/test_argsort.py
  tests/test_as_strided.py
  tests/test_as_tensor.py
  tests/test_asarray.py
  tests/test_asin.py
  tests/test_asinh.py
  tests/test_atan.py
  tests/test_atan2.py
  tests/test_atanh.py
Due: copyright_checker, check-json

format list initializer
  tests/test_adaptive_avg_pool1d.py
  tests/test_alpha_dropout.py
  tests/test_arctan.py
  tests/test_arctan2.py
  tests/test_arctanh.py
  tests/test_argmax.py
  tests/test_argmin.py
  tests/test_argsort.py
  tests/test_as_strided.py
  tests/test_asinh.py
  tests/test_atan.py
  tests/test_atan2.py
  tests/test_atanh.py
  tests/test_autocast.py
  tests/test_avg_pool1d.py
Due: copyright_checker

fix 10 unittests
  paconvert/api_mapping.json
  tests/test_autocast.py
  tests/test_autograd_backward.py
  tests/test_autograd_function_FunctionCtx_set_materialize_grads.py
  tests/test_autograd_functional_hessian.py
  tests/test_autograd_functional_jacobian.py
  tests/test_autograd_functional_jvp.py
  tests/test_autograd_functional_vjp.py
  tests/test_autograd_grad.py
  tests/test_autograd_graph_saved_tensors_hooks.py
  tests/test_avg_pool1d.py
Due: copyright_checker, check-json

fix tests/test_aminmax.py
  tests/test_aminmax.py
Due: copyright_checker

fix addr
  tests/test_addr.py
Due: copyright_checker

fix 6 unittests
  paconvert/api_mapping.json
  tests/test_addcdiv.py
  tests/test_addcmul.py
  tests/test_addmm.py
  tests/test_addmv.py
  tests/test_addr.py
  tests/test_all.py
Due: copyright_checker, check-json

fix 8 unittests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_vander.py
  tests/test_var.py
  tests/test_vdot.py
  tests/test_vstack.py
  tests/test_where.py
  tests/test_xlogy.py
  tests/test_zeros.py
  tests/test_zeros_like.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

revert remove cornercase
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker

Fix 14 unittests of all `torch.u*` api (#344)
  paconvert/api_mapping.json
  tests/test_unbind.py
  tests/test_unflatten.py
  tests/test_unique.py
  tests/test_unsqueeze.py
  tests/test_utils_data_BatchSampler.py
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_DistributedSampler.py
  tests/test_utils_data_RandomSampler.py
  tests/test_utils_data_Subset.py
  tests/test_utils_data_TensorDataset.py
  tests/test_utils_data_WeightedRandomSampler.py
  tests/test_utils_data_random_split.py
  tests/test_utils_date_DistributedSampler.py
  tests/test_utils_dlpack_from_dlpack.py
  tests/test_utils_dlpack_to_dlpack.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json

Fix 8 unittests of `torch.[v-z]*` api (#345)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_vander.py
  tests/test_var.py
  tests/test_vdot.py
  tests/test_vstack.py
  tests/test_where.py
  tests/test_xlogy.py
  tests/test_zeros.py
  tests/test_zeros_like.py
  tools/validate_unittest/validate_unittest.py
Due: copyright_checker, check-json
