Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

转换规则No 72 torch.nn.functional.soft_margin_loss (#130)
  paconvert/api_mapping.json
  tests/test_nn_functional_soft_margin_loss.py
Due: copyright_checker, check-json

转换规则No 73 (#139)
  paconvert/api_mapping.json
  tests/test_nn_functional_multi_margin_loss.py
Due: copyright_checker, check-json

Add test cases 6-27 (#140)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_ger.py
  tests/test_Tensor_greater.py
  tests/test_Tensor_gt.py
  tests/test_Tensor_heaviside.py
  tests/test_Tensor_index_select.py
  tests/test_Tensor_inner.py
  tests/test_Tensor_inverse.py
  tests/test_Tensor_is_complex.py
  tests/test_Tensor_is_floating_point.py
  tests/test_Tensor_isclose.py
  tests/test_Tensor_isfinite.py
  tests/test_Tensor_isinf.py
  tests/test_Tensor_isnan.py
  tests/test_Tensor_kthvalue.py
  tests/test_Tensor_lcm.py
  tests/test_Tensor_le.py
  tests/test_Tensor_lerp.py
  tests/test_Tensor_lerp_.py
  tests/test_Tensor_less.py
  tests/test_Tensor_less_equal.py
  tests/test_Tensor_lgamma.py
  tests/test_Tensor_log.py
  tests/test_Tensor_log10.py
  tests/test_Tensor_log2.py
  tests/test_Tensor_logical_and.py
  tests/test_Tensor_logical_not.py
  tests/test_Tensor_logical_or.py
  tests/test_Tensor_logical_xor.py
  tests/test_Tensor_logit.py
  tests/test_Tensor_logsumexp.py
  tests/test_Tensor_lt.py
Due: copyright_checker, check-json

add sort dicts by args_list
  tools/codestyle/json.hook
Due: none

add sort top-level keys to json.hook
  tools/codestyle/json.hook
Due: none

pylint json.hook
  tools/codestyle/json.hook
Due: none

pre-commit run --all-files
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
Due: check-json

[pre-commit] update pre-commit `json format check` rule to sort APIs (#137)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/attribute_mapping.json
  tools/codestyle/json.hook
Due: check-json

add scalar_tensor etc.
  paconvert/api_mapping.json
Due: check-json

add masked_select tests
  tests/test_masked_select.py
Due: copyright_checker

Add test cases 6-29
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_Tensor_lu.py
  tests/test_Tensor_masked_select.py
  tests/test_Tensor_matmul.py
  tests/test_Tensor_matrix_power.py
  tests/test_Tensor_max.py
  tests/test_Tensor_maximum.py
  tests/test_Tensor_mean.py
  tests/test_Tensor_median.py
  tests/test_Tensor_min.py
  tests/test_Tensor_minimum.py
  tests/test_Tensor_mm.py
  tests/test_Tensor_mode.py
  tests/test_Tensor_moveaxis.py
  tests/test_Tensor_movedim.py
  tests/test_Tensor_mul.py
  tests/test_Tensor_mul_.py
  tests/test_Tensor_multinomial.py
  tests/test_Tensor_multiply.py
  tests/test_Tensor_multiply_.py
  tests/test_Tensor_mv.py
  tests/test_Tensor_nanmedian.py
  tests/test_Tensor_ne.py
  tests/test_Tensor_neg.py
  tests/test_Tensor_nelement.py
  tests/test_Tensor_norm.py
  tests/test_Tensor_not_equal.py
  tests/test_Tensor_numel.py
  tests/test_Tensor_outer.py
  tests/test_Tensor_pin_memory.py
  tests/test_Tensor_pow.py
  tests/test_Tensor_prod.py
  tests/test_Tensor_reciprocal.py
  tests/test_Tensor_reciprocal_.py
Due: copyright_checker, check-json

转换规则 No.234/236/237
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_Subset.py
  tests/test_utils_data_TensorDataset.py
Due: copyright_checker, check-json

add masked_select tests (#150)
  tests/test_masked_select.py
Due: copyright_checker

add scalar_tensor etc.
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_utils_data__utils_collate_default_collate.py
  tests/test_utils_data_dataloader_default_collate.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_histogram.py
  tests/test_corrcoef.py
  tests/test_frexp.py
  tests/test_nn_functional_mish.py
  tests/test_special_log_softmax.py
Due: copyright_checker, check-json

Fix bugs
  tests/test_Tensor_pin_memory.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  tests/test_linalg_inv.py
  tests/test_linalg_qr.py
Due: copyright_checker, check-json

Add tests
  paconvert/api_mapping.json
  tests/test_Tensor_take_along_dim.py
  tests/test_linalg_matrix_power.py
  tests/test_take_along_dim.py
Due: copyright_checker, check-json

Add api test case (#147)
  README.md
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/transformer/basic_transformer.py
  tests/test_NLLLoss.py
  tests/test_Tensor_bernoulli_.py
  tests/test_Tensor_bfloat16.py
  tests/test_Tensor_bool.py
  tests/test_Tensor_byte.py
  tests/test_Tensor_cdouble.py
  tests/test_Tensor_cfloat.py
  tests/test_Tensor_char.py
  tests/test_Tensor_contiguous.py
  tests/test_Tensor_cpu.py
  tests/test_Tensor_cuda.py
  tests/test_Tensor_cumprod.py
  tests/test_Tensor_diagflat.py
  tests/test_Tensor_double.py
  tests/test_Tensor_float.py
  tests/test_Tensor_half.py
  tests/test_Tensor_int.py
  tests/test_Tensor_long.py
  tests/test_Tensor_short.py
  tests/test_Tensor_size.py
  tests/test_Tensor_slogdet.py
  tests/test_Tensor_tril.py
  tests/test_Tensor_triu.py
  tests/test_Tensor_type_as.py
  tests/test_Tensor_unique.py
  tests/test_coalesce.py
  tests/test_frexp.py
  tests/test_full.py
  tests/test_indices.py
  tests/test_ones.py
  tests/test_rand.py
  tests/test_randn.py
  tests/test_sparse_resize_and_clear_.py
  tests/test_to_dense.py
  tests/test_values.py
  tests/test_zeros.py
Due: copyright_checker, check-json

Fix
  tests/test_frexp.py
Due: copyright_checker

Update README.md
  README.md
Due: none

Update README.md (#152)
  README.md
Due: none

Update README.md (#153)
  README.md
Due: none

modify default_collate alias
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  tests/test_utils_data__utils_collate_default_collate.py
  tests/test_utils_data_dataloader_default_collate.py
  tests/test_utils_data_default_collate.py
Due: copyright_checker, check-json

add scalar_tensor etc. (#136)
  paconvert/api_alias_mapping.json
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/base.py
  paconvert/transformer/basic_transformer.py
  tests/test_multiprocess_spawn.py
  tests/test_scalar_tensor.py
  tests/test_testing_assert_allclose.py
  tests/test_utils_data_IterableDataset.py
  tests/test_utils_data_default_collate.py
  tests/test_utils_date_DistributedSampler.py
Due: copyright_checker, check-json

fix error at SearchsortedMatcher
  paconvert/api_matcher.py
Due: copyright_checker

fix code style error
  paconvert/api_mapping.json
Due: check-json

Fix bugs
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_mul.py
  tests/test_Tensor_mul_.py
  tests/test_Tensor_multiply_.py
Due: copyright_checker, check-json

Add test cases 6-29 (#151)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_lu.py
  tests/test_Tensor_masked_select.py
  tests/test_Tensor_matmul.py
  tests/test_Tensor_matrix_power.py
  tests/test_Tensor_max.py
  tests/test_Tensor_maximum.py
  tests/test_Tensor_mean.py
  tests/test_Tensor_median.py
  tests/test_Tensor_min.py
  tests/test_Tensor_minimum.py
  tests/test_Tensor_mm.py
  tests/test_Tensor_mode.py
  tests/test_Tensor_moveaxis.py
  tests/test_Tensor_movedim.py
  tests/test_Tensor_mul.py
  tests/test_Tensor_mul_.py
  tests/test_Tensor_multinomial.py
  tests/test_Tensor_multiply.py
  tests/test_Tensor_multiply_.py
  tests/test_Tensor_mv.py
  tests/test_Tensor_nanmedian.py
  tests/test_Tensor_ne.py
  tests/test_Tensor_neg.py
  tests/test_Tensor_nelement.py
  tests/test_Tensor_norm.py
  tests/test_Tensor_not_equal.py
  tests/test_Tensor_numel.py
  tests/test_Tensor_outer.py
  tests/test_Tensor_pow.py
  tests/test_Tensor_prod.py
  tests/test_Tensor_reciprocal.py
  tests/test_Tensor_reciprocal_.py
Due: copyright_checker, check-json

转换规则 No.245/249/250 (#145)
  paconvert/api_mapping.json
  tests/test_Tensor_take_along_dim.py
  tests/test_linalg_matrix_power.py
  tests/test_take_along_dim.py
Due: copyright_checker, check-json

转换规则 No.216/217 (#144)
  paconvert/api_mapping.json
  tests/test_linalg_inv.py
  tests/test_linalg_qr.py
Due: copyright_checker, check-json

Fix
  paconvert/api_matcher.py
Due: copyright_checker

fix Tuple2ListMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Unfold.py
  tests/test_nn_functional_unfold.py
Due: copyright_checker, check-json

转换规则 No.272/282/318/324/326 (#149)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_histogram.py
  tests/test_corrcoef.py
  tests/test_nn_functional_mish.py
  tests/test_special_log_softmax.py
Due: copyright_checker, check-json

add Attribute2Func
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/test_nn_Upsample.py
Due: copyright_checker, check-json

fix some comments
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_Unfold.py
  tests/test_nn_functional_unfold.py
Due: copyright_checker, check-json

转换规则 No.16/17/18 (#142)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_cummin.py
  tests/test_searchsorted.py
  tests/test_vander.py
Due: copyright_checker, check-json

Fix variable naming in TensorDatasetMatcher.
  paconvert/api_matcher.py
Due: copyright_checker
