Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix code conversion mis-alignment
  tests/test_Tensor_rename.py
Due: copyright_checker

restore test script
  scripts/ci/run_gpu_unittest.sh
Due: copyright_checker

update min-mode consistency baselines
  tests/code_library/code_case/minmode_code_case/diff/combine.txt
  tests/code_library/code_case/minmode_code_case/diff/keep_same.txt
Due: none

add distributed tests under tests/distributed
  tests/distributed/ProgressGroup.py
  tests/distributed/group_WORLD.py
  tests/distributed/init_process_group.py
Due: copyright_checker

fix
  tests/distributed/ProcessGroup.py
  tests/distributed/group_WORLD.py
  tests/test_distributed_ProcessGroup.py
  tests/test_distributed_group_WORLD.py
  tests/test_distributed_init_process_group.py
Due: copyright_checker

[API Compatibility] change prefix matcher for 4 distributed apis -part (#879)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  paconvert/attribute_mapping.json
  tests/distributed/ProcessGroup.py
  tests/distributed/group_WORLD.py
Due: copyright_checker, check-json

chore: add ci environment diagnostics
  scripts/ci/run_cpu_unittest.sh
Due: copyright_checker

paddle_package == paddle and add once
  paconvert/transformer/import_transformer.py
Due: copyright_checker

torch.optim.Optimizer
  paconvert/api_mapping.json
  tests/test_optim_Optimizer.py
Due: copyright_checker, check-json

torch.utils.data.distributed.DistributedSampler
  tests/distributed/utils_data_distributed_DistributedSampler.py
Due: copyright_checker

nn_modules_module__IncompatibleKeys
  tests/test_nn_modules_module__IncompatibleKeys.py
Due: copyright_checker

torch.utils.data.DataLoader, torch.utils.data.dataloader.DataLoader
  paconvert/api_mapping.json
  tests/test_utils_data_DataLoader.py
  tests/test_utils_data_dataloader_DataLoader.py
Due: copyright_checker, check-json

torch.optim.SGD
  paconvert/api_mapping.json
  tests/test_optim_SGD.py
Due: copyright_checker, check-json

torch.optim.Adagrad
  paconvert/api_mapping.json
  tests/test_optim_Adagrad.py
Due: copyright_checker, check-json

torch.optim.AdamW
  paconvert/api_mapping.json
Due: check-json

update static check file
  tests/code_library/code_case/paddle_code/class_method_static_call.py
Due: none

[API Compatibility] add torch.optim.*/ utils.data.* (#904)
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/class_method_static_call.py
  tests/distributed/utils_data_distributed_DistributedSampler.py
  tests/test_nn_modules_module__IncompatibleKeys.py
  tests/test_optim_Adagrad.py
  tests/test_optim_Optimizer.py
  tests/test_optim_SGD.py
  tests/test_utils_data_DataLoader.py
  tests/test_utils_data_dataloader_DataLoader.py
Due: copyright_checker, check-json

update after paddle changed
  paconvert/api_mapping.json
  paconvert/transformer/import_transformer.py
  tests/code_library/code_case/minmode_code_case/diff/combine.txt
  tests/code_library/code_case/minmode_code_case/diff/keep_same.txt
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm1D.py
  tests/code_library/code_case/paddle_code/api_paddle_nn_BatchNorm2D.py
Due: copyright_checker, check-json

fix
  paconvert/transformer/import_transformer.py
Due: copyright_checker

improve
  paconvert/api_mapping.json
  tests/conftest.py
Due: copyright_checker, check-json

add json entry for torch.nn.modules.module._IncompatibleKeys and torch.optim.lr_scheduler.LRSchedule, add test file for torch.optim.lr_scheduler.LRSchedule
  paconvert/api_mapping.json
  tests/test_optim_lr_scheduler_LRScheduler.py
Due: copyright_checker, check-json

ChangePrefixMatcher for torch.nn.Module.register_forward_hook and torch.nn.Module.register_forward_pre_hook, enhance their tests
  paconvert/api_mapping.json
  tests/test_nn_Module_register_forward_hook.py
  tests/test_nn_Module_register_forward_pre_hook.py
Due: copyright_checker, check-json

AvgPool1/2/3d, BatchNorm1/2/3d, MultiheadAttention, Tensor.split to ChangePrefixMathcer.
  paconvert/api_mapping.json
Due: check-json
