Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/[code_case|model_case]
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.py)$
        exclude: ^tests/code_library/[code_case|model_case]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/[code_case|model_case]
        args: [--profile=black]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py,tests/code_library/code_case/paddle_code/*
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

过滤掉tensor方法转属性的api
  paconvert/api_mapping.json
Due: check-json

torch.ge属于torch参数更多
  paconvert/api_mapping.json
Due: check-json

weightedRandomSampler属于torch参数更多
  paconvert/api_mapping.json
Due: check-json

test randomsampler && fix test_rolpoll
  paconvert/api_mapping.json
  tests/torchvision_tests/test_RoIPool.py
Due: copyright_checker, check-json

test randomsampler && fix test_rolpoll
  paconvert/api_mapping.json
Due: check-json

[API-Compat] paddle.compat.pad conversion rules and tests (#697)
  paconvert/api_mapping.json
  tests/test_nn_functional_pad.py
Due: copyright_checker, check-json

修复一致性问题
  tests/code_library/code_case/paddle_code/api_paddle_seed.py
Due: none

update
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_get_device.py
Due: copyright_checker, check-json

update
  tests/test_Tensor_get_device.py
Due: copyright_checker

add more API to ChangeAPIMatcher (#702)
  paconvert/api_mapping.json
  tests/code_library/code_case/paddle_code/api_paddle_seed.py
  tests/torchvision_tests/test_RoIPool.py
Due: copyright_checker, check-json

update
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_to.py
Due: none

fix
  paconvert/api_mapping.json
  paconvert/global_var.py
Due: copyright_checker, check-json

[API Compatibility]Add torch.sub torch.Tensor.random_
  paconvert/global_var.py
  tests/test_Tensor_sub.py
  tests/test_Tensor_sub_.py
  tests/test_sub.py
Due: copyright_checker

fix
  paconvert/global_var.py
Due: copyright_checker

fix get_device
  tests/test_Tensor_get_device.py
Due: copyright_checker

feat(gelu, layer_norm)
  paconvert/global_var.py
Due: copyright_checker

add floor_divide masked_select
  paconvert/global_var.py
Due: copyright_checker

[API Compatiblity] add floor_divide masked_select (#709)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] add `torch.Tensor.get_device` `torch.random.initial_seed` (#706)
  paconvert/api_mapping.json
  paconvert/global_var.py
  tests/test_Tensor_get_device.py
Due: copyright_checker, check-json

add remainder api
  paconvert/global_var.py
Due: copyright_checker

[API Compatiblity] remainder api support torch params (#710)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility] Support Tensor.to and torch.functional.* (#699)
  paconvert/api_alias_mapping.json
  paconvert/global_var.py
  tests/code_library/code_case/paddle_code/api_paddle_Tensor_to.py
  tests/test_functional_atleast_1d.py
  tests/test_functional_atleast_2d.py
  tests/test_functional_atleast_3d.py
  tests/test_functional_block_diag.py
  tests/test_functional_broadcast_shapes.py
  tests/test_functional_broadcast_tensors.py
  tests/test_functional_cartesian_prod.py
  tests/test_functional_cdist.py
  tests/test_functional_einsum.py
  tests/test_functional_istft.py
  tests/test_functional_lu.py
  tests/test_functional_meshgrid.py
  tests/test_functional_norm.py
  tests/test_functional_split.py
  tests/test_functional_stft.py
  tests/test_functional_tensordot.py
  tests/test_functional_unique.py
  tests/test_functional_unique_consecutive.py
Due: copyright_checker, check-json

[API compatibility] is_floating_point, is_tensor, isin (#692)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility]Add torch.sub torch.Tensor.random_
  paconvert/global_var.py
  tests/test_Tensor_sub.py
  tests/test_Tensor_sub_.py
  tests/test_sub.py
  tests/test_subtract.py
Due: copyright_checker

[API Compatibility] Add `paddle.nn.functional.gelu`, `paddle.layer_norm` into `NO_NEED_CONVERT_LIST` (#708)
  paconvert/global_var.py
Due: copyright_checker

[API Compatibility]Add torch.sub torch.Tensor.random_ (#711)
  paconvert/global_var.py
  tests/test_Tensor_sub.py
  tests/test_Tensor_sub_.py
  tests/test_sub.py
  tests/test_subtract.py
Due: copyright_checker

[API Compatiblity] add conv (#691)
  paconvert/global_var.py
Due: copyright_checker

fix
  tests/test_cuda_mem_get_info.py
Due: copyright_checker

add some api to NO_NEED_CONVERT_LIST
  paconvert/global_var.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_random_manual_seed.py
  tests/test_Tensor___add__.py
  tests/test_Tensor___ge__.py
  tests/test_Tensor___gt__.py
  tests/test_Tensor___le__.py
  tests/test_Tensor___lt__.py
  tests/test_Tensor___mul__.py
  tests/test_Tensor___ne__.py
  tests/test_Tensor___neg__.py
  tests/test_Tensor___radd__.py
  tests/test_Tensor___reduce_ex__.py
  tests/test_Tensor___rmul__.py
  tests/test_Tensor___sub__.py
  tests/test_Tensor_ge.py
  tests/test_Tensor_lt.py
  tests/test_Tensor_ne.py
Due: copyright_checker

add some api to NO_NEED_CONVERT_LIST (#712)
  paconvert/global_var.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/api_paddle_random_manual_seed.py
  tests/test_Tensor___add__.py
  tests/test_Tensor___ge__.py
  tests/test_Tensor___gt__.py
  tests/test_Tensor___le__.py
  tests/test_Tensor___lt__.py
  tests/test_Tensor___mul__.py
  tests/test_Tensor___ne__.py
  tests/test_Tensor___neg__.py
  tests/test_Tensor___radd__.py
  tests/test_Tensor___reduce_ex__.py
  tests/test_Tensor___rmul__.py
  tests/test_Tensor___sub__.py
  tests/test_Tensor_ge.py
  tests/test_Tensor_lt.py
  tests/test_Tensor_ne.py
Due: copyright_checker

Clean up commented torch function references
  paconvert/global_var.py
Due: copyright_checker

Update CI torch version
  scripts/unittest_check.sh
  scripts/unittest_check_gpu.sh
  tools/docker/Dockerfile
Due: copyright_checker

add some cuda.XXX
  paconvert/global_var.py
  tests/test_cuda_get_device_properties.py
  tests/test_cuda_set_rng_state.py
  tests/test_device.py
  tests/test_get_device_module.py
Due: copyright_checker

check code style
  tests/test_cuda_get_device_properties.py
  tests/test_get_device_module.py
Due: copyright_checker

split ut to different files
  paconvert/global_var.py
  tests/test_cuda_check_error.py
  tests/test_cuda_cudart.py
  tests/test_cuda_mem_get_info.py
Due: copyright_checker

first pr
  README.md
Due: none

Update README (#714)
  README.md
Due: none

add paddle.cuda.cudart() (#705)
  paconvert/global_var.py
  tests/test_cuda_check_error.py
  tests/test_cuda_cudart.py
  tests/test_cuda_mem_get_info.py
Due: copyright_checker

fix Devicebase bug
  paconvert/global_var.py
  tests/test_set_default_device.py
Due: copyright_checker

add test for sdpa_kernel
  paconvert/global_var.py
  tests/test_nn_attention_sdpa_kernel.py
Due: copyright_checker
