Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

add IterableDataset
  paconvert/api_mapping.json
  tests/test_utils_data_IterableDataset.py
Due: copyright_checker, check-json

add Sampler
  paconvert/api_mapping.json
  tests/test_utils_data_Sampler.py
Due: copyright_checker, check-json

add SequentialSampler
  paconvert/api_mapping.json
  tests/test_utils_data_SequentialSampler.py
Due: copyright_checker, check-json

add Subset
  paconvert/api_mapping.json
  tests/test_utils_data_Subset.py
Due: copyright_checker, check-json

add get_worker_info
  paconvert/api_mapping.json
  tests/test_utils_data_get_worker_info.py
Due: copyright_checker, check-json

add random_split
  paconvert/api_mapping.json
  tests/test_utils_data_random_split.py
Due: copyright_checker, check-json

[API Compatibility No.10] Update floor_divide_ matcher to ChangePrefixMatcher -part
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] cdist/bitwise_and/or/xor/not/addmm/baddbmm Edit By AI Agent
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_bitwise_left_shift.py
  tests/test_Tensor_bitwise_left_shift_.py
  tests/test_Tensor_bitwise_right_shift.py
  tests/test_Tensor_bitwise_right_shift_.py
  tests/test_Tensor_cauchy_.py
  tests/test_bitwise_left_shift.py
  tests/test_bitwise_right_shift.py
  tests/test_cdist.py
Due: copyright_checker, check-json

Mark torch.Tensor.fill_diagonal_ as ChangePrefixMatcher
  paconvert/api_mapping.json
Due: check-json

Mark torch.Tensor.cumsum_ as ChangePrefixMatcher
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_mapping.json
Due: check-json

add dilation option support for maxpool1d/2d/3d
  paconvert/api_mapping.json
  tests/test_max_pool1d.py
  tests/test_max_pool2d.py
  tests/test_max_pool3d.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool2d.py
  tests/test_nn_MaxPool3d.py
Due: copyright_checker, check-json

[API Compatibility] Align `torch.std` (#813)
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] Support `torch.utils.data.*` compatibility (#817)
  paconvert/api_mapping.json
  tests/test_utils_data_ChainDataset.py
  tests/test_utils_data_ConcatDataset.py
  tests/test_utils_data_Dataset.py
  tests/test_utils_data_IterableDataset.py
  tests/test_utils_data_Sampler.py
  tests/test_utils_data_SequentialSampler.py
  tests/test_utils_data_Subset.py
  tests/test_utils_data_get_worker_info.py
  tests/test_utils_data_random_split.py
Due: copyright_checker, check-json

Fix some bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

[API Compatibility] cdist/bitwise_and/or/xor/not/addmm/baddbmm Edit By AI Agent (#815)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_bitwise_left_shift.py
  tests/test_Tensor_bitwise_left_shift_.py
  tests/test_Tensor_bitwise_right_shift.py
  tests/test_Tensor_bitwise_right_shift_.py
  tests/test_Tensor_cauchy_.py
  tests/test_bitwise_left_shift.py
  tests/test_bitwise_right_shift.py
  tests/test_cdist.py
Due: copyright_checker, check-json

[API compatibility] fractional max pool with index return mask dtype set to int64 -part
  tests/test_nn_FractionalMaxPool2d.py
  tests/test_nn_FractionalMaxPool3d.py
  tests/test_nn_functional_fractional_max_pool2d.py
  tests/test_nn_functional_fractional_max_pool3d.py
Due: copyright_checker

[API Compatibility] Fix some API to ChangePrefixMatcher
  paconvert/api_mapping.json
Due: check-json

refactor: use ChangePrefixMatcher for squeeze_
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] Fix some API to ChangePrefixMatcher (#824)
  paconvert/api_mapping.json
Due: check-json

add torch.lerp
  paconvert/api_mapping.json
  tests/test_Tensor_lerp.py
  tests/test_Tensor_lerp_.py
  tests/test_lerp.py
Due: copyright_checker, check-json

enhance tests for randint
  tests/test_randint.py
Due: copyright_checker

enhance tests for deg2rad
  tests/test_deg2rad.py
Due: copyright_checker

enhance tests for api relu, relu_, leaky_relu and leaky_relu_
  paconvert/api_mapping.json
  tests/test_nn_functional_leaky_relu.py
  tests/test_nn_functional_leaky_relu_.py
  tests/test_nn_functional_relu.py
  tests/test_nn_functional_relu_.py
  tests/test_relu.py
Due: copyright_checker, check-json

fix
  tests/test_nn_functional_leaky_relu.py
  tests/test_nn_functional_relu.py
  tests/test_relu.py
Due: copyright_checker

Fix std/var mean correction and all_gather/linear
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

Fix Linear 1D forward and update onnx export expectation
  paconvert/api_matcher.py
  tests/test_onnx_export.py
Due: copyright_checker

fix
  tests/test_Tensor_inverse.py
  tests/test_inverse.py
Due: copyright_checker

enhance tests for api atan2
  paconvert/api_mapping.json
  tests/test_Tensor_atan2.py
  tests/test_atan2.py
Due: copyright_checker, check-json

refactor: use ChangePrefixMatcher for Tensor.unsqueeze_
  paconvert/api_mapping.json
Due: check-json

update
  paconvert/global_var.py
  tests/test_nn_FractionalMaxPool2d.py
  tests/test_nn_FractionalMaxPool3d.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool2d.py
  tests/test_nn_MaxPool3d.py
  tests/test_nn_functional_max_pool1d.py
  tests/test_nn_functional_max_pool2d.py
  tests/test_nn_functional_max_pool3d.py
Due: copyright_checker

update
  tests/test_max_pool3d.py
  tests/test_nn_FractionalMaxPool2d.py
  tests/test_nn_FractionalMaxPool3d.py
  tests/test_nn_MaxPool1d.py
  tests/test_nn_MaxPool2d.py
  tests/test_nn_MaxPool3d.py
  tests/test_nn_functional_max_pool2d.py
  tests/test_nn_functional_max_pool3d.py
Due: copyright_checker

refactor std_mean/var_mean matcher to passthrough kwargs
  paconvert/api_matcher.py
Due: copyright_checker

revert linear matcher and simplify all_gather_into_tensor
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_onnx_export.py
Due: copyright_checker, check-json

style: format api_matcher after pre-commit
  paconvert/api_matcher.py
Due: copyright_checker

Merge remote-tracking branch 'origin/master' into HEAD
  paconvert/api_mapping.json
Due: check-json

fix
  paconvert/api_mapping.json
  tests/test_nn_FractionalMaxPool2d.py
  tests/test_nn_FractionalMaxPool3d.py
Due: copyright_checker, check-json

fix
  tests/test_nn_functional_max_pool3d.py
Due: copyright_checker

fix diff param seq in F.max_pool*d
  paconvert/api_mapping.json
Due: check-json

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
