Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

add some testcases
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

Update api_mapping.json
  paconvert/api_mapping.json
Due: check-json

Update api_matcher.py
  paconvert/api_matcher.py
Due: copyright_checker

Update test_Tensor_T.py
  tests/test_Tensor_T.py
Due: copyright_checker

Update test_Tensor_view.py
  tests/test_Tensor_view.py
Due: copyright_checker

Update test_Tensor.py
  tests/test_Tensor.py
Due: copyright_checker

add tests/lr_scheduler_helper.py
  tests/lr_scheduler_helper.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

test last_epoch arg
  tests/lr_scheduler_helper.py
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CyclicLR.py
Due: copyright_checker

add last_epoch tests
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

转换规则 torch.nn.optim.lr_scheduler (#309)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/lr_scheduler_helper.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker, check-json

fix README
  docs/CONTRIBUTING.md
  paconvert/transformer/import_transformer.py
Due: copyright_checker

update inplace api with paddle.Tensor.XXX
  paconvert/api_mapping.json
Due: check-json

fix README (#314)
  docs/CONTRIBUTING.md
  paconvert/transformer/import_transformer.py
Due: copyright_checker

fix setup
  pyproject.toml
  setup.py
Due: copyright_checker

fix setup (#316)
  pyproject.toml
  setup.py
Due: copyright_checker

转换规则 更新部分 inplace api 的映射 (#315)
  paconvert/api_mapping.json
Due: check-json

update
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_view.py
Due: copyright_checker, check-json

update test_Tensor_view
  paconvert/api_matcher.py
  tests/test_Tensor_view.py
Due: copyright_checker

update TensorViewMatcher in api_matcher.py
  paconvert/api_matcher.py
Due: copyright_checker

【Hackathon 5th No.42】 为Paddle代码转换工具新增API转换规则 (第1组 编号1-20) (#306)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_as_strided.py
  tests/test_Tensor_cummax.py
  tests/test_Tensor_cummin.py
  tests/test_Tensor_i0.py
  tests/test_Tensor_index_put.py
  tests/test_Tensor_unfold.py
  tests/test_Tensor_view.py
  tests/test_Tensor_view_as.py
  tests/test_as_strided.py
  tests/test_clamp_max.py
  tests/test_cummax.py
Due: copyright_checker, check-json

fix some bug and open some ut
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker

fix some bug and open some ut (#317)
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_Tensor_eq_.py
  tests/test_Tensor_ge_.py
  tests/test_Tensor_greater_.py
  tests/test_Tensor_greater_equal_.py
  tests/test_Tensor_gt_.py
  tests/test_Tensor_le_.py
  tests/test_Tensor_less_.py
  tests/test_Tensor_less_equal_.py
  tests/test_Tensor_logical_and_.py
  tests/test_Tensor_logical_not_.py
  tests/test_Tensor_logical_or_.py
  tests/test_Tensor_logical_xor_.py
  tests/test_Tensor_lt_.py
  tests/test_Tensor_ne_.py
  tests/test_Tensor_not_equal_.py
Due: copyright_checker

first commit.
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_is_pinned.py
  tests/test_Tensor_quantile.py
  tests/test_Tensor_tile.py
  tests/test_Tensor_to_sparse.py
  tests/test_nanquantile.py
Due: copyright_checker, check-json

fix cuda_seed
  paconvert/api_mapping.json
  tests/test_cuda_seed.py
  tests/test_cuda_seed_all.py
Due: copyright_checker, check-json

fix bug
  paconvert/api_mapping.json
  tests/test_cuda_stream.py
Due: copyright_checker, check-json

remove scatter and gather
  tests/test_cuda_comm_gather.py
  tests/test_cuda_comm_scatter.py
Due: copyright_checker

add test for cuda_comm_scatter and cuda_comm_gather
  tests/test_cuda_comm_gather.py
  tests/test_cuda_comm_scatter.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_broadcast_shapes.py
  tests/test_broadcast_tensors.py
  tests/test_can_cast.py
  tests/test_finfo.py
  tests/test_iinfo.py
  tests/test_nn_CTCLoss.py
  tests/test_nn_GaussianNLLLoss.py
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_MultiLabelSoftMarginLoss.py
  tests/test_nn_MultiMarginLoss.py
  tests/test_nn_PoissonNLLLoss.py
  tests/test_nn_SmoothL1Loss.py
  tests/test_nn_Transformer.py
  tests/test_nn_TransformerEncoder.py
  tests/test_nn_TransformerEncoderLayer.py
  tests/test_nn_functional_ctc_loss.py
  tests/test_nn_functional_multilabel_margin_loss.py
  tests/test_nn_functional_threshold.py
  tests/test_nn_functional_triplet_margin_loss.py
  tests/test_utils_data_DataLoader.py
Due: copyright_checker, check-json

Fix
  tests/test_utils_data_DataLoader.py
Due: copyright_checker

Add tests
  paconvert/api_mapping.json
  tests/distributed/ReduceOp.py
  tests/distributed/ReduceOp_MAX.py
  tests/distributed/ReduceOp_MIN.py
  tests/distributed/ReduceOp_PRODUCT.py
  tests/distributed/ReduceOp_SUM.py
  tests/distributed/all_gather.py
  tests/distributed/all_reduce.py
  tests/distributed/barrier.py
  tests/distributed/broadcast_object_list.py
  tests/distributed/get_backend.py
  tests/distributed/irecv.py
  tests/distributed/isend.py
  tests/distributed/nn_DataParallel.py
  tests/distributed/recv.py
  tests/distributed/reduce.py
  tests/distributed/send.py
Due: copyright_checker, check-json

Fix
  paconvert/api_mapping.json
Due: check-json

转换规则 torch.cuda.stream (#216)
  paconvert/api_mapping.json
  tests/test_device_cuda_stream_guard.py
Due: copyright_checker, check-json

fix bug of torch.cuda.stream
  tests/test_cuda_stream.py
Due: copyright_checker

fix bug of torch.cuda.stream (#322)
  tests/test_cuda_stream.py
Due: copyright_checker

Fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_finfo.py
  tests/test_iinfo.py
  tests/test_nn_CTCLoss.py
  tests/test_utils_data_DataLoader.py
Due: copyright_checker, check-json

Fix
  paconvert/api_matcher.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
