Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

add init.dirac_
  paconvert/api_mapping.json
  tests/test_nn_init_constant_.py
  tests/test_nn_init_dirac_.py
Due: copyright_checker, check-json

add torch.nn.init.eye_
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_eye_.py
Due: copyright_checker, check-json

add torch.nn.init.kaiming_normal_
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_kaiming_normal_.py
Due: copyright_checker, check-json

add torch.nn.init.kaiming_uniform_
  paconvert/api_mapping.json
  tests/test_nn_init_kaiming_uniform_.py
Due: copyright_checker, check-json

add torch.nn.init.normal_
  paconvert/api_mapping.json
  tests/test_nn_init_normal_.py
Due: copyright_checker, check-json

add torch.nn.init.ones_ and zeros_
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_ones_.py
  tests/test_nn_init_zeros_.py
Due: copyright_checker, check-json

add torch.nn.init.orthogonal_
  paconvert/api_mapping.json
  tests/test_nn_init_orthogonal__.py
Due: copyright_checker, check-json

add torch.nn.init.uniform_
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_uniform_.py
Due: copyright_checker, check-json

add torch.nn.init.xavier_normal_ and xavier_uniform_
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_init_xavier_uniform_.py
Due: copyright_checker, check-json

add torch.optim.lr_scheduler.CosineAnnealingLR
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
Due: copyright_checker, check-json

update matcher Optim2LrScheduleMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

add torch.optim.lr.scheduler.CyclicLR
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_CyclicLR.py
Due: copyright_checker, check-json

add torch.optim.lr_scheduler.ExponentialLR
  paconvert/api_mapping.json
  tests/test_optim_lr_scheduler_ExponentialLR.py
Due: copyright_checker, check-json

add torch.optim.lr_scheduler.LambdaLR
  paconvert/api_mapping.json
  tests/test_optim_lr_scheduler_LambdaLR.py
Due: copyright_checker, check-json

add torch.optim.lr_scheduler.MultiStepLR
  paconvert/api_mapping.json
  tests/test_optim_lr_scheduler_MultiStepLR.py
Due: copyright_checker, check-json

add torch.optim.lr_scheduler.MultiplicativeLR
  paconvert/api_mapping.json
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
Due: copyright_checker, check-json

add torch.optim.lr_scheduler.OneCycleLR
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
Due: copyright_checker, check-json

add torch.optim.lr_scheduler.ReduceLROnPlateau
  paconvert/api_mapping.json
  tests/test_optim_lr_scheduler_ReduceLROnPlateau.py
Due: copyright_checker, check-json

fix typo
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_CosineAnnealingLR.py
  tests/test_optim_lr_scheduler_CyclicLR.py
  tests/test_optim_lr_scheduler_ExponentialLR.py
  tests/test_optim_lr_scheduler_LambdaLR.py
  tests/test_optim_lr_scheduler_MultiStepLR.py
  tests/test_optim_lr_scheduler_MultiplicativeLR.py
  tests/test_optim_lr_scheduler_OneCycleLR.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

add test for float_power
  tests/test_float_power.py
Due: copyright_checker

Update test_cuda_Stream.py
  tests/test_cuda_Stream.py
Due: copyright_checker

Update test_cuda_stream.py
  tests/test_cuda_stream.py
Due: copyright_checker

fix codestyle
  tests/test_cuda_stream.py
Due: copyright_checker

convert torch.cuda.get_device_name
  paconvert/api_mapping.json
  tests/test_cuda_get_device_name.py
Due: copyright_checker, check-json

Update test_cuda_get_device_name.py
  tests/test_cuda_get_device_name.py
Due: copyright_checker

fix torch.Tensor.permute and torch.Tensor 0-Size bug
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_BoolTensor.py
  tests/test_ByteTensor.py
  tests/test_DoubleTensor.py
  tests/test_FloatTensor.py
  tests/test_HalfTensor.py
  tests/test_IntTensor.py
  tests/test_LongTensor.py
  tests/test_ShortTensor.py
  tests/test_Tensor.py
  tests/test_Tensor_permute.py
  tests/test_cuda_BoolTensor.py
  tests/test_cuda_ByteTensor.py
  tests/test_cuda_DoubleTensor.py
  tests/test_cuda_FloatTensor.py
  tests/test_cuda_HalfTensor.py
  tests/test_cuda_IntTensor.py
  tests/test_cuda_LongTensor.py
  tests/test_cuda_ShortTensor.py
  tests/test_empty.py
  tests/test_maximum.py
  tests/test_minimum.py
  tests/test_ones.py
  tests/test_rand.py
  tests/test_randn.py
  tests/test_zeros.py
Due: copyright_checker

enhance torch.Tensor.permute and torch.Tensor 0-Size bug (#305)
  paconvert/api_matcher.py
  paconvert/base.py
  tests/test_BoolTensor.py
  tests/test_ByteTensor.py
  tests/test_DoubleTensor.py
  tests/test_FloatTensor.py
  tests/test_HalfTensor.py
  tests/test_IntTensor.py
  tests/test_LongTensor.py
  tests/test_ShortTensor.py
  tests/test_Tensor.py
  tests/test_Tensor_permute.py
  tests/test_cuda_BoolTensor.py
  tests/test_cuda_ByteTensor.py
  tests/test_cuda_DoubleTensor.py
  tests/test_cuda_FloatTensor.py
  tests/test_cuda_HalfTensor.py
  tests/test_cuda_IntTensor.py
  tests/test_cuda_LongTensor.py
  tests/test_cuda_ShortTensor.py
  tests/test_empty.py
  tests/test_maximum.py
  tests/test_minimum.py
  tests/test_ones.py
  tests/test_rand.py
  tests/test_randn.py
  tests/test_zeros.py
Due: copyright_checker

fix torch.max/min/torch.Tensor.max/min bug
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_max.py
  tests/test_Tensor_min.py
  tests/test_max.py
  tests/test_min.py
Due: copyright_checker, check-json

fix torch.max/min/torch.Tensor.max/min bug (#312)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_Tensor_max.py
  tests/test_Tensor_min.py
  tests/test_max.py
  tests/test_min.py
Due: copyright_checker, check-json

use paddle_default_kwargs in InitKaimingMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

rename tests/test_nn_init_orthogonal__.py
  tests/test_nn_init_orthogonal_.py
Due: copyright_checker

add linear testcase in tests/test_nn_init_orthogonal_.py
  tests/test_nn_init_orthogonal_.py
Due: copyright_checker

simplify implements in lr_scheduler tests and add some testcases
  tests/test_optim_lr_scheduler_ConstantLR.py
  tests/test_optim_lr_scheduler_StepLR.py
Due: copyright_checker

add mapping of Tensor.multiply_
  paconvert/api_mapping.json
  tests/test_Tensor_multiply_.py
Due: copyright_checker, check-json

add test for torch.Tensor.mul_
  tests/test_Tensor_mul_.py
Due: copyright_checker

fix paddle_default_kwargs for kaiming init
  paconvert/api_mapping.json
Due: check-json

转换规则 `torch.Tensor.multiply_` (#313)
  paconvert/api_mapping.json
  tests/test_Tensor_mul_.py
  tests/test_Tensor_multiply_.py
Due: copyright_checker, check-json

转换规则 torch.nn.init (#308)
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_nn_init_constant_.py
  tests/test_nn_init_dirac_.py
  tests/test_nn_init_eye_.py
  tests/test_nn_init_kaiming_normal_.py
  tests/test_nn_init_kaiming_uniform_.py
  tests/test_nn_init_normal_.py
  tests/test_nn_init_ones_.py
  tests/test_nn_init_orthogonal_.py
  tests/test_nn_init_uniform_.py
  tests/test_nn_init_xavier_normal_.py
  tests/test_nn_init_xavier_uniform_.py
  tests/test_nn_init_zeros_.py
Due: copyright_checker, check-json
