Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

[API Compatibility] logaddexp/logspace/moveaxis/nan_to_num/nanmean/nansum/sgn/signbit/slice_scatter/take/tensordot/tril_indices/triu_indices/trunc/vander Edit By AI Agent
  paconvert/api_mapping.json
Due: check-json

[API Compatibility] col_indices/crow_indices/erf_/fix_/matrix_exp/mvlgamma_/negative_/retain_grad/sparse_mask/to_sparse Edit By AI Agent
  tests/test_col_indices.py
  tests/test_crow_indices.py
  tests/test_erf_.py
  tests/test_fix_.py
  tests/test_matrix_exp.py
  tests/test_mvlgamma_.py
  tests/test_negative_.py
  tests/test_retain_grad.py
  tests/test_sparse_mask.py
  tests/test_to_sparse.py
Due: copyright_checker

enhance test for modified smooth_l1_loss
  paconvert/api_mapping.json
  tests/test_nn_SmoothL1Loss.py
  tests/test_nn_functional_smooth_l1_loss.py
Due: copyright_checker, check-json

migrate workflows to github actions
  .github/actions/rerun-workflow/action.yml
  .github/actions/rerun-workflow/rerun.sh
  .github/workflows/Install_check.yml
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
  .github/workflows/codestyle.yml
  .github/workflows/consistency.yml
  .github/workflows/rerun.yml
Due: copyright_checker

allow collaborator to rerun
  .github/workflows/rerun.yml
Due: none

fix install
  .github/workflows/Unittest_check.yml
Due: none

fix other install issues
  .github/workflows/Install_check.yml
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

fix codestyle
  .gitattributes
  .github/workflows/Install_check.yml
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
  .github/workflows/codestyle.yml
  .github/workflows/consistency.yml
Due: none

fix the EOF with pre-commit
  tests/test_block_diag.py
  tests/test_cartesian_prod.py
  tests/test_nn_ConvTranspose2d.py
  tests/test_nn_ConvTranspose3d.py
Due: copyright_checker

fix collection error
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

add __init__.py to allow tests import apibase
  tests/flash_attn_tests/__init__.py
Due: copyright_checker

change download source and change runing machine, as github hosted machine can't reach baidu internal network
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

add no proxy to gpu related workflow, enable downloading
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

add test info
  .github/workflows/Unittest_check_gpu.yml
Due: none

fix gpu proxy issue
  .github/workflows/Unittest_check_gpu.yml
Due: none

delete debug job
  .github/workflows/Unittest_check_gpu.yml
Due: none

remove --no-proxy when download from bcebos.com
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

delete setup python, use python on self-hosted
  .github/workflows/Unittest_check_gpu.yml
Due: none

remove --no-proxy when download from bcebos.com
  .github/workflows/Unittest_check_gpu.yml
Due: none

add non-confidencial info output
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

print even more info
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

pre-install torch and torchvision to avoid lond time waiting
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
Due: none

Map torch.autograd.enable_grad to autograd namespace
  paconvert/api_mapping.json
  tests/test_autograd_enable_grad.py
Due: copyright_checker, check-json

move the CPU CI to docker, test if it works.
  .github/workflows/Unittest_check.yml
  .github/workflows/build_ci_images.yml
  scripts/ci/run_cpu_unittest.sh
  tools/docker/Dockerfile
Due: copyright_checker

add tsinghua source
  tools/docker/Dockerfile
Due: none

fix downloading errur
  .github/workflows/Unittest_check.yml
  .github/workflows/build_ci_images.yml
Due: none

fix and test
  .github/workflows/Unittest_check.yml
  .github/workflows/build_ci_images.yml
Due: none

remove tsinghua
  .github/workflows/Unittest_check.yml
  .github/workflows/build_ci_images.yml
Due: none

add retries and fallback
  tools/docker/Dockerfile
Due: none

add no proxy to exempt download bosbce
  tools/docker/Dockerfile
Due: none

adjust proxy setting
  .github/workflows/Unittest_check.yml
  tools/docker/Dockerfile
Due: none

fix
  .github/workflows/Unittest_check.yml
Due: none

pass the update
  tools/docker/Dockerfile
Due: none

run the cpu test
  .github/workflows/Unittest_check.yml
Due: none

fix dir
  .github/workflows/Unittest_check.yml
Due: none

fix cmd
  scripts/ci/run_cpu_unittest.sh
Due: copyright_checker

add tsinghua
  scripts/ci/run_cpu_unittest.sh
Due: copyright_checker

add cpu docker, fix cpu CI
  .github/workflows/Unittest_check.yml
  scripts/ci/run_cpu_unittest.sh
  tools/docker/Dockerfile_CPU
Due: copyright_checker

download from aliyun
  tools/docker/Dockerfile_CPU
Due: none

implement full CI
  .github/workflows/Modeltest_check.yml
  .github/workflows/Unittest_check.yml
  .github/workflows/Unittest_check_distribute.yml
  .github/workflows/Unittest_check_gpu.yml
  scripts/ci/run_distribute.sh
  scripts/ci/run_gpu_unittest.sh
  scripts/ci/run_modeltest.sh
  tools/docker/Dockerfile_CPU
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/[code_case|model_case]
  check-json: any of: \.json$
