Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

.pre-commit-config.yaml:

repos:
# Common hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: .+\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
        exclude: ^tests/code_library/code_case_v1
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: ^tests/code_library/code_case_v1
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort
        exclude: ^tests/code_library/code_case_v1
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.7.7
    hooks:
    -   id: autoflake
        args:
            - --in-place
            - --remove-all-unused-imports
            - --ignore-init-module-imports
            - --exclude=paconvert/transformer/basic_transformer.py
# For json files
-   repo: local
    hooks:
    -   id: check-json
        name: json format check
        entry: python ./tools/codestyle/json.hook
        language: system
        files: \.json$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-json
        files: \.json$

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update
  paconvert/api_mapping.json
  tests/test_linalg_lu_factor_ex.py
  tests/test_linalg_solve.py
  tests/test_nn_Module_named_modules.py
  tests/test_nn_Module_named_parameters.py
  tests/test_optim_Adadelta.py
  tests/test_optim_Adagrad.py
  tests/test_optim_Adam.py
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
  tests/test_optim_RMSprop.py
  tests/test_optim_SGD.py
Due: copyright_checker, check-json

test
  paconvert/api_matcher.py
Due: copyright_checker

fix
  paconvert/api_matcher.py
Due: copyright_checker

fix
  tests/test_signal_windows_general_cosine.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_frombuffer.py
  tests/test_get_num_interop_threads.py
  tests/test_get_num_threads.py
  tests/test_set_num_interop_threads.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
  tests/test_set_num_interop_threads.py
Due: copyright_checker

update named_parameters
  tests/test_nn_Module_named_parameters.py
Due: copyright_checker

fix docs api
  paconvert/api_mapping.json
  tests/distributed/load_lib.py
  tests/test_e.py
  tests/test_nn_Module_named_buffers.py
  tests/test_nn_Module_named_modules.py
  tests/test_nn_Module_named_parameters.py
Due: copyright_checker, check-json

【Hackathon 7th No.42】NO.42 为 Paddle 代码转换工具新增 API 转换规则（第 9 组）
  paconvert/api_mapping.json
  tests/test_Tensor_itemsize.py
Due: copyright_checker, check-json

【Hackathon 7th No.42】NO.42 为 Paddle 代码转换工具新增 API 转换规则（第 9 组）
  tests/test_Tensor_itemsize.py
Due: copyright_checker

【Hackathon 7th No.42】NO.42 为 Paddle 代码转换工具新增 API 转换规则（第 9 组）
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

update TensorTransposeMatcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
Due: copyright_checker, check-json

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_get_num_interop_threads.py
  tests/test_get_num_threads.py
  tests/test_set_num_threads.py
Due: copyright_checker, check-json

fix
  paconvert/api_matcher.py
  tests/test_frombuffer.py
Due: copyright_checker

fix
  tests/test_frombuffer.py
Due: copyright_checker

fix
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/test_set_num_interop_threads.py
  tests/test_set_num_threads.py
Due: copyright_checker, check-json

易用性提升69个API核对 (#489)
  paconvert/api_mapping.json
  tests/test_linalg_lu_factor_ex.py
  tests/test_linalg_solve.py
  tests/test_nn_Module_named_modules.py
  tests/test_nn_Module_named_parameters.py
  tests/test_optim_Adadelta.py
  tests/test_optim_Adagrad.py
  tests/test_optim_Adam.py
  tests/test_optim_AdamW.py
  tests/test_optim_Adamax.py
  tests/test_optim_RMSprop.py
  tests/test_optim_SGD.py
Due: copyright_checker, check-json

fix docs api
  tests/test_e.py
Due: copyright_checker

fix docs api
  tests/test_t.py
Due: copyright_checker

文档对齐Doc2 (#483)
  paconvert/api_mapping.json
  tests/test_e.py
Due: copyright_checker, check-json

update AddMRMatcherAddMR_Matcher
  paconvert/api_matcher.py
Due: copyright_checker

Remove useless files
  tests/vision/__pycache__/__init__.cpython-310.pyc
  tests/vision/__pycache__/image_apibase.cpython-310.pyc
  tests/vision/__pycache__/test_CenterCrop.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_ColorJitter.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_Compose.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_Grayscale.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_Normalize.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_Pad.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_RandomCrop.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_RandomErasing.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_RandomHorizontalFlip.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_RandomPerspective.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_RandomResizedCrop.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_RandomRotation.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_RandomVerticalFlip.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_Resize.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_ToTensor.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_adjust_brightness.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_adjust_contrast.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_adjust_hue.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_center_crop.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_crop.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_erase.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_hflip.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_normalize.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_pad.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_perspective.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_resize.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_to_grayscale.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_to_tensor.cpython-310-pytest-8.3.3.pyc
  tests/vision/__pycache__/test_vflip.cpython-310-pytest-8.3.3.pyc
Due: none
