Repository PaddlePaddle/PaConvert: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, check-json

copyright_checker:
  name: copyright checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

check-json:
  name: json format check
  entry: python ./tools/codestyle/json.hook
  language: system

update validate_docs.py
  tools/validate_docs/validate_docs.py
Due: copyright_checker

rename format to no_format, add format whitelist
  README_EN.md
  paconvert/converter.py
  paconvert/main.py
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/import_analysis.py
  tests/code_library/code_case/paddle_code/utils.py
  tools/consistency/consistency_check.py
Due: copyright_checker

format code in matcher
  paconvert/api_matcher.py
Due: copyright_checker

fix ci
  paconvert/main.py
Due: copyright_checker

update embedding
  paconvert/api_mapping.json
  tests/test_nn_Embedding.py
  tests/test_nn_functional_embedding.py
Due: copyright_checker, check-json

`nn.Embedding/F.embedding` support `scale_grad_by_freq` 易用性提升 (#532)
  paconvert/api_mapping.json
  tests/test_nn_Embedding.py
  tests/test_nn_functional_embedding.py
Due: copyright_checker, check-json

映射文档对齐 (#531)
  paconvert/api_mapping.json
  tools/validate_docs/validate_docs.py
Due: copyright_checker, check-json

fix test cases using expect_paddle_code
  README.md
  tests/code_library/code_case/__init__.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
  tests/test_Tensor_rename.py
  tests/test_Tensor_split.py
  tests/torchvision_tests/test_Cifar10.py
  tests/torchvision_tests/test_Cifar100.py
  tests/torchvision_tests/test_DeformConv2d.py
  tests/torchvision_tests/test_FashionMNIST.py
  tests/torchvision_tests/test_Flowers102.py
  tests/torchvision_tests/test_ImageFolder.py
  tests/torchvision_tests/test_MNIST.py
  tests/torchvision_tests/test_RoIAlign.py
  tests/torchvision_tests/test_RoIPool.py
Due: copyright_checker

add log in consistency_check.sh, fix matcher
  paconvert/api_matcher.py
  scripts/consistency_check.sh
Due: copyright_checker

remove duplicate log
  scripts/consistency_check.sh
Due: copyright_checker

simplify code
  scripts/consistency_check.sh
Due: copyright_checker

fix test
  tests/test_nn_MultiLabelMarginLoss.py
  tests/test_nn_functional_embedding.py
Due: copyright_checker

fix
  tests/test_nn_MultiLabelMarginLoss.py
Due: copyright_checker

fix tests
  tests/test_nn_functional_embedding.py
Due: copyright_checker

Fix embedding test (#533)
  tests/test_nn_functional_embedding.py
Due: copyright_checker

update multilabelmarginloss
  paconvert/api_mapping.json
  tests/test_nn_MultiLabelMarginLoss.py
Due: copyright_checker, check-json

Update `F.multi_label_soft_margin_loss/nn.MultiLabelSoftMarginLoss` docs 易用性提升 (#534)
  paconvert/api_mapping.json
  tests/test_nn_MultiLabelMarginLoss.py
Due: copyright_checker, check-json

rename utils.py to paddle_utils.py
  paconvert/base.py
  paconvert/converter.py
Due: copyright_checker

add introduction for comate-paconvert
  README.md
  images/comate_paconvert.jpeg
Due: none

add introduction for comate-paconvert (#535)
  README.md
  images/comate_paconvert.jpeg
Due: none

fix README
  README.md
Due: none

fix README (#536)
  README.md
Due: none

Update README.md
  README.md
Due: none

update json and Matcher
  paconvert/api_mapping.json
  paconvert/api_matcher.py
  tests/apibase.py
  tests/test_Tensor_stft.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_nn_ParameterDict.py
  tests/test_nn_functional_fractional_max_pool2d.py
  tests/test_nn_functional_fractional_max_pool3d.py
  tests/torch_cuda_comm_broadcast.py
Due: copyright_checker, check-json

fix testcase
  tests/test_distributed_rpc_rpc_async.py
  tests/test_distributed_rpc_rpc_sync.py
  tests/test_distributed_rpc_shutdown.py
  tests/test_nn_CTCLoss.py
  tests/test_nn_functional_ctc_loss.py
Due: copyright_checker

fix testcase
  paconvert/api_mapping.json
  tests/test_distributed_rpc_shutdown.py
Due: copyright_checker, check-json

add format to utils code
  paconvert/converter.py
  paconvert/utils.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker

fix ci: add logger to UtilsFileHelper
  paconvert/converter.py
  paconvert/utils.py
Due: copyright_checker

add tests for enum
  tests/torchvision_tests/test_enums.py
Due: copyright_checker

修改格式
  README.md
Due: none

修改格式 (#538)
  README.md
Due: none

fix typo in affine, resize, rotate tests
  tests/torchvision_tests/test_affine.py
  tests/torchvision_tests/test_resize.py
  tests/torchvision_tests/test_rotate.py
Due: copyright_checker

remove format in utils.py
  paconvert/api_matcher.py
  paconvert/converter.py
  paconvert/utils.py
  tests/code_library/code_case/paddle_code/paddlenlp_Qwen.py
Due: copyright_checker

update docs, no rerun in ci
  docs/CONTRIBUTING.md
  scripts/unittest_check.sh
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: ^tests/code_library/code_case_v1
  check-json: any of: \.json$
